{% load filters %}

{% if habilitation.role == "proprietaire"%}
    <h2>Gérer les contributeurs</h2>
    <p>Partagez l'accès aux informations clés de votre tableau de bord à des membres de votre entreprise, consultants ou accompagnants RSE.</p>
{% else %}
    <h2>Contributeurs de l'entreprise</h2>
    <div class="fr-callout fr-icon-info-line">
        <p class="fr-callout__text">Seuls les propriétaires peuvent gérer les habilitations et ajouter de nouveaux contributeurs.</p>
    </div>
{% endif %}

{% if habilitations %}
    <div class="fr-table--sm fr-table fr-table" id="table-sm-component">
        <div class="fr-table__wrapper">
            <div class="fr-table__container">
                <div class="fr-table__content">
                    <table id="table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Rôle</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for h in habilitations %}
                                <tr>
                                    {% with user=h.user %}
                                        <td>{{ user.nom }}</td>
                                        <td>{{ user.prenom }}</td>
                                        <td>
                                            {% if h.entreprise.siren == "000000001" %}
                                                {{ user.email | cache_partiellement_un_email }}
                                            {% else %}
                                                {{ user.email }}
                                            {% endif %}
                                        </td>
                                        <td><span class="fr-badge fr-badge--info fr-badge--no-icon">{{ h.get_role_display }}</span></td>
                                        <td>
                                            {% if user != habilitation.user %}
                                                {% if habilitation.role == "proprietaire" %}
                                                    <ul class="fr-btns-group--inline fr-btns-group--equisized">
                                                        <li><button class="fr-btn fr-icon-delete-line fr-btn--icon-left fr-btn--primary" aria-controls="modaleRetirer-{{ h.pk }}" data-fr-opened="false">Retirer</button></li>
                                                        <li><button class="fr-ml-1w fr-btn fr-icon-pencil-line fr-btn--icon-left fr-btn--secondary" aria-controls="modaleModifier-{{ h.pk }}" data-fr-opened="false">Modifier</button></li>
                                                    </ul>
                                                    {% with habilitation=h %}
                                                        {% include "snippets/modale_retirer_habilitation.html" %}
                                                        {% include "snippets/modale_modifier_habilitation.html" %}
                                                    {% endwith %}
                                                {% else %}
                                                    <span class="fr-icon-lock-line"></span>
                                                {% endif %}
                                            {% else %}
                                                <span class="fr-icon-account-circle-line"></span> Votre compte
                                            {% endif %}
                                        </td>
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <p>Aucun propriétaire</p>
{% endif %}

{% if invitations %}
    <h3>Invités</h3>
    <div class="fr-table--sm fr-table fr-table" id="table-sm-component">
        <div class="fr-table__wrapper">
            <div class="fr-table__container">
                <div class="fr-table__content">
                    <table id="table-sm">
                        <thead>
                            <tr>
                                <th scope="col">E-mail</th>
                                <th scope="col">Rôle</th>
                                <th scope="col">Expiration de l'invitation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invitation in invitations %}
                                <tr>
                                    <td>
                                        {% if invitation.entreprise.siren == "000000001" %}
                                            {{ invitation.email | cache_partiellement_un_email }}
                                        {% else %}
                                            {{ invitation.email }}
                                        {% endif %}
                                    </td>
                                    <td><span class="fr-badge fr-badge--info fr-badge--no-icon">{{ invitation.get_role_display }}</span></td>
                                    <td>{{ invitation.date_expiration|date:"d F Y" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if habilitation.role == "proprietaire" %}
    {% include "snippets/formulaire_invitation.html" %}
{% endif %}
