<h3>Inviter un nouveau membre</h3>
<p>
    La personne recevra un e-mail d'invitation pour créer son compte et rejoindre l'entreprise {{ entreprise.denomination }}.
    Si elle possède déjà un compte utilisateur sur le Portail RSE, elle sera directement ajoutée dans les membres de l'entreprise.
</p>
<p>
    Vous devez également sélectionner quel sera le rôle du nouveau membre de l'entreprise.
</p>
<form method="post">
    {% csrf_token %}
    {% include 'snippets/field.html' with field=form.email %}
		{# utilisation stricte du DSFR #}
    <div class="fr-select-group">
        <label class="fr-label" for="select-role">Rôle de l'utilisateur invité</label>
        {% if form.role.errors %}
            <div class="fr-messages-group" id="select-role-messages" aria-live="polite">
                <p class="fr-error-text">{{ form.role.errors.as_text }}</p>
            </div>
        {% endif %}
        <select class="fr-select" aria-describedby="select-role-messages" id="select-role" name="role">
            <option value="" selected disabled>Sélectionnez un rôle</option>
            <option value="proprietaire">Propriétaire</option>
            <option value="editeur">Éditeur</option>
        </select>
        <div class="fr-messages-group" id="select-1-messages" aria-live="polite">
        </div>
    </div>
    <button type="submit" class="fr-btn fr-btn--primary">Inviter</button>
</form>
