<h4 class="fr-h5">Inviter un nouveau contributeur</h4>
<form action="{% url 'habilitations:invitation' entreprise.siren %}" method="post">
    {% csrf_token %}
    {% include 'snippets/field.html' with field=form.email %}
		{# utilisation stricte du DSFR #}
    <div class="fr-select-group">
        <label class="fr-label" for="select-role">
            Rôle de l'utilisateur invité
            <span class="fr-hint-text">
                Sélectionnez le rôle du nouveau contributeur au sein de l'entreprise :
                un éditeur peut créer et modifier de nouvelles réglementations pour l'entreprise.
                un propriétaire dispose des droits d'un éditeur et peut gérér les habilitations des contributeurs d'une entreprise.
            </span>
        </label>
        {% if form.role.errors %}
            <div class="fr-messages-group" id="select-role-messages" aria-live="polite">
                <p class="fr-error-text">{{ form.role.errors.as_text }}</p>
            </div>
        {% endif %}
        <select class="fr-select" aria-describedby="select-role-messages" id="select-role" name="role">
            <option value="" selected disabled>Sélectionnez un rôle</option>
            <option value="proprietaire">Propriétaire</option>
            <option value="editeur">Éditeur</option>
        </select>
        <div class="fr-messages-group" id="select-1-messages" aria-live="polite">
        </div>
    </div>
    <button type="submit" class="fr-btn fr-btn--primary">Inviter</button>
</form>
