<dialog aria-labelledby="fr-modal-ESRS_S3" role="dialog" id="modal-ESRS_S3" class="fr-modal--lg fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-10">
                <div class="fr-modal__body fr-modal--esrs">
                    <div class="fr-grid-row">
                        <div class="fr-col-12 fr-col-lg-6 fr-py-2w">
                            <div class="fr-modal__content">
                                <p class="fr-tag fr-mb-1w">Social</p>
                                <h4>ESRS S3 - Communautés affectées</h4>
                                <div class="fr-container--fluid">
                                    {% if csrd %}
                                        <div class="fr-grid-row">
                                            <p>
                                                <strong>
                                                    Choisissez les enjeux de durabilité qui ont un impact réel et potentiel appliqué à votre entreprise
                                                </strong>
                                            </p>

                                            <div id="selection_enjeux_ESRS_S3" hx-target="this"> Chargement en cours... </div>

                                        </div>
                                    {% elif phase == 1 %}
                                        <div class="fr-grid-row">
                                            <p>
                                                <strong>
                                                    Choisissez les enjeux de durabilité qui ont un impact réel et potentiel appliqué à votre entreprise
                                                </strong>
                                            </p>
                                            <div>
                                                <h6>
                                                    A. Droits économiques, sociaux et culturels des communautés
                                                    <button class="fr-btn--tooltip fr-btn" aria-expanded="false" aria-controls="ESRSS3-soustheme1">Définition annexe</button>
                                                </h6>
                                                <p class="fr-text--sm fr-collapse" id="ESRSS3-soustheme1">Par exemple, logement adéquat, alimentation adéquate, eau et assainissement, impacts liées à la terre et à la sécurité</p>
                                                <ol>
                                                    <li>Logement adéquat</li>
                                                    <li>Alimentation adéquate</li>
                                                    <li>Eau et assainissement</li>
                                                    <li>Impacts liées à la terre</li>
                                                    <li>Impacts liées à la sécurité</li>
                                                </ol>

                                                <h6>
                                                    B. Droits civils et politiques des communautés
                                                    <button class="fr-btn--tooltip fr-btn" aria-expanded="false" aria-controls="ESRSS3-soustheme2">Définition annexe</button>
                                                </h6>
                                                <p class="fr-text--sm fr-collapse" id="ESRSS3-soustheme2">Par exemple, liberté d’expression, liberté de réunion, impacts sur les défenseurs des droits de l’homme</p>
                                                <ol>
                                                    <li>Liberté d’expression</li>
                                                    <li>Liberté de réunion</li>
                                                    <li>Impacts sur les défenseurs des droits de l’homme</li>
                                                </ol>

                                                <h6>
                                                    C. Droits particuliers des peuples autochtones
                                                    <button class="fr-btn--tooltip fr-btn" aria-expanded="false" aria-controls="ESRSS3-soustheme3">Définition annexe</button>
                                                </h6>
                                                <p class="fr-text--sm fr-collapse" id="ESRSS3-soustheme3">Par exemple, consentement préalable, donné librement et en connaissance de cause, autodétermination, droits culturels</p>
                                                <ol>
                                                    <li>Consentement préalable, donné librement et en connaissance de cause</li>
                                                    <li>Auto-détermination</li>
                                                    <li>Droits culturels</li>
                                                </ol>
                                            </div>
                                        </div>
                                    {% elif phase == 2 %}
                                        <div class="fr-grid-row">
                                            <ul class="csrd-list csrd-list--bold">
                                                <li>
                                                    Téléchargez les exigences de publication et les datapoints associés, puis choisissez celles à reporter :
                                                </li>
                                            </ul>
                                            <p>
                                                <a class="fr-link fr-link--download" hreflang="en" download href="/static/CSRD/ESRS-S3/Data-point-ESRS-S3.xlsx">
                                                    ESRS S3 - Datapoints <span class="fr-link__detail">XLSX – 19,5 ko – Anglais</span>
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6 background-light-grey fr-p-2w">
                            <div class="fr-modal__header">
                                <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRS_S3">Fermer</button>
                            </div>
                            <h6><span class="fr-icon-lightbulb-fill fr-icon--blue"></span> Conseils et bonnes pratiques</h6>
                            {% if phase == 1 %}
                                <p>
                                    Pour faciliter votre sélection, renseignez-vous sur l'ESRS et les informations à publier dans le cas où cet enjeu serait matériel pour votre entreprise.
                                </p>
                            {% elif phase == 2 %}
                                <p>
                                    Pour vous aider, associez les abréviations des exigences de publication du tableur avec leur nom dans la rubrique “Exigence de publication” ci-dessous.
                                </p>
                            {% endif %}
                            <div class="fr-accordions-group">
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-objectifs-ESRSS3">Objectifs de l'ESRS</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-objectifs-ESRSS3">
                                        <p>
                                            La présente norme a pour objectif de préciser les exigences de publication qui permettront aux utilisateurs de l’état de durabilité de comprendre les impacts matériels sur les communautés affectées liés aux activités et à la chaîne de valeur de l’entreprise, y compris par l’intermédiaire de ses produits ou services et de ses relations d’affaires, ainsi que les risques et opportunités matériels qui s’y rattachent, notamment :
                                        </p>
                                        <p>
                                            <ul>
                                                <li><b>
                                                    a) la manière dont l’entreprise influe sur les communautés dans les régions où les impacts sont les plus susceptibles d’exister et d’être marqués, qu’il s’agisse d’impacts matériels, positifs et négatifs, réels ou potentiels;
                                                </b></li>
                                                <li><b>
                                                    b) les actions éventuellement entreprises pour prévenir, atténuer ou corriger les impacts négatifs réels ou potentiels, et pour parer à ces risques et saisir ces opportunités, et le résultat de ces actions;
                                                </b></li>
                                                <li><b>
                                                    c) la nature, le type et l’ampleur des risques et opportunités matériels de l’entreprise qui sont liés à ses impacts sur les communautés affectées et à ses dépendances à l’égard de celles-ci, et la manière dont l’entreprise les gère; et
                                                </b></li>
                                                <li><b>
                                                    d) les effets financiers sur l’entreprise, à court, moyen et long terme, des risques et opportunités matériels découlant de ses impacts sur les communautés affectées et de sa dépendance à l’égard de celles-ci.
                                                </b></li>
                                            </ul>
                                        </p>
                                        <p class="fr-text--sm">
                                            La présente norme exige également une explication de la manière dont ces impacts, ainsi que les dépendances de l’entreprise à l’égard des communautés affectées, peuvent générer des risques ou opportunités matériels pour l’entreprise. Par exemple, des relations négatives avec les communautés affectées peuvent perturber les activités de l’entreprise ou nuire à sa réputation, alors que des relations constructives peuvent lui être profitables sur le plan économique, en lui permettant notamment d’opérer dans un contexte stable et exempt de conflit et de recruter plus facilement à l’échelon local.
                                        </p>
                                    </div>
                                </section>
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-exigences-ESRSS3">Exigences de publication</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-exigences-ESRSS3">
                                        <h6>ESRS 2 Informations générales à publier</h6>
                                        <strong>Stratégie</strong>
                                        <ul>
                                            <li>
                                                ESRS 2 SBM-2 – Intérêts et points de vue des parties prenantes
                                            </li>
                                            <li>
                                                ESRS 2 SBM-3 – Impacts, risques et opportunités matériels et interactions avec la stratégie et le modèle économique
                                            </li>
                                        </ul>
                                        <strong>Gestion des impacts, risques et opportunités
                                        </strong>
                                        <ul>
                                            <li>S3-1 – Politiques relatives aux communautés affectées</li>
                                            <li>S3-2 – Processus de dialogue avec les communautés affectées au sujet des impacts </li>
                                            <li>S3-3 – Processus visant à remédier aux impacts négatifs et canaux permettant aux communautés affectées de faire part de leurs préoccupations </li>
                                            <li>S3-4 – Actions concernant les impacts matériels sur les communautés affectées, approches visant à gérer les risques matériels et à saisir les opportunités matérielles concernant les communautés affectées, et efficacité de ces actions </li>
                                        </ul>
                                        <strong>Indicateurs et cibles
                                        </strong>
                                        <ul>
                                            <li>S3-5 – Cibles liées à la gestion des impacts négatifs matériels, au développement des impacts positifs et à la gestion des risques et opportunités matériels</li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <p class="fr-pt-4w">
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-S3/CSRD-ESRS-S3.pdf">
                                    Télécharger : ESRS S3 - Communautés affectées <span class="fr-link__detail">PDF – 1,1 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-S2/Guide-d-application-ANC-ESRS-S2-3-4.pdf">
                                    Télécharger : ESRS S2,3,4 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 2,8 mo</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
