<dialog aria-labelledby="fr-modal-ESRS_S2" role="dialog" id="modal-ESRS_S2" class="fr-modal--lg fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-10">
                <div class="fr-modal__body fr-modal--esrs">
                    <div class="fr-grid-row">
                        <div class="fr-col-12 fr-col-lg-6 fr-py-2w">
                            <div class="fr-modal__content">
                                <p class="fr-tag fr-mb-1w">Social</p>
                                <h4>ESRS S2 - Travailleurs de la chaîne de valeur</h4>
                                <div class="fr-container--fluid">
                                    {% if csrd %}
                                        <div class="fr-grid-row">
                                            <p>
                                                <strong>
                                                    Choisissez les enjeux de durabilité qui ont un impact réel et potentiel appliqué à votre entreprise
                                                </strong>
                                            </p>

                                            <div id="selection_enjeux_ESRS_S2" hx-target="this"> Chargement en cours... </div>

                                        </div>
                                    {% elif phase == 1 %}
                                        <div class="fr-grid-row">
                                            <p>
                                                <strong>
                                                    Choisissez les enjeux de durabilité qui ont un impact réel et potentiel appliqué à votre entreprise
                                                </strong>
                                            </p>
                                            <div>
                                                <h6>A. Conditions de travail
                                                    <button class="fr-btn--tooltip fr-btn" aria-expanded="false" aria-controls="ESRSS2-soustheme1">Définition annexe</button>
                                                </h6>
                                                <p class="fr-text--sm fr-collapse" id="ESRSS2-soustheme1">Par exemple, sécurité de l’emploi, temps de travail, salaire décent, dialogue social, liberté d’association, y compris l’existence de comités d’entreprise, négociation collective, équilibre entre vie professionnelle et vie privée, et santé et sécurité</p>
                                                <ol>
                                                    <li>Sécurité de l'emploi</li>
                                                    <li>Temps de travail</li>
                                                    <li>Salaires décents</li>
                                                    <li>Dialogue social</li>
                                                    <li>Liberté d'association y compris l'existence de comités d'entreprise</li>
                                                    <li>Négociation collective</li>
                                                    <li>Equilibre entre vie professionnelle et vie privée</li>
                                                    <li>Santé et sécurité</li>
                                                </ol>

                                                <h6>B. Egalité de traitement et l’égalité des chances pour tous
                                                    <button class="fr-btn--tooltip fr-btn" aria-expanded="false" aria-controls="ESRSS2-soustheme2">Définition annexe</button>
                                                </h6>
                                                <p class="fr-text--sm fr-collapse" id="ESRSS2-soustheme2">Par exemple, égalité de genre et égalité de rémunération pour un travail de valeur égale, formation et développement des compétences, emploi et inclusion des personnes handicapées, mesures de lutte contre la violence et le harcèlement sur le lieu de travail, et diversité</p>
                                                <ol>
                                                    <li>Egalité de genre et égalité de rémunération pour un travail de valeur égale</li>
                                                    <li>Formation et développement des compétences</li>
                                                    <li>Emploi et inclusion des personnes handicapées</li>
                                                    <li>Mesures de lutte contre la violence et le harcèlement sur le lieu de travail</li>
                                                    <li>Diversité</li>
                                                </ol>

                                                <h6>C. Autres droits liés au travail
                                                    <button class="fr-btn--tooltip fr-btn" aria-expanded="false" aria-controls="ESRSS2-soustheme3">Définition annexe</button>
                                                </h6>
                                                <p class="fr-text--sm fr-collapse" id="ESRSS2-soustheme3">Par exemple, travail des enfants, travail forcé, logement adéquat, eau et assainissement, et protection de la vie privée</p>
                                                <ol>
                                                    <li>Travail des enfants</li>
                                                    <li>Travail forcé</li>
                                                    <li>Logement adéquat</li>
                                                    <li>Eau et assainissement</li>
                                                    <li>Protection de la vie privée</li>
                                                </ol>
                                            </div>
                                        </div>
                                    {% elif phase == 2 %}
                                        <div class="fr-grid-row">
                                            <ul class="csrd-list csrd-list--bold">
                                                <li>
                                                    Téléchargez les exigences de publication et les datapoints associés, puis choisissez celles à reporter :
                                                </li>
                                            </ul>
                                            <p>
                                                <a class="fr-link fr-link--download" hreflang="en" download href="/static/CSRD/ESRS-S2/Data-point-ESRS-S2.xlsx">
                                                    ESRS S2 - Datapoints <span class="fr-link__detail">XLSX – 19,6 ko – Anglais</span>
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6 background-light-grey fr-p-2w">
                            <div class="fr-modal__header">
                                <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRS_S2">Fermer</button>
                            </div>
                            <h6><span class="fr-icon-lightbulb-fill fr-icon--blue"></span> Conseils et bonnes pratiques</h6>
                            {% if phase == 1 %}
                                <p>
                                    Pour faciliter votre sélection, renseignez-vous sur l'ESRS et les informations à publier dans le cas où cet enjeu serait matériel pour votre entreprise.
                                </p>
                            {% elif phase == 2 %}
                                <p>
                                    Pour vous aider, associez les abréviations des exigences de publication du tableur avec leur nom dans la rubrique “Exigence de publication” ci-dessous.
                                </p>
                            {% endif %}
                            <div class="fr-accordions-group">
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-objectifs-ESRSS2">Objectifs de l'ESRS</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-objectifs-ESRSS2">
                                        <p>
                                            La présente norme a pour objectif de préciser les exigences de publication qui permettront aux utilisateurs de l’état de durabilité de comprendre les impacts matériels qui peuvent s’exercer sur les travailleurs de la chaîne de valeur en 
lien avec les activités de l’entreprise et de sa chaîne de valeur, y compris ceux à travers ses produits ou services et ses relations d’affaires, ainsi que les risques et opportunités matériels qui s’y rattachent, notamment :
                                        </p>
                                        <p>
                                            <ul>
                                                <li><b>
                                                    a) la manière dont l’entreprise influe sur les travailleurs de sa chaîne de valeur, pour ce qui est des impacts positifs et négatifs matériels, réels ou potentiels;
                                                <li><b>
                                                    b) les actions éventuellement entreprises pour prévenir, atténuer ou corriger les impacts négatifs réels ou potentiels, et pour parer à ces risques et saisir ces opportunités, et le résultat de ces actions;
                                                </b></li>
                                                <li><b>
                                                    c) la nature, le type et l’ampleur des risques et opportunités matériels de l’entreprise, y compris ceux qui sont liés à ses impacts sur les travailleurs de la chaîne de valeur et à ses dépendances à l’égard de ceux-ci, et la manière dont l’entreprise les gère; et
                                                </b></li>
                                                <li><b>
                                                    d) les effets financiers sur l’entreprise, à court, moyen et long terme, de risques et opportunités matériels, y compris ceux découlant de ses impacts sur les travailleurs de la chaîne de valeur et de sa dépendance à l’égard de ceux-ci.
                                                </b></li>
                                            </ul>
                                        </p>
                                        <p class="fr-text--sm">
                                             La présente norme porte sur tous les travailleurs de la chaîne de valeur en amont ou en aval de l’entreprise qui sont ou peuvent être touchés par des impacts matériels liés à l’entreprise, à savoir les impacts liés à ses propres activités et à sa chaîne de valeur, y compris ceux qui s’exercent au travers de ses produits ou services et de ses relations d’affaires. Elle englobe ainsi tous les travailleurs qui ne relèvent pas de la notion de «personnel de l’entreprise» (le «personnel de l’entreprise» étant constitué de salariés, de contractants individuels, à savoir les travailleurs indépendants, et de travailleurs mis à disposition par des entreprises tierces exerçant principalement des «activités liées à l’emploi»). Le personnel de l’entreprise relève d’ESRS S1 Personnel de l’entreprise. Voir l’AR 3 pour des exemples de travailleurs relevant de la présente norme.
                                            <br>
                                          L'entreprise fournit les informations suivantes dont une description succincte des types de travailleurs de la chaîne de valeur susceptibles d’être concernés par des impacts matériels de l’entreprise, notamment par des impacts liés aux activités et à la chaîne de valeur de l’entreprise, y compris par l’intermédiaire de ses produits ou services et de ses relations d’affaires, l’entreprise précisant s’il s’agit :<br>
                                            i) de travailleurs travaillant sur le site de l’entreprise mais qui ne font pas partie de son personnel, c’est-à-dire qui ne sont pas des travailleurs indépendants ou des travailleurs mis à disposition par des entreprises tierces exerçant principalement des activités liées à l’emploi (qui relèvent d’ESRS S1); <br>
                                            ii) de travailleurs travaillant pour des entités de la chaîne de valeur en amont de l’entreprise (exerçant, par exemple, des activités d’extraction de métaux ou de minéraux, de récolte de produits de base, de raffinage, de fabrication ou d’autres formes de transformation);<br>
                                            iii) de travailleurs travaillant pour des entités de la chaîne de valeur en aval de l’entreprise (exerçant, par exemple, des activités dans le secteur de la logistique ou de la distribution, des activités de franchisés, des activités de détaillants);<br>
                                            iv) de travailleurs participant aux activités d’une coentreprise ou d’une entité ad hoc dont fait partie l’entreprise déclarante;<br>
                                            v) de travailleurs (des catégories ci-dessus ou non) qui sont particulièrement exposés à des impacts négatifs, que ce soit en raison de leurs caractéristiques intrinsèques ou du contexte particulier, tels que les syndicalistes, les travailleurs migrants, les travailleurs à domicile, les femmes ou les jeunes travailleurs.
                                        </p>
                                    </div>
                                </section>
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-exigences-ESRSS2">Exigences de publication</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-exigences-ESRSS2">
                                        <h6>ESRS 2 Informations générales à publier</h6>
                                        <strong>Stratégie</strong>
                                        <ul>
                                            <li>
                                                ESRS 2 SBM-2 – Intérêts et points de vue des parties prenantes
                                            </li>
                                            <li>
                                                ESRS 2 SBM-3 – Impacts, risques et opportunités matériels et interactions avec la stratégie et le modèle économique
                                        </ul>
                                        <strong>Stratégie</strong>
                                        <ul>
                                            <li>S2-1 – Politiques relatives aux travailleurs de la chaîne de valeur </li>
                                            <li>S2-2 – Processus de dialogue avec les travailleurs de la chaîne de valeur au sujet des impacts </li>
                                            <li>S2-3 – Processus visant à remédier aux impacts négatifs et canaux permettant aux travailleurs de la chaîne de valeur de faire part de leurs préoccupations </li>
                                            <li>S2-4 – Actions concernant les impacts matériels sur les travailleurs de la chaîne de valeur, approches visant à gérer les risques matériels et à saisir les opportunités matérielles concernant les travailleurs de la chaîne de valeur, et efficacité de ces actions </li>
                                        </ul>
                                        <strong>Indicateurs et cibles
                                        </strong>
                                        <ul>
                                            <li>S2-5 – Cibles liées à la gestion des incidences négatives importantes, à la promotion des incidences positives et à la gestion des risques et opportunités importants  </li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <p class="fr-pt-4w">
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-S2/CSRD-ESRS-S2.pdf">
                                    Télécharger : ESRS S2 - Travailleurs de la chaîne de valeur <span class="fr-link__detail">PDF – 873,9 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-S2/Guide-d-application-ANC-ESRS-S2-3-4.pdf">
                                    Télécharger : ESRS S2,3,4 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 2,8 mo</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
