<dialog aria-labelledby="fr-modal-ESRS_S1" role="dialog" id="modal-ESRS_S1" class="fr-modal--lg fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-10">
                <div class="fr-modal__body fr-modal--esrs">
                    <div class="fr-grid-row">
                        <div class="fr-col-12 fr-col-lg-6 fr-py-2w">
                            <div class="fr-modal__content">
                                <p class="fr-tag fr-mb-1w">Social</p>
                                <h4>ESRS S1 - Personnel de l'entreprise</h4>
                                <div class="fr-container--fluid">
                                    {% if csrd %}
                                        <div class="fr-grid-row">
                                            <p>
                                                <strong>
                                                    Choisissez les enjeux de durabilité qui ont un impact réel et potentiel appliqué à votre entreprise
                                                </strong>
                                            </p>

                                            <div id="selection_enjeux_ESRS_S1" hx-target="this"> Chargement en cours... </div>

                                        </div>
                                    {% elif phase == 1 %}
                                        <div class="fr-grid-row">
                                            <p>
                                                <strong>
                                                    Choisissez les enjeux de durabilité qui ont un impact réel et potentiel appliqué à votre entreprise
                                                </strong>
                                            </p>
                                            <div>
                                                <h6>A. Conditions de travail
                                                    <button class="fr-btn--tooltip fr-btn" aria-expanded="false" aria-controls="ESRSS1-soustheme1">Définition annexe</button>
                                                </h6>
                                                <p class="fr-text--sm fr-collapse" id="ESRSS1-soustheme1">Par exemple, en matière d’égalité des chances, la discrimination à l’embauche et à la promotion à l’égard des femmes peut réduire l’accès de l’entreprise à une main-d’œuvre qualifiée et nuire à sa réputation. À l’inverse, les politiques visant à accroître la représentation des femmes au sein des effectifs et aux niveaux supérieurs de l’encadrement peuvent avoir des incidences positives, telles que l’expansion de la réserve de main-d’œuvre qualifiée et l’amélioration de l’image de marque de l’entreprise.</p>
                                                <ol>
                                                    <li>Sécurité de l'emploi</li>
                                                    <li>Temps de travail</li>
                                                    <li>Salaires décents</li>
                                                    <li>Dialogue social</li>
                                                    <li>Liberté d'association, existence de comités d'entreprise et droits des travailleurs à l'information, à la consultation et à la participation</li>
                                                    <li>Négociation collective, y compris la proportion de travailleurs couverts par des conventions collectives</li>
                                                    <li>Equilibre entre vie professionnelle et vie privée</li>
                                                    <li>Santé et sécurité</li>
                                                </ol>

                                                <h6>B. Égalité de traitement et égalité des chances pour tous</h6>
                                                <ol>
                                                    <li>Egalité de genre et égalité de rémunération pour un travail de valeur égale</li>
                                                    <li>Formation et développement des compétences</li>
                                                    <li>Emploi et inclusion des personnes handicapées</li>
                                                    <li>Mesures de lutte contre la violence et le harcèlement sur le lieu de travail</li>
                                                    <li>Diversité</li>
                                                </ol>

                                                <h6>C. Autres droits liés au travail</h6>
                                                <ol>
                                                    <li>Travail des enfants</li>
                                                    <li>Travail forcé</li>
                                                    <li>Logement adéquat</li>
                                                    <li>Protection de la vie privée</li>
                                                </ol>
                                            </div>
                                        </div>
                                    {% elif phase == 2 %}
                                        <div class="fr-grid-row">
                                            <ul class="csrd-list csrd-list--bold">
                                                <li>
                                                    Téléchargez les exigences de publication et les datapoints associés, puis choisissez celles à reporter :
                                                </li>
                                            </ul>
                                            <p>
                                                <a class="fr-link fr-link--download" hreflang="en" download href="/static/CSRD/ESRS-S1/Data-point-ESRS-S1.xlsx">
                                                    ESRS S1 - Datapoints <span class="fr-link__detail">XLSX – 31,7 ko – Anglais</span>
                                                </a>
                                                <br>
                                                <br>
                                                <a class="fr-link fr-link--download" hreflang="fr" download href="/static/CSRD/ESRS-S1/Tableau-ESRS-S1.xlsx">
                                                    ESRS S1 - Tableau <span class="fr-link__detail">XLSX – 55 ko – Français</span>
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6 background-light-grey fr-p-2w">
                            <div class="fr-modal__header">
                                <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRS_S1">Fermer</button>
                            </div>
                            <h6><span class="fr-icon-lightbulb-fill fr-icon--blue"></span> Conseils et bonnes pratiques</h6>
                            {% if phase == 1 %}
                                <p>
                                    Pour faciliter votre sélection, renseignez-vous sur l'ESRS et les informations à publier dans le cas où cet enjeu serait matériel pour votre entreprise.
                                </p>
                            {% elif phase == 2 %}
                                <p>
                                    Pour vous aider, associez les abréviations des exigences de publication du tableur avec leur nom dans la rubrique “Exigence de publication” ci-dessous.
                                </p>
                            {% endif %}
                            <div class="fr-accordions-group">
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-objectifs-ESRSS1">Objectifs de l'ESRS</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-objectifs-ESRSS1">
                                        <p>
                                            La présente norme a pour objectif de préciser les exigences de publication qui permettront aux utilisateurs de l'état de durabilité de comprendre les impacts matériels de l’entreprise sur son personnel, ainsi que les risques et opportunités matériels qui s'y rattachent, notamment :
                                        </p>
                                        <p>
                                            <ul>
                                                <li><b>
                                                    a) l’impact de l’entreprise sur son personnel, en termes d’impacts matériels, qu’ils soient positifs ou négatifs, réels ou potentiels;
                                                </b></li>
                                                <li><b>
                                                    b) les actions éventuellement menées pour prévenir, atténuer ou corriger des impacts négatifs réels ou potentiels et pour parer à ces risques et saisir ces opportunités, et le résultat de ces actions;
                                                </b></li>
                                                <li><b>
                                                    c) la nature, le type et l’ampleur des risques et opportunités matériels de l’entreprise qui sont liés à ses impacts sur son personnel et à ses dépendances à l’égard de celui-ci, et la manière dont l’entreprise les gère; et
                                                </b></li>
                                                <li><b>
                                                    d) les effets financiers sur l’entreprise sur les horizons à court, moyen et long termes des risques et opportunités matériels découlant des impacts et des dépendances de l’entreprise à l’égard de son personnel.
                                            </ul>
                                        </p>
                                        <p class="fr-text--sm">
                                            La présente norme couvre le personnel d’une entreprise, qui s’entend comme incluant aussi bien les personnes qui sont dans une relation de travail avec l’entreprise («salariés») que les non-salariés, qui sont soit des personnes ayant 
conclu un contrat de prestation avec l’entreprise («travailleurs indépendants»), soit des personnes mises à sa disposition par des entreprises exerçant principalement des «activités liées à l’emploi» (code NACE N78). Voir l’exigence d’application 3 pour des exemples de personnes assimilées au personnel de l’entreprise. Les informations 
à publier en ce qui concerne les non-salariés ne doivent pas affecter leur statut au titre du droit du travail applicable.
                                        </p>
                                    </div>
                                </section>
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-exigences-ESRSS1">Exigences de publication</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-exigences-ESRSS1">
                                        <h6>ESRS 2 Informations générales à publier</h6>
                                        <strong>Stratégie</strong>
                                        <ul>
                                            <li>
                                                ESRS 2 SBM-2 — Intérêts et points de vue des parties prenantes
                                            </li>
                                            <li>
                                                ESRS 2 SBM-3 – Impacts, risques et opportunités matériels et interaction avec la stratégie et le modèle économique
                                            </li>
                                        </ul>
                                        <strong>Gestion des impacts, risques et opportunités
                                        </strong>
                                        <ul>
                                            <li>S1-1 — Politiques concernant le personnel de l’entreprise </li>
                                            <li>S1-2 — Processus de dialogue avec le personnel de l’entreprise et ses représentants au sujet des impacts </li>
                                            <li>S1-3 — Processus de réparation des impacts négatifs et canaux permettant au personnel de l’entreprise de faire part de ses préoccupations </li>
                                            <li>S1-4 — Actions concernant les impacts matériels sur le personnel de l'entreprise, approches visant à gérer les risques matériels et à saisir les opportunités matérielles et à saisir les opportunités matérielles concernant le personnel de l'entreprise, et efficacité de ces actions</li>
                                        </ul>
                                        <strong>Indicateurs et cibles
                                        </strong>
                                        <ul>
                                            <li>S1-5 — Cibles liées à la gestion des impacts matériels, à la promotion des incidences positives et à la gestion des risques et opportunités importants </li>
                                            <li>S1-6 — Caractéristiques des salariés de l’entreprise </li>
                                            <li>S1-7 — Caractéristiques des non salariés assimilés au personnel de l’entreprise </li>
                                            <li>S1-8 — Couverture des négociations collectives et dialogue social </li>
                                            <li>S1-9 — Indicateurs de diversité </li>
                                            <li>S1-10 — Salaires décents </li>
                                            <li>S1-11 — Protection sociale </li>
                                            <li>S1-12 — Personnes handicapées </li>
                                            <li>S1-13 — Indicateurs de la formation et du développement des compétences </li>
                                            <li>S1-14 — Indicateurs de santé et de sécurité </li>
                                            <li>S1-15 — Equilibre entre vie professionnelle et vie privée </li>
                                            <li>S1-16 — Indicateurs de rémunération (écart de rémunération et rémunération totale)</li>
                                            <li>S1-17 — Cas, plaintes et impacts graves en matière sur les droits de l’homme </li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <p class="fr-pt-4w">
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-S1/CSRD-ESRS-S1.pdf">
                                    Télécharger : ESRS S1 - Personnel de l'entreprise <span class="fr-link__detail">PDF – 1,7 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-S1/Guide-d-application-ANC-ESRS-S1.pdf">
                                    Télécharger : ESRS S1 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 3 mo</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
