<dialog aria-labelledby="fr-modal-ESRS_S4" role="dialog" id="modal-ESRS_S4" class="fr-modal--lg fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-10">
                <div class="fr-modal__body fr-modal--esrs">
                    <div class="fr-grid-row">
                        <div class="fr-col-12 fr-col-lg-6 fr-py-2w">
                            <div class="fr-modal__content">
                                <p class="fr-tag fr-mb-1w">Social</p>
                                <h4>ESRS S4 - Consommateurs et utilisateurs finaux</h4>
                                <div class="fr-container--fluid">
                                    {% if csrd %}
                                        <div class="fr-grid-row">
                                            <p>
                                                <strong>
                                                    Choisissez les enjeux de durabilité qui ont un impact réel et potentiel appliqué à votre entreprise
                                                </strong>
                                            </p>

                                            <div id="selection_enjeux_ESRS_S4" hx-target="this"> Chargement en cours... </div>

                                        </div>
                                    {% elif phase == 1 %}
                                        <div class="fr-grid-row">
                                            <p>
                                                <strong>
                                                    Choisissez les enjeux de durabilité qui ont un impact réel et potentiel appliqué à votre entreprise
                                                </strong>
                                            </p>
                                            <div>
                                                <h6>A. Impacts liées aux informations sur les consommateurs et/ou les utilisateurs finals</h6>
                                                <ol>
                                                    <li>Protection de la vie privée</li>
                                                    <li>Liberté d’expression</li>
                                                    <li>Accès à l’information (de qualité)</li>
                                                </ol>

                                                <h6>B. Sécurité des consommateurs et/ou des utilisateurs finals</h6>
                                                <ol>
                                                    <li>Santé et sécurité</li>
                                                    <li>Sécurité de la personne</li>
                                                    <li>Protection des enfants</li>
                                                </ol>

                                                <h6>C. Inclusion sociale des consommateurs et/ou des utilisateurs finals</h6>
                                                <ol>
                                                    <li>Non-discrimination</li>
                                                    <li>Accès aux produits et services</li>
                                                    <li>Pratiques de commercialisation responsables</li>
                                                </ol>
                                            </div>
                                        </div>
                                    {% elif phase == 2 %}
                                        <div class="fr-grid-row">
                                            <ul class="csrd-list csrd-list--bold">
                                                <li>
                                                    Téléchargez les exigences de publication et les datapoints associés, puis choisissez celles à reporter :
                                                </li>
                                            </ul>
                                            <p>
                                                <a class="fr-link fr-link--download" hreflang="en" download href="/static/CSRD/ESRS-S4/Data-point-ESRS-S4.xlsx">
                                                    ESRS S4 - Datapoints <span class="fr-link__detail">XLSX – 19,4 ko – Anglais</span>
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6 background-light-grey fr-p-2w">
                            <div class="fr-modal__header">
                                <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRS_S4">Fermer</button>
                            </div>
                            <h6><span class="fr-icon-lightbulb-fill fr-icon--blue"></span> Conseils et bonnes pratiques</h6>
                            {% if phase == 1 %}
                                <p>
                                    Pour faciliter votre sélection, renseignez-vous sur l'ESRS et les informations à publier dans le cas où cet enjeu serait matériel pour votre entreprise.
                                </p>
                            {% elif phase == 2 %}
                                <p>
                                    Pour vous aider, associez les abréviations des exigences de publication du tableur avec leur nom dans la rubrique “Exigence de publication” ci-dessous.
                                </p>
                            {% endif %}
                            <div class="fr-accordions-group">
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-objectifs-ESRSS4">Objectifs de l'ESRS</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-objectifs-ESRSS4">
                                        <p>
                                            La présente norme a pour objectif de préciser les exigences de publication qui permettront aux utilisateurs de l’état de durabilité de comprendre les impacts matériels sur les consommateurs et utilisateurs finaux liés aux activités et à la chaîne de valeur de l’entreprise, y compris ceux liés à ses produits ou services et à ses relations d’affaires, ainsi que les risques et opportunités matériels qui s’y rattachent, notamment :
                                        </p>
                                        <p>
                                            <ul>
                                                <li><b>
                                                    a) la manière dont l’entreprise influe sur les consommateurs et utilisateurs finaux de ses produits et services (les «consommateurs et utilisateurs finaux» au sens de la présente norme), pour ce qui est des impacts positifs et négatifs matériels, réels ou potentiels;
                                                </b></li>
                                                <li><b>
                                                    b) les actions entreprises pour prévenir, atténuer ou corriger des impacts négatifs, réels ou potentiels, ainsi que pour traiter les risques et les opportunités, et le résultat de ces actions;
                                                </b></li>
                                                <li><b>
                                                    c) la nature, le type et l’ampleur des risques et opportunités matériels de l’entreprise qui sont liés à ses impacts sur les consommateurs et utilisateurs finaux et à ses dépendances à l’égard de ceux-ci, et la manière dont l’entreprise gère ces risques et opportunités; et
                                                </b></li>
                                                <li><b>
                                                    d) les effets financiers sur l’entreprise, à court, moyen et long terme, des risques et opportunités matériels découlant de ses impacts sur les consommateurs et utilisateurs finaux et de sa dépendance à l’égard de ceux-ci.
                                                </b></li>
                                            </ul>
                                        </p>
                                        <p class="fr-text--sm">
                                            La présente norme exige également une explication de la manière dont ces impacts, ainsi que les dépendances de l’entreprise à l’égard des consommateurs et utilisateurs finaux, peuvent générer des risques ou opportunités matériels pour l’entreprise. Par exemple, les impacts négatifs sur la réputation des produits et services de l’entreprise peuvent nuire aux performances de celle-ci, tandis que la confiance dans ses produits et services peut être source de retombées commerciales, tels qu’une augmentation des ventes ou un élargissement de la base de consommateurs futurs.
                                            <br> <br>
                                            L’utilisation illicite ou abusive des produits et services de l’entreprise par les consommateurs et les utilisateurs finaux ne relève pas du champ d’application de la présente norme.
                                        </p>
                                    </div>
                                </section>
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-exigences-ESRSS4">Exigences de publication</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-exigences-ESRSS4">
                                        <h6>ESRS 2 Informations générales à publier</h6>
                                        <strong>Stratégie</strong>
                                        <ul>
                                            <li>ESRS 2 SBM-2 – Intérêts et points de vue des parties prenantes </li>
                                            <li>ESRS 2 SBM-3 –  Impacts, risques et opportunités matériels et leur interaction avec la stratégie et le modèle économique </li>
                                        </ul>
                                        <strong>Gestion des impacts, risques et opportunités
                                        </strong>
                                        <ul>
                                            <li>S4-1 – Politiques relatives aux consommateurs et utilisateurs finaux </li>
                                            <li>S4-2 – Processus de dialogue avec les consommateurs et utilisateurs finaux au sujet des impacts </li>
                                            <li>S4-3 – Processus visant à remédier aux impacts négatifs et canaux permettant aux consommateurs et utilisateurs finaux de faire part de leurs préoccupations </li>
                                            <li>S4-4 – Actions concernant les impacts matériels sur les consommateurs et utilisateurs finaux, approches visant à gérer les risques matériels et à saisir les opportunités matérielles concernant les consommateurs et utilisateurs finaux, et efficacité de ces actions </li>
                                        </ul>
                                        <strong>Indicateurs et cibles
                                        </strong>
                                        <ul>
                                            <li>S4-5 – Cibles liées à la gestion des impacts négatifs matériels, à la promotion des impacts positifs et à la gestion des risques et opportunités matériels </li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <p class="fr-pt-4w">
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-S4/CSRD-ESRS-S4.pdf">
                                    Télécharger : ESRS S4 - Consommateurs et utilisateurs finaux <span class="fr-link__detail">PDF – 1 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-S2/Guide-d-application-ANC-ESRS-S2-3-4.pdf">
                                    Télécharger : ESRS S2,3,4 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 2,8 mo</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
