<dialog aria-labelledby="fr-modal-title-modal-ESRS1" role="dialog" id="modal-ESRS1" class="fr-modal--lg fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10">
                <div class="fr-modal__body fr-modal--esrs background-light-grey">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRS1" target="_self">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <p class="fr-tag fr-mb-1w">Général</p>
                        <h4 id="fr-modal-title-modal-ESRS1">ESRS 1 - Exigences générales</h4>
                        <h6><span class="fr-icon-lightbulb-fill fr-icon--blue"></span> Conseils et bonnes pratiques</h6>
                        <div class="fr-accordions-group">
                            <section class="fr-accordion">
                                <h3 class="fr-accordion__title">
                                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-objectifs-ESRS1">Objectifs de l'ESRS</button>
                                </h3>
                                <div class="fr-collapse" id="accordion-objectifs-ESRS1">
                                    <p>
                                        L’objectif des normes européennes d’information en matière de durabilité (ESRS) est de préciser quelles informations en matière de durabilité une entreprise publie en application de la directive 2013/34/UE du Parlement européen et du Conseil, telle que modifiée par la directive (UE) 2022/2464 du Parlement européen et du Conseil.
                                        La publication d’informations, conformément aux ESRS, n’exempte pas les entreprises des autres obligations prévues dans le droit de l’Union.
                                    </p>
                                    <p>
                                        L’objectif de la présente norme (ESRS 1) est de permettre de comprendre l’architecture des ESRS, les conventions de rédaction et les concepts fondamentaux utilisés, ainsi que les exigences générales pour la préparation et la présentation des informations en matière de durabilité, conformément à la directive 2013/34/UE, telle que modifiée par la directive (UE) 2022/2464.
                                    </p>
                                </div>
                            </section>
                        </div>
                        <p class="fr-pt-4w">
                            <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-1/CSRD-ESRS-1.pdf">
                                Télécharger : ESRS 1 - Exigences générales <span class="fr-link__detail">PDF – 1,6 mo</span>
                            </a>
                            <br>
                            <br>
                            <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-1/Guide-d-application-ANC-ESRS-1.pdf">
                                Télécharger : ESRS 1 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 6 mo</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
