<dialog aria-labelledby="fr-modal-ESRSS4" role="dialog" id="modal-ESRSS4" class="fr-modal--lg fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-10">
                <div class="fr-modal__body fr-modal--esrs">
                    <div class="fr-grid-row">
                        <div class="fr-col-12 fr-col-lg-6 fr-py-2w">
                            <div class="fr-modal__content">
                                <p class="fr-tag fr-mb-1w">Social</p>
                                <h4>ESRS S4 - Consommateurs et utilisateurs finaux</h4>
                                <div class="fr-container--fluid">
                                    {% if phase == 1 %}
                                        <div class="fr-grid-row">
                                            <p>
                                                <strong>
                                                    Choisissez les questions de durabilité qui ont une incidence réelle et potentielle appliquée à votre entreprise
                                                </strong>
                                            </p>
                                            <div>
                                                <h6>A. Incidences liées aux informations sur les consommateurs et/ou les utilisateurs finals</h6>
                                                <ol>
                                                    <li>Protection de la vie privée</li>
                                                    <li>Liberté d’expression</li>
                                                    <li>Accès à l’information (de qualité)</li>
                                                </ol>

                                                <h6>B. Sécurité des consommateurs et/ou des utilisateurs finals</h6>
                                                <ol>
                                                    <li>Santé et sécurité</li>
                                                    <li>Sécurité de la personne</li>
                                                    <li>Protection des enfants</li>
                                                </ol>

                                                <h6>C. Inclusion sociale des consommateurs et/ou des utilisateurs finals</h6>
                                                <ol>
                                                    <li>Non-discrimination</li>
                                                    <li>Accès aux produits et services</li>
                                                    <li>Pratiques de commercialisation responsables</li>
                                                </ol>
                                            </div>
                                        </div>
                                    {% elif phase == 2 %}
                                        <div class="fr-grid-row">
                                            <ul class="csrd-list csrd-list--bold">
                                                <li>
                                                    Téléchargez les exigences de publication et les datapoints associés, puis choisissez celles à reporter :
                                                </li>
                                            </ul>
                                            <p>
                                                <a class="fr-link fr-link--download" hreflang="en" download href="/static/CSRD/ESRS-S4/Data-point-ESRS-S4.xlsx">
                                                    ESRS S4 - Datapoints <span class="fr-link__detail">XLSX – 19,4 ko – Anglais</span>
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                    <div class="fr-grid-row fr-grid-row--middle background-light-grey fr-p-3w fr-mt-6w">
                                        <div class="fr-col-2">
                                            <span class="fr-icon-info-fill fr-icon--blue"></span>
                                        </div>
                                        <div class="fr-col-10">
                                            Fonctionnalité bientôt disponible :
                                            {% if phase == 1 %}
                                                sélection des questions de durabilité.
                                            {% elif phase == 2 %}
                                                sélection des exigences de publication sur la base des ESRS évalués comme matériels pour votre entreprise.
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6 background-light-grey fr-p-2w">
                            <div class="fr-modal__header">
                                <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSS4">Fermer</button>
                            </div>
                            <h6><span class="fr-icon-lightbulb-fill fr-icon--blue"></span> Conseils et bonnes pratiques</h6>
                            {% if phase == 1 %}
                                <p>
                                    Pour faciliter votre sélection, renseignez-vous sur l'ESRS et les informations à publier dans le cas où cet enjeu serait matériel pour votre entreprise.
                                </p>
                            {% elif phase == 2 %}
                                <p>
                                    Pour vous aider, associez les abréviations des exigences de publication du tableur avec leur nom dans la rubrique “Exigence de publication” ci-dessous.
                                </p>
                            {% endif %}
                            <div class="fr-accordions-group">
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-objectifs-ESRSS4">Objectifs de l'ESRS</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-objectifs-ESRSS4">
                                        <p>
                                            La présente norme a pour objectif de préciser les exigences de publication qui permettront aux utilisateurs de la déclaration relative à la durabilité de comprendre les incidences importantes sur les consommateurs et utilisateurs finaux liées aux activités et à la chaîne de valeur de l’entreprise, y compris celles liées à ses produits ou services et à ses relations d’affaires, ainsi que les risques et opportunités importants qui s’y rapportent, notamment :
                                        </p>
                                        <p>
                                            <ul>
                                                <li><b>
                                                    (a) la manière dont l’entreprise influe sur les consommateurs et utilisateurs finaux de ses produits et services (les « consommateurs et utilisateurs finaux » au sens de la présente norme), pour ce qui est des incidences positives et négatives importantes, réelles ou potentielles ;
                                                </b></li>
                                                <li><b>
                                                    (b) les actions entreprises pour prévenir, atténuer ou corriger des incidences négatives, réelles ou potentielles, ainsi que pour traiter les risques et les opportunités, et le résultat de ces actions ;
                                                </b></li>
                                                <li><b>
                                                    (c) la nature, le type et l’ampleur des risques et opportunités importants de l’entreprise qui sont liés à ses incidences sur les consommateurs et utilisateurs finaux et à ses dépendances à l’égard de ceux-ci, et la manière dont l’entreprise gère ces risques et opportunités ; et
                                                </b></li>
                                                <li><b>
                                                    (d) les incidences financières sur l’entreprise, à court, moyen et long terme, des risques et opportunités importants découlant de ses incidences sur les consommateurs et utilisateurs finaux et de ses dépendances à l’égard de ceux-ci.
                                                </b></li>
                                            </ul>
                                        </p>
                                        <p class="fr-text--sm">
                                            Par exemple, les incidences négatives sur la réputation des produits et services de l’entreprise peuvent nuire aux performances de celle-ci, tandis que la confiance dans ses produits et services peut être source de retombées commerciales, tels qu’une augmentation des ventes ou un élargissement de la base de consommateurs futurs.
                                            <br>
                                            L’utilisation illicite ou abusive des produits et services de l’entreprise par les consommateurs et les utilisateurs finals ne relève pas du champ d’application de la présente norme.
                                        </p>
                                    </div>
                                </section>
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-exigences-ESRSS4">Exigences de publication</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-exigences-ESRSS4">
                                        <h6>ESRS 2</h6>
                                        <strong>Stratégie</strong>
                                        <ul>
                                            <li>ESRS 2 SBM-2 — Intérêts et points de vue des parties intéressées </li>
                                            <li>ESRS 2 SBM-3 – Incidences, risques et opportunités importants et interaction avec la stratégie et le modèle économique </li>
                                        </ul>
                                        <h6>Gestion des incidences, risques et opportunités
                                        </h6>
                                        <ul>
                                            <li>S4-1 — Politiques relatives aux consommateurs et utilisateurs finaux </li>
                                            <li>S4-2 — Processus d’interaction au sujet des incidences avec les consommateurs et utilisateurs finaux </li>
                                            <li>S4-3 — Procédures visant à remédier aux incidences négatives et canaux permettant aux consommateurs et utilisateurs finaux de faire part de leurs préoccupations </li>
                                            <li>S4-4 — Actions concernant les incidences importantes sur les consommateurs et utilisateurs finaux, approches visant à gérer les risques importants et à saisir les opportunités importantes concernant les consommateurs et utilisateurs finaux, et efficacité de ces actions </li>
                                        </ul>
                                        <h6>Métriques et cibles
                                        </h6>
                                        <ul>
                                            <li>S4-5 — Cibles liées à la gestion des incidences négatives importantes, à la promotion des incidences positives et à la gestion des risques et opportunités importants </li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <p class="fr-pt-4w">
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-S4/CSRD-ESRS-S4.pdf">
                                    Télécharger : ESRS S4 - Consommateurs et utilisateurs finaux <span class="fr-link__detail">PDF – 1 mo</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
