<dialog aria-labelledby="fr-modal-title-modal-ESRS2" role="dialog" id="modal-ESRS2" class="fr-modal--lg fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10">
                <div class="fr-modal__body fr-modal--esrs">
                    <div class="fr-grid-row">
                        <div class="fr-col-12 fr-col-lg-6 fr-py-2w">
                            <div class="fr-modal__content">
                                <p class="fr-tag fr-mb-1w">Général</p>
                                <h4 id="fr-modal-title-modal-ESRS2">ESRS 2 - Informations générales à publier</h4>
                                <div class="fr-container--fluid">
                                    <div class="fr-grid-row">
                                        <ul class="csrd-list csrd-list--bold">
                                            <li>
                                                Téléchargez les exigences de publication qui s’appliquent à l’ensemble des entreprises et les datapoints associés :
                                            </li>
                                        </ul>
                                        <p>
                                            <a class="fr-link fr-link--download" hreflang="en" download href="/static/CSRD/ESRS-2/Data-point-ESRS-2.xlsx">
                                                ESRS 2 - Datapoints <span class="fr-link__detail">XLSX – 29,9 ko – Anglais</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6 background-light-grey fr-p-2w">
                            <div class="fr-modal__header">
                                <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRS2" target="_self">Fermer</button>
                            </div>
                            <h6><span class="fr-icon-lightbulb-fill fr-icon--blue"></span> Conseils et bonnes pratiques</h6>
                            <p>
                                Pour vous aider, associez les abréviations des exigences de publication du tableur avec leur nom dans la rubrique “Exigence de publication” ci-dessous.
                            </p>
                            <div class="fr-accordions-group">
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-objectifs-ESRS2">Objectifs de l'ESRS</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-objectifs-ESRS2">
                                        <p>
                                            La présente norme contient les exigences de publication qui s’appliquent à l’ensemble des entreprises, tous secteurs d’activité confondus (les exigences « non sectorielles »), ainsi qu’à tous les thèmes de durabilité (les exigences « transversales »).
                                            Elle couvre les domaines d’information définis dans ESRS 1 Exigences générales, section 1.2 Normes transversales et domaines d’information.
                                        </p>
                                    </div>
                                </section>
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-exigences-ESRS2">Exigences de publication</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-exigences-ESRS2">
                                        <h6>Base d'établissement des déclarations</h6>
                                        <ul>
                                            <li>BP-1 – Base générale d'établissement des déclarations relatives à la durabilité</li>
                                            <li>BP-2 – Publication d'informations relatives à des circonstances particulières</li>
                                        </ul>
                                        <h6>Gouvernance</h6>
                                        <ul>
                                            <li>GOV-1 – Le rôle des organes d’administration, de direction et de surveillance</li>
                                            <li>GOV-2 – Informations transmises aux organes d’administration, de direction et de surveillance de l’entreprise et enjeux de durabilité traitées par ces organes</li>
                                            <li>GOV-3 – Intégration des résultats en matière de durabilité dans les systèmes d’incitation</li>
                                            <li>GOV-4 – Déclaration sur la diligence raisonnable</li>
                                            <li>GOV-5 – Gestion des risques et contrôles internes de l’information en matière de durabilité</li>
                                        </ul>
                                        <h6>Stratégie</h6>
                                        <ul>
                                            <li>SBM-1 – Stratégie, modèle économique et chaîne de valeur</li>
                                            <li>SBM-2 – Intérêts et points de vue des parties intéressées</li>
                                            <li>SBM-3 – Incidences, risques et opportunités importants et leur lien avec la stratégie et le modèle économique</li>
                                        </ul>
                                        <h6>Gestion des incidences, risques et opportunités</h6>
                                        <ul>
                                            <li>IRO-1 – Description des procédures d’identification et d’évaluation des incidences, risques et opportunités importants</li>
                                            <li>IRO-2 – Exigences de publication au titre des ESRS couvertes par la déclaration relative à la durabilité de l’entreprise</li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="fr-accordion">
                                    <h3 class="fr-accordion__title">
                                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-exigences-minimales-ESRS2">Exigences de publication minimales (MDR)</button>
                                    </h3>
                                    <div class="fr-collapse" id="accordion-exigences-minimales-ESRS2">
                                        <ul>
                                            <li>Politiques MDR-P – Politiques adoptées pour gérer les enjeux de durabilité importantes</li>
                                            <li>Actions MDR-A – Actions et ressources relatives aux enjeux de durabilité importantes</li>
                                            <li>Métriques MDR-M – Métriques relatives aux enjeux de durabilité importantes</li>
                                            <li>Cibles MDR-T – Suivi de l’efficacité des politiques et des actions au moyen de cibles</li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <p class="fr-pt-4w">
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-2/CSRD-ESRS-2.pdf">
                                    Télécharger : ESRS 2 - Informations générales à publier <span class="fr-link__detail">PDF – 1,2 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download="" href="/static/CSRD/ESRS-2/Guide-d-application-ANC-ESRS-2.pdf">
                                    Télécharger : ESRS 2 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 839 ko</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
