{% load random_tools %}

{% if est_editeur %}
    <div class="fr-toggle fr-toggle--label-left">
        {% uuid as toggle_id %}
        <input type="checkbox" id="toggle_creation_enjeu_{{ toggle_id }}" class="fr-toggle__input" aria-expanded="false" aria-describedby="toggle-{{ toggle_id }}-messages" aria-controls="creation_enjeu_{{ toggle_id }}">
        <label class="fr-toggle__label" for="toggle_creation_enjeu_{{ toggle_id }}">Ajouter un enjeu</label>
    </div>
{% endif %}

<div id="creation_enjeu_{{ toggle_id }}" class="fr-collapse" hx-get="{% url 'reglementations:creation_enjeu' csrd.pk form.esrs %}" hx-trigger="click from:#toggle_creation_enjeu_{{ toggle_id }}" hx-target="this">
    Chargement en cours ...
</div>

<form hx-post="{% url "reglementations:selection_enjeux" csrd.pk form.esrs %}" hx-target="#esg_container">
    {% csrf_token %}
    <div>
        {% with form.sections as sections %}
            {% for enjeu in form.enjeux %}
                <div class="fr-pl-4v fr-my-1v">
                    {{ enjeu }}
                    {% if forloop.counter in sections.0 %}
                        <div class="fr-ml-2v">
                    {% endif %}
                    {% if forloop.counter in sections.1 %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endwith %}
    </div>
    {% if est_editeur %}
        <hr class="fr-mt-6v">
        <button type="submit" class="fr-btn fr-btn--secondary" hx-disabled-elt="this" aria-controls="modal-{{ form.esrs }}" {% if csrd.bloque %}disabled{% endif %}>
            Valider
        </button>
    {% endif %}
</form>
<!-- fragment enjeux -->
