<tr hx-target="this" hx-swap="outerHTML">
    <td>
        {{ document.nom }}
    </td>
    <td>
        {{ document.created_at|date:"d b Y" }}
    </td>
    <td>
        <div
            {% if document.etat in "pending,processing,text_processed,analysis_complete" %}
                hx-get="{% url 'reglementations:statut_analyse_ia' document.id csrd.id %}" {# URL de la vue qui renvoie ce fragment #}
                hx-trigger="every 5s" {# Déclencheur toutes les 5 secondes #}
            {% endif %}>
            {% if document.etat in "pending,processing,text_processed,analysis_complete" %}
                <p class="fr-badge fr-badge--new">En cours d'analyse</p>
                {% if document.message %}
                    <p class="fr-text--sm">{{ document.message }}</p>
                {% endif %}
            {% elif document.etat == "success" %}
		{# MaJ du deuxième onglet en fin de traitement #}
                <p class="fr-badge fr-badge--success"
                   {% if request.htmx %}
                       hx-trigger="load" hx-get="" hx-target="#onglet-resultats-panel" hx-select="#onglet-resultats-panel"
                   {% endif %}
                >Traité</p>
			{# Pas d'attributs hx-* ici, le polling s'arrête #}
            {% elif document.etat == "error" %}
                <p class="fr-badge fr-badge--error">Traitement impossible</p>
                <p class="fr-text--sm text-error-color-no-decoration">{{ document.message }}</p>
            {% endif %}
        </div>
    </td>
    <td>
        {% if not document.etat %}
            <form action="{% url 'analyseia:lancement_analyse' document.id %}" method="post">
                {% csrf_token %}
                <button type="submit"
                        class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-play-circle-line">Lancer une
                    analyse</button>
            </form>
        {% elif document.etat == "success" %}
            <a class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-download-line"
               href="{% url 'analyseia:resultat' document.id 'esrs' %}"
               title="Télécharger le résultat">Télécharger le résultat</a>
        {% endif %}
    </td>
    <td>
		<!-- les règles d'utilisation et l'implémentation du dsfr ne permettent pas d'avoir un groupe de boutons avec des icônes seules et du texte mélangés -->
		<!-- <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--sm fr-btns-group--icon-left"> -->
        <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--sm">
            <li>
                <a class="fr-btn fr-btn--secondary fr-icon-external-link-line"
                   title="Voir le document dans un nouvel onglet" href="{{ document.fichier.url }}"
                   target="_blank">Voir le document dans un nouvel onglet</a>
            </li>
            <li>
                <form action="{% url 'analyseia:suppression' document.id %}"
                      method="post">
                    {% csrf_token %}
                    <button type="submit" class="fr-btn fr-btn--secondary fr-icon-delete-line"
                            title="Supprimer le document">Supprimer le document</button>
                </form>
            </li>
        </ul>
    </td>
</tr>
