{% extends "base.html" %}

{% block content %}
<div class="fr-container fr-my-8w">
    {% include "snippets/bdese_header.html" %}

    <div class="fr-grid-row">
        {% include "snippets/bdese_menu.html" with active_item=0 %}

        <div class="fr-col">
            <h2>Catégories professionnelles</h2>
    <p>
        Certains indicateurs de la BDESE sont à remplir par catégorie professionnelle, suivant une structure de qualification propre à votre entreprise. 
        Commencez par définir les catégories professionnelles retenues qui seront utilisées dans votre BDESE {{ annee }}.
    </p>
    <div class="fr-highlight">
        <p>Si vous modifiez les catégories après avoir renseigné des indicateurs, les données concernant les catégories modifiées seront perdues.</p>
    </div>

    <form action="{% url 'categories_professionnelles' siren annee %}" method="post">
        {% csrf_token %}
        {% include 'snippets/category_field.html' with field=form.categories_professionnelles %}
        {% if form.categories_professionnelles_detaillees %}
        {% include 'snippets/category_field.html' with field=form.categories_professionnelles_detaillees %}
        {% endif %}

        {% include "snippets/bdese_submit.html" %}
    </form>
        </div>
    </div>
</div>
{% endblock %}