{% extends "base.html" %}

{% block title %}Étape 5/11 : Rémunérations - BDESE {{ annee }} - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/bdese_header.html" %}

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row">
            {% include "snippets/bdese_menu.html" with active_item=5 %}

            <div class="fr-col">
                <h2>Rémunération des salariés et dirigeants, dans l'ensemble de leurs éléments</h2>

                <form action="{% url 'reglementations:bdese_step' entreprise.siren annee 5 %}" method="post">
                    {% csrf_token %}
                    {{ form.external_fields_in_step.as_hidden }}

                    <h3>A - Evolution des rémunérations salariales</h3>
                    <h4>a) Frais de personnel</h4>
                    <p>Ils représentent l'ensemble des rémunérations et des cotisations sociales mises légalement ou conventionnellement à la charge de l'entreprise.</p>
                    {% include 'snippets/bdese_field.html' with field=form.frais_personnel %}
                    {% include 'snippets/bdese_field.html' with field=form.evolution_salariale_par_categorie %}
                    {% include 'snippets/bdese_field.html' with field=form.evolution_salariale_par_sexe %}
                    {% include 'snippets/bdese_field.html' with field=form.salaire_base_minimum_par_categorie %}
                    {% include 'snippets/bdese_field.html' with field=form.salaire_base_minimum_par_sexe %}
                    <p>Remplir au choix le salaire moyen ou median :</p>
                    {% include 'snippets/bdese_field.html' with field=form.salaire_moyen_par_categorie %}
                    {% include 'snippets/bdese_field.html' with field=form.salaire_moyen_par_sexe %}
                    {% include 'snippets/bdese_field.html' with field=form.salaire_median_par_categorie %}
                    {% include 'snippets/bdese_field.html' with field=form.salaire_median_par_sexe %}

                    <h4>b) Montant global des hautes rémunérations</h4>
                    {% include 'snippets/bdese_field.html' with field=form.montant_global_hautes_remunerations %}

                    <h4>c) Epargne salariale : intéressement, participation</h4>
                    {% include 'snippets/bdese_field.html' with field=form.epargne_salariale %}

                    {% include "snippets/bdese_submit.html" %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
