{% extends "base.html" %}

{% block content %}
<div class="fr-container fr-my-8w">
    {% include "snippets/bdese_header.html" %}

    <div class="fr-grid-row">
        {% include "snippets/bdese_menu.html" with active_item=1 %}

        <div class="fr-col">

            <form action="{% url 'bdese' siren annee 1 %}" method="post">
                {% csrf_token %}
                <h2>1° Investissements</h2>
                <h3>A-Investissement social</h3>
                <h4>a) Evolution des effectifs par type de contrat, par âge, par ancienneté</h4>
                {% include 'snippets/category_field.html' with field=form.effectif_mensuel %}
                {% include 'snippets/input_field.html' with field=form.effectif_cdi %}
                {% include 'snippets/input_field.html' with field=form.effectif_cdd %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temporaires %}
                {% include 'snippets/input_field.html' with field=form.nombre_travailleurs_exterieurs %}
                {% include 'snippets/input_field.html' with field=form.nombre_journees_salaries_temporaires %}
                {% include 'snippets/input_field.html' with field=form.nombre_contrats_insertion_formation_jeunes %}
                {% include 'snippets/input_field.html' with field=form.motifs_contrats_cdd_temporaire_temps_partiel_exterieurs %}
                
                <h4>b) Evolution des emplois par catégorie professionnelle</h4>
                {% include 'snippets/category_field.html' with field=form.effectif_homme %}
                {% include 'snippets/category_field.html' with field=form.effectif_femme %}
                {% include 'snippets/input_field.html' with field=form.actions_prevention_formation %}
                
                <h4>c) Evolution de l'emploi des personnes handicapées et mesures prises pour le développer</h4>
                {% include 'snippets/input_field.html' with field=form.actions_emploi_personnes_handicapees %}
                {% include 'snippets/input_field.html' with field=form.doeth %}
                
                <h4>d) Evolution du nombre de stagiaires de plus de 16 ans</h4>
                {% include 'snippets/input_field.html' with field=form.nombre_stagiaires %}
                
                <h4>e) Formation professionnelle : investissements en formation, publics concernés</h4>
                {% include 'snippets/input_field.html' with field=form.orientations_formation_professionnelle %}
                {% include 'snippets/input_field.html' with field=form.resultat_negociations_L_2241_6 %}
                {% include 'snippets/input_field.html' with field=form.conclusions_verifications_L_6361_1_L_6323_13_L_6362_4 %}
                {% include 'snippets/input_field.html' with field=form.bilan_actions_plan_formation %}
                {% include 'snippets/input_field.html' with field=form.informations_conges_formation %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_beneficaires_abondement %}
                {% include 'snippets/input_field.html' with field=form.somme_abondement %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_beneficiaires_entretien_professionnel %}
                {% include 'snippets/input_field.html' with field=form.bilan_contrats_alternance %}
                {% include 'snippets/input_field.html' with field=form.emplois_periode_professionnalisation %}
                {% include 'snippets/category_field.html' with field=form.effectif_periode_professionnalisation_par_age %}
                {% include 'snippets/category_field.html' with field=form.effectif_periode_professionnalisation_par_sexe %}
                {% include 'snippets/category_field.html' with field=form.effectif_periode_professionnalisation_par_niveau_initial %}
                {% include 'snippets/input_field.html' with field=form.resultats_periode_professionnalisation %}
                {% include 'snippets/input_field.html' with field=form.bilan_cpf %}
                
                <h4>f) Conditions de travail : durée du travail dont travail à temps partiel et aménagement du temps de travail</h4>
                {% include 'snippets/category_field.html' with field=form.nombre_salaries_temps_partiel_par_sexe %}
                {% include 'snippets/category_field.html' with field=form.nombre_salaries_temps_partiel_par_qualification %}
                {% include 'snippets/input_field.html' with field=form.horaires_temps_partiel %}
                {% include 'snippets/input_field.html' with field=form.programme_prevention_risques_pro %}

                <h3>B-Investissement matériel et immatériel</h3>
                {% include 'snippets/input_field.html' with field=form.evolution_amortissement %}
                {% include 'snippets/input_field.html' with field=form.montant_depenses_recherche_developpement %}
                {% include 'snippets/input_field.html' with field=form.mesures_methodes_production_exploitation %}
                
                <h2>2° Egalité professionnelle entre les femmes et les hommes au sein de l'entreprise</h2>
                <h3>A-Analyse des données chiffrées</h3>
                <p>Analyse des données chiffrées par catégorie professionnelle de la situation respective des femmes et des hommes</p>
                {% include 'snippets/input_field.html' with field=form.analyse_egalite_embauche %}
                {% include 'snippets/input_field.html' with field=form.analyse_egalite_formation %}
                {% include 'snippets/input_field.html' with field=form.analyse_egalite_promotion_professionnelle %}
                {% include 'snippets/input_field.html' with field=form.analyse_egalite_qualification %}
                {% include 'snippets/input_field.html' with field=form.analyse_egalite_classification %}
                {% include 'snippets/input_field.html' with field=form.analyse_egalite_conditions_de_travail %}
                {% include 'snippets/input_field.html' with field=form.analyse_egalite_sante_et_sécurite %}
                {% include 'snippets/input_field.html' with field=form.analyse_egalite_remuneration %}
                {% include 'snippets/input_field.html' with field=form.analyse_egalite_articulation_activite_pro_perso %}
                {% include 'snippets/input_field.html' with field=form.analyse_ecarts_salaires %}
                {% include 'snippets/input_field.html' with field=form.evolution_taux_promotion %}

                <h3>B-Stratégie d'action</h3>
                <p>A partir de l'analyse des données chiffrées mentionnées au A du 2°, la stratégie comprend les éléments suivants :</p>
                {% include 'snippets/input_field.html' with field=form.mesures_prises_egalite %}
                {% include 'snippets/input_field.html' with field=form.objectifs_progression %}

                <h2>3° Fonds propres, endettement et impôts</h2>
                {% include 'snippets/input_field.html' with field=form.capitaux_propres %}
                {% include 'snippets/input_field.html' with field=form.emprunts_et_dettes_financieres %}
                {% include 'snippets/input_field.html' with field=form.impots_et_taxes %}

                <h2>4° Rémunération des salariés et dirigeants, dans l'ensemble de leurs éléments</h2>
                <h3>A-Evolution des rémunérations salariales</h3>
                <h4>a) Frais de personnel</h4>
                {% include 'snippets/input_field.html' with field=form.frais_personnel %}
                {% include 'snippets/category_field.html' with field=form.evolution_salariale_par_categorie %}
                {% include 'snippets/category_field.html' with field=form.evolution_salariale_par_sexe %}
                {% include 'snippets/category_field.html' with field=form.salaire_base_minimum_par_categorie %}
                {% include 'snippets/category_field.html' with field=form.salaire_base_minimum_par_sexe %}
                <p>i. Remplir le salaire moyen ou median :</p>
                {% include 'snippets/category_field.html' with field=form.salaire_moyen_par_categorie %}
                {% include 'snippets/category_field.html' with field=form.salaire_moyen_par_sexe %}
                {% include 'snippets/category_field.html' with field=form.salaire_median_par_categorie %}
                {% include 'snippets/category_field.html' with field=form.salaire_median_par_sexe %}
                
                <h4>b) Montant global des hautes rémunérations</h4>
                {% include 'snippets/input_field.html' with field=form.montant_global_hautes_remunerations %}

                <h4>c) Epargne salariale : intéressement, participation</h4>
                {% include 'snippets/input_field.html' with field=form.epargne_salariale %}

                <h2>5° Activités sociales et culturelles</h2>
                {% include 'snippets/input_field.html' with field=form.montant_contribution_activites_sociales_culturelles %}
                {% include 'snippets/input_field.html' with field=form.mecenat_verse %}
                
                <h2>6° Rémunération des financeurs, en dehors des éléments mentionnés au 4°</h2>
                <h3>A-Rémunération des actionnaires (revenus distribués)</h3>
                {% include 'snippets/input_field.html' with field=form.remuneration_actionnaires %}

                <h3>B-Rémunération de l'actionnariat salarié</h3>
                {% include 'snippets/input_field.html' with field=form.remuneration_actionnariat_salarie %}

                <h2>7° Flux financiers à destination de l'entreprise</h2>
                <h3>A-Aides publiques</h3>
                {% include 'snippets/input_field.html' with field=form.aides_financieres %}

                <h3>B-Réductions d'impôts</h3>
                {% include 'snippets/input_field.html' with field=form.reductions_impots %}

                <h3>C-Exonérations et réductions de cotisations sociales</h3>
                {% include 'snippets/input_field.html' with field=form.exonerations_cotisations_sociales %}

                <h3>D-Crédits d'impôts</h3>
                {% include 'snippets/input_field.html' with field=form.credits_impots %}

                <h3>E-Mécénat</h3>
                {% include 'snippets/input_field.html' with field=form.mecenat_recu %}

                <h3>F-Résultats financiers</h3>
                {% include 'snippets/input_field.html' with field=form.chiffre_affaires %}
                {% include 'snippets/input_field.html' with field=form.benefices_ou_pertes %}
                {% include 'snippets/category_field.html' with field=form.resultats_globaux %}
                {% include 'snippets/input_field.html' with field=form.affectation_benefices %}

                <h2>8° Partenariats</h2>
                <h3>A-Partenariats conclus pour produire des services ou des produits pour une autre entreprise</h3>
                {% include 'snippets/input_field.html' with field=form.partenariats_pour_produire %}

                <h3>B-Partenariats conclus pour bénéficier des services ou des produits d'une autre entreprise</h3>
                {% include 'snippets/input_field.html' with field=form.partenariats_pour_beneficier %}

                <h2>9° Pour les entreprises appartenant à un groupe, transferts commerciaux et financiers entre les entités du groupe</h2>
                <h3>A-Transferts de capitaux tels qu'ils figurent dans les comptes individuels des sociétés du groupe lorsqu'ils présentent une importance significative</h3>
                {% include 'snippets/input_field.html' with field=form.transferts_de_capitaux %}

                <h3>B-Cessions, fusions, et acquisitions réalisées</h3>
                {% include 'snippets/input_field.html' with field=form.cessions_fusions_acquisitions %}

                <h2>10° Environnement</h2>
                <p>Lorsque les données et informations environnementales transmises dans le cadre de cette rubrique ne sont pas éditées au niveau de l'entreprise (i. e. par exemple, au niveau du groupe ou des établissements distincts, le cas échéant), elles doivent être accompagnées d'informations supplémentaires pertinentes pour être mises en perspective à ce niveau.</p>
                <h3>A-Politique générale en matière environnementale</h3>
                {% include 'snippets/input_field.html' with field=form.prise_en_compte_questions_environnementales %}
                
                <h3>B-Economie circulaire</h3>
                <h4>a) Prévention et gestion de la production de déchets</h4>
                {% include 'snippets/input_field.html' with field=form.quantite_de_dechets_dangereux %}

                <h4>b) Utilisation durable des ressources</h4>
                {% include 'snippets/input_field.html' with field=form.consommation_eau %}
                {% include 'snippets/input_field.html' with field=form.consommation_energie %}

                <h3>C-Changement climatique</h3>
                {% include 'snippets/input_field.html' with field=form.postes_emissions_directes_gaz_effet_de_serre %}
                {% include 'snippets/input_field.html' with field=form.bilan_gaz_effet_de_serre %}
                
                {% include "snippets/bdese_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
