{% extends "base.html" %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container fr-pb-8w">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-12 fr-col-md-5">
                <p class="fr-badge fr-badge--info fr-badge--no-icon">phase {{ phase }}</p>
                <h1>{% block titre %}Titre de la phase{% endblock %}</h1>
                <p>{% block intro %}Lorem ipsum dolor sit amet consectetur. Elit semper bibendum imperdiet pharetra tortor id vulputate venenatis. Nunc fringilla cras elementum donec aliquam vitae integer. In turpis fermentum.{% endblock %}</p>
            </div>
            <div class="fr-col-md-2"></div>
            <div class="fr-col-12 fr-col-md-5">
                <div>
                    <img src="{% block illustration %}{% endblock %}" class="fr-responsive-img" alt="illustration" />
                </div>
            </div>
        </div>
    </div>
    <div class="background-light-grey">
        <div class="fr-container fr-py-8w">
            <div class="csrd--width">
                <h2 class="csrd-title--with-icon csrd-requis">Prérequis</h2>
                <ul class="csrd-list">
                    {% block prerequis %}
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
    <div class="fr-container fr-py-8w">
        <div class="csrd--width">
            <h2 class="csrd-title--with-icon csrd-objectif">Objectifs</h2>
            <ul class="csrd-list">
                {% block objectifs %}
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                {% endblock %}
            </ul>
        </div>
    </div>
    <div class="background-light-grey">
        <div class="fr-container fr-py-8w">
            <h2>Étapes à réaliser</h2>
            <div class="fr-grid-row fr-grid-row--gutters">
                {% block etapes %}
                    <div class="fr-col-12 fr-col-md-4">
                        <div class="fr-tile fr-enlarge-link">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        <a href="#">Nom de l'étape</a>
                                    </h3>
                                    <p class="fr-tile__desc">Avec détail ou non</p>
                                    <div class="fr-tile__start">
                                        <p class="fr-badge fr-badge--info fr-badge--no-icon">étape 1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4">
                        <div class="fr-tile fr-enlarge-link">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        <a href="#">Nom de l'étape</a>
                                    </h3>
                                    <p class="fr-tile__desc">Avec détail ou non</p>
                                    <div class="fr-tile__start">
                                        <p class="fr-badge fr-badge--info fr-badge--no-icon">étape 2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4">
                        <div class="fr-tile fr-enlarge-link">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        <a>Nom de l'étape</a>
                                    </h3>
                                    <p class="fr-tile__desc">En construction</p>
                                    <div class="fr-tile__start">
                                        <p class="fr-badge fr-badge--no-icon">étape 3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    {% block optionnel %}
    {% endblock %}
    {% include "snippets/csrd_disclaimer.html" %}
    <div class="csrd-action fr-py-4w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--right">
                <a class="fr-btn" href="{% block etape_1 %}{% url 'reglementations:csrd_etape' entreprise.siren phase 1 %}{% endblock %}">Continuer vers l'étape 1</a>
            </div>
        </div>
    </div>
{% endblock %}
