{% extends "base.html" %}
{% load static %}

{% block title %}Espace CSRD - Introduction à la CSRD{% endblock %}

{% block content %}
    <div class="fr-notice fr-notice--info">
        <div class="fr-container">
            <div class="fr-notice__body">
                <p class="fr-notice__title">
                    Attention :
                </p>
                <p>
                    L’ESRS n’impose pas la manière dont le processus d’évaluation de l’importance relative doit être conçu ou mené par l’entreprise. Lorsque l'entreprise omet un point de données dérivé d'une autre législation de l'UE répertoriée dans l'ESRS 2, annexe B. En effet, aucun processus ne conviendrait à tous les types d’activités économiques, de structure organisationnelle, de localisation des opérations ou de chaînes de valeur en amont et en aval de toutes les entreprises appliquant l’ESRS.
                </p>
            </div>
        </div>
    </div>
    <div class="fr-container fr-py-6w">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-md-5">
                <p class="fr-badge fr-badge--info fr-badge--no-icon fr-badge--sm">Introduction à la CSRD</p>
                <h1>Réaliser le rapport de durabilité</h1>
                <p>
                    <b>
                        En route pour découvrir et réaliser l’ensemble des démarches de réalisation de votre rapport de durabilité de manière didactique et pédagogique.
                    </b>
                </p>
                <button class="fr-btn">
                    C'est parti !
                </button>
            </div>
            <div class="fr-col-md-2"></div>
            <div class="fr-col-12 fr-col-md-5">
                <div>
                    <img src="{% static 'img/Container - Image CSRD.png' %}" class="fr-responsive-img" alt="[À MODIFIER | vide ou texte alternatif de l’image]" />
                </div>
            </div>
        </div>
    </div>
    <div class="background-light-grey">
        <div class="fr-container fr-py-8w">
            <h2 class="csrd-title--with-icon csrd-requis">Prérequis</h2>
            <ul class="csrd-list">
                <li>
                    Avant de démarrer les démarches, nous vous conseillons de vous acculturer sur le sujet en <br>
                    Consultant <a title="Fiche réglementaire de la CSRD" href="{% url 'reglementations:fiche_csrd' %}">la fiche réglementaire de la CSRD</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="fr-container fr-py-8w">
        <h2>Table des matières</h2>
        <div class="csrd-phases">
            <ul>
                <li class="csrd-phase-1">
                    <a href="{% url 'reglementations:csrd_phase' 1 %}">
                        <div class="csrd-phase--title">
                            <span>Phase 1</span>
                            Analyser sa double matérialité
                            <span class="fr-icon-arrow-right-line fr-icon--sm"></span>
                        </div>
                    </a>
                    <ul>
                        <a href="{% url 'reglementations:csrd_etape' 1 1 %}">
                            <li class="step-1">
                                Étape 1 - Comprendre le contexte
                                <span class="fr-icon-arrow-right-line fr-icon--sm"></span>
                            </li>
                        </a>
                        <a href="{% url 'reglementations:csrd_etape' 1 2 %}">
                            <li class="step-2">
                                Étape 2 - Identifier la liste de ses enjeux ESG potentiels
                                <span class="fr-icon-arrow-right-line fr-icon--sm"></span>
                            </li>
                        </a>
                        <li class="locked">
                            Étape 3 - Sélectionner ses enjeux ESG matériels
                            <p class="fr-badge fr-badge--no-icon fr-badge--sm">En construction</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li class="csrd-phase-2">
                    <a href="{% url 'reglementations:csrd_phase' 2 %}">
                        <div class="csrd-phase--title">
                            <span>Phase 2</span>
                            Collecter les données de son entreprise
                            <span class="fr-icon-arrow-right-line fr-icon--sm"></span>
                        </div>
                    </a>
                    <ul>
                        <a href="{% url 'reglementations:csrd_etape' 2 1 %}">
                            <li class="step-1">
                                Étape 1 - Analyser la matérialité des informations élémentaires
                                <span class="fr-icon-arrow-right-line fr-icon--sm"></span>
                            </li>
                        </a>
                        <li class="locked">
                            Étape 2 - Réaliser une analyse d’écart
                            <p class="fr-badge fr-badge--no-icon fr-badge--sm">En construction</p>
                        </li>
                        <li class="locked">
                            Étape 3 - Collecter les données manquantes
                            <p class="fr-badge fr-badge--no-icon fr-badge--sm">En construction</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li class="csrd-phase-3">
                    <a href="{% url 'reglementations:csrd_phase' 3 %}">
                        <div class="csrd-phase--title">
                            <span>Phase 3</span>
                            Rédiger son rapport de durabilité
                            <span class="fr-icon-arrow-right-line fr-icon--sm"></span>
                        </div>
                    </a>
                    <ul>
                        <a href="{% url 'reglementations:csrd_etape' 3 1 %}">
                            <li class="step-1">
                                Étape 1 - Structurer son rapport
                                <span class="fr-icon-arrow-right-line fr-icon--sm"></span>
                            </li>
                        </a>
                        <li class="locked">
                            Étape 2 - Valider son rapport
                            <p class="fr-badge fr-badge--no-icon fr-badge--sm">En construction</p>
                        </li>
                        <li class="locked">
                            Étape 3 - Publier son rapport
                            <p class="fr-badge fr-badge--no-icon fr-badge--sm">En construction</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="csrd-disclaimer">
        <div class="fr-container fr-py-8w">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-6">
                    <p>
                        <b>Attention : </b>
                    </p>
                    <p>
                        L’ESRS n’impose pas la manière dont le processus d’évaluation de l’importance relative doit être conçu ou mené par l’entreprise.
                    </p>
                    <p>
                        Lorsque l'entreprise omet un point de données dérivé d'une autre législation de l'UE répertoriée dans l'ESRS 2, annexe B.
                    </p>
                    <p>
                        En effet, aucun processus ne conviendrait à tous les types d’activités économiques, de structure organisationnelle, de localisation des opérations ou de chaînes de valeur en amont et en aval de toutes les entreprises appliquant l’ESRS.
                    </p>
                </div>
                <div class="fr-col-12 fr-col-md-6">
                    <em>
                        Sources : EFRAG - <a title="European Sustainability Reporting Guidelines 1 - ouvre une nouvelle fenêtre" target="_blank" rel="noopener external" href="https://www.efrag.org/Assets/Download?assetUrl=/sites/webpublishing/SiteAssets/Appendix%202.6%20-%20WP%20on%20draft%20ESRG%201.pdf">European Sustainability Reporting Guidelines 1 Double materiality conceptual guidelines for standard-setting</a>
                    </em>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
