{% extends "base.html" %}

{% load static %}

{% block title %}Sous étape 1/2 : Lister ses enjeux de durabilité - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container csrd-header">
        <div class="csrd-etape ">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 1</p>
            <div class="csrd-etape__title fr-mb-10v">
                Étape 2 - Identification de la liste des enjeux ESG potentiels
            </div>
        </div>
        <h1>Sous étape 1 : Lister ses enjeux de durabilité à partir de l’ESRS 1 AR16</h1>
    </div>
    <div class="fr-container fr-pb-6w">
        <div class="csrd--width">
            <ul class="csrd-list csrd-list--bold">
                <li>Choisissez les questions de durabilité associés aux ESRS qui ont des incidences réels et potentiels appliqués à votre entreprise.</li>
            </ul>
        </div>
    </div>
    <div class="fr-container fr-pb-6w">
        <div class="fr-grid-row fr-grid-row--gutters rse-organizer rse-organizer--in-espace-csrd">
            <div class="fr-col-12">
                <div class="rse-organizer--container">
                    <div class="rse-organizer--header">
                        <h4 class="rse-organizer--title rse-organizer--general">Général</h4>
                    </div>
                    <div class="rse-organizer--content">
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card rse-organizer--card-disabled">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">Obligatoire</p>
                                    <b>ESRS 2 - Informations générales à publier</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-lg-4 fr-col-12">
                <div class="rse-organizer--container rse-organizer--env">
                    <div class="rse-organizer--header">
                        <h4 class="rse-organizer--title">Environnement</h4>
                    </div>
                    <div class="rse-organizer--content">
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">3 Questions de durabilité</p>
                                    <b>ESRS E1 - Changement climatique</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE1"></button>
                                </div>
                            </div>
                        </div>
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">7 Questions de durabilité</p>
                                    <b>ESRS E2 - Pollution</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E2" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE2"></button>
                                </div>
                            </div>
                        </div>
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">7 Questions de durabilité</p>
                                    <b>ESRS E3 - Ressources aquatiques et marines</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E3" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE3"></button>
                                </div>
                            </div>
                        </div>
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">9 Questions de durabilité</p>
                                    <b>ESRS E4 - Biodiversité et écosystèmes</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E4" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE4"></button>
                                </div>
                            </div>
                        </div>
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">3 Questions de durabilité</p>
                                    <b>ESRS E5 - Economie circulaire</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E5" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE5"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-lg-4 fr-col-12">
                <div class="rse-organizer--container rse-organizer--social">
                    <div class="rse-organizer--header">
                        <h4 class="rse-organizer--title">Social</h4>
                    </div>
                    <div class="rse-organizer--content">
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">20 Questions de durabilité</p>
                                    <b>ESRS S1 - Effectifs de l’entreprise</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS1"></button>
                                </div>
                            </div>
                        </div>
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">21 Questions de durabilité</p>
                                    <b>ESRS S2 - Travailleurs de la chaîne de valeurs</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S2" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS2"></button>
                                </div>
                            </div>
                        </div>
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">14 Questions de durabilité</p>
                                    <b>ESRS S3 - Communautés touchées</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S3" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS3"></button>
                                </div>
                            </div>
                        </div>
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">12 Questions de durabilité</p>
                                    <b>ESRS S4 - Consommateurs et utilisateurs finals</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S4" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS4"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-lg-4 fr-col-12">
                <div class="rse-organizer--container rse-organizer--gov">
                    <div class="rse-organizer--header">
                        <h4 class="rse-organizer--title">Gouvernance</h4>
                    </div>
                    <div class="rse-organizer--content">
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card">
                                <div class="rse-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">8 Questions de durabilité</p>
                                    <b>ESRS G1 - Conduite des affaires</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS G1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSG1"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=1 etape_precedente=2 sous_etape_precedente=0 phase_suivante=1 etape_suivante=2 sous_etape_suivante=2 %}
    {% include "snippets/modal_ESRS/ESRS_E1.html" %}
    {% include "snippets/modal_ESRS/ESRS_E2.html" %}
    {% include "snippets/modal_ESRS/ESRS_E3.html" %}
    {% include "snippets/modal_ESRS/ESRS_E4.html" %}
    {% include "snippets/modal_ESRS/ESRS_E5.html" %}
    {% include "snippets/modal_ESRS/ESRS_S1.html" %}
    {% include "snippets/modal_ESRS/ESRS_S2.html" %}
    {% include "snippets/modal_ESRS/ESRS_S3.html" %}
    {% include "snippets/modal_ESRS/ESRS_S4.html" %}
    {% include "snippets/modal_ESRS/ESRS_G1.html" %}
{% endblock %}
