{% extends "base.html" %}

{% load static %}

{% block title %}Sous étape 2/2 : Découvrez les standards internationaux pour compléter votre liste - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container csrd-header">
        <div class="csrd-etape">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 1</p>
            <div class="csrd-etape__title fr-mb-10v">
                Étape 2 - Identifier la liste des enjeux ESG potentiels
            </div>
        </div>
        <h1>Sous étape 2 : Découvrez les standards internationaux pour compléter votre liste</h1>
    </div>
    <div class="fr-container">
        <h6>Quoi faire ?</h6>
        <div class="csrd--width">
            <ul class="csrd-list csrd-list--bold">
                <li>Comparer les questions de durabilité sélectionnées avec les standards internationaux liés à votre secteur d’activité pour affiner vos choix.</li>
            </ul>
            {% if entreprise.secteur_principal %}
                <div class="background-light-grey fr-p-3w fr-mt-6w">
                    <h6>
                        <span class="fr-icon-lightbulb-fill fr-icon--blue"></span>
                        Secteur principal de mon entreprise
                        <button class="fr-btn--tooltip fr-btn" id="button" aria-describedby="tooltip">Information contextuelle</button>
                        <span class="fr-tooltip fr-placement" id="tooltip" role="tooltip" aria-hidden="true">Votre secteur principal a été déterminé grâce au code NAF de votre entreprise.</span>
                    </h6>
                    <p>
                        <p class="fr-badge fr-badge--lg fr-badge--info fr-badge--no-icon">{{ entreprise.secteur_principal }}</p>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="fr-container fr-py-8w csrd-standards">
        <div class="fr-grid-row fr-grid-row--gutters">
            <!-- Carte MSCI-->
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-card fr-card--horizontal fr-card--sm">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h3 class="fr-card__title">
                                Standards MSCI
                            </h3>
                            <div class="fr-card__end">
                                <a href="https://www.msci.com/our-solutions/esg-investing/esg-industry-materiality-map" target="_blank" class="fr-btn fr-icon-external-link-line fr-btn--icon-right">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    <div class="fr-card__header">
                        <div class="fr-card__img">
                            <img class="fr-responsive-img" src="{% static 'img/espace_csrd/MSCI.png' %}" alt="Logo MSCI" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carte GRI-->
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-card fr-card--horizontal fr-card--sm">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h3 class="fr-card__title">
                                Standards GRI
                            </h3>
                            <div class="fr-card__end">
                                <a href="https://www.globalreporting.org/standards/sector-program/" target="_blank" class="fr-btn fr-icon-external-link-line fr-btn--icon-right">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    <div class="fr-card__header">
                        <div class="fr-card__img">
                            <img class="fr-responsive-img" src="{% static 'img/espace_csrd/GRI.png' %}" alt="Logo GRI" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carte SASB-->
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-card fr-card--horizontal fr-card--sm">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h3 class="fr-card__title">
                                Standards SASB
                            </h3>
                            <div class="fr-card__end">
                                <a href="https://sasb.ifrs.org/standards/materiality-finder/find/" target="_blank" class="fr-btn fr-icon-external-link-line fr-btn--icon-right">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    <div class="fr-card__header">
                        <div class="fr-card__img">
                            <img class="fr-responsive-img" src="{% static 'img/espace_csrd/SASB.png' %}" alt="Logo SASB" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=1 etape_precedente=2 sous_etape_precedente=1 phase_suivante=1 etape_suivante=3 sous_etape_suivante=0 %}

{% endblock %}
