{% extends "base.html" %}

{% load static %}

{% block title %}Sous-étape 1/2 : Lister ses enjeux de durabilité - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container csrd-header">
        <div class="csrd-etape ">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 1</p>
            <div class="csrd-etape__title fr-mb-10v">
                Étape 2 - Identification de la liste des enjeux ESG potentiels (1/3)
            </div>
        </div>
        <h1>Sous-étape 1 : Lister ses enjeux de durabilité à partir de l’ESRS 1 AR16</h1>
    </div>
    <div class="fr-container fr-pb-6w">
        <div class="csrd--width">
            <h6>Quoi faire ?</h6>
            <ul class="csrd-list csrd-list--bold">
                <li>Choisissez les enjeux de durabilité associées aux ESRS thématiques qui ont des incidences réelles et potentielles appliquées à votre entreprise.</li>
            </ul>
        </div>
    </div>
    <div class="fr-container fr-pb-6w">
        <div class="fr-grid-row fr-grid-row--gutters esrs-organizer">
            <div class="fr-col-lg-4 fr-col-12">
                <div class="esrs-organizer--container esrs-organizer--env">
                    <div class="esrs-organizer--header">
                        <h4 class="esrs-organizer--title">Environnement</h4>
                    </div>
                    <div class="esrs-organizer--content">
                        <div class="esrs-organizer--esrs">
                            <div class="esrs-organizer--card">
                                <div class="esrs-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">3 Enjeux de durabilité</p>
                                    <b>ESRS E1 - Changement climatique</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE1"></button>
                                </div>
                            </div>
                        </div>
                        <div class="esrs-organizer--esrs">
                            <div class="esrs-organizer--card">
                                <div class="esrs-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">7 Enjeux de durabilité</p>
                                    <b>ESRS E2 - Pollution</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E2" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE2"></button>
                                </div>
                            </div>
                        </div>
                        <div class="esrs-organizer--esrs">
                            <div class="esrs-organizer--card">
                                <div class="esrs-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">7 Enjeux de durabilité</p>
                                    <b>ESRS E3 - Eau et ressources marines</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E3" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE3"></button>
                                </div>
                            </div>
                        </div>
                        <div class="esrs-organizer--esrs">
                            <div class="esrs-organizer--card">
                                <div class="esrs-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">9 Enjeux de durabilité</p>
                                    <b>ESRS E4 - Biodiversité et écosystèmes</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E4" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE4"></button>
                                </div>
                            </div>
                        </div>
                        <div class="esrs-organizer--esrs">
                            <div class="esrs-organizer--card">
                                <div class="esrs-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">3 Enjeux de durabilité</p>
                                    <b>ESRS E5 - Utilisation des ressources et économie circulaire</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E5" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE5"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-lg-4 fr-col-12">
                <div class="esrs-organizer--container esrs-organizer--social">
                    <div class="esrs-organizer--header">
                        <h4 class="esrs-organizer--title">Social</h4>
                    </div>
                    <div class="esrs-organizer--content">
                        <div class="esrs-organizer--esrs">
                            <div class="esrs-organizer--card">
                                <div class="esrs-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">20 Enjeux de durabilité</p>
                                    <b>ESRS S1 - Personnel de l'entreprise</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS1"></button>
                                </div>
                            </div>
                        </div>
                        <div class="esrs-organizer--esrs">
                            <div class="esrs-organizer--card">
                                <div class="esrs-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">21 Enjeux de durabilité</p>
                                    <b>ESRS S2 - Travailleurs de la chaîne de valeur</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S2" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS2"></button>
                                </div>
                            </div>
                        </div>
                        <div class="esrs-organizer--esrs">
                            <div class="esrs-organizer--card">
                                <div class="esrs-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">14 Enjeux de durabilité</p>
                                    <b>ESRS S3 - Communautés affectées</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S3" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS3"></button>
                                </div>
                            </div>
                        </div>
                        <div class="esrs-organizer--esrs">
                            <div class="esrs-organizer--card">
                                <div class="esrs-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">12 Enjeux de durabilité</p>
                                    <b>ESRS S4 - Consommateurs et utilisateurs finaux</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S4" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS4"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-lg-4 fr-col-12">
                <div class="esrs-organizer--container esrs-organizer--gov">
                    <div class="esrs-organizer--header">
                        <h4 class="esrs-organizer--title">Gouvernance</h4>
                    </div>
                    <div class="esrs-organizer--content">
                        <div class="esrs-organizer--esrs">
                            <div class="esrs-organizer--card">
                                <div class="esrs-organizer--card-title">
                                    <p class="fr-badge fr-badge--sm">8 Enjeux de durabilité</p>
                                    <b>ESRS G1 - Conduite des affaires</b>
                                    <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS G1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSG1"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=1 etape_precedente=2 sous_etape_precedente=0 phase_suivante=1 etape_suivante=2 sous_etape_suivante=2 %}
    {% include "snippets/modal_ESRS/ESRS_2.html" %}
    {% include "snippets/modal_ESRS/ESRS_E1.html" %}
    {% include "snippets/modal_ESRS/ESRS_E2.html" %}
    {% include "snippets/modal_ESRS/ESRS_E3.html" %}
    {% include "snippets/modal_ESRS/ESRS_E4.html" %}
    {% include "snippets/modal_ESRS/ESRS_E5.html" %}
    {% include "snippets/modal_ESRS/ESRS_S1.html" %}
    {% include "snippets/modal_ESRS/ESRS_S2.html" %}
    {% include "snippets/modal_ESRS/ESRS_S3.html" %}
    {% include "snippets/modal_ESRS/ESRS_S4.html" %}
    {% include "snippets/modal_ESRS/ESRS_G1.html" %}
{% endblock %}
