{% extends "base.html" %}
{% load static %}

{% block title %}Étape 1/3 : Se référer à un modèle de rapport - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container fr-pt-6w csrd-header">
        <div class="csrd-etape csrd--width">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 3</p>
            <div class="csrd-etape__title">
                Étape 1 - Structurer son rapport
            </div>
            <h1>Sous étape 1 : Se référer à un modèle de rapport</h1>
        </div>
    </div>
    <div class="fr-container">
        <div class="csrd--width">
            <ul class="csrd-list">
                <li>Appuyez-vous sur l’exemple de structure de rapport pour réaliser un premier plan et draft de votre rapport.</li>
            </ul>
            <h2>Exemple de structure de rapport</h2>
        </div>
        <figure class="fr-content-media" role="group" aria-label="Source : CSRD - Appendice F: Exemple de structure de la déclaration ESRS relative à la durabilité (p41)">
            <div class="fr-content-media__img">
                <img class="fr-responsive-img fr-ratio-32x9" src="{% static 'img/espace_csrd/structure-rapport.png' %}" alt="[À MODIFIER - vide ou texte alternatif de l’image]" />
            </div>
            <figcaption class="fr-content-media__caption">Source : CSRD - <a href="{% static 'CSRD/ESRS-1/CSRD-ESRS-1.pdf' %}#%5B%7B%22num%22%3A41%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22XYZ%22%7D%2C20%2C774%2C0%5D" target="_blank" rel="noopener">Appendice F: Exemple de structure de la déclaration ESRS relative à la durabilité</a> (p41)</figcaption>
        </figure>
    </div>
    {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=3 etape_precedente=0 sous_etape_precedente=0 phase_suivante=3 etape_suivante=1 sous_etape_suivante=2 %}
{% endblock %}
