{% extends "base.html" %}

{% block title %}Phase 2/3 : Collecter les données de son entreprise - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container fr-py-6w">
        <div class="csrd-etape">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 2</p>
            <div class="csrd-etape__title">
                Étape 2 - Identification de la liste des enjeux ESG potentiels
            </div>
        </div>
        <h1>Introduction</h1>
        <p>
            Au cours de cette étape, l'entreprise identifie les impacts matériels, les risques et les opportunités liés aux enjeux environnementaux, sociaux et de gouvernance dans ses propres activités et dans la chaine de valeur en amont et en aval.
            Il en résultera une « longue liste » d'impacts, de risques et d'opportunités qui feront l'objet d'une évaluatio net d'une analyse plus approfondies au cours des étapes suivantes.
        </p>
        <h2>Évaluation de l'incidence positive</h2>
        <p>
            Pour les incidences positives, l'importance dépend :
        </p>
        <ul>
            <li>Pour les incidences réelles, de l'ampleur et de l'étendue de l'incidence ; et</li>
            <li>Pour les incidences potentielles, de l'ampleur, de l'étendue et de la probabilité de l'incidence</li>
        </ul>

        <h2>Évaluation de l'incidence négative</h2>
        <p>
            La gravité est déterminée sur la base des facteurs suivants :
        </p>
        <ul>
            <li>L'ampleur</li>
            <li>L'étendue ; et</li>
            <li>Le caractère irrémédiable de l'incidence</li>
        </ul>
        <p>
            Dans le cas d'une incidence négative potentielle sur les droits de l'homme, la gravité de l'incidence l'emporte sur sa probabilité.
        </p>


    </div>
    <div class="background-light-grey">
        <div class="fr-container fr-py-6w">
            <h2>Sous étapes à réaliser</h2>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    <a href="{% url 'reglementations:csrd_sous_etape' 2 1 1 %}">Lister ses enjeux de durabilité à partir de l'ESRS 1 AR 16</a>
                                </h3>
                                <div class="fr-tile__start">
                                    <p class="fr-badge fr-badge--info fr-badge--no-icon">1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    <a href="{% url 'reglementations:csrd_sous_etape' 2 1 2 %}">Compléter sa liste à l'aide des standards internationaux</a>
                                </h3>
                                <div class="fr-tile__start">
                                    <p class="fr-badge fr-badge--info fr-badge--no-icon">2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    <a>Finaliser la liste des enjeux ESG potentiels</a>
                                </h3>
                                <p class="fr-tile__desc">En construction</p>
                                <div class="fr-tile__start">
                                    <p class="fr-badge fr-badge--no-icon">3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=2 etape_precedente=0 sous_etape_precedente=0 phase_suivante=2 etape_suivante=1 sous_etape_suivante=1 %}
{% endblock %}
