{% extends "base.html" %}
{% load static %}

{% block title %}Étape 1/3 : S'inspirer de rapports déjà publiés - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container fr-pt-6w csrd-header">
        <div class="csrd-etape">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 3</p>
            <div class="csrd-etape__title">
                Étape 1 - Structurer son rapport
            </div>
        </div>
        <h1>Sous étape 2 : S'inspirer de rapports déjà publiés</h1>
    </div>
    <div class="fr-container">
        <div class="csrd--width">
            <ul class="csrd-list">
                <li>Appuyez-vous sur les exemples de rapport d’entreprise ci-dessous pour vous guider dans la mise en forme de votre rapport. </li>
            </ul>
            <h2>Exemple de rapports de durabilité d’entreprise déjà en ligne</h2>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col">
                <div class="fr-tile fr-tile--sm fr-enlarge-link">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                                <a href="https://orstedcdn.azureedge.net/-/media/annual-report-2023/orsted-ar-2023.pdf" target="_blank" rel="noopener">Orsted</a>
                            </h3>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <use class="fr-artwork-decorative" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-decorative"></use>
                                <use class="fr-artwork-minor" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-minor"></use>
                                <use class="fr-artwork-major" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-major"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col">
                <div class="fr-tile fr-tile--sm fr-enlarge-link">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                                <a href="https://www.legrandgroup.com/sites/default/files/Documents_PDF_Legrand/Finance/2023/autres/Legrand_DEU_2023_1715702086.pdf" target="_blank" rel="noopener">Legrand</a>
                            </h3>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <use class="fr-artwork-decorative" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-decorative"></use>
                                <use class="fr-artwork-minor" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-minor"></use>
                                <use class="fr-artwork-major" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-major"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col">
                <div class="fr-tile fr-tile--sm fr-enlarge-link">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                                <a href="https://group.bureauveritas.com/sites/g/files/zypfnx196/files/media/document/Bureau-Veritas_Document_Enregistrement_Universel_2023_15.0_Mo.pdf" target="_blank" rel="noopener">Veritas</a>
                            </h3>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <use class="fr-artwork-decorative" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-decorative"></use>
                                <use class="fr-artwork-minor" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-minor"></use>
                                <use class="fr-artwork-major" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-major"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col">
                <div class="fr-tile fr-tile--sm fr-enlarge-link">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                                <a href="https://cdn.urw.com/-/media/Corporate~o~Sites/Unibail-Rodamco-Corporate/Files/Homepage/INVESTORS/Regulated-Information/Registration-Documents/2024_2/20240319-Universal-Registration-Document_FR2.pdf" target="_blank" rel="noopener">UWR</a>
                            </h3>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <use class="fr-artwork-decorative" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-decorative"></use>
                                <use class="fr-artwork-minor" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-minor"></use>
                                <use class="fr-artwork-major" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-major"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col">
                <div class="fr-tile fr-tile--sm fr-enlarge-link">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                                <a href="https://gallery.orange.com/finance?od=8c17d13f-2b5b-4258-b56b-3ece19d40141&om=190a5d48-c9cd-457a-a9fc-8faba398cc0a&v=60876c23-f30f-4e71-a91f-d374c89dcd70#l=row&vp2=true" target="_blank" rel="noopener">Orange</a>
                            </h3>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <use class="fr-artwork-decorative" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-decorative"></use>
                                <use class="fr-artwork-minor" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-minor"></use>
                                <use class="fr-artwork-major" href="{% static 'dsfr'%}/artwork/pictograms/leisure/book.svg#artwork-major"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=3 etape_precedente=1 sous_etape_precedente=1 phase_suivante=0 etape_suivante=0 sous_etape_suivante=0 %}
{% endblock %}
