{% extends "base.html" %}

{% block title %}Étape 1/3 : Comprendre le contexte - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container csrd-header">
        <div class="csrd-etape">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 1</p>
            <div class="csrd-etape__title fr-mb-10v">
                Étape 1 - Comprendre le contexte
            </div>
        </div>
        <h1>Introduction</h1>
    </div>
    <div class="fr-container fr-pb-6w">
        <div class="csrd--width">
            <p>
                Au cours de cette étape, l'entreprise développe une vue d'ensemble de ses activités et relations commerciales, du contexte dans lequel celles-ci se déroulent et de la compréhension de ses principales parties prenantes concernées.
                Cet aperçu fournit des éléments clés à l’entreprise pour identifier ses impacts, ses risques et ses opportunités.
            </p>
        </div>
    </div>
    <div class="background-light-grey">
        <div class="fr-container fr-py-6w">
            <h2>Sous étapes à réaliser</h2>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    <a href="{% url 'reglementations:csrd_sous_etape' entreprise.siren 1 1 1 %}">Activités et relations d'affaires</a>
                                </h3>
                                <div class="fr-tile__start">
                                    <p class="fr-badge fr-badge--info fr-badge--no-icon">1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    <a href="{% url 'reglementations:csrd_sous_etape' entreprise.siren 1 1 2 %}">Contexte réglementaire et benchmark des pairs</a>
                                </h3>
                                <div class="fr-tile__start">
                                    <p class="fr-badge fr-badge--info fr-badge--no-icon">2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    <a href="{% url 'reglementations:csrd_sous_etape' entreprise.siren 1 1 3 %}">Parties prenantes affectées</a>
                                </h3>
                                <div class="fr-tile__start">
                                    <p class="fr-badge fr-badge--info fr-badge--no-icon">3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=1 etape_precedente=0 sous_etape_precedente=0 phase_suivante=1 etape_suivante=1 sous_etape_suivante=1 %}
{% endblock %}
