{% extends "base.html" %}
{% load static %}

{% block title %}Étape 1/3 : Analyser la matérialité des informations élémentaires - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container csrd-header">
        <div class="csrd-etape">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 2</p>
            <div class="csrd-etape__title fr-mb-10v">
                Étape 1 - Analyser la matérialité des informations élémentaires
            </div>
        </div>
        <h1>Sélection des informations importantes (datapoints à reporter)</h1>
    </div>
    <div class="fr-container">
        <div class="csrd--width">
            <ul class="csrd-list csrd-list--bold">
                <li>
                    En vous appuyant sur la liste de vos enjeux ESG prioritaires définis lors de l’analyse de double matérialité, sélectionnez les points de données que vous souhaitez reporter après avoir lu leur définition et le processus de décision.
                </li>
            </ul>
        </div>
        <div class="fr-accordions-group">
            <section class="fr-accordion">
                <h7 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1">
                        <span class="fr-icon-lightbulb-fill"></span>
                        Comment savoir si une information doit être reportée ?
                    </button>
                </h7>
                <div class="fr-collapse" id="accordion-1">
                    <div class="csrd--width">
                        <p>
                            Les informations applicables prescrites par une exigence de publication (catégorie regroupant les points de données), y compris ses points de données, ou des informations spécifiques de l’entité sont publiées lorsque l’entreprise juge, dans le cadre de son évaluation de l’importance des informations, que ces informations sont pertinentes d’un ou de plusieurs des points de vue suivants :
                        </p>
                        <ol>
                            <li>
                                L’intérêt des informations relativement à la question qu’elles visent à décrire ou à expliquer ; ou
                            </li>
                            <li>
                                La capacité des informations à répondre aux besoins des utilisateurs pour leur prise de décision, y compris les besoins des principaux utilisateurs des informations financières à usage général et/ou aux besoins des utilisateurs dont l’intérêt majeur réside dans l’information sur les incidences de l’entreprise.
                            </li>
                        </ol>
                        <p>
                            Il est essentiel de faire une distinction dans l'approche à suivre en ce qui concerne la matérialité de l'information entre les politiques, les actions et les cibles d'une part, et les indicateurs d'autre part.
                        </p>
                        <ul>
                            <li>
                                Politiques, actions et cibles : les entreprises doivent être transparentes sur l’ensemble des exigences de publication et des informations élémentaires. Si les politiques, les actions et les cibles sur les enjeux matériels ne sont pas adoptées, l’entreprise doit le mentionner.
                            </li>
                            <li>
                                Indicateurs : les informations élémentaires prescrites par une exigence de publication doivent être incluses si elles sont jugées matérielles. Les informations peuvent donc être omises si elles ne sont pas considérées matérielles.
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="fr-accordion">
                <h7 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-2">
                        <span class="fr-icon-lightbulb-fill"></span>
                        Typologie des exigences de publication
                    </button>
                </h7>
                <div class="fr-collapse" id="accordion-2">
                    <div class="csrd--width">
                        <p>
                            Il existe 4 types d'exigences de publication regroupant les points de données (datapoints) à reporter :
                        </p>
                        <ul>
                            <li>
                                <b>Gouvernance</b> (GOV)
                                <button class="fr-btn--tooltip fr-btn" aria-describedby="tooltip-1">Information contextuelle</button>
                                <span class="fr-tooltip fr-placement" id="tooltip-1" role="tooltip" aria-hidden="true">Les processus, contrôles et procédures utilisés en matière de gouvernance pour contrôler, gérer et surveiller les incidences, les risques et les opportunités</span>
                            </li>
                            <li>
                                <b>Stratégie</b> (SBM)
                                <button class="fr-btn--tooltip fr-btn" aria-describedby="tooltip-2">Information contextuelle</button>
                                <span class="fr-tooltip fr-placement" id="tooltip-2" role="tooltip" aria-hidden="true">La manière dont la stratégie et le modèle économique de l’entreprise influent sur ses incidences, risques et opportunités importants, y compris la manière dont l’entreprise gère ces incidences, ces risques et ces opportunités.</span>
                            </li>
                            <li>
                                <b>Gestion des incidences, des risques et des opportunités</b> (IRO)
                                <button class="fr-btn--tooltip fr-btn" aria-describedby="tooltip-3">Information contextuelle</button>
                                <span class="fr-tooltip fr-placement" id="tooltip-3" role="tooltip" aria-hidden="true">
                                    Les processus à l’aide desquels l’entreprise :
                                    <ol>
                                        <li>identifie les incidences, les risques et les opportunités et évalue leur importance</li>
                                        <li>gère les questions de durabilité importantes au moyen de politiques et d’actions</li>
                                    </ol>
                                </span>
                            </li>
                            <li>
                                <b>Métriques et cibles</b> (MT)
                                <button class="fr-btn--tooltip fr-btn" aria-describedby="tooltip-4">Information contextuelle</button>
                                <span class="fr-tooltip fr-placement" id="tooltip-4" role="tooltip" aria-hidden="true">Les performances de l’entreprise, y compris les cibles qu’elle a fixées et les progrès accomplis dans leur réalisation</span>
                            </li>
                        </ul>
                        <p>
                            L’ESRS 2 comprend les exigences de publication minimums en ce qui concerne les politiques (MDR-P) et les actions (MDR-A), les exigences de publication minimums en ce qui concerne les métriques (MDR-M) et les cibles (MDR-T).
                        </p>
                    </div>
                </div>
            </section>
            <section class="fr-accordion">
                <h7 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-3">
                        <span class="fr-icon-lightbulb-fill"></span>
                        Processus de décision pour sélectionner une exigence de publication
                    </button>
                </h7>
                <div class="fr-collapse" id="accordion-3">
                    <a href="{% static 'img/espace_csrd/processus-decision-point-de-donnee.svg' %}">
                        <figure class="fr-content-media" role="group" aria-label="Schéma du processus de décision permettant de déterminer si un point de donnée doit être publié ou non">
                            <div class="fr-content-media__img">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/espace_csrd/processus-decision-point-de-donnee.svg' %}" alt="Schéma du processus de décision permettant de déterminer si un point de donnée doit être publié ou non" />
                            </div>
                        </figure>
                    </a>
                </div>
            </section>
        </div>
        <div class="fr-container fr-pt-4w">
            <h6>Liste des exigences de publication par ESRS</h6>
            <div class="fr-grid-row fr-grid-row--gutters rse-organizer rse-organizer--in-espace-csrd rse-organizer--exigences">
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="rse-organizer--container rse-organizer--env">
                        <div class="rse-organizer--header">
                            <h4 class="rse-organizer--title">Environnement</h4>
                        </div>
                        <div class="rse-organizer--content">
                            <div class="rse-organizer--esrs">
                                <div class="rse-organizer--card">
                                    <div class="rse-organizer--card-title">
                                        <b>ESRS E1 - Changement climatique</b>
                                        <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE1"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="rse-organizer--esrs">
                                <div class="rse-organizer--card">
                                    <div class="rse-organizer--card-title">
                                        <b>ESRS E2 - Pollution</b>
                                        <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E2" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE2"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="rse-organizer--esrs">
                                <div class="rse-organizer--card">
                                    <div class="rse-organizer--card-title">
                                        <b>ESRS E3 - Ressources aquatiques et marines</b>
                                        <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E3" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE3"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="rse-organizer--esrs">
                                <div class="rse-organizer--card">
                                    <div class="rse-organizer--card-title">
                                        <b>ESRS E4 - Biodiversité et écosystèmes</b>
                                        <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E4" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE4"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="rse-organizer--esrs">
                                <div class="rse-organizer--card">
                                    <div class="rse-organizer--card-title">
                                        <b>ESRS E5 - Economie circulaire</b>
                                        <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS E5" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE5"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="rse-organizer--container rse-organizer--social">
                        <div class="rse-organizer--header">
                            <h4 class="rse-organizer--title">Social</h4>
                        </div>
                        <div class="rse-organizer--content">
                            <div class="rse-organizer--esrs">
                                <div class="rse-organizer--card">
                                    <div class="rse-organizer--card-title">
                                        <b>ESRS S1 - Effectifs de l’entreprise</b>
                                        <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS1"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="rse-organizer--esrs">
                                <div class="rse-organizer--card">
                                    <div class="rse-organizer--card-title">
                                        <b>ESRS S2 - Travailleurs de la chaîne de valeurs</b>
                                        <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S2" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS2"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="rse-organizer--esrs">
                                <div class="rse-organizer--card">
                                    <div class="rse-organizer--card-title">
                                        <b>ESRS S3 - Communautés touchées</b>
                                        <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S3" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS3"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="rse-organizer--esrs">
                                <div class="rse-organizer--card">
                                    <div class="rse-organizer--card-title">
                                        <b>ESRS S4 - Consommateurs et utilisateurs finals</b>
                                        <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS S4" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS4"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="rse-organizer--container rse-organizer--gov">
                        <div class="rse-organizer--header">
                            <h4 class="rse-organizer--title">Gouvernance</h4>
                        </div>
                        <div class="rse-organizer--content">
                            <div class="rse-organizer--esrs">
                                <div class="rse-organizer--card">
                                    <div class="rse-organizer--card-title">
                                        <b>ESRS G1 - Conduite des affaires</b>
                                        <button href="#" class="fr-btn fr-btn--sm fr-icon-edit-fill" title="Ouvre la modale d'information sur l'ESRS G1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSG1"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "snippets/modal_ESRS/ESRS_E1.html" %}
    {% include "snippets/modal_ESRS/ESRS_E2.html" %}
    {% include "snippets/modal_ESRS/ESRS_E3.html" %}
    {% include "snippets/modal_ESRS/ESRS_E4.html" %}
    {% include "snippets/modal_ESRS/ESRS_E5.html" %}
    {% include "snippets/modal_ESRS/ESRS_S1.html" %}
    {% include "snippets/modal_ESRS/ESRS_S2.html" %}
    {% include "snippets/modal_ESRS/ESRS_S3.html" %}
    {% include "snippets/modal_ESRS/ESRS_S4.html" %}
    {% include "snippets/modal_ESRS/ESRS_G1.html" %}
    {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=2 etape_precedente=0 sous_etape_precedente=0 phase_suivante=3 etape_suivante=0 sous_etape_suivante=0 %}
{% endblock %}
