{% extends "reglementations/espace_csrd/base_phase.html" %}
{% load static %}

{% block title %}Phase 2/3 : Collecter les données de son entreprise - CSRD - Portail RSE{% endblock %}

{% block titre %}Collecter les données de son entreprise{% endblock %}

{% block intro %}
    Après avoir déterminé les enjeux ESG matériels pour votre entreprise, vous devez déterminer les indicateurs sur lesquels vous allez reporter, puis, collecter les données exigées.
{% endblock %}

{% block illustration %}
    {% static 'img/espace_csrd/phase2.png' %}
{% endblock %}

{% block prerequis %}
    <li>
        Avoir déterminé ses enjeux de durabilité matériels dans
        <a href="{% url 'reglementations:csrd_phase' entreprise.siren 1 %}" target="_self">la phase 1</a>
    </li>
{% endblock %}

{% block objectifs %}
    <li>Savoir sur quelles données vous devez reporter</li>
    <li>Rassembler l'ensemble des données exigées pour constituer votre rapport</li>
{% endblock %}

{% block etapes %}
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                        <a href="{% url 'reglementations:csrd_etape' entreprise.siren 2 1 %}">Analyser la matérialité des informations élémentaires</a>
                    </h3>
                    <p class="fr-tile__desc">(Points de données ou data points)</p>
                    <div class="fr-tile__start">
                        <p class="fr-badge fr-badge--info fr-badge--no-icon">étape 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                        <a>Réaliser une analyse d'écart</a>
                    </h3>
                    <p class="fr-tile__desc">En construction</p>
                    <div class="fr-tile__start">
                        <p class="fr-badge fr-badge--no-icon">étape 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                        <a>Collecter les données manquantes</a>
                    </h3>
                    <p class="fr-tile__desc">En construction</p>
                    <div class="fr-tile__start">
                        <p class="fr-badge fr-badge--no-icon">étape 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block etape_1 %}{% url 'reglementations:csrd_etape' entreprise.siren 2 1 %}{% endblock %}
