{% extends "base.html" %}

{% block title %}Étape 2/3 : Identifier la liste de ses enjeux ESG - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container csrd-header">
        <div class="csrd-etape">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 1</p>
            <div class="csrd-etape__title fr-mb-10v">
                Étape 2 - Identifier la liste de ses enjeux ESG
            </div>
        </div>
        <h1>Introduction</h1>
    </div>
    <div class="fr-container fr-pb-6w">
        <div class="csrd--width">
            <p>
                Au cours de cette étape, l'entreprise identifie les impacts matériels, les risques et les opportunités liés aux enjeux environnementaux, sociaux et de gouvernance dans ses propres activités et dans la chaîne de valeur en amont et en aval.
                Il en résultera une « longue liste » d'impacts, de risques et d'opportunités qui feront l'objet d'une évaluation et d'une analyse plus approfondies au cours des étapes suivantes.
            </p>
        </div>
    </div>
    <div class="background-light-grey">
        <div class="fr-container fr-py-6w">
            <h2>Sous-étapes à réaliser</h2>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    <a href="{% url 'reglementations:csrd_sous_etape' entreprise.siren 1 2 1 %}">Consulter la liste des enjeux de durabilité issue de l'ESRS 1 AR 16</a>
                                </h3>
                                <div class="fr-tile__start">
                                    <p class="fr-badge fr-badge--info fr-badge--no-icon">1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    <a href="{% url 'reglementations:csrd_sous_etape' entreprise.siren 1 2 2 %}">Compléter sa liste à l'aide des standards internationaux</a>
                                </h3>
                                <div class="fr-tile__start">
                                    <p class="fr-badge fr-badge--info fr-badge--no-icon">2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    <a>Finaliser la liste de ses enjeux ESG</a>
                                </h3>
                                <p class="fr-tile__desc">En construction</p>
                                <div class="fr-tile__start">
                                    <p class="fr-badge fr-badge--no-icon">3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=1 etape_precedente=1 sous_etape_precedente=3 phase_suivante=1 etape_suivante=2 sous_etape_suivante=1 %}
{% endblock %}
