{% extends "base.html" %}

{% block title %}Phase 2/3 : Collecter les données de son entreprise - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container fr-py-6w csrd-header">
        <div class="csrd--width">
            <div class="csrd-etape">
                <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 2</p>
                <div class="csrd-etape__title fr-mb-10v">
                    Étape 1 - Analyse de la matérialité des informations élémentaires
                </div>
            </div>
            <h1>Sous étape 1 - Comment savoir si une information doit être reportée ?</h1>
            <h6><span class="fr-icon-lightbulb-fill fr-icon--blue"></span> Explication</h6>

            <p>
                Les informations applicables prescrites par une exigence de publication (Catégorie regroupant les points de données), y compris ses points de données, ou des informations spécifiques de l’entité sont publiées lorsque l’entreprise juge, dans le cadre de son évaluation de l’importance des informations, que ces informations sont pertinentes d’un ou de plusieurs des points de vue suivants :
            </p>
            <ol>
                <li>
                    L’intérêt des informations relativement à la question qu’elles visent à décrire ou à expliquer ; ou
                </li>
                <li>
                    La capacité des informations à répondre aux besoins des utilisateurs pour leur prise de décision, y compris les besoins des principaux utilisateurs des informations financières à usage général et/ou aux besoins des utilisateurs dont l’intérêt majeur réside dans l’information sur les incidences de l’entreprise
                </li>
            </ol>

            <p>
                Il est essentiel de faire une distinction dans l'approche à suivre en ce qui concerne la matérialité de l'information entre les politiques, les actions et les cibles d'une part, et les indicateurs d'autre part.
            </p>

            <ul>
                <li>
                    Politiques, actions et cibles : les entreprises doivent être transparentes sur l’ensemble des exigences de publication et des informations élémentaires. Si les politiques, les actions et les cibles sur les enjeux matériels ne sont pas adoptées, l’entreprise doit le mentionner.
                </li>
                <li>
                    Indicateurs : les informations élémentaires prescrites par une exigence de publication doivent être incluses si elles sont jugées matérielles. Les informations peuvent donc être omises si elles ne sont pas considérées matérielles.
                </li>
            </ul>
        </div>
        {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=2 etape_precedente=0 sous_etape_precedente=0 phase_suivante=2 etape_suivante=1 sous_etape_suivante=2 %}

{% endblock %}
