{% extends "reglementations/espace_csrd/base_phase.html" %}
{% load static %}

{% block title %}Phase 1/3 : Analyser la double matérialité - CSRD - Portail RSE{% endblock %}

{% block bandeau %}
    {% include "snippets/csrd_disclaimer_bandeau.html" %}
{% endblock %}

{% block titre %}Analyser la double matérialité{% endblock %}

{% block intro %}
    L’analyse de double matérialité permet d’évaluer la matérialité d’un enjeu de durabilité du point de vue de l'impact (matérialité d’impact) et du point de vue financier (matérialité financière) pour déterminer les exigences de publication (points de données ou data points à reporter).
{% endblock %}

{% block illustration %}
    {% static 'img/espace_csrd/phase1.png' %}
{% endblock %}

{% block prerequis %}
    <li>
        Comprendre les concepts d’analyse de double matérialité, matérialité d’impact et matérialité financière :
        <a href="#definifions" target="_self">Voir les définitions</a>
    </li>
{% endblock %}

{% block objectifs %}
    <li>Évaluer la matérialité d’un enjeu de durabilité du point de vue de l’impact(matérialité d’impact) et du point de vue financier (matérialité financière) pour déterminer les exigences de publication (point de données ou data points à reporter).</li>
{% endblock %}

{% block etapes %}
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                        <a href="{% url 'reglementations:csrd_etape' entreprise.siren 1 1 %}">Comprendre le contexte</a>
                    </h3>
                    <div class="fr-tile__start">
                        <p class="fr-badge fr-badge--info fr-badge--no-icon">étape 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                        <a href="{% url 'reglementations:csrd_etape' entreprise.siren 1 2 %}">Identifier la liste de ses enjeux ESG</a>
                    </h3>
                    <div class="fr-tile__start">
                        <p class="fr-badge fr-badge--info fr-badge--no-icon">étape 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                        <a href="{% url 'reglementations:csrd_etape' entreprise.siren 1 3 %}">Sélectionner ses enjeux ESG matériels</a>
                    </h3>
                    <div class="fr-tile__start">
                        <p class="fr-badge fr-badge--info fr-badge--no-icon">étape 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block optionnel %}
    <div class="fr-container fr-py-8w">
        <h2 id="definifions">Définitions</h2>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-md-6">
                <div>
                    <img src="{% static 'img/espace_csrd/double-materialite.png' %}" class="fr-responsive-img" alt="illustration de la double matérialité comme intersection entre la matérialité financière et la matérialité d'impact">
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-6">
                <h3>Qu'est-ce que la double matérialité ?</h3>
                <p>
                    La double matérialité est un concept qui fournit des critères permettant de déterminer si une information de durabilité doit être incluse dans le rapport de durabilité de l'entreprise.
                    La double matérialité est l'union (en termes mathématiques, c'est-à-dire l'union de deux ensembles, et non l'intersection) de la matérialité de l'impact et de la matérialité financière.
                    Une information de durabilité répond donc aux critères de double matérialité si elle est significative du point de vue de l’impact ou du point de vue financier ou des deux.
                </p>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <h3>La matérialité du point de vue de l'impact (ou la matérialité d'impact)</h3>
                <p>
                    Un enjeu de durabilité est matériel du point de vue de l’impact (matérialité d’impact) lorsqu’elle a trait aux impacts positifs ou négatifs, réels ou potentiels, de l’entreprise sur la population ou l’environnement à court, moyen ou long terme.
                    Les impacts comprennent ceux liés aux activités propres de l’entreprise et à sa chaîne de valeur en amont et en aval, y compris par l’intermédiaire de ses produits et services, ainsi que de ses relations d’affaires.
                    Les relations d’affaires peuvent intervenir aussi bien en amont qu’en aval de la chaîne de valeur de l’entreprise et ne se limitent pas aux relations contractuelles directes.
                </p>
                <p>
                    Dans ce contexte, les impacts sur la population ou l’environnement comprennent les impacts liés aux questions environnementales, sociales et de gouvernance.
                </p>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <h3>La matérialité du point de vue financier (ou la matérialité financière)</h3>
                <p>
                    L’évaluation de la matérialité du point de vue financier correspond à l’identification des informations considérées comme matérielles pour les principaux utilisateurs des informations financières à usage général dans le cadre de prises de décisions relatives à l’octroi de ressources à l’entité.
                    En particulier, des informations sont considérées comme matérielles pour les principaux utilisateurs des rapports financiers à usage général si on peut raisonnablement s’attendre à ce que leur omission, leur inexactitude ou leur obscurcissement influence les décisions que prennent ces utilisateurs sur la base de l'état de durabilité.
                </p>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <p>
                    🔎 Pour aller plus loin :
                    <a href="{% static 'CSRD/ESRS-1/CSRD-ESRS-1.pdf' %}#%5B%7B%22num%22%3A9%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22XYZ%22%7D%2C20%2C235%2C0%5D" target="_blank" rel="noopener">voir ESRS 1 - 3. La double matérialité, fondement de la publication d’informations en matière de durabilité</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
