{% extends "base.html" %}
{% load static %}

{% block title %}Sous-étape 2/3 : Évaluer la matérialité financière - CSRD - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/csrd_menu.html" %}
    <div class="fr-container csrd-header">
        <div class="csrd-etape ">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">phase 1</p>
            <div class="csrd-etape__title fr-mb-10v">
                Étape 3 - Sélectionner les enjeux ESG matériels (2/3)
            </div>
        </div>
        <h1>Sous-étape 2 : Évaluer la matérialité financière</h1>
    </div>
    <div class="fr-container">
        <div class="csrd--width">
            <h6>Quoi faire ?</h6>
            <p>
                <ul class="csrd-list csrd-list--bold">
                    <li>Reprenez vos enjeux ESG et évaluez la matérialité financière</li>
                </ul>
            </p>
            <h6>1. Comment évaluer sa matérialité financière ?</h6>
            <p>
                Un enjeu de durabilité est importante du point de vue financier si elle produit des incidences financières importantes sur l’entreprise, ou si l’on peut raisonnablement s’attendre à ce qu’elle en produise.
                Tel est le cas lorsqu’un enjeu de durabilité engendre des risques ou opportunités qui ont une influence importante, ou dont on peut raisonnablement s’attendre à ce qu’elle ait une influence importante, sur le développement, la position financière, les résultats financiers et les flux de trésorerie d’une entreprise ainsi que sur son accès au financement ou le coût du capital à court, moyen et long terme.
                Les risques et les opportunités peuvent découler d’événements passés ou futurs.
                L’importance du point de vue financier d’un enjeu de durabilité ne se limite pas aux questions qui dépendent de la volonté de l’entreprise, mais concerne également les informations sur les risques et opportunités importants imputables aux relations d’affaires, au-delà du périmètre de consolidation utilisé dans la préparation des états financiers.
            </p>
            <p>
                Les dépendances à l’égard des ressources naturelles, humaines et sociales peuvent être source d’opportunités ou de risques financiers.
                Les dépendances peuvent produire deux types d’effets :
                <ul>
                    <li>
                        Elles peuvent influencer la capacité de l’entreprise à continuer d’utiliser ou d’obtenir les ressources dont elle a besoin dans ses processus, ainsi que la qualité et la tarification de ces ressources ; et
                    </li>
                    <li>
                        Elles peuvent influencer la capacité de l’entreprise à s’appuyer sur les relations dont elle a besoin dans ses processus dans des conditions acceptables.
                    </li>
                </ul>
            </p>
        </div>
        <h6>Outils et bonnes pratiques</h6>
        <div class="fr-accordions-group">
            <section class="fr-accordion">
                <h7 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1">
                        <span class="fr-icon-lightbulb-fill"></span>
                        Processus de décision principal de la double matérialité
                    </button>
                </h7>
                <div class="fr-collapse" id="accordion-1">
                    <img class="fr-responsive-img" src="{% static 'img/espace_csrd/processus-decision-double-materialite.svg' %}" alt="Schéma décrivant le processus de décision principal de la double matérialité" />
                </div>
            </section>
            <section class="fr-accordion">
                <h7 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-2">
                        <span class="fr-icon-lightbulb-fill"></span>
                        Voir des exemples d'incidences et dépendances
                    </button>
                </h7>
                <div class="fr-collapse" id="accordion-2">
                    <ul class="csrd--width">
                        <li>
                            Exemple 1 : Lorsque le modèle économique de l’entreprise dépend d’une ressource naturelle – l’eau, par exemple –, il est susceptible d’être affecté par tout changement intervenant dans la qualité, la disponibilité et la tarification de cette ressource.
                        </li>
                        <li>
                            Exemple 2 : Lorsque les activités de l’entreprise entraînent des incidences négatives, par exemple sur les communautés locales, ces activités pourraient être soumises à une réglementation publique plus stricte et/ou l’incidence pourrait avoir des conséquences sur la réputation.
                            Celles-ci ont une incidence négative sur la marque de l’entreprise, qui peut se trouver confrontée à des coûts de recrutement plus élevés.
                        </li>
                        <li>
                            Exemple 3 : Lorsque les partenaires commerciaux de l’entreprise font face à des risques importants en matière de durabilité, l’entreprise pourrait être exposée elle aussi aux conséquences qui en découlent.
                        </li>
                    </ul>
                </div>
            </section>
            <section class="fr-accordion">
                <h7 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-3">
                        <span class="fr-icon-lightbulb-fill fr-icon--blue"></span>
                        Documents sources
                    </button>
                </h7>
                <div class="fr-collapse" id="accordion-3">
                    <ul>
                        <li>Définition : CSRD - <a href="{% static 'CSRD/ESRS-1/CSRD-ESRS-1.pdf' %}#%5B%7B%22num%22%3A13%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22XYZ%22%7D%2C20%2C694%2C0%5D" target="_blank" rel="noopener">ESRS 1 - 3.5. Importance du point de vue financier</a></li>
                        <li>Exemple : EFRAG - <a href="https://www.efrag.org/Assets/Download?assetUrl=/sites/webpublishing/SiteAssets/Appendix%202.6%20-%20WP%20on%20draft%20ESRG%201.pdf" target="_blank" rel="noopener">European Sustainability Reporting Guidelines 1 Double materiality conceptual guidelines for standard-setting</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    {% include "snippets/csrd_precedent_suivant.html" with phase_precedente=1 etape_precedente=3 sous_etape_precedente=1 phase_suivante=1 etape_suivante=3 sous_etape_suivante=3 %}
{% endblock %}
