{% extends "reglementations/espace_csrd/base_phase.html" %}
{% load static %}

{% block title %}Phase 3/3 : Rapport de durabilité - CSRD - Portail RSE{% endblock %}

{% block titre %}Rapport de durabilité{% endblock %}

{% block intro %}
    Réaliser son rapport en étant guidé pas à pas depuis sa structure à sa publication.
{% endblock %}

{% block illustration %}
    {% static 'img/espace_csrd/phase3.png' %}
{% endblock %}

{% block prerequis %}
    <li>
        Avoir reporté l'ensemble de vos données dans
        <a href="{% url 'reglementations:csrd_phase' 2 %}" target="_self">la phase 2</a>
    </li>
{% endblock %}

{% block objectifs %}
    <li>Savoir comment structurer et mettre en valeur votre rapport</li>
    <li>Savoir comment valider et publier votre rapport</li>
{% endblock %}

{% block etapes %}
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                        <a href="{% url 'reglementations:csrd_sous_etape' 3 1 1 %}">Structurer son rapport</a>
                    </h3>
                    <div class="fr-tile__start">
                        <p class="fr-badge fr-badge--info fr-badge--no-icon">étape 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                        <a>Valider son rapport</a>
                    </h3>
                    <p class="fr-tile__desc">En construction</p>
                    <div class="fr-tile__start">
                        <p class="fr-badge fr-badge--no-icon">étape 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                        <a>Publier son rapport</a>
                    </h3>
                    <p class="fr-tile__desc">En construction</p>
                    <div class="fr-tile__start">
                        <p class="fr-badge fr-badge--no-icon">étape 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block etape_1 %}{% url 'reglementations:csrd_sous_etape' 3 1 1 %}{% endblock %}
