[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.1.5"
gunicorn = "~=23.0.0"
requests = "~=2.32.0"
django-weasyprint = "~=2.3.0"
psycopg = "~=3.2.1"
dj-database-url = "~=2.3.0"
whitenoise = "~=6.8.2"
sentry-sdk = "~=2.19.2"
django-vite = "~=3.0.5"
django-anymail = {extras = ["sendinblue"], version = "~=10.1"}
python-dateutil = "~=2.9.0"
django-hosts = "~=6.0"
# note on django-csp: using v4, v3 conf will soon be incompatible
django-csp= "~=4.0b1"
sib-api-v3-sdk = "~=7.6.0"
openpyxl = "~=3.1.5"

[dev-packages]
pytest-django = "*"
pytest-mock = "*"
freezegun = "*"
pre-commit = "*"
honcho = "*"
django-debug-toolbar = "*"
exceptiongroup = {version = "~=1.2.2", markers="python_version < '3.13'"}

[requires]
python_version = "3.12.8"
