{% load geolocalisation %}
{% load filters %}
{% load static %}

<div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-10">
            <div class="fr-modal__body">
                <div class="fr-modal__header">
                    <button aria-controls="htmx-modal-indicateur" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
                </div>
                <div class="fr-modal__content">
                    <h2 id="htmx-modal-indicateur-title" class="fr-modal__title">{{ indicateur_schema.titre }}</h2>
                    <p>{{ indicateur_schema.description }}</p>
                    <p><a href="{{ exigence_de_publication.url_infos }}#{{ indicateur_schema.ancre }}" target="_blank" rel="noopener external" class="fr-link fr-icon-information-line fr-link--icon-left">En savoir plus sur cet indicateur</a></p>

                    <form id="form-indicateur" method="post" action="{% url 'vsme:indicateur_vsme' rapport_vsme.id indicateur_schema_id %}"
                          hx-post="{% url 'vsme:indicateur_vsme' rapport_vsme.id indicateur_schema_id %}"
                          hx-target="#htmx-modal-indicateur"
                          hx-swap="morph:innerHTML">
                        {% csrf_token %}

                        {% if multiform.preremplissage %}
                            <div class="fr-callout fr-callout--green-menthe">
                                <p class="fr-callout__text">
                                    Cet indicateur a été prérempli avec les données issues de <a href="{{ multiform.preremplissage.source.url }}" target="_blank" rel="noopener external" class="fr-link">{{ multiform.preremplissage.source.nom }}</a>.
                                    Vérifiez et complétez éventuellement les informations ci-dessous.
                                </p>
                            </div>
                        {% endif %}

                        {% for form in multiform.forms %}
                            {% if form.indicator_type == "table" or form.indicator_type == "table_lignes_fixes" %}
                                {{ form.management_form }}
                                <table class="indicateur-tableau">
                                    <caption>
                                        {{ form.label }}
                                        {% if form.description %}
                                            <p class="fr-text--xs">{{ form.description }}</p>
                                        {% endif %}
                                        {% if form.non_form_errors %}
                                            <p class="fr-error-text">
                                                {% for error in form.non_form_errors %}
                                                    {{ error|escape }}
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </caption>
                                    <thead>
                                        {% if form.indicator_type == "table_lignes_fixes" %}
                                            <!-- Colonne des en-têtes de ligne -->
                                            <th scope="col"></th>
                                        {% endif %}
                                        {% for field in form.0 %}
                                            {% if field.name != "DELETE" %}
                                                <th scope="col">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}
                                                        <span class="fr-hint-text">{{ field.help_text|safe }}</span>
                                                    </label>
                                                </th>
                                            {% endif %}
                                        {% endfor %}
                                        {% if form.indicator_type == "table" %}
                                            <!-- Colonne des boutons de suppression de ligne -->
                                            <th>Supprimer</th>
                                        {% endif %}
                                    </thead>
                                    <tbody>
                                        {% for form_table in form %}
                                            <tr>
                                                {% if form.indicator_type == "table_lignes_fixes" %}
                                                    <!-- En-tête de ligne -->
                                                    <td>{% with row=form.rows|index:forloop.counter0 %}{{ row.label }}{% endwith %}</td>
                                                {% endif %}
                                                {% for field in form_table %}
                                                    {% if field.name != "DELETE" %}
                                                        <td class="indicateur-cellule
                                                                   {% if field|widget_type == 'RadioSelect' %}indicateur-cellule--flex-container{% endif %}
                                                                   {% if field.field.geolocalisation and not field.errors %}indicateur-cellule--geolocalisation{% endif %}">
                                                            {% if field.field.auto_id %}
                                                                {{ field.value }}
                                                                {{ field.as_hidden }}
                                                            {% elif field.field.is_computed %}
                                                                {{ field.value|default_if_none:"<span class='fr-badge fr-badge--sm'>auto</span>" }}
                                                                <img id="htmx-indicator-{{ field.name }}-{{ forloop.parentloop.counter0 }}" src="{% static 'img/spinner.svg' %}" alt="Spinner d'attente" height="30em" class="htmx-indicator">
                                                            {% else %}
                                                                {{ field }}
                                                                {% if field.field.geolocalisation and field.value and not field.errors %}
                                                                    <span>
                                                                        <a class="fr-btn fr-icon-map-pin-2-line fr-btn--tertiary-no-outline" title="Voir le site - nouvel onglet" href="{% url_geolocalisation field.value %}" target="_blank" rel="noopener external" class="fr-link">Voir</a>
                                                                    </span>
                                                                {% endif %}
                                                                {% if field.errors %}
                                                                    <p id="{{ field.name }}-error-desc-error" class="fr-error-text">
                                                                        {% for error in field.errors %}
                                                                            {{ error|escape }}
                                                                        {% endfor %}
                                                                    </p>
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if form.indicator_type == "table" %}
                                                    <!-- Bouton de suppression de ligne -->
                                                    <td class="indicateur-cellule">
                                                        <button type="submit" name="supprimer-ligne" value="{{ form_table.DELETE.html_name }}" class="fr-btn fr-icon-delete-line fr-btn--tertiary-no-outline" title="Supprimer">Supprimer</button>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if form.indicator_type == "table" %}
                                    <!-- Bouton d'ajout de ligne -->
                                    <button type="submit" name="ajouter-ligne" value="on" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-circle-line fr-mt-1w">Ajouter une ligne</button>
                                {% endif %}
                            {% else %}
                                {% for field in form %}
                                    {% if field.field.is_computed %}
                                        <div class="fr-input-group">
                                            <label class="fr-label" for="{{ field.id_for_label }}">{{ field.label }}
                                                <span class="fr-hint-text">{{ field.help_text|safe }}</span>
                                            </label>
                                            <div class="fr-col-12 {% if widget_type == 'NumberInput' %}fr-col-sm-2{% endif %}">
                                                <output id="{{ field.id_for_label }}">{{ field.value|default_if_none:"<p class='fr-badge fr-badge--sm'>auto</p>" }}</output>
                                            </div>
                                            <img id="htmx-indicator-{{ field.name }}" src="{% static 'img/spinner.svg' %}" alt="Spinner d'attente" height="30em" class="htmx-indicator">
                                    {% else %}
                                        {% include 'snippets/field.html' %}
                                    {% endif %}
                                    {% if field.name == "non_pertinent" %}
                                        <div class="fr-my-2w"></div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>
                <div class="fr-modal__footer">
                    <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                        <button type="submit" name="enregistrer" form="form-indicateur" class="fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left">Enregistrer</button>
                        <button aria-controls="htmx-modal-indicateur" class="fr-btn fr-btn--secondary">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
