<div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
            <div class="fr-modal__body">
                <div class="fr-modal__header">
                    <button aria-controls="htmx-modal-indicateur" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
                </div>
                <div class="fr-modal__content">
                    <h2 id="htmx-modal-indicateur-title" class="fr-modal__title">{{ indicateur_schema.titre }}</h2>

                    <p><a href="{{ exigence_de_publication.url_info }}" class="fr-link">En savoir plus sur les indicateurs demandés</a></p>

                    <p>{{ indicateur_schema.description }}</p>

                    <form id="form-indicateur" method="post" action="{% url 'vsme:indicateur_vsme' rapport_vsme.id indicateur_schema_id %}"
                          hx-post="{% url 'vsme:indicateur_vsme' rapport_vsme.id indicateur_schema_id %}"
                          hx-target="#htmx-modal-indicateur">
                        {% csrf_token %}

                        {% for form in multiform.forms %}
                            {% if form.indicator_type != "table" %}
                                {% for field in form %}
                                    {% include 'snippets/field.html' %}
                                {% endfor %}

                            {% else %}
                                {{ form.management_form }}
                                {% if form.non_form_errors %}
                                    <p class="fr-error-text">
                                        {% for error in form.non_form_errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                                <table>
                                    <thead>
                                        {% for field in form.0 %}
                                            <th>{{ field.label_tag }}</th>
                                        {% endfor %}
                                    </thead>
                                    <tbody>
                                        {% for form_table in form %}
                                            <tr>
                                                {% for field in form_table %}
                                                    <td>
                                                        {% if field.name == "DELETE" %}
                                                            <button type="submit" name="supprimer-ligne" value="{{ field.html_name }}" class="fr-btn fr-btn--secondary">Supprimer</button>
                                                        {% else %}
                                                            {{ field }}
                                                            {% if field.errors %}
                                                                <p id="{{ field.name }}-error-desc-error" class="fr-error-text">
                                                                    {% for error in field.errors %}
                                                                        {{ error|escape }}
                                                                    {% endfor %}
                                                                </p>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <button type="submit" name="ajouter-ligne" value="on" class="fr-btn fr-btn--secondary">Ajouter une ligne</button>
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>
                <div class="fr-modal__footer">
                    <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                        <button type="submit" name="enregistrer" form="form-indicateur" class="fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left">Enregistrer</button>
                        <button aria-controls="htmx-modal-indicateur" class="fr-btn fr-btn--secondary">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
