{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}

            <div class="fr-col">
                <h1>Environnement</h1>
                {% include "snippets/tuile_exigence_publication.html" with titre="B3 – Énergie et émissions de gaz à effet de serre" categorie="env" url="https://portail-rse.beta.gouv.fr/vsme/b3-energie-et-emissions-de-gaz-a-effet-de-serre/" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B4 – Pollution de l’air, de l’eau et des sols" categorie="env" url="https://portail-rse.beta.gouv.fr/vsme/b4-pollution-de-l-air-de-l-eau-et-des-sols/" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B5 – Biodiversité" categorie="env" url="https://portail-rse.beta.gouv.fr/vsme/b5-biodiversite/" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B6 – Eau" categorie="env" url="https://portail-rse.beta.gouv.fr/vsme/b6-eau/" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B7 – Utilisation des ressources, économie circulaire et gestion des déchets" categorie="env" url="https://portail-rse.beta.gouv.fr/vsme/b7-utilisation-des-ressources-economie-circulaire-et-gestion-des-dechets/" %}
            </div>
        </div>
    </div>
{% endblock %}
