{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}

            <div class="fr-col">
                <h1>Environnement</h1>
                {% include "snippets/tuile_exigence_publication.html" with titre="B3 – Énergie et émissions de gaz à effet de serre" categorie="env" url="http://doaine.example/b3" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B4 – Pollution de l’air, de l’eau et des sols" categorie="env" url="http://doaine.example/b4" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B5 – Biodiversité" categorie="env" url="http://doaine.example/b5" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B6 – Eau" categorie="env" url="http://doaine.example/b6" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B7 – Utilisation des ressources, économie circulaire et gestion des déchets" categorie="env" url="http://doaine.example/b7" %}
            </div>
        </div>
    </div>
{% endblock %}
