{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}

            <div class="fr-col">

                <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
                    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
                        Voir le fil d’Ariane
                    </button>
                    <div class="fr-collapse" id="breadcrumb-1">
                        <ol class="fr-breadcrumb__list">
                            <li>
                                <a class="fr-breadcrumb__link" href="{% url 'vsme:indicateurs_vsme' entreprise.siren rapport_vsme.annee %}">Mes indicateurs</a>
                            </li>
                            <li>
                                <a class="fr-breadcrumb__link" aria-current="page">Gouvernance</a>
                            </li>
                        </ol>
                    </div>
                </nav>

                <h1>Gouvernance</h1>

                {% include "snippets/tuile_exigence_publication.html" with titre="B11 – Condamnations et amendes en matière de lutte contre la corruption et les actes de corruption" categorie="gov" url="https://portail-rse.beta.gouv.fr/vsme/b11-condamnations-et-amendes-pour-corruption-et-versement-de-pots-de-vin/" %}

            </div>
        </div>
    </div>
{% endblock %}
