{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}

            <div class="fr-col">
                <h1>Gouvernance</h1>
                {% include "snippets/tuile_exigence_publication.html" with titre="B11 – Condamnations et amendes en matière de lutte contre la corruption et les actes de corruption" categorie="gov" url="https://portail-rse.beta.gouv.fr/vsme/b11-condamnations-et-amendes-pour-corruption-et-versement-de-pots-de-vin/" %}
                <br>
            </div>
        </div>
    </div>
{% endblock %}
