{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}

            <div class="fr-col">
                <h1>Social</h1>

                {% include "snippets/tuile_exigence_publication.html" with titre="B8 – Effectifs : caractéristiques générales" categorie="social" url="http://doaine.example/b8" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B9 – Effectifs : santé et sécurité" categorie="social" url="http://doaine.example/b9" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B10 – Effectifs : rémunération, négociation collective et formation"  categorie="social" url="http://doaine.example/b10" %}
            </div>
        </div>
    </div>
{% endblock %}
