{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}

            <div class="fr-col">
                <h1>Social</h1>

                {% include "snippets/tuile_exigence_publication.html" with titre="B8 – Effectifs : caractéristiques générales" categorie="social" url="https://portail-rse.beta.gouv.fr/vsme/b8-effectifs-caracteristiques-generales/" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B9 – Effectifs : santé et sécurité" categorie="social" url="https://portail-rse.beta.gouv.fr/vsme/b9-effectifs-sante-et-securite/" %}
                {% include "snippets/tuile_exigence_publication.html" with titre="B10 – Effectifs : rémunération, négociation collective et formation"  categorie="social" url="https://portail-rse.beta.gouv.fr/vsme/b10-personnel-remuneration-negociation-collective-et-formation/" %}
            </div>
        </div>
    </div>
{% endblock %}
