{% load absolute_url %}

<ul class="fr-btns-group">
    <li><a class="fr-btn fr-tool-link fr-icon-mail-fill" href="{% absolute_url 'contact' %}">Contactez-nous</a></li>
    {% url 'simulation' as url_simulation %}
    {% if url_simulation not in request.path and not user.is_authenticated %}
        <li><a class="fr-btn fr-tool-link fr-icon-file-text-fill" href="https://portail-rse.beta.gouv.fr/fiches-reglementaires">Fiches réglementaires RSE</a></li>
    {% endif %}
    {% if user.is_authenticated %}
        <li><a class="fr-btn fr-tool-link fr-icon-building-fill" href="{% absolute_url 'entreprises:entreprises' %}">{% if user.entreprise_set.count >= 2 %}Mes entreprises{% else %}Mon entreprise{% endif %}</a></li>
        <li class="fr-nav__item header-collapse">
            <button class="fr-btn fr-tool-link fr-icon-account-circle-fill" aria-expanded="false" aria-controls="menu-header">{{ user.prenom|title }} {{ user.nom|title|first }}.</button>
            <div class="fr-collapse fr-menu" id="menu-header">
                <ul class="fr-menu__list">
                    <li><a class="fr-nav__link" href="{% absolute_url 'users:account' %}" target="_self"><span class="fr-icon-account-circle-fill fr-mr-1w" aria-hidden="true"></span> Mon compte</a></li>
                    <li>
                        <form>
                            {% csrf_token %}
                            <a class="fr-nav__link" href="#" hx-post="{% absolute_url 'users:logout' %}" hx-target="body">
                                <span class="fr-icon-lock-unlock-fill fr-mr-1w" aria-hidden="true"></span> Se déconnecter</a>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
    {% else %}
        <li><a class="fr-btn fr-btn--secondary fr-icon-lock-fill" href="{% absolute_url 'users:login' %}?mtm_campaign=connexion-menu&mtm_kwd=menu">Se connecter</a></li>
        {% if url_simulation not in request.path %}
            <li><a class="fr-btn fr-btn--primary fr-btn--tool-links" href="{% absolute_url 'simulation' %}?mtm_campaign=simulation-menu&mtm_kwd=menu">Vérifier mes obligations</a></li>
        {% endif %}
    {% endif %}
</ul>
