{% load filters %}
{% with field_type=field|field_type %}
    {% if field_type == 'BooleanField' %}
        <div class="fr-checkbox-group{% if field.errors %} fr-input-group--error {% endif %}">
            {{ field }}
            <label class="fr-label" for="{{ field.id_for_label }}">{{ field.label }}
                <span class="fr-hint-text">{{ field.help_text }}</span>
            </label>
    {% else %}
        {% if field_type == 'ChoiceField'%}
            <div class="fr-select-group{% if field.errors %} fr-input-group--error {% endif %}">
        {% else %}
            <div class="fr-input-group{% if field.errors %} fr-input-group--error {% endif %}">
        {% endif %}

        {% block field_label %}
            <label class="fr-label" for="{{ field.id_for_label }}">{{ field.label }}
                <span class="fr-hint-text">{{ field.help_text }}</span>
            </label>
        {% endblock %}

        {% block field %}
        {% with widget_type=field|widget_type %}
            <div class="fr-col-12 {% if widget_type == 'NumberInput' %}fr-col-sm-2{% endif %}">
        {% endwith %}
        {{ field }}
        </div>
        {% endblock %}
    {% endif %}
    {% if field.errors %}
        <p id="text-input-error-desc-error" class="fr-error-text">
            {% for error in field.errors %}
                {{ error|escape }}
            {% endfor %}
        </p>
    {% endif %}
        </div>
{% endwith %}