{% load filters %}
{% with fr_group_class=field|fr_group_class field_type=field|field_type widget_type=field|widget_type %}
    {% if widget_type == 'CheckboxInput' %}
        {% block boolean_field %}
            <div class="{{ fr_group_class }} {% if field.errors %}{{ fr_group_class }}--error{% endif %} {% if not fieldset_id %}fr-mb-3w{% endif %}">
                {{ field }}
                <label class="fr-label" for="{{ field.id_for_label }}">{{ field.label|safe }}
                    <span class="fr-hint-text">{{ field.help_text|safe }}</span>
                </label>
                {% if field.errors %}
                    <p id="{{ field.name }}-error-desc-error" class="fr-error-text">
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% endblock %}

    {% elif widget_type == 'CheckboxSelectMultiple' or widget_type == 'RadioSelect' %}
        <fieldset class="fr-fieldset {% if field.errors %}fr-fieldset--error{% endif %}" id="{{ field.name }}" role="group" {% if field.field.disabled %}disabled{% endif %} aria-labelledby="{{ field.name }}-legend {{ field.name }}-messages">
            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="{{ field.name }}-legend">
                {{ field.label }}
                <span class="fr-hint-text">{{ field.help_text|safe }}</span>
            </legend>
            {% for choice in field %}
                <div class="fr-fieldset__element">
                    <div class="{{ fr_group_class }}">
                        {{ choice.tag }}
                        <label class="fr-label" for="{{ choice.id_for_label }}">
                            {{ choice.choice_label }}
                        </label>
                    </div>
                </div>
            {% endfor %}
            {% if field.errors %}
                <div class="fr-messages-group" id="{{ field.name }}-messages" aria-live="polite">
                    <p class="fr-message fr-message--error">
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </p>
                </div>
            {% endif %}
        </fieldset>

    {% else %}
        <div class="{{ fr_group_class }} {% if field.errors %}{{ fr_group_class }}--error{% endif %} {% if field.field.disabled %}{{ fr_group_class }}--disabled{% endif %} {{ additional_classes}}">
            {% block field %}
                <label class="fr-label" for="{{ field.id_for_label }}">{{ field.label }}
                    <span class="fr-hint-text">{{ field.help_text|safe }}</span>
                </label>
                <div class="fr-col-12 {% if widget_type == 'NumberInput' %}fr-col-sm-2{% endif %}">
                    {{ field }}
                </div>
            {% endblock %}

            {% if field.errors %}
                <p id="{{ field.name }}-error-desc-error" class="fr-error-text">
                    {% for error in field.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    {% endif %}
{% endwith %}
