{% extends "public/base.html" %}

{% block content %}
<div class="fr-container fr-my-8w">
    {% include "snippets/bdese_header.html" %}

    <div class="fr-grid-row">
        {% include "snippets/bdese_menu.html" with active_item=4 %}

        <div class="fr-col">
            <h2>Fonds propres, endettement et impôts</h2>

            <form action="{% url 'bdese' siren annee 4 %}" method="post">
                {% csrf_token %}
                {% include 'snippets/input_field.html' with field=form.capitaux_propres %}
                {% include 'snippets/input_field.html' with field=form.emprunts_et_dettes_financieres %}
                {% include 'snippets/input_field.html' with field=form.impots_et_taxes %}

                {% include "snippets/bdese_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
