{% extends "public/base.html" %}

{% block content %}
<div class="fr-container fr-my-8w">
    {% include "snippets/bdese_header.html" %}

    <div class="fr-grid-row">
        {% include "snippets/bdese_menu.html" with active_item=5 %}

        <div class="fr-col">
            <h2>Rémunération des salariés et dirigeants, dans l'ensemble de leurs éléments</h2>

            <form action="{% url 'bdese' siren 5 %}" method="post">
                {% csrf_token %}

                <h3>A-Evolution des rémunérations salariales</h3>
                <h4>a) Frais de personnel</h4>
                <p>Ils représentent l'ensemble des rémunérations et des cotisations sociales mises légalement ou conventionnellement à la charge de l'entreprise.</p>

                {% include 'snippets/input_field.html' with field=form.frais_personnel %}
                {% include 'snippets/category_field.html' with field=form.evolution_salariale_par_categorie %}
                {% include 'snippets/category_field.html' with field=form.evolution_salariale_par_sexe %}
                {% include 'snippets/category_field.html' with field=form.salaire_base_minimum_par_categorie %}
                {% include 'snippets/category_field.html' with field=form.salaire_base_minimum_par_sexe %}
                <p>i. Remplir le salaire moyen ou median :</p>
                {% include 'snippets/category_field.html' with field=form.salaire_moyen_par_categorie %}
                {% include 'snippets/category_field.html' with field=form.salaire_moyen_par_sexe %}
                {% include 'snippets/category_field.html' with field=form.salaire_median_par_categorie %}
                {% include 'snippets/category_field.html' with field=form.salaire_median_par_sexe %}

                <h5>ii. Montant des rémunérations : choix de deux indicateurs dans l'un des groupes suivants</h5>
                <p>On entend par rémunération la somme des salaires effectivement perçus pendant l'année par le salarié (au sens de la déclaration sociale nominative).</p>
                {% include 'snippets/category_field.html' with field=form.rapport_masse_salariale_effectif_mensuel %}
                {% include 'snippets/category_field.html' with field=form.remuneration_moyenne_decembre %}
                {% include 'snippets/category_field.html' with field=form.remuneration_mensuelle_moyenne %}
                <p>OU</p>
                {% include 'snippets/category_field.html' with field=form.part_primes_non_mensuelle %}
                {% include 'snippets/category_field.html' with field=form.remunerations %}
                <h5>ii Hiérarchie des rémunérations : Choix d'un des deux indicateurs</h5>
                {% include 'snippets/input_field.html' with field=form.rapport_moyenne_deciles %}
                <p>OU</p>
                {% include 'snippets/input_field.html' with field=form.rapport_moyenne_cadres_ouvriers %}
                {% include 'snippets/input_field.html' with field=form.montant_10_remunerations_les_plus_eleves %}

                <h5>iii Mode de calcul des rémunérations</h5>
                {% include 'snippets/category_field.html' with field=form.pourcentage_salaries_primes_de_rendement %}
                {% include 'snippets/input_field.html' with field=form.pourcentage_ouvriers_employes_payes_au_mois %}

                <h5>iv Charge salariale globale</h5>
                {% include 'snippets/input_field.html' with field=form.charge_salariale_globale %}

                <h4>b) Montant global des rémunérations</h4>
                {% include 'snippets/input_field.html' with field=form.montant_global_hautes_remunerations %}

                <h3>B-Epargne salariale : intéressement, participation</h3>
                {% include 'snippets/input_field.html' with field=form.montant_global_reserve_de_participation %}
                {% include 'snippets/category_field.html' with field=form.montant_moyen_participation %}
                {% include 'snippets/input_field.html' with field=form.part_capital_detenu_par_salaries %}

                <h3>C-Rémunérations accessoires : primes par sexe et par catégorie professionnelle, avantages en nature, régimes de prévoyance et de retraite complémentaire</h3>
                {% include 'snippets/input_field.html' with field=form.avantages_sociaux %}

                <h3>D-Rémunération des dirigeants mandataires sociaux</h3>
                <p>telles que présentées dans le rapport de gestion en application des trois premiers alinéas de l'article L. 225-102-1 du code de commerce, pour les entreprises soumises à l'obligation de présenter le rapport visé à l'article L. 225-102 du même code</p>

                {% include 'snippets/input_field.html' with field=form.remuneration_dirigeants_mandataires_sociaux %}

                {% include "snippets/bdese_submit.html" %}>
            </form>
        </div>
    </div>
</div>
{% endblock %}
