{% extends "public/base.html" %}

{% block content %}



<div class="fr-container fr-my-8w">
    <div class="fr-grid-row">
        {% include "snippets/bdese_menu.html" with active_item=7 %}

        <div class="fr-col">
            <h1>BDESE</h1>

            <form action="{% url 'bdese' siren 7 %}" method="post">
                {% csrf_token %}
                <h2>6° Rémunération des financeurs, en dehors des éléments mentionnés au 4°</h2>
                <h3>A-Rémunération des actionnaires (revenus distribués)</h3>
                {% include 'snippets/input_field.html' with field=form.remuneration_actionnaires %}

                <h3>B-Rémunération de l'actionnariat salarié</h3>
                {% include 'snippets/input_field.html' with field=form.remuneration_actionnariat_salarie %}

                <input type="submit" value="Enregistrer" class="fr-btn ">
            </form>
        </div>
    </div>
</div>
{% endblock %}
