{% extends "public/base.html" %}

{% block content %}
<div class="fr-container fr-my-8w">
    {% include "snippets/bdese_header.html" %}

    <div class="fr-grid-row">
        {% include "snippets/bdese_menu.html" with active_item=7 %}

        <div class="fr-col">
            <h2>Rémunération des financeurs, en dehors des éléments mentionnés à l'étape "Rémunérations"</h2>

            <form action="{% url 'bdese' siren 7 %}" method="post">
                {% csrf_token %}
                <h3>A-Rémunération des actionnaires (revenus distribués)</h3>
                {% include 'snippets/input_field.html' with field=form.remuneration_actionnaires %}

                <h3>B-Rémunération de l'actionnariat salarié</h3>
                {% include 'snippets/input_field.html' with field=form.remuneration_actionnariat_salarie %}

                {% include "snippets/bdese_submit.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
