{% extends "public/base.html" %}

{% block content %}



<div class="fr-container fr-my-8w">
    <div class="fr-grid-row">
        {% include "snippets/bdese_menu.html" with active_item=8 %}

        <div class="fr-col">
            <h1>BDESE</h1>

            <form action="{% url 'bdese' siren 8 %}" method="post">
                {% csrf_token %}
                <h2>7° Flux financiers à destination de l'entreprise</h2>
                <h3>A-Aides publiques</h3>
                {% include 'snippets/input_field.html' with field=form.aides_financieres %}

                <h3>B-Réductions d'impôts</h3>
                {% include 'snippets/input_field.html' with field=form.reductions_impots %}

                <h3>C-Exonérations et réductions de cotisations sociales</h3>
                {% include 'snippets/input_field.html' with field=form.exonerations_cotisations_sociales %}

                <h3>D-Crédits d'impôts</h3>
                {% include 'snippets/input_field.html' with field=form.credits_impots %}

                <h3>E-Mécénat</h3>
                {% include 'snippets/input_field.html' with field=form.mecenat %}

                <h3>F-Résultats financiers</h3>
                {% include 'snippets/input_field.html' with field=form.chiffre_affaires %}
                {% include 'snippets/input_field.html' with field=form.benefices_ou_pertes %}
                {% include 'snippets/category_field.html' with field=form.resultats_globaux %}
                {% include 'snippets/input_field.html' with field=form.affectation_benefices %}

                <input type="submit" value="Enregistrer" class="fr-btn ">
            </form>
        </div>
    </div>
</div>
{% endblock %}
