{% extends "public/base.html" %}

{% block content %}



<div class="fr-container fr-my-8w">
    <div class="fr-grid-row">
        {% include "snippets/bdese_menu.html" with active_item=9 %}

        <div class="fr-col">
            <h1>BDESE</h1>

            <form action="{% url 'bdese' siren 9 %}" method="post">
                {% csrf_token %}
                <h2>8° Partenariats</h2>
                <h3>A-Partenariats conclus pour produire des services ou des produits pour une autre entreprise</h3>
                {% include 'snippets/input_field.html' with field=form.partenariats_pour_produire %}

                <h3>B-Partenariats conclus pour bénéficier des services ou des produits d'une autre entreprise</h3>
                {% include 'snippets/input_field.html' with field=form.partenariats_pour_beneficier %}

                <input type="submit" value="Enregistrer" class="fr-btn ">
            </form>
        </div>
    </div>
</div>
{% endblock %}
