{% extends "base.html" %}

{% block title %}Étape 9/11 : Partenariats - BDESE {{ annee }} - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/bdese_header.html" %}

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row">
            {% include "snippets/bdese_menu.html" with active_item=9 %}

            <div class="fr-col">
                <h2>Partenariats</h2>

                <form action="{% url 'reglementations:bdese_step' entreprise.siren annee 9 %}" method="post">
                    {% csrf_token %}
                    {{ form.external_fields_in_step.as_hidden }}

                    <h3>A - Partenariats conclus pour produire des services ou des produits pour une autre entreprise</h3>
                    {% include 'snippets/bdese_field.html' with field=form.partenariats_pour_produire %}

                    <h3>B - Partenariats conclus pour bénéficier des services ou des produits d'une autre entreprise</h3>
                    {% include 'snippets/bdese_field.html' with field=form.partenariats_pour_beneficier %}

                    {% include "snippets/bdese_submit.html" %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
