{% extends "base.html" %}

{% load filters %}

{% block title %}
    {% if user.entreprise_set.count >= 2 %}Mes entreprises{% else %}Mon entreprise{% endif %} - Portail RSE
{% endblock %}

{% block content %}
    <div class="fr-container fr-my-8w">
        {% if not proconnect %}
            <h2>Ajouter une entreprise</h2>
            <form method="post" class="fr-mb-4w">
                {% csrf_token %}
                {% include 'fragments/siren_field.html' %}
                {% include 'snippets/field.html' with field=form.fonctions %}
                <button type="submit" name="action" value="attach" class="fr-btn">Ajouter cette entreprise</button>
            </form>
        {% endif %}

        <h2>Gérer mes entreprises</h2>
        {% if not user.entreprise_set.all %}
            <p>Aucune entreprise n'est associée à votre compte.</p>
        {% else %}
            <div class="fr-table">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">SIREN</th>
                                        <th scope="col">Dénomination</th>
                                        <th scope="col">Rôle</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entreprise in user.entreprise_set.all %}
                                        <tr>
                                            <td>{{ entreprise.siren }}</td>
                                            <td>{{ entreprise.denomination }}</td>
                                            {% with habilitation=user|habilitation:entreprise %}
                                                <td><span class="fr-badge fr-badge--info fr-badge--no-icon">{{ habilitation.get_role_display }}</span></td>
                                            {% endwith %}
                                            <td>
                                                <ul class="fr-btns-group--md fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                                                    <li>
                                                        <a href="{% url 'reglementations:tableau_de_bord' entreprise.siren %}" class="fr-btn fr-btn--icon-left fr-icon-todo-line">Accéder au tableau de bord</a>
                                                    </li>
                                                    <li>
                                                        <button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-close-circle-line" data-fr-opened="false" aria-controls="modal-detach-{{ entreprise.siren }}">
                                                            Quitter
                                                        </button>
                                                        {% include 'snippets/modale_quitter_entreprise.html' %}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}
