{% extends "base.html" %}

{% load filters %}

{% block content %}
<div class="fr-container fr-my-8w">
    <h1>Entreprises</h1>
    {% if not user.entreprise_set.all %}
        Aucune entreprise n'est associée à votre compte.
    {% else %}
        {% for entreprise in user.entreprise_set.all %}
        <h2>{{ entreprise.raison_sociale }}</h2>
        <ul>
            <li>SIREN : {{ entreprise.siren }}</li>
            <li>effectif : {{ entreprise.get_effectif_display }} salariés</li>
            <li>accord d'entreprise : {{ entreprise.bdese_accord | translate_boolean }}</li>
        </ul>
        {% endfor %}
    {% endif %}

    <h2>Ajouter une entreprise</h2>

    <form action="{% url 'add_entreprise' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="fr-mt-4w">
            <button type="submit" name="mark_incomplete" class="fr-btn fr-btn--icon-left">Ajouter</button>
        </div>
    </form>
</div>

<!-- page entreprises -->
{% endblock %}
