{% extends "base.html" %}

{% block content %}
<div class="fr-container fr-my-10w">
    <div class="fr-grid-row">
        <div class="fr-col">
            <h2>{{ entreprise.raison_sociale }}</h2>
            <p>
                <span class="fr-tag">SIREN : {{ entreprise.siren }}</span>
            </p>

            <form class="fr-mt-6w" action="{% url 'entreprises:qualification' entreprise.siren %}" method="post">
                {% csrf_token %}
                {% include 'snippets/field.html' with field=form.effectif %}
                {% include 'snippets/field.html' with field=form.bdese_accord %}
                <input type="submit" value="Enregistrer et vérifier mes obligations" class="fr-btn fr-mt-4w">
            </form>
        </div>
    </div>
</div>
<!-- page qualification entreprise -->
{% endblock %}
