{% extends "base.html" %}

{% block title %}{{ entreprise.denomination }} - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container fr-my-10w">
        <div class="fr-grid-row">
            <div class="fr-col">
                <h2>Profil de l'entreprise {{ entreprise.denomination }}</h2>
                <p>
                    <span class="fr-tag">SIREN : {{ entreprise.siren }}</span>
                    <span class="fr-tag">NAF/APE : {{ entreprise.secteur_principal }}</span>
                </p>

                <form class="fr-mt-6w" action="{% url 'entreprises:qualification' entreprise.siren %}" method="post">
                    {% csrf_token %}
                    {% include 'snippets/field.html' with field=form.confirmation_naf %}
                    {% include 'snippets/field.html' with field=form.date_cloture_exercice %}
                    <fieldset class="fr-fieldset">
                        <legend class="fr-fieldset__legend">
                            Effectifs
                        </legend>
                        <div class="fr-ml-1w fr-mb-2w fr-hint-text">
                            Pour plus de précisions, consulter <a href="https://travail-emploi.gouv.fr/les-regles-de-decompte-des-effectifs" target='_blank' rel='noopener'>les règles de décompte des effectifs</a>
                        </div>
                        {% include 'snippets/fieldset_element.html' with field=form.effectif_securite_sociale %}
                        {% include 'snippets/fieldset_element.html' with field=form.effectif %}
                        {% include 'snippets/fieldset_element.html' with field=form.effectif_outre_mer %}
                    </fieldset>
                    <fieldset class="fr-fieldset">
                        <legend class="fr-fieldset__legend">
                            Données financières
                        </legend>
                        {% include 'snippets/fieldset_element.html' with field=form.tranche_chiffre_affaires %}
                        {% include 'snippets/fieldset_element.html' with field=form.tranche_bilan %}
                    </fieldset>
                    <fieldset class="fr-fieldset">
                        <legend class="fr-fieldset__legend">
                            Intérêt public
                        </legend>
                        {% include 'snippets/fieldset_element.html' with field=form.est_interet_public fieldset_id="svelte-est-interet-public-field" %}
                        {% include 'snippets/fieldset_element.html' with field=form.est_cotee fieldset_id="svelte-est-cotee-field" %}
                    </fieldset>
                    <fieldset class="fr-fieldset">
                        <legend class="fr-fieldset__legend">
                            Groupe d'entreprises
                        </legend>
                        {% include 'snippets/fieldset_element.html' with field=form.appartient_groupe fieldset_id="svelte-appartient-groupe-field" %}
                        <div id="svelte-groupe-fields" class="fr-col-12">
                            {% include 'snippets/fieldset_element.html' with field=form.est_societe_mere %}
                            {% include 'snippets/fieldset_element.html' with field=form.societe_mere_en_france %}
                            {% include 'snippets/fieldset_element.html' with field=form.effectif_groupe %}
                            {% include 'snippets/fieldset_element.html' with field=form.effectif_groupe_france %}
                            {% include 'snippets/fieldset_element.html' with field=form.comptes_consolides %}
                            <div id="svelte-comptes-consolides-fields">
                                {% include 'snippets/fieldset_element.html' with field=form.tranche_chiffre_affaires_consolide %}
                                {% include 'snippets/fieldset_element.html' with field=form.tranche_bilan_consolide %}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fr-fieldset">
                        <legend class="fr-fieldset__legend">
                            Autre
                        </legend>
                        {% include 'snippets/fieldset_element.html' with field=form.bdese_accord %}
                        {% include 'snippets/fieldset_element.html' with field=form.systeme_management_energie %}
                    </fieldset>

                    <input type="submit" value="Enregistrer et accéder au tableau de bord" class="fr-btn">
                </form>
            </div>
        </div>
    </div>
<!-- page qualification entreprise -->
{% endblock %}
