{% extends "base.html" %}

{% block title %}Configuration - BDESE {{ annee }} - Portail RSE{% endblock %}

{% block content %}
    {% include "snippets/bdese_header.html" %}

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row">
            {% include "snippets/bdese_menu.html" with active_item=0 %}

            <div class="fr-col">
                <h2>Introduction</h2>
                <p>
                    L'employeur d'au moins 50 salariés doit mettre à disposition du comité économique et social (CSE) ou des représentants du personnel une base de données économiques, sociales et environnementales (BDESE).<br>
                    La BDESE rassemble les informations sur les grandes orientations économiques et sociales de l'entreprise.<br>
                    En l'absence d'accord d'entreprise fixant le contenu de la BDESE, celui-ci est imposé par le code du travail.<br>
                    Il varie selon que l’entreprise compte plus ou moins 300 salariés. <a href="https://entreprendre.service-public.fr/vosdroits/F32193" target="_blank" rel="noopener">En savoir plus</a>
                </p>
                <p>
                    Le Portail RSE permet de saisir les informations obligatoires adaptées à sa catégorie d'entreprise via un formulaire et de générer des documents pdf annuels à télécharger et transmettre au CSE ou aux représentants du personnel.
                </p>
                <div class="fr-highlight">
                    <p>
                        Ces documents n’engagent pas l’Etat, ni la Direction Générale des Entreprises (DGE), mais uniquement l’utilisateur ayant renseigné les données, qui ne font l’objet d’aucune procédure de contrôle par l’administration.
                    </p>
                </div>
                <div class="fr-highlight">
                    <p>
                        Les diverses zones de saisie libre mises à votre disposition dans le cadre de ce formulaire doivent contenir uniquement les informations indiquées au-dessus de chaque encadré, sans précision supplémentaire. Aucune autre information vous concernant susceptible de révéler directement ou indirectement, votre état de santé, votre origine raciale ou ethnique, vos opinions politiques, vos convictions religieuses ou philosophiques, votre appartenance syndicale ou portant sur votre vie sexuelle ou orientation sexuelle ou encore sur les infractions et condamnations pénales et mesures de sûreté dont vous feriez l’objet ne doit y figurer.
                    </p>
                </div>

                <p>
                    Chaque formulaire correspondant aux données d'une année civile est composé de 11 étapes, accessibles via le menu latéral à gauche, dès que la première étape de configuration est terminée.
                </p>
                <div class="fr-highlight">
                    <p>
                        Les informations figurant dans la BDESE complète doivent porter sur les 3 dernières années achevées et 3 années suivantes (dont celle en cours), sous forme de perspectives.
                    </p>
                </div>
                <p>
                    Chaque étape peut être enregistrée à tout moment en cliquant sur le bouton "Enregistrer en brouillon" en bas du formulaire pour être reprise plus tard. <br>
                    Une étape peut également être marquée comme terminée en cliquant sur le bouton "Enregistrer et marquer comme terminé". Lorsqu'une étape est terminée, elle peut être à nouveau modifée en cliquant sur le bouton "Repasser en brouillon pour modifier".
                </p>
                <div class="fr-mb-3w">
                    {% include "snippets/bdese_submit.html" %}
                </div>
                <p>
                    Au niveau de chaque champ du formulaire, un interrupteur permet de marquer une information comme déjà remplie par ailleurs dans un autre document mis à disposition du CSE ou des représentants du personnel (voir l'exemple interactif ci-dessous).
                    Celle-ci sera alors signalée comme telle dans le document pdf généré.
                </p>
                <div class="fr-my-3w">
                    <form>
                        <fieldset>
                            {{ demo_form.external_fields_in_step.as_hidden }}
                            {% include 'snippets/bdese_field.html' with field=demo_form.example_field %}
                        </fieldset>
                    </form>
                </div>

                <h2>Configuration</h2>
                <p>
                    Certains indicateurs de la BDESE sont à remplir par catégorie, suivant une classification propre à votre entreprise.
                    Commencez par définir les catégories retenues qui seront utilisées dans votre BDESE {{ annee }}.
                </p>
                <div class="fr-highlight">
                    <p>Si vous modifiez ces catégories après avoir renseigné des indicateurs, les données concernant les catégories modifiées seront perdues.</p>
                </div>

                <form action="{% url 'reglementations:bdese_step' entreprise.siren annee 0 %}" method="post">
                    {% csrf_token %}
                    {% include 'snippets/field.html' with field=form.categories_professionnelles %}
                    {% if form.categories_professionnelles_detaillees %}
                        {% include 'snippets/field.html' with field=form.categories_professionnelles_detaillees %}
                    {% endif %}
                    {% if form.niveaux_hierarchiques %}
                        {% include 'snippets/field.html' with field=form.niveaux_hierarchiques %}
                    {% endif %}

                    {% include "snippets/bdese_submit.html" %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
