{% extends "./base_bdese_pdf.html" %}

{% block content %}
    <h2>Investissements</h2>
    {% include "snippets/field_pdf.html" with field_name="effectif_mensuel" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_cdi" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_cdd" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_temporaires" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_travailleurs_exterieurs" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_journees_salaries_temporaires" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_contrats_insertion_formation_jeunes" %}
    {% include "snippets/field_pdf.html" with field_name="motifs_contrats_cdd_temporaire_temps_partiel_exterieurs" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_homme" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_femme" %}
    {% include "snippets/field_pdf.html" with field_name="actions_prevention_formation" %}
    {% include "snippets/field_pdf.html" with field_name="actions_emploi_personnes_handicapees" %}
    {% include "snippets/field_pdf.html" with field_name="doeth" %}
    {% include "snippets/field_pdf.html" with field_name="evolution_nombre_stagiaires" %}
    {% include "snippets/field_pdf.html" with field_name="orientations_formation_professionnelle" %}
    {% include "snippets/field_pdf.html" with field_name="resultat_negociations_L_2241_6" %}
    {% include "snippets/field_pdf.html" with field_name="conclusions_verifications_L_6361_1_L_6323_13_L_6362_4" %}
    {% include "snippets/field_pdf.html" with field_name="bilan_actions_plan_formation" %}
    {% include "snippets/field_pdf.html" with field_name="informations_conges_formation" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_beneficaires_abondement" %}
    {% include "snippets/field_pdf.html" with field_name="somme_abondement" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_beneficiaires_entretien_professionnel" %}
    {% include "snippets/field_pdf.html" with field_name="bilan_contrats_alternance" %}
    {% include "snippets/field_pdf.html" with field_name="emplois_periode_professionnalisation" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_periode_professionnalisation_par_age" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_periode_professionnalisation_par_sexe" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_periode_professionnalisation_par_niveau_initial" %}
    {% include "snippets/field_pdf.html" with field_name="resultats_periode_professionnalisation" %}
    {% include "snippets/field_pdf.html" with field_name="bilan_cpf" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_temps_partiel_par_sexe" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_temps_partiel_par_qualification" %}
    {% include "snippets/field_pdf.html" with field_name="horaires_temps_partiel" %}
    {% include "snippets/field_pdf.html" with field_name="programme_prevention_risques_pro" %}
    {% include "snippets/field_pdf.html" with field_name="evolution_amortissement" %}
    {% include "snippets/field_pdf.html" with field_name="montant_depenses_recherche_developpement" %}
    {% include "snippets/field_pdf.html" with field_name="mesures_methodes_production_exploitation" %}

    <h2>Egalité professionnelle entre les femmes et les hommes au sein de l'entreprise</h2>
    {% include "snippets/field_pdf.html" with field_name="analyse_egalite_embauche" %}
    {% include "snippets/field_pdf.html" with field_name="analyse_egalite_formation" %}
    {% include "snippets/field_pdf.html" with field_name="analyse_egalite_promotion_professionnelle" %}
    {% include "snippets/field_pdf.html" with field_name="analyse_egalite_qualification" %}
    {% include "snippets/field_pdf.html" with field_name="analyse_egalite_classification" %}
    {% include "snippets/field_pdf.html" with field_name="analyse_egalite_conditions_de_travail" %}
    {% include "snippets/field_pdf.html" with field_name="analyse_egalite_sante_et_sécurite" %}
    {% include "snippets/field_pdf.html" with field_name="analyse_egalite_remuneration" %}
    {% include "snippets/field_pdf.html" with field_name="analyse_egalite_articulation_activite_pro_perso" %}
    {% include "snippets/field_pdf.html" with field_name="analyse_ecarts_salaires" %}
    {% include "snippets/field_pdf.html" with field_name="evolution_taux_promotion" %}
    {% include "snippets/field_pdf.html" with field_name="mesures_prises_egalite" %}
    {% include "snippets/field_pdf.html" with field_name="objectifs_progression" %}

    <h2>Fonds propres, endettement et impôts</h2>
    {% include "snippets/field_pdf.html" with field_name="capitaux_propres" %}
    {% include "snippets/field_pdf.html" with field_name="emprunts_et_dettes_financieres" %}
    {% include "snippets/field_pdf.html" with field_name="impots_et_taxes" %}

    <h2>Rémunération des salariés et dirigeants, dans l'ensemble de leurs éléments</h2>
    {% include "snippets/field_pdf.html" with field_name="frais_personnel" %}
    {% include "snippets/field_pdf.html" with field_name="evolution_salariale_par_categorie" %}
    {% include "snippets/field_pdf.html" with field_name="evolution_salariale_par_sexe" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_base_minimum_par_categorie" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_base_minimum_par_sexe" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_moyen_par_categorie" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_moyen_par_sexe" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_median_par_categorie" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_median_par_sexe" %}
    {% include "snippets/field_pdf.html" with field_name="montant_global_hautes_remunerations" %}
    {% include "snippets/field_pdf.html" with field_name="epargne_salariale" %}

    <h2>Activités sociales et culturelles</h2>
    {% include "snippets/field_pdf.html" with field_name="montant_contribution_activites_sociales_culturelles" %}
    {% include "snippets/field_pdf.html" with field_name="mecenat_verse" %}

    <h2>Rémunération des financeurs, en dehors des éléments mentionnés au 4°</h2>
    {% include "snippets/field_pdf.html" with field_name="remuneration_actionnaires" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_actionnariat_salarie" %}

    <h2>Flux financiers à destination de l'entreprise</h2>
    {% include "snippets/field_pdf.html" with field_name="aides_financieres" %}
    {% include "snippets/field_pdf.html" with field_name="reductions_impots" %}
    {% include "snippets/field_pdf.html" with field_name="exonerations_cotisations_sociales" %}
    {% include "snippets/field_pdf.html" with field_name="credits_impots" %}
    {% include "snippets/field_pdf.html" with field_name="mecenat_recu" %}
    {% include "snippets/field_pdf.html" with field_name="chiffre_affaires" %}
    {% include "snippets/field_pdf.html" with field_name="benefices_ou_pertes" %}
    {% include "snippets/field_pdf.html" with field_name="resultats_globaux" %}
    {% include "snippets/field_pdf.html" with field_name="affectation_benefices" %}

    <h2>Partenariats</h2>
    {% include "snippets/field_pdf.html" with field_name="partenariats_pour_produire" %}
    {% include "snippets/field_pdf.html" with field_name="partenariats_pour_beneficier" %}

    <h2>Pour les entreprises appartenant à un groupe, transferts commerciaux et financiers entre les entités du groupe</h2>
    {% include "snippets/field_pdf.html" with field_name="transferts_de_capitaux" %}
    {% include "snippets/field_pdf.html" with field_name="cessions_fusions_acquisitions" %}

    <h2>Environnement</h2>
    {% include "snippets/field_pdf.html" with field_name="prise_en_compte_questions_environnementales" %}
    {% include "snippets/field_pdf.html" with field_name="quantite_de_dechets_dangereux" %}
    {% include "snippets/field_pdf.html" with field_name="consommation_eau" %}
    {% include "snippets/field_pdf.html" with field_name="consommation_energie" %}
    {% include "snippets/field_pdf.html" with field_name="postes_emissions_directes_gaz_effet_de_serre" %}
    {% include "snippets/field_pdf.html" with field_name="bilan_gaz_effet_de_serre" %}

{% endblock %}
