{% extends "./base_bdese_pdf.html" %}

{% block content %}
    <h2>Investissements</h2>
    {% include "snippets/field_pdf.html" with field=bdese_form.effectif_mensuel %}
    {% include "snippets/field_pdf.html" with field=bdese_form.effectif_cdi %}
    {% include "snippets/field_pdf.html" with field=bdese_form.effectif_cdd %}
    {% include "snippets/field_pdf.html" with field=bdese_form.nombre_salaries_temporaires %}
    {% include "snippets/field_pdf.html" with field=bdese_form.nombre_travailleurs_exterieurs %}
    {% include "snippets/field_pdf.html" with field=bdese_form.nombre_journees_salaries_temporaires %}
    {% include "snippets/field_pdf.html" with field=bdese_form.nombre_contrats_insertion_formation_jeunes %}
    {% include "snippets/field_pdf.html" with field=bdese_form.motifs_contrats_cdd_temporaire_temps_partiel_exterieurs %}
    {% include "snippets/field_pdf.html" with field=bdese_form.effectif_homme %}
    {% include "snippets/field_pdf.html" with field=bdese_form.effectif_femme %}
    {% include "snippets/field_pdf.html" with field=bdese_form.actions_prevention_formation %}
    {% include "snippets/field_pdf.html" with field=bdese_form.actions_emploi_personnes_handicapees %}
    {% include "snippets/field_pdf.html" with field=bdese_form.doeth %}
    {% include "snippets/field_pdf.html" with field=bdese_form.nombre_stagiaires %}
    {% include "snippets/field_pdf.html" with field=bdese_form.orientations_formation_professionnelle %}
    {% include "snippets/field_pdf.html" with field=bdese_form.resultat_negociations_L_2241_6 %}
    {% include "snippets/field_pdf.html" with field=bdese_form.conclusions_verifications_L_6361_1_L_6323_13_L_6362_4 %}
    {% include "snippets/field_pdf.html" with field=bdese_form.bilan_actions_plan_formation %}
    {% include "snippets/field_pdf.html" with field=bdese_form.informations_conges_formation %}
    {% include "snippets/field_pdf.html" with field=bdese_form.nombre_salaries_beneficaires_abondement %}
    {% include "snippets/field_pdf.html" with field=bdese_form.somme_abondement %}
    {% include "snippets/field_pdf.html" with field=bdese_form.nombre_salaries_beneficiaires_entretien_professionnel %}
    {% include "snippets/field_pdf.html" with field=bdese_form.bilan_contrats_alternance %}
    {% include "snippets/field_pdf.html" with field=bdese_form.emplois_periode_professionnalisation %}
    {% include "snippets/field_pdf.html" with field=bdese_form.effectif_periode_professionnalisation_par_age %}
    {% include "snippets/field_pdf.html" with field=bdese_form.effectif_periode_professionnalisation_par_sexe %}
    {% include "snippets/field_pdf.html" with field=bdese_form.effectif_periode_professionnalisation_par_niveau_initial %}
    {% include "snippets/field_pdf.html" with field=bdese_form.resultats_periode_professionnalisation %}
    {% include "snippets/field_pdf.html" with field=bdese_form.bilan_cpf %}
    {% include "snippets/field_pdf.html" with field=bdese_form.nombre_salaries_temps_partiel_par_sexe %}
    {% include "snippets/field_pdf.html" with field=bdese_form.nombre_salaries_temps_partiel_par_qualification %}
    {% include "snippets/field_pdf.html" with field=bdese_form.horaires_temps_partiel %}
    {% include "snippets/field_pdf.html" with field=bdese_form.programme_prevention_risques_pro %}
    {% include "snippets/field_pdf.html" with field=bdese_form.evolution_amortissement %}
    {% include "snippets/field_pdf.html" with field=bdese_form.montant_depenses_recherche_developpement %}
    {% include "snippets/field_pdf.html" with field=bdese_form.mesures_methodes_production_exploitation %}

    <h2>Egalité professionnelle entre les femmes et les hommes au sein de l'entreprise</h2>
    {% include "snippets/field_pdf.html" with field=bdese_form.analyse_egalite_embauche %}
    {% include "snippets/field_pdf.html" with field=bdese_form.analyse_egalite_formation %}
    {% include "snippets/field_pdf.html" with field=bdese_form.analyse_egalite_promotion_professionnelle %}
    {% include "snippets/field_pdf.html" with field=bdese_form.analyse_egalite_qualification %}
    {% include "snippets/field_pdf.html" with field=bdese_form.analyse_egalite_classification %}
    {% include "snippets/field_pdf.html" with field=bdese_form.analyse_egalite_conditions_de_travail %}
    {% include "snippets/field_pdf.html" with field=bdese_form.analyse_egalite_sante_et_sécurite %}
    {% include "snippets/field_pdf.html" with field=bdese_form.analyse_egalite_remuneration %}
    {% include "snippets/field_pdf.html" with field=bdese_form.analyse_egalite_articulation_activite_pro_perso %}
    {% include "snippets/field_pdf.html" with field=bdese_form.analyse_ecarts_salaires %}
    {% include "snippets/field_pdf.html" with field=bdese_form.evolution_taux_promotion %}
    {% include "snippets/field_pdf.html" with field=bdese_form.mesures_prises_egalite %}
    {% include "snippets/field_pdf.html" with field=bdese_form.objectifs_progression %}

    <h2>Fonds propres, endettement et impôts</h2>
    {% include "snippets/field_pdf.html" with field=bdese_form.capitaux_propres %}
    {% include "snippets/field_pdf.html" with field=bdese_form.emprunts_et_dettes_financieres %}
    {% include "snippets/field_pdf.html" with field=bdese_form.impots_et_taxes %}

    <h2>Rémunération des salariés et dirigeants, dans l'ensemble de leurs éléments</h2>
    {% include "snippets/field_pdf.html" with field=bdese_form.frais_personnel %}
    {% include "snippets/field_pdf.html" with field=bdese_form.evolution_salariale_par_categorie %}
    {% include "snippets/field_pdf.html" with field=bdese_form.evolution_salariale_par_sexe %}
    {% include "snippets/field_pdf.html" with field=bdese_form.salaire_base_minimum_par_categorie %}
    {% include "snippets/field_pdf.html" with field=bdese_form.salaire_base_minimum_par_sexe %}
    {% include "snippets/field_pdf.html" with field=bdese_form.salaire_moyen_par_categorie %}
    {% include "snippets/field_pdf.html" with field=bdese_form.salaire_moyen_par_sexe %}
    {% include "snippets/field_pdf.html" with field=bdese_form.salaire_median_par_categorie %}
    {% include "snippets/field_pdf.html" with field=bdese_form.salaire_median_par_sexe %}
    {% include "snippets/field_pdf.html" with field=bdese_form.montant_global_hautes_remunerations %}
    {% include "snippets/field_pdf.html" with field=bdese_form.epargne_salariale %}

    <h2>Activités sociales et culturelles</h2>
    {% include "snippets/field_pdf.html" with field=bdese_form.montant_contribution_activites_sociales_culturelles %}
    {% include "snippets/field_pdf.html" with field=bdese_form.mecenat_verse %}

    <h2>Rémunération des financeurs, en dehors des éléments mentionnés au 4°</h2>
    {% include "snippets/field_pdf.html" with field=bdese_form.remuneration_actionnaires %}
    {% include "snippets/field_pdf.html" with field=bdese_form.remuneration_actionnariat_salarie %}

    <h2>Flux financiers à destination de l'entreprise</h2>
    {% include "snippets/field_pdf.html" with field=bdese_form.aides_financieres %}
    {% include "snippets/field_pdf.html" with field=bdese_form.reductions_impots %}
    {% include "snippets/field_pdf.html" with field=bdese_form.exonerations_cotisations_sociales %}
    {% include "snippets/field_pdf.html" with field=bdese_form.credits_impots %}
    {% include "snippets/field_pdf.html" with field=bdese_form.mecenat_recu %}
    {% include "snippets/field_pdf.html" with field=bdese_form.chiffre_affaires %}
    {% include "snippets/field_pdf.html" with field=bdese_form.benefices_ou_pertes %}
    {% include "snippets/field_pdf.html" with field=bdese_form.resultats_globaux %}
    {% include "snippets/field_pdf.html" with field=bdese_form.affectation_benefices %}

    <h2>Partenariats</h2>
    {% include "snippets/field_pdf.html" with field=bdese_form.partenariats_pour_produire %}
    {% include "snippets/field_pdf.html" with field=bdese_form.partenariats_pour_beneficier %}

    <h2>Pour les entreprises appartenant à un groupe, transferts commerciaux et financiers entre les entités du groupe</h2>
    {% include "snippets/field_pdf.html" with field=bdese_form.transferts_de_capitaux %}
    {% include "snippets/field_pdf.html" with field=bdese_form.cessions_fusions_acquisitions %}

    <h2>Environnement</h2>
    {% include "snippets/field_pdf.html" with field=bdese_form.prise_en_compte_questions_environnementales %}
    {% include "snippets/field_pdf.html" with field=bdese_form.quantite_de_dechets_dangereux %}
    {% include "snippets/field_pdf.html" with field=bdese_form.consommation_eau %}
    {% include "snippets/field_pdf.html" with field=bdese_form.consommation_energie %}
    {% include "snippets/field_pdf.html" with field=bdese_form.postes_emissions_directes_gaz_effet_de_serre %}
    {% include "snippets/field_pdf.html" with field=bdese_form.bilan_gaz_effet_de_serre %}

{% endblock %}