{% extends "./base_bdese_pdf.html" %}

{% block content %}
    <h2>Investissements</h2>

    {% include "snippets/field_pdf.html" with field_name="effectif_total" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_permanent" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_cdd" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_mensuel_moyen" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_homme" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_femme" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_cdd" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_age" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_anciennete" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_nationalite_francaise" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_nationalite_etrangere" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_travailleurs_exterieurs" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_stagiaires" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_moyen_mensuel_salaries_temporaires" %}
    {% include "snippets/field_pdf.html" with field_name="duree_moyenne_contrat_de_travail_temporaire" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_de_l_entreprise_detaches" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_detaches_accueillis" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_embauches_cdi" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_embauches_cdd" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_embauches_jeunes" %}
    {% include "snippets/field_pdf.html" with field_name="total_departs" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_demissions" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_licenciements_economiques" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_licenciements_autres" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_fin_cdd" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_fin_periode_essai" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_mutations" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_departs_volontaires_retraite_preretraite" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_deces" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_promotions" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_chomage_partiel" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_heures_chomage_partiel_indemnisees" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_heures_chomage_partiel_non_indemnisees" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_chomage_intemperies" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_heures_chomage_intemperies_indemnisees" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_heures_chomage_intemperies_non_indemnisees" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_travailleurs_handicapés" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_travailleurs_handicapes_accidents_du_travail" %}
    {% include "snippets/field_pdf.html" with field_name="pourcentage_masse_salariale_formation_continue" %}
    {% include "snippets/field_pdf.html" with field_name="montant_formation_continue" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_stagiaires_formation_continue_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_stagiaires_formation_continue_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_heures_stage_remunerees_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_heures_stage_remunerees_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_heures_stage_non_remunerees_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_heures_stage_non_remunerees_femme" %}
    {% include "snippets/field_pdf.html" with field_name="type_stages" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_conge_formation_remunere" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_conge_formation_non_remunere" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_conge_formation_refuse" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_contrats_apprentissage" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_incapacites_permanentes_partielles" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_incapacites_permanentes_totales" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_travail_mortels" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_trajet_mortels" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_trajet_avec_arret_travail" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_salaries_temporaires_ou_prestataires" %}
    {% include "snippets/field_pdf.html" with field_name="taux_cotisation_securite_sociale_accidents_travail" %}
    {% include "snippets/field_pdf.html" with field_name="montant_cotisation_securite_sociale_accidents_travail" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_existence_risques_graves" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_chutes_dénivellation" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_machines" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_circulation_manutention_stockage" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_objets_en_mouvement" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_autres" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_maladies_professionnelles" %}
    {% include "snippets/field_pdf.html" with field_name="denomination_maladies_professionnelles" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_affections_pathologiques" %}
    {% include "snippets/field_pdf.html" with field_name="caracterisation_affections_pathologiques" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_declaration_procedes_travail_dangereux" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_forme_securite" %}
    {% include "snippets/field_pdf.html" with field_name="montant_depenses_formation_securite" %}
    {% include "snippets/field_pdf.html" with field_name="taux_realisation_programme_securite" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_plans_specifiques_securite" %}
    {% include "snippets/field_pdf.html" with field_name="horaire_hebdomadaire_moyen" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_repos_compensateur_code_travail" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_repos_compensateur_regime_conventionne" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_horaires_individualises" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_temps_partiel_20_30_heures" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_temps_partiel_autres" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_2_jours_repos_hebdomadaire_consecutifs" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_moyen_jours_conges_annuels" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_jours_feries_payes" %}
    {% include "snippets/field_pdf.html" with field_name="unite_absenteisme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_unites_absence" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_unites_theoriques_travaillees" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_unites_absence_maladie" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_unites_absence_maladie_par_duree" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_unites_absence_accidents" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_unites_absence_maternite" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_unites_absence_conges_autorises" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_unites_absence_autres" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_personnes_horaires_alternant_ou_nuit" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_personnes_horaires_alternant_ou_nuit_50_ans" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_taches_repetitives" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_personnes_exposees_bruit" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_exposes_temperatures" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_exposes_temperatures_extremes" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_exposes_intemperies" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_analyses_produits_toxiques" %}
    {% include "snippets/field_pdf.html" with field_name="experiences_transformation_organisation_travail" %}
    {% include "snippets/field_pdf.html" with field_name="montant_depenses_amelioration_conditions_travail" %}
    {% include "snippets/field_pdf.html" with field_name="taux_realisation_programme_amelioration_conditions_travail" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_visites_medicales" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_examens_medicaux" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_examens_medicaux_complementaires" %}
    {% include "snippets/field_pdf.html" with field_name="pourcentage_temps_medecin_du_travail" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_inaptes" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_reclasses" %}
    {% include "snippets/field_pdf.html" with field_name="evolution_amortissement" %}
    {% include "snippets/field_pdf.html" with field_name="montant_depenses_recherche_developpement" %}
    {% include "snippets/field_pdf.html" with field_name="evolution_productivite" %}

    <h2>Egalité professionnelle entre les femmes et les hommes au sein de l'entreprise</h2>
    {% include "snippets/field_pdf.html" with field_name="nombre_CDI_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_CDI_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_CDD_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_CDD_femme" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_par_duree_homme" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_par_duree_femme" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_par_organisation_du_travail_homme" %}
    {% include "snippets/field_pdf.html" with field_name="effectif_par_organisation_du_travail_femme" %}
    {% include "snippets/field_pdf.html" with field_name="conges_homme" %}
    {% include "snippets/field_pdf.html" with field_name="conges_femme" %}
    {% include "snippets/field_pdf.html" with field_name="conges_par_type_homme" %}
    {% include "snippets/field_pdf.html" with field_name="conges_par_type_femme" %}
    {% include "snippets/field_pdf.html" with field_name="embauches_CDI_homme" %}
    {% include "snippets/field_pdf.html" with field_name="embauches_CDI_femme" %}
    {% include "snippets/field_pdf.html" with field_name="embauches_CDD_homme" %}
    {% include "snippets/field_pdf.html" with field_name="embauches_CDD_femme" %}
    {% include "snippets/field_pdf.html" with field_name="departs_retraite_homme" %}
    {% include "snippets/field_pdf.html" with field_name="departs_demission_homme" %}
    {% include "snippets/field_pdf.html" with field_name="departs_fin_CDD_homme" %}
    {% include "snippets/field_pdf.html" with field_name="departs_licenciement_homme" %}
    {% include "snippets/field_pdf.html" with field_name="departs_retraite_femme" %}
    {% include "snippets/field_pdf.html" with field_name="departs_demission_femme" %}
    {% include "snippets/field_pdf.html" with field_name="departs_fin_CDD_femme" %}
    {% include "snippets/field_pdf.html" with field_name="departs_licenciement_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_promotions_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_promotions_femme" %}
    {% include "snippets/field_pdf.html" with field_name="duree_moyenne_entre_deux_promotions_homme" %}
    {% include "snippets/field_pdf.html" with field_name="duree_moyenne_entre_deux_promotions_femme" %}
    {% include "snippets/field_pdf.html" with field_name="anciennete_moyenne_homme" %}
    {% include "snippets/field_pdf.html" with field_name="anciennete_moyenne_femme" %}
    {% include "snippets/field_pdf.html" with field_name="anciennete_moyenne_dans_categorie_profesionnelle_homme" %}
    {% include "snippets/field_pdf.html" with field_name="anciennete_moyenne_dans_categorie_profesionnelle_femme" %}
    {% include "snippets/field_pdf.html" with field_name="age_moyen_homme" %}
    {% include "snippets/field_pdf.html" with field_name="age_moyen_femme" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_moyenne_ou_mediane" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_homme" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_femme" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_par_age_homme" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_par_age_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_femmes_plus_hautes_remunerations" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_moyen_heures_formation_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_moyen_heures_formation_femme" %}
    {% include "snippets/field_pdf.html" with field_name="action_adaptation_au_poste_homme" %}
    {% include "snippets/field_pdf.html" with field_name="action_adaptation_au_poste_femme" %}
    {% include "snippets/field_pdf.html" with field_name="action_maintien_emploi_homme" %}
    {% include "snippets/field_pdf.html" with field_name="action_maintien_emploi_femme" %}
    {% include "snippets/field_pdf.html" with field_name="action_developpement_competences_homme" %}
    {% include "snippets/field_pdf.html" with field_name="action_developpement_competences_femme" %}
    {% include "snippets/field_pdf.html" with field_name="exposition_risques_pro_homme" %}
    {% include "snippets/field_pdf.html" with field_name="exposition_risques_pro_femme" %}
    {% include "snippets/field_pdf.html" with field_name="accidents_homme" %}
    {% include "snippets/field_pdf.html" with field_name="accidents_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_travail_avec_arret_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_travail_avec_arret_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_trajet_avec_arret_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_trajet_avec_arret_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_par_elements_materiels_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_accidents_par_elements_materiels_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_et_denominations_maladies_pro_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_et_denominations_maladies_pro_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_journees_absence_accident_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_journees_absence_accident_femme" %}
    {% include "snippets/field_pdf.html" with field_name="maladies_homme" %}
    {% include "snippets/field_pdf.html" with field_name="maladies_femme" %}
    {% include "snippets/field_pdf.html" with field_name="maladies_avec_examen_de_reprise_homme" %}
    {% include "snippets/field_pdf.html" with field_name="maladies_avec_examen_de_reprise_femme" %}
    {% include "snippets/field_pdf.html" with field_name="complement_salaire_conge_paternite" %}
    {% include "snippets/field_pdf.html" with field_name="complement_salaire_conge_maternite" %}
    {% include "snippets/field_pdf.html" with field_name="complement_salaire_conge_adoption" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_jours_conges_paternite_pris" %}
    {% include "snippets/field_pdf.html" with field_name="existence_orga_facilitant_vie_familiale_et_professionnelle" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_temps_partiel_choisi_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_temps_partiel_choisi_femme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_temps_partiel_choisi_vers_temps_plein_homme" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_salaries_temps_partiel_choisi_vers_temps_plein_femme" %}
    {% include "snippets/field_pdf.html" with field_name="participation_accueil_petite_enfance" %}
    {% include "snippets/field_pdf.html" with field_name="evolution_depenses_credit_impot_famille" %}
    {% include "snippets/field_pdf.html" with field_name="mesures_prises_egalite" %}
    {% include "snippets/field_pdf.html" with field_name="objectifs_progression" %}

    <h2>Fonds propres, endettement et impôts</h2>
    {% include "snippets/field_pdf.html" with field_name="capitaux_propres" %}
    {% include "snippets/field_pdf.html" with field_name="emprunts_et_dettes_financieres" %}
    {% include "snippets/field_pdf.html" with field_name="impots_et_taxes" %}

    <h2>Rémunération des salariés et dirigeants, dans l'ensemble de leurs éléments</h2>
    {% include "snippets/field_pdf.html" with field_name="frais_personnel" %}
    {% include "snippets/field_pdf.html" with field_name="evolution_salariale_par_categorie" %}
    {% include "snippets/field_pdf.html" with field_name="evolution_salariale_par_sexe" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_base_minimum_par_categorie" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_base_minimum_par_sexe" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_moyen_par_categorie" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_moyen_par_sexe" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_median_par_categorie" %}
    {% include "snippets/field_pdf.html" with field_name="salaire_median_par_sexe" %}
    {% include "snippets/field_pdf.html" with field_name="rapport_masse_salariale_effectif_mensuel_homme" %}
    {% include "snippets/field_pdf.html" with field_name="rapport_masse_salariale_effectif_mensuel_femme" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_moyenne_decembre_homme" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_moyenne_decembre_femme" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_mensuelle_moyenne_homme" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_mensuelle_moyenne_femme" %}
    {% include "snippets/field_pdf.html" with field_name="part_primes_non_mensuelle_homme" %}
    {% include "snippets/field_pdf.html" with field_name="part_primes_non_mensuelle_femme" %}
    {% include "snippets/field_pdf.html" with field_name="remunerations" %}
    {% include "snippets/field_pdf.html" with field_name="rapport_moyenne_deciles" %}
    {% include "snippets/field_pdf.html" with field_name="rapport_moyenne_cadres_ouvriers" %}
    {% include "snippets/field_pdf.html" with field_name="montant_10_remunerations_les_plus_eleves" %}
    {% include "snippets/field_pdf.html" with field_name="pourcentage_salaries_primes_de_rendement" %}
    {% include "snippets/field_pdf.html" with field_name="pourcentage_ouvriers_employes_payes_au_mois" %}
    {% include "snippets/field_pdf.html" with field_name="charge_salariale_globale" %}
    {% include "snippets/field_pdf.html" with field_name="montant_global_hautes_remunerations" %}
    {% include "snippets/field_pdf.html" with field_name="montant_global_reserve_de_participation" %}
    {% include "snippets/field_pdf.html" with field_name="montant_moyen_participation" %}
    {% include "snippets/field_pdf.html" with field_name="part_capital_detenu_par_salaries" %}
    {% include "snippets/field_pdf.html" with field_name="avantages_sociaux" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_dirigeants_mandataires_sociaux" %}

    <h2>Représentation du personnel et Activités sociales et culturelles</h2>
    {% include "snippets/field_pdf.html" with field_name="composition_CSE_etablissement" %}
    {% include "snippets/field_pdf.html" with field_name="participation_elections" %}
    {% include "snippets/field_pdf.html" with field_name="volume_credit_heures" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_reunion_representants_personnel" %}
    {% include "snippets/field_pdf.html" with field_name="accords_conclus" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_personnes_conge_education_ouvriere" %}
    {% include "snippets/field_pdf.html" with field_name="nombre_heures_reunion_personnel" %}
    {% include "snippets/field_pdf.html" with field_name="elements_systeme_accueil" %}
    {% include "snippets/field_pdf.html" with field_name="elements_systeme_information" %}
    {% include "snippets/field_pdf.html" with field_name="elements_systeme_entretiens_individuels" %}
    {% include "snippets/field_pdf.html" with field_name="differends_application_droit_du_travail" %}
    {% include "snippets/field_pdf.html" with field_name="contributions_financement_CSE_CSEE" %}
    {% include "snippets/field_pdf.html" with field_name="contributions_autres_depenses" %}
    {% include "snippets/field_pdf.html" with field_name="cout_prestations_maladie_deces" %}
    {% include "snippets/field_pdf.html" with field_name="cout_prestations_vieillesse" %}
    {% include "snippets/field_pdf.html" with field_name="equipements_pour_conditions_de_vie" %}

    <h2>Rémunération des financeurs, en dehors des éléments mentionnés au 4°</h2>
    {% include "snippets/field_pdf.html" with field_name="remuneration_actionnaires" %}
    {% include "snippets/field_pdf.html" with field_name="remuneration_actionnariat_salarie" %}

    <h2>Flux financiers à destination de l'entreprise</h2>
    {% include "snippets/field_pdf.html" with field_name="aides_financieres" %}
    {% include "snippets/field_pdf.html" with field_name="reductions_impots" %}
    {% include "snippets/field_pdf.html" with field_name="exonerations_cotisations_sociales" %}
    {% include "snippets/field_pdf.html" with field_name="credits_impots" %}
    {% include "snippets/field_pdf.html" with field_name="mecenat" %}
    {% include "snippets/field_pdf.html" with field_name="chiffre_affaires" %}
    {% include "snippets/field_pdf.html" with field_name="benefices_ou_pertes" %}
    {% include "snippets/field_pdf.html" with field_name="resultats_globaux" %}
    {% include "snippets/field_pdf.html" with field_name="affectation_benefices" %}

    <h2>Partenariats</h2>
    {% include "snippets/field_pdf.html" with field_name="partenariats_pour_produire" %}
    {% include "snippets/field_pdf.html" with field_name="partenariats_pour_beneficier" %}

    <h2>Pour les entreprises appartenant à un groupe, transferts commerciaux et financiers entre les entités du groupe</h2>
    {% include "snippets/field_pdf.html" with field_name="transferts_de_capitaux" %}
    {% include "snippets/field_pdf.html" with field_name="cessions_fusions_acquisitions" %}

    <h2>Environnement</h2>
    {% include "snippets/field_pdf.html" with field_name="informations_environnementales" %}
    {% include "snippets/field_pdf.html" with field_name="prevention_et_gestion_dechets" %}
    {% include "snippets/field_pdf.html" with field_name="bilan_gaz_effet_de_serre" %}
    {% include "snippets/field_pdf.html" with field_name="prise_en_compte_questions_environnementales" %}
    {% include "snippets/field_pdf.html" with field_name="quantite_de_dechets_dangereux" %}
    {% include "snippets/field_pdf.html" with field_name="consommation_eau" %}
    {% include "snippets/field_pdf.html" with field_name="consommation_energie" %}
    {% include "snippets/field_pdf.html" with field_name="postes_emissions_directes_gaz_effet_de_serre" %}
{% endblock %}
