{% extends "public/base.html" %}

{% block content %}
<div class="fr-container fr-my-16w">
    <div class="fr-grid-row">
        <div class="fr-col">
            <h1>BDESE</h1>

            <form action="{% url 'bdese' siren %}" method="post">
                {% csrf_token %}

                <h2>3° Fonds propres, endettement et impôts</h2>
                {% include 'snippets/input_field.html' with field=form.capitaux_propres %}

                <input type="submit" value="Enregistrer" class="fr-btn ">
            </form>
        </div>
    </div>
</div>
{% endblock %}
