{% extends "base.html" %}
{% load static %}

{% block title %}Espace CSRD - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-notice fr-notice--info">
        <div class="fr-container">
            <div class="fr-notice__body">
                <p class="fr-notice__title">
                    Cette page est évolutive : nous enrichissons progressivement l’espace CSRD sur le Portail.
                    Si vous souhaitez participer à son élaboration, n’hésitez pas à prendre <a href="{% url 'contact' %}">contact</a> avec nous.
                </p>
            </div>
        </div>
    </div>
    <div class="fr-container fr-py-6w">
        <div class="fr-grid-row">
            <h2>Espace Rapport de Durabilité - CSRD</h2>
            <p>
                Pour établir son rapport de durabilité, l’entreprise doit identifier ses enjeux matériels de durabilité conformément au principe de la double matérialité.
            </p>
            <p>
                L’entreprise doit prendre en compte la liste couverte par les standards européens de reporting en matière de durabilité (ESRS thématiques).
                Si une thématique de la liste est considérée comme matérielle par l’entreprise, elle doit renseigner les informations requises en respectant les exigences de publication mentionnées par l’ESRS.
            </p>
            <p>
                <b>Attention : la liste ci-dessous doit être complétée par un examen des enjeux de durabilité sectoriels et spécifiques à l’entité.</b>
            </p>
        </div>
        <div class="fr-grid-row rse-organizer-titre">
            <div class="">
                <h3>Thèmes du Rapport de Durabilité</h3>
            </div>
            <div class="">
                <button class="fr-btn fr-btn--icon-right fr-icon-information-fill" title="Ouvre une modale de Ressources et Annexes" aria-hidden="true" data-fr-opened="false" aria-controls="fr-modal-1">Ressources et annexes</button>
            </div>
        </div>
        <div class="fr-callout fr-callout--blue-ecume">
            <p class="fr-callout__text">
                Cliquez sur le titre d'un ESRS pour dérouler ses thèmes et ses sous-thèmes.<br>
                Cliquez sur le bouton de téléchargement d'un thème pour accéder aux indicateurs et aux extraits de la réglementation concernant ce thème.
            </p>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters rse-organizer">
            <div class="fr-col-12">
                <div class="rse-organizer--container rse-organizer--gov">
                    <div class="rse-organizer--header">
                        <h4 class="rse-organizer--title">Général</h4>
                    </div>
                    <div class="rse-organizer--content">
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS1">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS 1 - Exigences générales</b>
                                </div>
                                <p class="fr-collapse fr-text--sm" id="accordion-ESRS1">
                                    L'ESRS 1, à visée informative, instruit les principes généraux de la CSRD, comme sa temporalité et la forme que doit prendre le Rapport de Durabilité.
                                </p>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS 1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRS1"></button>
                        </div>
                        <div class="rse-organizer--esrs">
                            <div class="rse-organizer--card rse-organizer--card-disabled" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS2">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS 2 - Informations générales à publier</b>
                                </div>
                            </div>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS 2" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRS2"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-lg-4 fr-col-12">
                <div class="rse-organizer--container rse-organizer--env">
                    <div class="rse-organizer--header">
                        <h4 class="rse-organizer--title">Environnement</h4>
                    </div>
                    <div class="rse-organizer--content">
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS-E1" aria-expanded="false" aria-controls="accordion-ESRS-E1">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS E1 - Changement climatique</b>
                                </div>
                                <div class="rse-organizer--card-themes">
                                    <ul class="fr-collapse fr-text--sm" id="accordion-ESRS-E1">
                                        <li>Adaptation au changement climatique</li>
                                        <li>Atténuation du changement climatique</li>
                                        <li>Energie</li>
                                    </ul>
                                </div>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS E1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE1"></button>
                        </div>
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS-E2">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS E2 - Pollution</b>
                                </div>
                                <ul class="fr-collapse fr-text--sm" id="accordion-ESRS-E2">
                                    <li>Pollution de l'air</li>
                                    <li>Pollution des eaux</li>
                                    <li>Pollution des sols</li>
                                    <li>Pollution des organismes vivants et des ressources alimentaires</li>
                                    <li>Substances préoccupantes</li>
                                    <li>Substances extrêmement préoccupantes</li>
                                    <li>Microplastiques</li>
                                </ul>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS E2" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE2"></button>
                        </div>
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS-E3">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS E3 - Ressources aquatiques et marines</b>
                                </div>
                                <ul class="fr-collapse fr-text--sm" id="accordion-ESRS-E3">
                                    <li>Eau</li>
                                    <li>Ressources marines</li>
                                    <li>
                                        <ul>
                                            <li>Consommation d'eau</li>
                                            <li>Prélèvements d'eau</li>
                                            <li>Rejet des eaux</li>
                                            <li>Rejet des eaux dans les océans</li>
                                            <li>Extraction et utilisation des ressources marines</li>
                                        </ul>
                                    </li>
                                </ul>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS E3" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE3"></button>
                        </div>
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS-E4">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS E4 - Biodiversité et écosystèmes</b>
                                </div>
                                <div class="rse-organizer--card-themes">
                                    <ul class="fr-collapse fr-text--sm" id="accordion-ESRS-E4">
                                        <li>Vecteurs d'incidence directs de la perte de biodiversité</li>
                                        <li>
                                            <ul>
                                                <li>Changement climatique</li>
                                                <li>Changement d'affectation des terres, changement d'utilisation de l'eau douce et des mers</li>
                                                <li>Exploitation directe</li>
                                                <li>Espèces exotiques envahissantes</li>
                                                <li>Pollution</li>
                                                <li>Autres</li>
                                            </ul>
                                        </li>
                                        <li>Incidence sur l'état des espèces</li>
                                        <li>Incidences sur l'étendue et l'état des écosystèmes</li>
                                    </ul>
                                </div>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS E4" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE4"></button>
                        </div>
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS-E5">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS E5 - Economie circulaire</b>
                                </div>
                                <div class="rse-organizer--card-themes">
                                    <ul class="fr-collapse fr-text--sm" id="accordion-ESRS-E5">
                                        <li>Ressources entrantes, y compris l'utilisation des ressources</li>
                                        <li>Ressources sortantes liées aux produits et services</li>
                                        <li>Déchets</li>
                                    </ul>
                                </div>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS E5" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSE5"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-lg-4 fr-col-12">
                <div class="rse-organizer--container rse-organizer--social">
                    <div class="rse-organizer--header">
                        <h4 class="rse-organizer--title">Social</h4>
                    </div>
                    <div class="rse-organizer--content">
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS-S1">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS S1 - Effectifs de l’entreprise</b>
                                </div>
                                <div class="rse-organizer--card-themes">
                                    <ul class="fr-collapse fr-text--sm" id="accordion-ESRS-S1">
                                        <li>Conditions de travail</li>
                                        <li>
                                            <ul>
                                                <li>Sécurité de l'emploi</li>
                                                <li>Temps de travail</li>
                                                <li>Salaires décents</li>
                                                <li>Dialogue social</li>
                                                <li>Liberté d'association, existence de comités d'entreprise et droits des travailleurs à l'information, à la consultation et à la participation</li>
                                                <li>Négociation collective, y compris la proportion de travailleurs couverts par des conventions collectives</li>
                                                <li>Equilibre entre vie professionnelle et vie privée</li>
                                                <li>Santé et sécurité</li>
                                            </ul>
                                        </li>
                                        <li>Egalité de traitement et égalité des chances pour tous</li>
                                        <li>
                                            <ul>
                                                <li>Egalité de genre et égalité de rémunération pour un travail de valeur égale</li>
                                                <li>Formation et développement des compétences</li>
                                                <li>Emploi et inclusion des personnes handicapées</li>
                                                <li>Mesures de lutte contre la violence et le harcèlement sur le lieu de travail</li>
                                                <li>Diversité</li>
                                            </ul>
                                        </li>
                                        <li>Autres droits liés au travail</li>
                                        <li>
                                            <ul>
                                                <li>Travail des enfants</li>
                                                <li>Travail forcé</li>
                                                <li>Logement adéquat</li>
                                                <li>Protection de la vie privée</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS S1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS1"></button>
                        </div>
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS-S2">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS S2 - Travailleurs de la chaîne de valeurs</b>
                                </div>
                                <div class="rse-organizer--card-themes">
                                    <ul class="fr-collapse fr-text--sm" id="accordion-ESRS-S2">
                                        <li>Conditions de travail</li>
                                        <li>
                                            <ul>
                                                <li>Sécurité de l'emploi</li>
                                                <li>Temps de travail</li>
                                                <li>Salaires décents</li>
                                                <li>Dialogue social</li>
                                                <li>Liberté d'association y compris l'existence de comités d'entreprise</li>
                                                <li>Négociations collective</li>
                                                <li>Equilibre entre vie professionnelle et vie privée</li>
                                                <li>Santé et sécurité</li>
                                            </ul>
                                        </li>
                                        <li>Egalité de traitement et égalité des chances pour tous</li>
                                        <li>
                                            <ul>
                                                <li>Egalité de genre et égalité de rémunération pour un travail de valeur égale</li>
                                                <li>Formation et développement des compétences</li>
                                                <li>Emploi et inclusion des personnes handicapées</li>
                                                <li>Mesures de lutte contre la violence et le harcèlement sur le lieu de travail</li>
                                                <li>Diversité</li>
                                            </ul>
                                        </li>
                                        <li>Autres droits liés au travail</li>
                                        <li>
                                            <ul>
                                                <li>Travail des enfants</li>
                                                <li>Travail forcé</li>
                                                <li>Logement adéquat</li>
                                                <li>Eau et assainissement</li>
                                                <li>Protection de la vie privée</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS S2" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS2"></button>
                        </div>
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS-S3">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS S3 - Communautés touchées</b>
                                </div>
                                <div class="rse-organizer--card-themes">
                                    <ul class="fr-collapse fr-text--sm" id="accordion-ESRS-S3">
                                        <li>Droits économiques, sociaux et culturels des communautés</li>
                                        <li>
                                            <ul>
                                                <li>Logement adéquat</li>
                                                <li>Alimentation adéquate</li>
                                                <li>Eau et assainissement</li>
                                                <li>Incidences liées à la terre</li>
                                                <li>Incidences liées à la sécurité</li>
                                            </ul>
                                        </li>
                                        <li>Droits civils et politiques des communautés</li>
                                        <li>
                                            <ul>
                                                <li>Liberté d’expression</li>
                                                <li>Liberté de réunion</li>
                                                <li>Incidences sur les défenseurs des droits de l’homme</li>
                                            </ul>
                                        </li>
                                        <li>Droits des peuples autochtones</li>
                                        <li>
                                            <ul>
                                                <li>Consentement préalable, donné librement et en connaissance de cause</li>
                                                <li>Auto-détermination</li>
                                                <li>Droits culturels</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS S3" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS3"></button>
                        </div>
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS-S4">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS S4 - Consommateurs et utilisateurs finals</b>
                                </div>
                                <div class="rse-organizer--card-themes">
                                    <ul class="fr-collapse fr-text--sm" id="accordion-ESRS-S4">
                                        <li>Incidences liées aux informations sur les consommateurs et/ou les utilisateurs finals</li>
                                        <li>
                                            <ul>
                                                <li>Protection de la vie privée</li>
                                                <li>Liberté d’expression</li>
                                                <li>Accès à l’information (de qualité)</li>
                                            </ul>
                                        </li>
                                        <li>Sécurité des consommateurs et/ou des utilisateurs finals</li>
                                        <li>
                                            <ul>
                                                <li>Santé et sécurité</li>
                                                <li>Sécurité de la personne</li>
                                                <li>Protection des enfants</li>
                                            </ul>
                                        </li>
                                        <li>Inclusion sociale des consommateurs et/ou des utilisateurs finals</li>
                                        <li>
                                            <ul>
                                                <li>Non-discrimination</li>
                                                <li>Accès aux produits et services</li>
                                                <li>Pratiques de commercialisation responsables</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS S4" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSS4"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-lg-4 fr-col-12">
                <div class="rse-organizer--container rse-organizer--gov">
                    <div class="rse-organizer--header">
                        <h4 class="rse-organizer--title">Gouvernance</h4>
                    </div>
                    <div class="rse-organizer--content">
                        <div class="rse-organizer--esrs">
                            <button class="rse-organizer--card" title="Dérouler les sous-thèmes" aria-expanded="false" aria-controls="accordion-ESRS-G1">
                                <div class="rse-organizer--card-title">
                                    <b>ESRS G1 - Conduite des affaires</b>
                                </div>
                                <div class="rse-organizer--card-themes">
                                    <ul class="fr-collapse fr-text--sm" id="accordion-ESRS-G1">
                                        <li>Culture d’entreprise</li>
                                        <li>Protection des lanceurs d’alerte</li>
                                        <li>Bien-être animal</li>
                                        <li>Engagement politique</li>
                                        <li>Gestion des relations avec les fournisseurs, y compris les pratiques en matière de paiement</li>
                                        <li>Corruption et versement de pots-de-vin</li>
                                        <li>
                                            <ul>
                                                <li>Prévention et détection, y compris les formations</li>
                                                <li>Incidents/Cas</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </button>
                            <button href="#" class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-fill" title="Ouvre une modale de ressources à télécharger sur l'ESRS G1" aria-hidden="true" data-fr-opened="false" aria-controls="modal-ESRSG1"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <dialog aria-labelledby="fr-modal-title-modal-1" role="dialog" id="fr-modal-1" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-1">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources et annexes</h1>
                            <p>
                                <a title="Consulter le guide méthodologique de l’EFRAG sur l’analyse de double matérialité - ouvre une nouvelle fenêtre" href="https://www.efrag.org/Assets/Download?assetUrl=%2Fsites%2Fwebpublishing%2FMeeting%20Documents%2F2302241032237237%2F03-02%20Materiality%20Assessment%20Implementation%20guidance%20clean%20SRB%20231025.pdf" target="_blank" rel="noopener external">Consulter le guide méthodologique de l’EFRAG sur l’analyse de double matérialité</a><br><br>
                                <a title="Consulter le guide méthodologique de l’EFRAG sur la lecture du tableau des indicateurs - ouvre une nouvelle fenêtre" href="https://www.efrag.org/Assets/Download?assetUrl=%2Fsites%2Fwebpublishing%2FMeeting%20Documents%2F2302241032237237%2F05-02%20-%20Draft%20List%20of%20ESRS%20Data%20Points%20Methodology%20-%20Implementation%20Guidance.pdf" target="_blank" rel="noopener external">Consulter le guide méthodologique de l’EFRAG sur la lecture du tableau des indicateurs</a><br><br>
                                <a title="Consulter le guide d'application de l'ANC sur les ESRS - ouvre une nouvelle fenêtre" href="https://www.anc.gouv.fr/files/live/sites/anc/files/contributed/ANC/2_Normes_internationales/NI%202022/Normes%20de%20durabilite/2024/Guide-d%e2%80%99application_Deployer-les_ESRS_juin2024.pdf" target="_blank" rel="noopener external">Consulter le guide d'application de l'ANC sur les ESRS</a><br><br>
                                <a title="Consulter l’annexe I des Normes Européennes d’Information en matière de durabilité (ESRS) - ouvre une nouvelle fenêtre" href="https://data.consilium.europa.eu/doc/document/ST-12481-2023-ADD-1/fr/pdf" target="_blank" rel="noopener external">Consulter l’annexe I des Normes Européennes d’Information en matière de durabilité (ESRS)</a><br><br>
                                <a title="Consulter l’annexe II des Normes Européennes d’Information en matière de durabilité (ESRS) - ouvre une nouvelle fenêtre" href="https://data.consilium.europa.eu/doc/document/ST-12481-2023-ADD-2/fr/pdf" target="_blank" rel="noopener external">Consulter l’annexe II (Acronymes et glossaire de termes) des Normes Européennes d’Information en matière de durabilité (ESRS)</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRS1" role="dialog" id="modal-ESRS1" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRS1">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRS1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS 1</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-1/CSRD-ESRS-1.pdf' %}">
                                    Télécharger : ESRS 1 - Exigences générales <span class="fr-link__detail">PDF – 1,6 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-1/Guide-d-application-ANC-ESRS-1.pdf' %}">
                                    Télécharger : ESRS 1 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 6 mo</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRS2" role="dialog" id="modal-ESRS2" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRS2">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRS2" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS 2</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-2/CSRD-ESRS-2.pdf' %}">
                                    Télécharger : ESRS 2 - Informations générales à publier <span class="fr-link__detail">PDF – 1,2 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-2/Guide-d-application-ANC-ESRS-2.pdf' %}">
                                    Télécharger : ESRS 2 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 838 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-2/Data-point-ESRS-2.xlsx' %}">
                                    Télécharger : ESRS 2 - Data points (EN) <span class="fr-link__detail">XLSX – 29,9 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSE1" role="dialog" id="modal-ESRSE1" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSE1">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSE1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS E1</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E1/CSRD-ESRS-E1.pdf' %}">
                                    Télécharger : ESRS E1 - Changement climatique <span class="fr-link__detail">PDF – 2,2 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E1/Guide-d-application-ANC-ESRS-E1.pdf' %}">
                                    Télécharger : ESRS E1 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 4 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E1/Data-point-ESRS-E1.xlsx' %}">
                                    Télécharger : ESRS E1 - Data points (EN) <span class="fr-link__detail">XLSX – 31,2 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSE2" role="dialog" id="modal-ESRSE2" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSE2">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSE2" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS E2</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E2/CSRD-ESRS-E2.pdf' %}">
                                    Télécharger : ESRS E2 - Pollution <span class="fr-link__detail">PDF – 931,2 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E2/Data-point-ESRS-E2.xlsx' %}">
                                    Télécharger : ESRS E2 - Data points (EN) <span class="fr-link__detail">XLSX – 19 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSE3" role="dialog" id="modal-ESRSE3" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSE3">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSE3" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS E3</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E3/CSRD-ESRS-E3.pdf' %}">
                                    Télécharger : ESRS E3 - Ressources aquatiques et marines <span class="fr-link__detail">PDF – 826 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E3/Data-point-ESRS-E3.xlsx' %}">
                                    Télécharger : ESRS E3 - Data points (EN) <span class="fr-link__detail">XLSX – 16,9 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSE4" role="dialog" id="modal-ESRSE4" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSE4">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSE4" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS E4</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E4/CSRD-ESRS-E4.pdf' %}">
                                    Télécharger : ESRS E4 - Biodiversité et écosystèmes <span class="fr-link__detail">PDF – 1,2 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E4/Guide-d-application-ANC-ESRS-E4.pdf' %}">
                                    Télécharger : ESRS E4 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 6,1 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E4/Data-point-ESRS-E4.xlsx' %}">
                                    Télécharger : ESRS E4 - Data points (EN) <span class="fr-link__detail">XLSX – 24,2 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSE5" role="dialog" id="modal-ESRSE5" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSE5">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSE5" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS E5</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E5/CSRD-ESRS-E5.pdf' %}">
                                    Télécharger : ESRS E5 - Economie circulaire <span class="fr-link__detail">PDF – 950,8 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-E5/Data-point-ESRS-E5.xlsx' %}">
                                    Télécharger : ESRS E5 - Data points (EN) <span class="fr-link__detail">XLSX – 19 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSS1" role="dialog" id="modal-ESRSS1" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSS1">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSS1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS S1</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S1/CSRD-ESRS-S1.pdf' %}">
                                    Télécharger : ESRS S1 - Effectifs de l'entreprise <span class="fr-link__detail">PDF – 1,7 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S1/Guide-d-application-ANC-ESRS-S1.pdf' %}">
                                    Télécharger : ESRS S1 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 3 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S1/Data-point-ESRS-S1.xlsx' %}">
                                    Télécharger : ESRS S1 - Data points (EN) <span class="fr-link__detail">XLSX – 31,7 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSS2" role="dialog" id="modal-ESRSS2" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSS2">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSS2" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS S2</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S2/CSRD-ESRS-S2.pdf' %}">
                                    Télécharger : ESRS S2 - Travailleurs de la chaîne de valeurs <span class="fr-link__detail">PDF – 873,9 ko</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S2/Guide-d-application-ANC-ESRS-S2-3-4.pdf' %}">
                                    Télécharger : ESRS S2,3,4 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 2,8 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S2/Data-point-ESRS-S2.xlsx' %}">
                                    Télécharger : ESRS S2 - Data points (EN) <span class="fr-link__detail">XLSX – 19,6 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSS3" role="dialog" id="modal-ESRSS3" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSS3">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSS3" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS S3</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S3/CSRD-ESRS-S3.pdf' %}">
                                    Télécharger : ESRS S3 - Communautés touchées <span class="fr-link__detail">PDF – 1,1 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S3/Data-point-ESRS-S3.xlsx' %}">
                                    Télécharger : ESRS S3 - Data points (EN) <span class="fr-link__detail">XLSX – 19,5 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSS4" role="dialog" id="modal-ESRSS4" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSS4">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSS4" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS S4</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S4/CSRD-ESRS-S4.pdf' %}">
                                    Télécharger : ESRS S4 - Consommateurs et utilisateurs finals <span class="fr-link__detail">PDF – 1 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-S4/Data-point-ESRS-S4.xlsx' %}">
                                    Télécharger : ESRS S4 - Data points (EN) <span class="fr-link__detail">XLSX – 19,4 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <dialog aria-labelledby="fr-modal-title-ESRSG1" role="dialog" id="modal-ESRSG1" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="modal-ESRSG1">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-ESRSG1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ressources à télécharger pour l'ESRS G1</h1>
                            <p>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-G1/CSRD-ESRS-G1.pdf' %}">
                                    Télécharger : ESRS G1 - Conduite des affaires <span class="fr-link__detail">PDF – 1 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-G1/Guide-d-application-ANC-ESRS-G1.pdf' %}">
                                    Télécharger : ESRS G1 - Guide d'application de l'ANC <span class="fr-link__detail">PDF – 3 mo</span>
                                </a>
                                <br>
                                <br>
                                <a class="fr-link fr-link--download" download href="{% static 'CSRD/ESRS-G1/Data-point-ESRS-G1.xlsx' %}">
                                    Télécharger : ESRS G1 - Data points (EN) <span class="fr-link__detail">XLSX – 17,3 ko</span>
                                </a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>

{% endblock %}
