{% extends "public/base.html" %}

{% block content %}

{% if not entreprises %}
<div class="fr-container fr-my-8w">
    Aucune règlementation à remplir car aucune entreprise n'est associée à votre compte.
</div>
{% else %}
    {% for elem in entreprises %}
        {% with entreprise=elem.entreprise %}
        <div class="fr-container fr-my-8w">
            <h2>{{ entreprise.raison_sociale }}</h2>
            <div class="fr-alert fr-alert--warning">
                <h3 class="fr-alert__title">La liste des réglementations ci-dessous n'est pas exhaustive</h3>
                <p>La liste des réglementations actuellement prises en compte sur la plateforme est susceptible d'évoluer</p>
            </div>

            <!-- BDESE -->
            {% with reglementation=elem.bdese %}
            <div class="fr-card fr-card--horizontal {% if reglementation.status == reglementation.STATUS_NON_SOUMIS %}fr-card--grey{% endif %} fr-mt-2w">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h3 class="fr-card__title">
                            <a href="#">Base de données économiques, sociales et environnementales (BDESE)</a>
                        </h3>
                        <p class="fr-card__desc">
                            L'employeur d'au moins 50 salariés doit mettre à disposition du comité économique et social (CSE) ou des représentants du personnel une base de données économiques, sociales et environnementales (BDESE).
                            La BDESE rassemble les informations sur les grandes orientations économiques et sociales de l'entreprise.
                            Elle comprend des mentions obligatoires qui varient selon l'effectif de l'entreprise.
                        </p>
                        {% include "snippets/reglementation_card.html" %}
                    </div>
                    <div class="fr-card__footer">
                        <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                            <li>
                                <a class="fr-btn fr-btn--secondary" href="https://entreprendre.service-public.fr/vosdroits/F32193" target="_blank" rel="noopener">
                                    En savoir plus
                                </a>
                            </li>
                            {% if reglementation.primary_action %}
                            <li>
                                <a class="fr-btn" href="{{ reglementation.primary_action.url }}">
                                    {{ reglementation.primary_action.title }}
                                </a>
                            </li>
                            {% endif %}
                            {% if reglementation.secondary_actions %}
                                {% for secondary_action in reglementation.secondary_actions %}
                                <li>
                                    <a class="fr-btn fr-btn--secondary" href="{{ secondary_action.url }}">
                                        {{ secondary_action.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endwith %}

            <!-- Index Egapro -->
            {% with reglementation=elem.index_egapro %}
            <div class="fr-card fr-card--horizontal {% if reglementation.status == reglementation.STATUS_NON_SOUMIS %}fr-card--grey{% endif %} fr-mt-2w">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h3 class="fr-card__title">
                            <a href="#">Index de l'égalité professionnelle</a>
                        </h3>
                        <p class="fr-card__desc">Afin de lutter contre les inégalités salariales entre les femmes et les hommes, certaines entreprises doivent calculer et transmettre un index mesurant l’égalité salariale au sein de leur structure.</p>
                        {% include "snippets/reglementation_card.html" %}
                    </div>
                    <div class="fr-card__footer">
                        <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                            <li>
                                <a class="fr-btn fr-btn--secondary" href="https://www.economie.gouv.fr/entreprises/index-egalite-professionnelle-obligatoire" target="_blank" rel="noopener">
                                    En savoir plus
                                </a>
                            </li>
                            {% if reglementation.status != reglementation.STATUS_NON_SOUMIS %}
                            <li>
                                <a class="fr-btn" href="https://index-egapro.travail.gouv.fr/" target="_blank" rel="noopener">
                                    Calculer et déclarer mon index sur Index Egapro
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endwith %}

        </div>
        {% endwith %}
    {% endfor %}
{% endif %}
<!-- page reglementations -->
{% endblock %}