{% extends "base.html" %}

{% block title %}Réglementations - Impact{% endblock %}

{% block content %}
<!-- page reglementations -->

    <div class="fr-container fr-my-4w">
        <div class="fr-callout {% if simulation %}fr-callout--yellow-tournesol{% endif %}">
            <p class="fr-callout__text">
                {% if simulation %}
                    Vous êtes dans le cadre d'une simulation simplifiée.
                    {% if not user.is_authenticated %}
                        Pour disposer d'une version plus précise de vos obligations réglementaires, vous devez vous connecter et remplir des informations supplémentaires concernant l'entreprise.
                        <br>
                        <a href="{% url 'users:login' %}?next={% url 'reglementations:reglementations' siren=entreprise.siren %}" class="fr-btn">Se connecter pour compléter les informations</a>
                    {% endif %}
                {% else %}
                    La liste des réglementations ci-dessous n’est pas encore complète et va s’enrichir progressivement. Le site actuel, encore au stade de prototype (bêta), sera amené à évoluer.
                {% endif %}
            </p>
        </div>

        {% if entreprise.denomination %}<h2 class="fr-mt-4w">{{ entreprise.denomination }}</h2>{% endif %}
        {% for reglementation in reglementations %}
            {% include "snippets/reglementation_card.html" with reglementation=reglementation %}
        {% endfor %}
    </div>

{% endblock %}
