{% extends "base.html" %}

{% block title %}Tableau de bord - Portail RSE{% endblock %}

{% block content %}
<!-- page tableau de bord -->

    <div class="fr-container fr-my-4w">
        <h2>Tableau de bord {% if entreprise.denomination %}de {{ entreprise.denomination }}{% endif %}</h2>
        <div class="fr-callout fr-callout--blue-ecume">
            <p class="fr-callout__text">
                La liste des réglementations ci-dessous n’est pas encore complète et va s’enrichir progressivement. Le site actuel, encore au stade de prototype (bêta), sera amené à évoluer.
            </p>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
            <h3>Réglementations à actualiser</h3>
            {% for reglementation in reglementations_a_actualiser %}
                {% include "snippets/reglementation_component.html" with reglementation=reglementation.reglementation status=reglementation.status %}
            {% endfor %}
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
            <h3>Réglementations en cours</h3>
            {% for reglementation in reglementations_en_cours %}
                {% include "snippets/reglementation_component.html" with reglementation=reglementation.reglementation status=reglementation.status %}
            {% endfor %}
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
            <h3>Réglementations à jour</h3>
            {% for reglementation in reglementations_a_jour %}
                {% include "snippets/reglementation_component.html" with reglementation=reglementation.reglementation status=reglementation.status %}
            {% endfor %}
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
            <h3>Réglementations soumises</h3>
            {% for reglementation in reglementations_soumises %}
                {% include "snippets/reglementation_component.html" with reglementation=reglementation.reglementation status=reglementation.status %}
            {% endfor %}
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
            <h3>Réglementations non soumises</h3>
            {% for reglementation in reglementations_non_soumises %}
                {% include "snippets/reglementation_component.html" with reglementation=reglementation.reglementation status=reglementation.status %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
