{% extends "base.html" %}

{% block title %}Tableau de bord - Portail RSE{% endblock %}

{% block content %}
<!-- page tableau de bord -->

    <div class="fr-container fr-my-4w">
        <h2>Tableau de bord {% if entreprise.denomination %}de {{ entreprise.denomination }}{% endif %}</h2>
        <div class="fr-callout fr-callout--blue-ecume">
            <p class="fr-callout__text">
                La liste des réglementations ci-dessous n’est pas encore complète et va s’enrichir progressivement. Le site actuel, encore au stade de prototype (bêta), sera amené à évoluer.
            </p>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for status_label, reglementations_et_status in reglementations.items %}
                <h3>{{ status_label }}</h3>
                {% for reglementation in reglementations_et_status %}
                    {% include "snippets/reglementation_card.html" with reglementation=reglementation.reglementation status=reglementation.status %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
