<div class="fr-col-2">
    <nav class="fr-sidemenu fr-sidemenu--sticky" aria-label="Menu latéral">
        <div class="fr-sidemenu__inner">
            <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
                <ul class="fr-sidemenu__list">
                    {% for step_number, step in steps.items %}
                    <li class="fr-sidemenu__item {% if active_item == step_number %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="{% url 'bdese' siren step_number %}" target="_self" {% if active_item == step_number %}aria-current="page"{% endif %}>{{ step.name }} {% if step.is_complete %}✅{% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>