<div class="fr-grid-row">
    <div class="fr-col">
        <h1>BDESE {{ annee }}</h1>
    </div>
    <div class="fr-col" style="text-align: right;">
        <a class="fr-btn" href="{% url 'bdese_pdf' siren annee %}" target="_blank" rel="noopener">
            Télécharger ma BDESE {{ annee }}{% if not bdese_is_complete %} (brouillon){% endif %}
        </a>
    </div>
</div>

<div class="fr-grid-row">
    <div class="fr-col">
        <p>Les informations figurant dans la BDESE doivent porter sur les 3 dernières années achevées et 3 années suivantes (dont celle en cours), sous forme de perspectives.</p>
        <p>
            Années à remplir :
            {% for annee in annees %}
            <a href="{% url 'bdese' siren annee 0 %}" title="Remplissez la BDESE et télécharger le rapport pour {{ annee }}">{{ annee }}</a>
            {% endfor %}
        </p>
    </div>
</div>
