<div class="fr-col-12 fr-col-md-3">
    <nav class="fr-sidemenu fr-sidemenu--sticky" aria-label="Menu latéral">
        <div class="fr-sidemenu__inner">
            <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
                <ul class="fr-sidemenu__list">
                    {% for step_number, step in steps.items %}
                        <li class="fr-sidemenu__item {% if active_item == step_number %}fr-sidemenu__item--active{% endif %}">
                            <a class="fr-sidemenu__link" href="{% url 'reglementations:bdese_step' entreprise.siren annee step_number %}" target="_self" {% if active_item == step_number %}aria-current="page"{% endif %}>
                                {% if step.is_complete %}
                                    <span class="fr-icon-success-line fr-mr-1w" aria-hidden="true"></span>
                                {% endif %}
                                {{ step.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
