{% extends "snippets/field.html" %}
{% load filters %}

{% block field_label %}
<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
    <div class="fr-col">
        <label class="fr-label" for="{{ field.id_for_label }}">{{ field.label }}
            <span class="fr-hint-text">{{ field.help_text }}</span>
        </label>
    </div>
    <div class="fr-col-3">
        {% with toggle_id=field|svelte_toggle_id container_id=field|svelte_container_id%}
            <div class="svelte-indicateur-externe-toggle" data-toggle-id="{{ toggle_id }}" data-field-name="{{ field.name }}" data-field-container-id="{{ container_id }}" data-indicateurs-externes-field-id="{{ form.indicateurs_externes_in_step.id_for_label }}"></div>
        {% endwith %}
    </div>        
</div>
{% endblock %}

{% block field %}
    {% with container_id=field|svelte_container_id %}
        <div id="{{ container_id }}">
            <div class="svelte-indicateur-externe" style="display: none">
                Cette donnée est remplie dans un autre document.
            </div>
            {% with widget_type=field|widget_type %}
                <div class="svelte-indicateur-interne fr-col-12 {% if widget_type == 'NumberInput' %}fr-col-sm-2{% endif %}">
                    {{ field }}
                </div>
            {% endwith %}
        </div>
    {% endwith %}
{% endblock %}