<div class="fr-container fr-mt-8w">
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-6">
            <h1>BDESE {{ annee }}</h1>
        </div>
        <div class="fr-col" style="text-align: right;">
            <p>
                <a class="fr-btn" href="{% url 'reglementations:bdese_pdf' siren annee %}" target="_blank" rel="noopener">
                    {% if est_soumis_actuellement %}
                        Télécharger ma BDESE {{ annee }}{% if not bdese_is_complete %} (brouillon){% endif %}
                    {% else %}
                        Télécharger cet essai de BDESE
                    {% endif %}
                </a>
            </p>
        </div>
    </div>

    <div class="fr-grid-row">
        <div class="fr-col">
            {% if est_soumis_actuellement %}
                <p>
                    Années à remplir :
                    {% for annee in annees %}
                        <a href="{% url 'reglementations:bdese_step' siren annee 0 %}" title="Remplissez la BDESE et télécharger le rapport pour {{ annee }}">{{ annee }}</a>
                    {% endfor %}
                </p>
            {% else %}
                <p>Ceci est une démonstration de la BDESE : vous n'êtes actuellement pas soumis à cette réglementation.
                </p>
            {% endif %}
        </div>
    </div>
</div>
