<div class="fr-mt-4w">
    {% if step_is_complete %}
    <button type="submit" name="mark_incomplete" class="fr-btn fr-btn--icon-left fr-icon-edit-line">Repasser en brouillon pour modifier</button>
    {% else %}
    <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left">
        <li><button type="submit" name="save_complete" class="fr-btn fr-icon-checkbox-circle-line">Enregistrer et marquer comme terminé</button></li>
        <li><button type="submit" name="save_draft" class="fr-btn fr-btn--secondary fr-icon-save-line">Enregistrer en brouillon</button></li>
    </ul>
    {% endif %}
</div>
