{% extends "snippets/field.html" %}
{% load filters %}

{% block field_label %}
<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
    <div class="fr-col">
        <label class="fr-label" for="{{ field.id_for_label }}">{{ field.label }}
            <span class="fr-hint-text">{{ field.help_text }}</span>
        </label>
    </div>
    <div class="fr-col-3">
        <div class="fr-toggle">
            {% with toggle_id=field|toggle_id %}
            <input type="checkbox" class="fr-toggle__input" aria-describedby="toggle-{{ toggle_id }}-hint-text" id="toggle-{{ toggle_id }}">
            <label class="fr-toggle__label" for="toggle-{{ toggle_id }}" data-fr-checked-label="Activé" data-fr-unchecked-label="Désactivé">Indicateur externe</label>

            <script>
                document.getElementById("toggle-{{ toggle_id }}").addEventListener("change", () => {

                    if (document.getElementById("toggle-{{ toggle_id }}").checked) {
                        console.log("Checkbox is checked..");
                        document.getElementById("{{ field.id_for_label }}").disabled = true;
                    } else {
                        console.log("Checkbox is not checked..");
                        document.getElementById("{{ field.id_for_label }}").disabled = false;
                    }

                })
            </script>
            {% endwith %}
        </div>
    </div>        
</div>


{% endblock %}