<button class="fr-btn fr-btn--secondary fr-icon-list-ordered" id="csrd-menu" aria-expanded="false" aria-controls="fr-sidemenu-csrd" title="Ouvre le menu latéral de table des matières">
    Menu
</button>
<nav class="fr-sidemenu fr-sidemenu--sticky-full-height fr-collapse" role="navigation" aria-labelledby="fr-sidemenu-title" id="fr-sidemenu-csrd">
    <div class="fr-sidemenu__inner">
        <div class="" id="fr-sidemenu-wrapper">
            <div class="fr-sidemenu__header fr-pt-1w">
                <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-sidemenu-csrd">
                    Fermer
                </button>
            </div>
            <div class="fr-sidemenu__title" id="fr-sidemenu-title">
                Table des matières
            </div>
            <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link sidemenu-border-top" href="{% url 'reglementations:csrd' %}" target="_self" {% if request.path == url_page %} aria-current="page"{% endif %}>
                        Introduction à la CSRD
                    </a>
                </li>
                <!-- Phase 1 -->
                <li class="fr-sidemenu__item">
                    <button class="fr-sidemenu__btn sidemenu-border-top" aria-expanded="{% if phase == 1%}true{% else %}false{% endif %}" aria-controls="fr-sidemenu-item-1">
                        Phase 1 - Analyser sa double matérialité
                    </button>
                    <div class="fr-collapse" id="fr-sidemenu-item-1">
                        <ul class="fr-sidemenu__list">
                            <li class="fr-sidemenu__item">
                                {% url 'reglementations:csrd_etape' entreprise.siren 1 0 as url_page %}
                                <a class="fr-sidemenu__link" href="{{ url_page }}" target="_self" {% if phase == 1 and etape == 0 %} aria-current="page"{% endif %}>
                                    Introduction
                                </a>
                            </li>
                            <li class="fr-sidemenu__item">
                                {% url 'reglementations:csrd_etape' entreprise.siren 1 1 as url_page %}
                                <a class="fr-sidemenu__link" href="{{ url_page }}" target="_self" {% if phase == 1 and etape == 1 %} aria-current="page"{% endif %}>
                                    Étape 1 - Comprendre le contexte
                                </a>
                            </li>
                            <li class="fr-sidemenu__item">
                                {% url 'reglementations:csrd_etape' entreprise.siren 1 2 as url_page %}
                                <a class="fr-sidemenu__link" href="{{ url_page }}" target="_self" {% if phase == 1 and etape == 2 %} aria-current="page"{% endif %}>
                                    Étape 2 - Identifier la liste de ses enjeux ESG potentiels
                                </a>
                            </li>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link fr-sidemenu__link--disabled" target="_self">
                                    Étape 3 - Sélectionner ses enjeux ESG matériels (En construction)
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Phase 2 -->
                <li class="fr-sidemenu__item">
                    <button class="fr-sidemenu__btn" aria-expanded="{% if phase == 2%}true{% else %}false{% endif %}" aria-controls="fr-sidemenu-item-3">
                        Phase 2 - Collecter les données de son entreprise
                    </button>
                    <div class="fr-collapse" id="fr-sidemenu-item-3">
                        <ul class="fr-sidemenu__list">
                            <li class="fr-sidemenu__item">
                                {% url 'reglementations:csrd_etape' entreprise.siren 2 0 as url_page %}
                                <a class="fr-sidemenu__link" href="{{ url_page }}" target="_self" {% if phase == 2 and etape == 0 %} aria-current="page"{% endif %}>
                                    Introduction
                                </a>
                            </li>
                            <li class="fr-sidemenu__item">
                                {% url 'reglementations:csrd_sous_etape' entreprise.siren 2 1 1 as url_page %}
                                <a class="fr-sidemenu__link" href="{{ url_page }}" target="_self" {% if phase == 2 and etape == 1 %} aria-current="page"{% endif %}>
                                    Étape 1 - Analyser la matérialité des informations élémentaires
                                </a>
                            </li>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link fr-sidemenu__link--disabled" target="_self">
                                    Étape 2 - Réaliser une analyse d’écart (En construction)
                                </a>
                            </li>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link fr-sidemenu__link--disabled" target="_self">
                                    Étape 3 - Collecter les données manquantes
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Phase 3 -->
                <li class="fr-sidemenu__item">
                    <button class="fr-sidemenu__btn" aria-expanded="{% if phase == 3%}true{% else %}false{% endif %}" aria-controls="fr-sidemenu-item-2">
                        Phase 3 - Rédiger son rapport de durabilité
                    </button>
                    <div class="fr-collapse" id="fr-sidemenu-item-2">
                        <ul class="fr-sidemenu__list">
                            <li class="fr-sidemenu__item">
                                {% url 'reglementations:csrd_etape' entreprise.siren 3 0 as url_page %}
                                <a class="fr-sidemenu__link" href="{{ url_page }}" target="_self" {% if phase == 3 and etape == 0 %} aria-current="page"{% endif %}>
                                    Introduction
                                </a>
                            </li>
                            <li class="fr-sidemenu__item">
                                {% url 'reglementations:csrd_sous_etape' entreprise.siren 3 1 1 as url_page %}
                                <a class="fr-sidemenu__link" href="{{ url_page }}" target="_self" {% if phase == 3 and etape == 1 %} aria-current="page"{% endif %}>
                                    Étape 1 - Structurer son rapport
                                </a>
                            </li>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link fr-sidemenu__link--disabled" target="_self">
                                    Étape 2 - Valider son rapport (En construction)
                                </a>
                            </li>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link fr-sidemenu__link--disabled" target="_self">
                                    Étape 3 - Publier son rapport (En construction)
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- fin -->
            </ul>
        </div>
    </div>
</nav>
