<div class="fr-container fr-mt-4w">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
            Voir le fil d’Ariane
        </button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'reglementations:index' entreprise.siren %}">Mes réglementations</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'reglementations:reglementations' entreprise.siren %}">Gérer mes réglementations</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" href="{% url 'reglementations:reglementation' entreprise.siren reglementation.id %}">{{ reglementation.title }}</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Rapport {{ csrd.annee }}</a>
                </li>
            </ol>
        </div>
    </nav>
    <div class="fr-grid-row">
        <div class="fr-col-12">
            <p class="fr-badge fr-badge--info fr-badge--no-icon">{{ csrd.entreprise.denomination }}</p>
            <br>
            <h1>Rapport de durabilité {{ csrd.annee }}</h1>
            {% if rapports_csrd.count > 1 %}
                <div class="fr-mb-2w">
                    Rapports CSRD disponibles&#8239;:&nbsp;
                    {% for rapport in rapports_csrd %}
                        <span class="fr-ml-1w" id="_selection_{{ rapport.annee }}">
                            {% if rapport.pk == csrd.pk %}
                                <strong>{{ rapport.annee }}</strong>
                            {% else %}
                                <a href="#"
                                   hx-post="{% url 'reglementations:selection_rapport' csrd_id=rapport.pk %}"
                                   hx-target="body">{{ rapport.annee }}</a>
                            {% endif %}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if csrd.bloque %}
                <div class="fr-alert fr-alert--info fr-mb-2w">
                    <h3 class="fr-alert__title">Rapport CSRD {{ csrd.annee }} publié</h3>
                    <p>
                        Le lien de votre rapport de durabilité a été intégré à votre <a href="{% url 'reglementations:gestion_csrd' siren=csrd.entreprise.siren id_etape='redaction-rapport-durabilite' %}">tableau de bord</a>.
                        En cas de modification de votre rapport, pensez à mettre à jour le lien pour garder vos informations à jour.
                    </p>
                    {% if csrd.lien_rapport %}
                        <p>
                            <a href="{{ csrd.lien_rapport }}" target="_blank">Voir le rapport publié</a>
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
