<nav class="fr-sidemenu fr-sidemenu--sticky-full-height" role="navigation" aria-labelledby="fr-sidemenu-title">
  <div class="fr-sidemenu__inner">
    <button
      class="fr-sidemenu__btn"
      aria-controls="fr-sidemenu-wrapper"
      aria-expanded="false"
    >
      Dans cette rubrique
    </button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <div class="fr-sidemenu__header fr-pt-1w">
        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-sidemenu">Fermer</button>
      </div>
      <div class="fr-sidemenu__title" id="fr-sidemenu-title">Table des matières</div>
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link sidemenu-border-top" href="#" target="_self"
          >Introduction à la CSRD</a
            >
          </li>
          <!-- Phase 1 -->
          <li class="fr-sidemenu__item">
            <button
              class="fr-sidemenu__btn sidemenu-border-top"
              aria-expanded="false"
              aria-controls="fr-sidemenu-item-1"
            >
              Phase 1 - Analysez votre double matérialité
            </button>
            <div class="fr-collapse" id="fr-sidemenu-item-1">
              <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item">
                  <a class="fr-sidemenu__link" href="#" target="_self"
                  >Introduction</a
                    >
                  </li>
                  <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#" target="_self"
                    >Étape 1 - Compréhension du contexte</a
                      >
                    </li>
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#" target="_self"
                      >Étape 2 - Identification de la liste des enjeux ESG potentiels</a
                        >
                      </li>
                      <li class="fr-sidemenu__item">
                        <a class="fr-sidemenu__link" href="#" target="_self"
                        >Étape 3 - Sélection des enjeux ESG matériels</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
          <!-- Phase 2 -->
                  <li class="fr-sidemenu__item">
                    <button
                      class="fr-sidemenu__btn"
                      aria-expanded="false"
                      aria-controls="fr-sidemenu-item-3"
                    >
                      Phase 2 - Collecter vos données
                    </button>
                    <div class="fr-collapse" id="fr-sidemenu-item-3">
                      <ul class="fr-sidemenu__list">
                        <li class="fr-sidemenu__item">
                          <a class="fr-sidemenu__link" href="#" target="_self"
                          >Introduction</a
                            >
                          </li>
                          <li class="fr-sidemenu__item">
                            <a class="fr-sidemenu__link" href="#" target="_self"
                            >Étape 1 - Comprendre le contexte (En construction)</a
                              >
                            </li>
                            <li class="fr-sidemenu__item">
                              <a class="fr-sidemenu__link" href="#" target="_self"
                              >Étape 2 - Reporter les données (En construction)</a
                                >
                              </li>
                            </ul>
                          </div>
                        </li>
          <!-- Phase 3 -->
                        <li class="fr-sidemenu__item">
                          <button
                            class="fr-sidemenu__btn"
                            aria-expanded="false"
                            aria-controls="fr-sidemenu-item-2"
                          >
                            Phase 3 - Rédigez votre rapport de durabilité
                          </button>
                          <div class="fr-collapse" id="fr-sidemenu-item-2">
                            <ul class="fr-sidemenu__list">
                              <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="#" target="_self"
                                >Introduction</a
                                  >
                                </li>
                                <li class="fr-sidemenu__item">
                                  <a class="fr-sidemenu__link" href="#" target="_self"
                                  >Étape 1 - Structurer mon rapport</a
                                    >
                                  </li>
                                  <li class="fr-sidemenu__item">
                                    <a class="fr-sidemenu__link" href="#" target="_self"
                                    >Étape 2 - Valider mon rapport (En construction)</a
                                      >
                                    </li>
                                    <li class="fr-sidemenu__item">
                                      <a class="fr-sidemenu__link" href="#" target="_self"
                                      >Étape 3 - Publier mon rapport (En construction)</a
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                </li>
          <!-- fin -->
                              </ul>
                            </div>
                          </div>
                        </nav>
