<div class="csrd-disclaimer">
    <div class="fr-container fr-py-8w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-6">
                <p>
                    <b>Attention : </b>
                </p>
                <p>
                    L’ESRS n’impose pas la manière dont le processus d’évaluation de l’importance relative doit être conçu ou mené par l’entreprise.
                </p>
                <p>
                    En effet, aucun processus ne conviendrait à tous les types d’activités économiques, de structure organisationnelle, de localisation des opérations ou de chaînes de valeur en amont et en aval de toutes les entreprises appliquant l’ESRS.
                </p>
            </div>
            <div class="fr-col-12 fr-col-md-6">
                <em>
                    Sources : EFRAG - <a title="European Sustainability Reporting Guidelines 1 - ouvre une nouvelle fenêtre" target="_blank" rel="noopener external" href="https://www.efrag.org/Assets/Download?assetUrl=/sites/webpublishing/SiteAssets/IG+1+Materiality+Assessment_final.pdf">European Sustainability Reporting Guidelines 1 Double materiality conceptual guidelines for standard-setting</a>
                </em>
            </div>
        </div>
    </div>
</div>
