<div class="csrd-action fr-py-4w">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--right">
            <ul class="fr-btns-group fr-btns-group--inline">
                <a class="fr-btn fr-btn--secondary" href="{% url 'reglementations:csrd_sous_etape' siren phase_precedente etape_precedente sous_etape_precedente %}">Précédent</a>
                <a class="fr-btn" href="{% url 'reglementations:csrd_sous_etape' siren phase_suivante etape_suivante sous_etape_suivante %}">Suivant</a>
            </ul>
        </div>
    </div>
</div>
