<div class="fr-col-12 fr-col-md-3">
    <nav class="fr-sidemenu fr-sidemenu--sticky" aria-label="Menu latéral">
        <div class="fr-sidemenu__inner">
            <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
                <ul class="fr-sidemenu__list">
                    {% for step in steps %}
                        {% if step.sous_etapes %}
                            <li class="fr-sidemenu__item">
                                <button
                                    class="fr-sidemenu__btn"
                                    aria-expanded="true"
                                    aria-controls="fr-sidemenu-item-{{ step.id }}"
                                >
                                    {{ step.nom }}
                                </button>
                                <div class="fr-collapse" id="fr-sidemenu-item-{{ step.id }}">
                                    <ul class="fr-sidemenu__list">
                                        {% for substep in step.sous_etapes %}
                                            <li class="fr-sidemenu__item {% if etape.id == substep.id %}fr-sidemenu__item--active{% endif %}">
                                                <a class="fr-sidemenu__link" href="{% url 'reglementations:gestion_csrd' entreprise.siren substep.id %}" target="_self"
                                                   {% if etape.id == substep.id %}aria-current="page"{% endif %}
                                                >{{ substep.nom }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li class="fr-sidemenu__item {% if etape.id == step.id %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="{% url 'reglementations:gestion_csrd' entreprise.siren step.id %}" target="_self" {% if etape.id == step.id %}aria-current="page"{% endif %}>
                                    {% if step.is_complete %}
                                        <span class="fr-icon-success-line fr-mr-1w" aria-hidden="true"></span>
                                    {% endif %}
                                    {{ step.nom }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
