<div class="fr-col-12 fr-col-md-3">
    <nav class="fr-sidemenu fr-sidemenu--sticky fr-mb-2w dashboard-sidemenu" role="navigation" aria-labelledby="sidemenu-title">
        <div class="fr-sidemenu__inner">
            <button type="button" class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
                <p class="fr-sidemenu__title" id="sidemenu-title">Mon tableau de bord</p>
                <div class="denomination">
                    <p class="fr-badge fr-icon-building-line fr-badge--icon-left"><span class="fr-ellipsis" title="{{ entreprise.denomination }}">{{ entreprise.denomination }}</span></p>
                </div>
                <a class="fr-btn fr-btn--secondary fr-my-2w" href="{% url 'entreprises:entreprises' %}">Ajouter une entreprise</a>
            </div>
        </div>
    </nav>
</div>
