<div class="fr-col-12 fr-col-md-3">
    <nav class="fr-sidemenu fr-sidemenu--sticky" aria-label="Menu latéral">
        <div class="fr-sidemenu__inner">
            <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
                <p>Mon tableau de bord</p>
                <p>{{ entreprise.denomination }}</p>
                <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item {% if not 'reglementations' in request.path %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="{% url 'reglementations:tableau_de_bord' entreprise.siren %}" target="_self" {% if not 'reglementations' in request.path %}aria-current="page"{% endif %}>
                            <span class="fr-icon-layout-grid-fill fr-mr-1w" aria-hidden="true"></span>
                            Résumé
                        </a>
                    </li>
                    <li class="fr-sidemenu__item {% if 'reglementations' in request.path %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="{% url 'reglementations:reglementations' entreprise.siren %}" target="_self" {% if 'reglementations' in request.path %}aria-current="page"{% endif %}>
                            <span class="fr-icon-feedback-line fr-mr-1w" aria-hidden="true"></span>
                            Mes réglementations
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
