<div class="fr-col-12 fr-col-md-3">
    <nav class="fr-sidemenu fr-sidemenu--sticky fr-mb-2w dashboard-sidemenu" role="navigation" aria-labelledby="sidemenu-title">
        <div class="fr-sidemenu__inner">
            <button type="button" class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
                <p class="fr-sidemenu__title" id="sidemenu-title">Mon tableau de bord</p>
                <div class="denomination">
                    <p class="fr-badge fr-icon-building-line fr-badge--icon-left"><span class="fr-ellipsis" title="{{ entreprise.denomination }}">{{ entreprise.denomination }}</span></p>
                </div>
                <a class="fr-btn fr-btn--secondary fr-my-2w" href="{% url 'entreprises:entreprises' %}">Ajouter une entreprise</a>
                <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item {% if page_resume %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="{% url 'reglementations:tableau_de_bord' entreprise.siren %}" target="_self" {% if page_resume %}aria-current="page"{% endif %}>
                            <span class="fr-icon-layout-grid-fill fr-mr-1w" aria-hidden="true"></span>
                            Résumé
                        </a>
                    </li>
                    <li class="fr-sidemenu__item {% if 'reglementations' in request.path %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="{% url 'reglementations:reglementations' entreprise.siren %}" target="_self" {% if 'reglementations' in request.path %}aria-current="page"{% endif %}>
                            <span class="fr-icon-article-line fr-mr-1w" aria-hidden="true"></span>
                            Mes réglementations
                        </a>
                    </li>
                    <li class="fr-sidemenu__item {% if 'indicateurs' in request.path %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="{% url 'vsme:categories_vsme' entreprise.siren annee_precedente %}" target="_self" {% if 'indicateurs' in request.path %}aria-current="page"{% endif %}>
                            <span class="fr-icon-bar-chart-box-line fr-mr-1w" aria-hidden="true"></span>
                            Mes indicateurs
                        </a>
                    </li>
                    <li class="fr-sidemenu__item {% if 'analyses' in request.path %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="{% url 'analyseia:analyses'%}" target="_self" {% if 'analyses' in request.path %}aria-current="page"{% endif %}>
                            <span class="fr-icon-bar-chart-box-line fr-mr-1w" aria-hidden="true"></span>
                            Préparer mon rapport
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
