{% extends "base.html" %}
{% load static %}

{% block title %}Fiche BDESE - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-pt-2w ">
            <div class="fr-col-12">
                <a class="fr-link fr-icon-arrow-left-line fr-link--icon-left" href="{% url 'reglementations' %}">Retour à la liste des réglementations</a>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-pb-6w fr-mt-1v">
            <div class="fr-col-lg-2 fiche-img">
                <figure class="fr-content-media" role="group">
                    <div class="fr-content-media__img">
                        <img class="fr-responsive-img fr-ratio-2x3" src="{% static 'img/social-2x3.png' %}" alt="" />
                    </div>
                </figure>
            </div>
            <div class="fr-col-lg-10 fr-my-5w">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h2 class="fr-mb-1v">Base de données économiques, sociales et environnementales (BDESE)</h2>
                        <p class="fr-text--xs">Dernière mise à jour le 07/11/2023</p>
                        <p>
                            L'employeur d'au moins 50 salariés doit mettre à disposition du comité économique et social (CSE) ou des représentants du personnel une base de données économiques, sociales et environnementales (BDESE).
                            <br><br>
                            La BDESE rassemble les informations sur les grandes orientations économiques et sociales de l'entreprise, afin de faciliter le dialogue social. En l'absence d'accord d'entreprise, elle comprend des mentions obligatoires qui varient selon l'effectif de l'entreprise.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row background-tag-social fr-py-6w fiche-tuiles fr-mb-6w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    A quelle fréquence dois-je mettre à jour ce dispositif ?
                                </h3>
                                <p class="fr-tile__detail">La BDESE doit être tenue à la disposition des membres du CSE et accessible en permanence.
                                    <br>
                                    Elle doit être mise à jour avant les 3 grandes consultations du CSE (en principe annuelles)
                                    <br>
                                    Certaines informations doivent être MAJ de façon trimestrielles pour les entreprises d'au -300 salariés</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Quand.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quel est l'objectif poursuivi par l'obligation ?
                                </h3>
                                <p class="fr-tile__detail">Faciliter le dialogue social</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Objectif.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Qui sont les destinataires / bénéficiaires du dispositif ?
                                </h3>
                                <p class="fr-tile__detail">Le comité social et économique (CSE)  ou les représentants du personnel</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Destinataires.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quelles entreprises sont concernées ?
                                </h3>
                                <p class="fr-tile__detail">Toute entreprise présentant un nombre de salariés supérieur ou égal à 50.</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Entreprise.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Que dois-je faire pour me mettre en conformité ?
                                </h3>
                                <p class="fr-tile__detail">Mettre à disposition sous format papier ou informatique ma BDESE pour mon CSE (sauf mention spécifique prévue dans un accord entre l'employeur et les représentants du personnel)
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Checklist.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quelles sont les sanctions encourues ?
                                </h3>
                                <p class="fr-tile__detail"><b>En cas d'absence de constitution d'un base de données :</b> l'entreprise est coupable du délit d'entrave au fonctionnement régulier du CSE, puni d'une amende de 7500 euros.
                                    <br><br>
                                    <b>En cas d'absence de mise à jour ou d'insuffisance des éléments répertoriés dans la base de données :</b> l'entreprise s'expose à une obligation d'intervenir pour remettre l'intégralité des informations, sous astreinte par jour de retard (pouvant s'élever jusqu'à 5 000 euros cf décision du tribunal judiciaire de Nanterre, ordonnance de référé, 16 septembre 2021, N° RG 21/00773)
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Sanction.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-container">
        <div class="fr-grid-row fr-mb-6w">
            <div class="fr-col-12">
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-106">Textes de référence</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-106">
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000035609788/2023-11-03/" target="_blank" rel="noopener">Article L2312-18 Code du travail</a>
                        <p class="fr-text--sm">Définition de la BDESE</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037385879" target="_blank" rel="noopener">Article L2312-36 Code du travail</a>
                        <p class="fr-text--sm">Contenu de la BDESE / Accès en permanence / Mise à jour régulière</p>

                        <a href="https://www.legifrance.gouv.fr/codes/section_lc/LEGITEXT000006072050/LEGISCTA000036411564/#LEGISCTA000036411564" target="_blank" rel="noopener">Articles R2312-8 à -10 Code du travail</a>
                        <p class="fr-text--sm">Contenu de la BDESE</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000043975118" target="_blank" rel="noopener">Article L2312-17</a> et <a href="https://www.legifrance.gouv.fr/codes/section_lc/LEGITEXT000006072050/LEGISCTA000035609782/#LEGISCTA000035609782" target="_blank" rel="noopener">Articles L2312-22 à  L2312-26  Code du travail</a>
                        <p class="fr-text--sm">Consultations annuelles du comité</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000035634273" target="_blank" rel="noopener">Article L2317-1 Code du travail</a>
                        <p class="fr-text--sm">Dispositions pénales</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000038791194" target="_blank" rel="noopener">Article L2312-15 Code du travail</a> et <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042597284" target="_blank" rel="noopener">Article 835 Code de procédure civile</a>
                        <p class="fr-text--sm">Saisine du président du tribunal judiciaire par le comité</p>

                    </div>
                </section>
            </div>
        </div>
        <div class="fr-grid-row fr-mb-6w fr-grid-row--center">
            <a class="fr-btn fr-btn--secondary" href="https://entreprendre.service-public.fr/vosdroits/F32193" target="_blank" rel="noopener">
                En savoir plus sur le site ministériel
            </a>
        </div>
    </div>
    <!-- page fiche réglementation -->
{% endblock %}

<!-- page fiche BDESE -->
