{% extends "base.html" %}
{% load static %}

{% block title %}Bilan GES - Impact{% endblock %}

{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-pt-1w fr-pb-6w">
            <div class="fr-col-lg-3">
                <figure class="fr-content-media" role="group" aria-label="© Légende de l‘image">
                    <div class="fr-content-media__img">
                        <img class="fr-responsive-img fr-ratio-2x3" src="{% static 'img/environnement-2x3.png' %}" alt="[À MODIFIER - vide ou texte alternatif de l’image]" />
                        <!-- L’alternative de l’image (attribut alt) doit toujours être présente, sa valeur peut-être vide (image n’apportant pas de sens supplémentaire au contexte) ou non (porteuse de texte ou apportant du sens) selon votre contexte -->
                    </div>
                </figure>
            </div>
            <div class="fr-col-lg-9 fr-my-5w">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h2 class="fr-mb-1v">Bilan EGES et Plan de Transition</h2>
                        <p class="fr-text--xs">Dernière mise à jour le JJ/MM/AAAA</p>
                        <p>
                            Le BGES impose aux entreprises d'indiquer l'ensemble de leurs émissions de gaz à effet de serre directes et indirectes découlant de leurs activités.
                            <br><br>
                            Ayant vocation à contribuer à la mise en œuvre de la stratégie de réduction des émissions de gaz à effet de serre, le bilan GES s’accompagne d’un plan de transition détaillant les objectifs, moyens et actions envisagés pour réduire les émissions ainsi que les actions déjà mise en œuvre lors du précédent bilan, le cas échéant.
                        </p>
                    </div>
                </div>
                <div class="fr-grid-row fr-mt-2w">
                    <h5>Quelles entreprises sont concernées ?</h5>
                    <p class="">
                        Toute entreprise ayant son siège social en France ou y disposant d'un ou plusieurs établissements stables qui présente:
                        <ul>
                            <li>soit un effectif - en équivalent temps plein - supérieur ou égal à 500   ; ou</li>
                            <li>soit un effectif – en équivalent temps plein – supérieur ou égal  à 250 dans les régions et départements d'outre-mer.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row background-env fr-py-6w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-3">
                    <div class="fr-tile fr-tile--vertical fr-tile--no-border">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Qui sont les destinataires ?
                                </h3>
                                <p class="fr-tile__detail">Le bilan et le plan de transition sont rendus publics</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram">
                                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                    <use class="fr-artwork-decorative" href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                                    <use class="fr-artwork-minor" href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                                    <use class="fr-artwork-major" href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-3">
                    <div class="fr-tile fr-tile--vertical">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quel support ?
                                </h3>
                                <p class="fr-tile__detail">Le bilan et le plan de transition se matérialisent sur un support électronique.</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram">
                                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                    <use class="fr-artwork-decorative" href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                                    <use class="fr-artwork-minor" href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                                    <use class="fr-artwork-major" href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-3">
                    <div class="fr-tile fr-tile--vertical">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quel mode de transmission ?
                                </h3>
                                <p class="fr-tile__detail">Le bilan et le plan de transition sont transmis par voie électronique à l'ADEME et sont rendu publics sur son site internet
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram">
                                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                    <use class="fr-artwork-decorative" href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                                    <use class="fr-artwork-minor" href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                                    <use class="fr-artwork-major" href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-3">
                    <div class="fr-tile fr-tile--vertical">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Fréquence
                                </h3>
                                <p class="fr-tile__detail">Le Bilan et le plan de transition sont mis à jour tous les  les 4 ans</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram">
                                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                    <use class="fr-artwork-decorative" href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                                    <use class="fr-artwork-minor" href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                                    <use class="fr-artwork-major" href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-py-6w">
                <h3>Quelles sont les sanctions encourues ?</h3>
                <p>
                    L'ADEME peut sanctionner le manquement à l'établissement ou à la transmission du bilan par une amende n'excédant pas 10.000 euros: en cas de récidive, l'amende ne peut avoir un montant excédant 20.000 euros.
                    <br><br>
                    Dans l'hypothèse d'un manquement, le préfet de région intervient pour mettre en demeure l'auteur de satisfaire son obligation dans un délai qu'il détermine : à l'expiration de ce délai, le préfet peut ordonner le paiement de l'amende citée au paragraphe précédent.

                </p>
            </div>
        </div>
    </div>

    <div class="fr-container">
        <div class="fr-grid-row fr-mb-6w">
            <div class="fr-col-12">
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-106">Textes de référence</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-106">
                        <a href="#" target="_blank" rel="noopener">Article L229-25 du Code de l'environnement</a>
                        <p class="fr-text--sm">Définition du bilan EGES et du plan de transition / Périmètre des entreprises concernées  / Périodicité et modalité de transmission</p>

                        <a href="#" target="_blank" rel="noopener">Article R229-47 du Code de l'environnement</a>
                        <p class="fr-text--sm">Contenu du bilan EGES</p>

                        <a href="#" target="_blank" rel="noopener">Article R229-546 Code de l'environnement - Article L1111-2 du Code du travail</a>
                        <p class="fr-text--sm">Périmètre des entreprises concernées et calcul de l'effectif de l'entreprise </p>

                        <a href="#" target="_blank" rel="noopener">Article L229-25 du Code de l'environnement - Article R229-50-1 Code de l'environnement</a>
                        <p class="fr-text--sm">Sanction en cas de manquement</p>

                        <a href="#" target="_blank" rel="noopener">Arrêté du 25 janvier 2016 relatif à la plate-forme informatique pour la transmission des bilans d'émission de gaz à effet de serre</a>
                        <p class="fr-text--sm">Modalités de transmission et plateforme ADEME</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- page fiche réglementation -->
{% endblock %}
