{% extends "base.html" %}
{% load static %}

{% block title %}Bilan GES - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-pt-2w ">
            <div class="fr-col-12">
                <a class="fr-link fr-icon-arrow-left-line fr-link--icon-left" href="{% url 'reglementations' %}">Retour à la liste des réglementations</a>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-pb-6w fr-mt-1v">
            <div class="fr-col-lg-2 fiche-img">
                <figure class="fr-content-media" role="group" aria-label="© Légende de l‘image">
                    <div class="fr-content-media__img">
                        <img class="fr-responsive-img fr-ratio-2x3" src="{% static 'img/environnement-2x3.png' %}" alt="" />
                        <!-- L’alternative de l’image (attribut alt) doit toujours être présente, sa valeur peut-être vide (image n’apportant pas de sens supplémentaire au contexte) ou non (porteuse de texte ou apportant du sens) selon votre contexte -->
                    </div>
                </figure>
            </div>
            <div class="fr-col-lg-10 fr-my-5w">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h2 class="fr-mb-1v">Bilan EGES et Plan de Transition</h2>
                        <p class="fr-text--xs">Dernière mise à jour le 03/11/2023</p>
                        <p>
                            Le bilan de gaz à effet de serre (BGES) s'inscrit dans une politique de stratégie bas carbone. Les acteurs privés comme publics doivent mesurer l'émissions de gaz à effet de serre directes et indirectes découlant de leurs activités afin de construire et mettre en œuvre un plan de transition envisagé pour réduire leurs émissions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row background-tag-environnement fr-py-6w fiche-tuiles fr-mb-6w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    A quelle fréquence dois-je mettre à jour ce dispositif ?
                                </h3>
                                <p class="fr-tile__detail">Le Bilan et le plan de transition sont mis à jour tous les  les 4 ans</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Quand.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile  fr-tile--no-border">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quel est l'objectif poursuivi par l'obligation ?
                                </h3>
                                <p class="fr-tile__detail">Réduire les émissions directes et indirectes de gaz à effet de serre</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Objectif.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Qui sont les destinataires / bénéficiaires du dispositif ?
                                </h3>
                                <p class="fr-tile__detail">
                                    <ul>
                                        <li>Le grand public</li>
                                        <li>Le ministre chargé de l'environnement</li>
                                        <li>L'Agence de l'environnement et de la maîtrise de l'énergie (l'ADEME)</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Destinataires.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quelles entreprises sont concernées ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Toute entreprise ayant son siège social en France ou y disposant d'un ou plusieurs établissements stables qui présente:
                                    <ul>
                                        <li>soit un effectif en équivalent temps plein supérieur ou égal à 500   ; ou</li>
                                        <li>soit un effectif en équivalent temps plein supérieur ou égal  à 250 dans les régions et départements d'outre-mer.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Entreprise.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Que dois-je faire pour me mettre en conformité ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Établir un bilan des émissions de gaz à effet de serre fournissant une évaluation du volume d'émissions directes et indirectes de gaz à effet de serre produit par les activités exercées.
                                    <br>
                                    Joindre à ce bilan un plan de transition décrivant les actions et moyens mis en œuvre au cours des années suivant le bilan précédant ainsi que les résultats obtenus.
                                    <b></b>
                                    Ce bilan doit être publié sur la plateforme <a title="Comment publier son bilan GES - ouvre une nouvelle fenêtre" href="https://bilans-ges.ademe.fr/bilans/comment-publier" target="_blank" rel="noopener">Bilan GES</a>.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Checklist.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quelles sont les sanctions encourues ?
                                </h3>
                                <p class="fr-tile__detail">
                                    <b>En cas de manquement à l'établissement ou à la transmission du bilan</b> : l'entreprise s'expose à une amende pouvant s'élever jusqu'à 50 000 euros.
                                    <br><br>
                                    <b>En cas de récidive</b>, l'amende peut être à hauteur de 100 000 euros.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Sanction.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-container">
        <div class="fr-grid-row fr-mb-6w">
            <div class="fr-col-12">
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-106">Textes de référence</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-106">
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000039369665/2023-11-03/" target="_blank" rel="noopener">I- Article L229-25 du Code de l'environnement</a>
                        <p class="fr-text--sm">Définition du bilan EGES et du plan de transition / Périmètre des entreprises concernées  / Périodicité et modalité de transmission</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000046011298/" target="_blank" rel="noopener">Article R229-47 du Code de l'environnement</a>

                        <p class="fr-text--sm">Contenu du bilan EGES</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000031695474/" target="_blank" rel="noopener">Article R229-546 Code de l'environnement</a>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000019353569" target="_blank" rel="noopener">Article L1111-2 du Code du travail</a>
                        <p class="fr-text--sm">Périmètre des entreprises concernées et calcul de l'effectif de l'entreprise </p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000039369665/2023-11-03/ " target="_blank" rel="noopener">III- Article L229-25 du Code de l'environnement</a>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000046011311/2022-07-04" target="_blank" rel="noopener">Article R229-50-1 Code de l'environnement</a>
                        <p class="fr-text--sm">Sanction en cas de manquement</p>

                        <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000031974429/2023-10-19/" target="_blank" rel="noopener">Arrêté du 25 janvier 2016 relatif à la plate-forme informatique pour la transmission des bilans d'émission de gaz à effet de serre</a>
                        <p class="fr-text--sm">Modalités de transmission et plateforme ADEME</p>
                    </div>
                </section>
            </div>
        </div>
        <div class="fr-grid-row fr-mb-6w fr-grid-row--center">
            <a class="fr-btn fr-btn--secondary" href="https://bilans-ges.ademe.fr/" target="_blank" rel="noopener">
                En savoir plus sur le site ministériel
            </a>
        </div>
    </div>
    <!-- page fiche réglementation -->
{% endblock %}
