{% extends "base.html" %}
{% load static %}

{% block title %}Dispositif anticorruption - Impact{% endblock %}

{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-pt-2w ">
            <div class="fr-col-12">
                <a class="fr-link fr-icon-arrow-left-line fr-link--icon-left" href="{% url 'reglementations' %}">Retour à la liste des réglementations</a>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-pb-6w fr-mt-1v">
            <div class="fr-col-lg-3">
                <figure class="fr-content-media" role="group" aria-label="© Légende de l‘image">
                    <div class="fr-content-media__img">
                        <img class="fr-responsive-img fr-ratio-2x3" src="{% static 'img/gouvernance-2x3.png' %}" alt="[À MODIFIER - vide ou texte alternatif de l’image]" />
                        <!-- L’alternative de l’image (attribut alt) doit toujours être présente, sa valeur peut-être vide (image n’apportant pas de sens supplémentaire au contexte) ou non (porteuse de texte ou apportant du sens) selon votre contexte -->
                    </div>
                </figure>
            </div>
            <div class="fr-col-lg-9 fr-my-5w">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h2 class="fr-mb-1v">Dispositif Anti-corruption</h2>
                        <p class="fr-text--xs">Dernière mise à jour le JJ/MM/AAAA</p>
                        <p>
                            Le dispositif anti-corruption vise à permettre la détection, la prévention et la sanction potentielle de faits de corruption et d’atteinte à la probité qui adviendraient dans une entreprise.
                        </p>
                    </div>
                </div>
                <div class="fr-grid-row fr-mt-2w">
                    <h5>Quelles entreprises sont concernées ?</h5>
                    <p class="">
                        Toute entreprise employant au moins cinq cents salariés et dont le chiffre d'affaires HT est supérieur à 100 millions d'euros;
                        <br><br>
                        Tout groupe de sociétés dont la société mère a son siège social en France, employant au moins cinq cents salariés et dont le chiffre d'affaires consolidé HT est supérieur à cent millions d'euros [effectif du groupe international]
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row background-gov fr-py-6w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-3">
                    <div class="fr-tile fr-tile--vertical fr-tile--no-border">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Qui sont les destinataires ?
                                </h3>
                                <p class="fr-tile__detail">Informer les salariés de l’existence et du fonctionnement du dispositif</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram">
                                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                    <use class="fr-artwork-decorative" href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                                    <use class="fr-artwork-minor" href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                                    <use class="fr-artwork-major" href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-3">
                    <div class="fr-tile fr-tile--vertical">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quel support ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Parmi les procédures et mesures à mettre en place, le dispositif anti-corruption se matérialise notamment par la mise en place :
                                    <br>
                                    - d'un code de conduite au sein du règlement intérieur de l'entreprise
                                    <br>
                                    - d'une cartographie des risques prenant la forme d'une documentation régulièrement actualisée
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram">
                                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                    <use class="fr-artwork-decorative" href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                                    <use class="fr-artwork-minor" href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                                    <use class="fr-artwork-major" href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-3">
                    <div class="fr-tile fr-tile--vertical">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quel mode de transmission ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Parmi les procédures et mesures à mettre en place, il revient à l'entreprise par exemple de délivrer des formations internes.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram">
                                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                    <use class="fr-artwork-decorative" href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                                    <use class="fr-artwork-minor" href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                                    <use class="fr-artwork-major" href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-3">
                    <div class="fr-tile fr-tile--vertical">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Fréquence
                                </h3>
                                <p class="fr-tile__detail">
                                    A mettre en œuvre de manière permanente au sein de l'entreprise
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram">
                                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                    <use class="fr-artwork-decorative" href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                                    <use class="fr-artwork-minor" href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                                    <use class="fr-artwork-major" href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-py-6w">
                <h3>Quelles sont les sanctions encourues ?</h3>
                <p>
                    Saisine de la commission des sanctions par l'agence française anticorruption qui :
                    <ul>
                        <li>Enjoint à la société et à ses représentants d'adapter le dispositif anti-corruption, dans un délai maximum de trois ans.</li>
                        <li>Peut prononcer des sanctions pécuniaires : <br>
                            Amende ne pouvant excéder de un million euros pour la personne morale et 200 000 euros pour une personne physique</li>
                    </ul>
                    De plus, en cas de manquement aux obligations de mise en œuvre des mesures anti-corruption, la société voit sa propre responsabilité engagée, indépendamment de la responsabilité des instances dirigeantes.
                </p>
            </div>
        </div>
    </div>

    <div class="fr-container">
        <div class="fr-grid-row fr-mb-6w">
            <div class="fr-col-12">
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-106">Textes de référence</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-106">
                        <a href="#" target="_blank" rel="noopener">Article 17 loi n° 2016-1691 du 9 décembre 2016 relative à la transparence, à la lutte contre la corruption et à la modernisation de  la vie économique</a>
                        <p class="fr-text--sm">Définition</p>

                        <a href="#" target="_blank" rel="noopener">I- Article 17 Loi n°2016-1691</a>
                        <p class="fr-text--sm"> Les entreprises concernées </p>

                        <a href="#" target="_blank" rel="noopener">1° et 3° II-Article 17 Loi n°2016-1691</a>
                        <p class="fr-text--sm">Exemples de support du dispositif anti-corruption </p>

                        <a href="#" target="_blank" rel="noopener">6° II- Article 17 Loi N°2016-1691</a>
                        <p class="fr-text--sm">Destinataires des mesures / Exemple de mode de transmission du dispositif </p>

                        <a href="#" target="_blank" rel="noopener">Alinéa 9 II- Article 17 Loi N°2016-1691</a>
                        <p class="fr-text--sm">Engagement de la responsabilité de l'entreprise</p>

                        <a href="#" target="_blank" rel="noopener">III- à V- Article 17 Loi N°2016-1691</a>
                        <p class="fr-text--sm">Contrôle de l'agence française anticorruption et pénalités financières </p>

                        <a href="#" target="_blank" rel="noopener">Recommandations AFA, 4 décembre 2020</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- page fiche réglementation -->
{% endblock %}
