{% extends "base.html" %}
{% load static %}

{% block title %}Dispositif d'alerte - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-pt-2w ">
            <div class="fr-col-12">
                <a class="fr-link fr-icon-arrow-left-line fr-link--icon-left" href="{% url 'reglementations' %}">Retour à la liste des réglementations</a>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-pb-6w fr-mt-1v">
            <div class="fr-col-lg-2 fiche-img">
                <figure class="fr-content-media" role="group" aria-label="© Légende de l‘image">
                    <div class="fr-content-media__img">
                        <img class="fr-responsive-img fr-ratio-2x3" src="{% static 'img/gouvernance-2x3.png' %}" alt="" />
                        <!-- L’alternative de l’image (attribut alt) doit toujours être présente, sa valeur peut-être vide (image n’apportant pas de sens supplémentaire au contexte) ou non (porteuse de texte ou apportant du sens) selon votre contexte -->
                    </div>
                </figure>
            </div>
            <div class="fr-col-lg-10 fr-my-5w">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h2 class="fr-mb-1v">Dispositif d'Alerte</h2>
                        <p class="fr-text--xs">Dernière mise à jour le 13/10/2023</p>
                        <p>
                            Un lanceur d'alerte est une personne physique qui signale ou divulgue, sans contrepartie financière directe et de bonne foi, des informations obtenues dans le cadre des activités professionnelles ou dont il a personnellement eu connaissance portant sur un crime, un délit, une menace un préjudice pour l'intérêt général, d'une norme nationale ou internationale. Il bénéficie de différentes protections (notamment pénale et disciplinaires) si le signalement est effectué conformément aux dispositions légales.
                            <br><br>
                            L'entreprise doit se doter d'une procédure interne de recueil et de traitement de ces signalements, communément appelé dispositif d'alerte.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row background-tag-gouvernance fr-py-6w fiche-tuiles fr-mb-6w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    A quelle fréquence dois-je mettre à jour ce dispositif ?
                                </h3>
                                <p class="fr-tile__detail">
                                    La procédure du dispositif d'alerte doit être accessible en permanence aux salariés. Elle doit être diffusée par tout moyen assurant une publicité suffisante, notamment par voie de notification, affichage ou publication, le cas échéant sur le site internet ou par voie électronique.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Quand.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile  fr-tile--no-border">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quel est l'objectif poursuivi par l'obligation ?
                                </h3>
                                <p class="fr-tile__detail">Créer un espace sécurisé confidentiel pour traiter tout signalement de manquement à une obligation</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Objectif.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Qui sont les destinataires / bénéficiaires du dispositif ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Les différentes parties prenantes internes et externes de l'entreprise (salariés, actionnaires, fournisseurs, clients...)
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Destinataires.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-6 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quelles entreprises sont concernées ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Toute entreprise présentant, à la clôture de deux exercices consécutifs, un nombre de salariés, calculé sur la base d’une moyenne de chaque mois de l’année civile écoulée, supérieur ou égal à 50.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Entreprise.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-6 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Que dois-je faire pour me mettre en conformité ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Mettre en place un canal de réception des signalements écrits ou oraux, permettant de transmettre tout élément, quel que soit sa forme ou son support. Les signalements doivent être traités dans un délai raisonnable n'excédant pas trois mois (sauf cas spécifiques).
                                    <br><br>
                                    Une procédure doit accompagner la mise en place du canal de réception, prévoyant, notamment, les membres en charges du recueil et du traitement des signalements, ainsi que les modalités de garantie de l'intégrité et la confidentialité des informations recueilles (dont l'auteur du signalement)
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Checklist.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-container">
        <div class="fr-grid-row fr-mt-6w fr-mb-6w">
            <div class="fr-col-12">
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-106">Textes de référence</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-106">
                        <a href="https://www.legifrance.gouv.fr/loda/id/LEGISCTA000033561876" target="_blank" rel="noopener">Chapitre II (notamment articles 6 et 8) loi n°2016-1961 du 9 décembre 2016 relative à la transparence, à la lutte contre la corruption et à la modernisation de la vie économique</a>
                        <p class="fr-text--sm">Définition du lanceur d'alerte et du dispositif interne de signalement.</p>

                        <a href="https://www.legifrance.gouv.fr/loda/id/LEGISCTA000046357767" target="_blank" rel="noopener">Chapitre 1 Décret n°2022-1248 du 3 octobre 2022 relatif aux procédures de recueil et de traitement des signalements émis par les lanceurs d'alerte et fixant la  liste des autorités externes instituées par la loi n° 2022-401 du 21  mars 2022 visant à améliorer la protection des lanceurs d'alerte</a>
                        <p class="fr-text--sm">Définition des modalités de procédure interne de recueil et de traitement des signalements.</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000038610270/2021-10-08/" target="_blank" rel="noopener">Article L130-1 Code de la sécurité sociale</a>
                        <p class="fr-text--sm">Modalités de calcul du seuil </p>
                    </div>
                </section>
            </div>
        </div>
        <div class="fr-grid-row fr-mb-6w fr-grid-row--center">
            <a class="fr-btn fr-btn--secondary" href="https://www.service-public.fr/particuliers/vosdroits/F32031" target="_blank" rel="noopener">
                En savoir plus sur le site ministériel
            </a>
        </div>
    </div>
    <!-- page fiche réglementation -->
{% endblock %}
