{% extends "base.html" %}
{% load static %}

{% block title %}Dispositif anticorruption - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-pt-2w ">
            <div class="fr-col-12">
                <a class="fr-link fr-icon-arrow-left-line fr-link--icon-left" href="{% url 'reglementations' %}">Retour à la liste des réglementations</a>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-pb-6w fr-mt-1v">
            <div class="fr-col-lg-2 fiche-img">
                <figure class="fr-content-media" role="group" aria-label="">
                    <div class="fr-content-media__img">
                        <img class="fr-responsive-img fr-ratio-2x3" src="{% static 'img/gouvernance-2x3.png' %}" alt="" />
                    </div>
                </figure>
            </div>
            <div class="fr-col-lg-10 fr-my-5w">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h2 class="fr-mb-1v">Dispositif Anti-corruption</h2>
                        <p class="fr-text--xs">Dernière mise à jour le 07/11/2023</p>
                        <p>
                            Le dispositif anti-corruption consacre un panel d'obligations générales de prévention et de détection de faits, en France ou à l’étranger, de corruption ou de trafic d’influence. Il vise à permettre la détection, la prévention et la sanction potentielle de faits de corruption et d’atteinte à la probité qui adviendraient dans une entreprise.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row background-tag-gouvernance fr-py-6w fiche-tuiles fr-mb-6w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    A quelle fréquence dois-je mettre à jour ce dispositif ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Les dispositifs doivent être accessible en permanence aux salariés.
                                    <br>Les documents doivent être régulièrement actualisés.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Quand.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile  fr-tile--no-border">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quel est l'objectif poursuivi par l'obligation ?
                                </h3>
                                <p class="fr-tile__detail">Se doter d'un dispositif interne de prévention et de détection de la corruption et du trafic d'influence</p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Objectif.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Qui sont les destinataires / bénéficiaires du dispositif ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Les différentes parties prenantes internes et externes de l'entreprise (salariés, actionnaires, fournisseurs, clients...)
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Destinataires.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quelles entreprises sont concernées ?
                                </h3>
                                <p class="fr-tile__detail">
                                    - Toute entreprise employant au moins cinq cents salariés et dont le chiffre d'affaires est supérieur à 100 millions d'euros; ou<br>
                                    - Tout groupe de sociétés dont la société mère a son siège social en France, employant au moins cinq cents salariés et dont le chiffre d'affaires consolidé est supérieur à 100 millions d'euros.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Entreprise.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Que dois-je faire pour me mettre en conformité ?
                                </h3>
                                <p class="fr-tile__detail">
                                    8 mesures et procédures sont prévues par la loi, à savoir :
                                    <br>
                                    1. Se doter d'un code de conduite<br>
                                    2. Avoir un dispositif d'alerte interne<br>
                                    3. Faire une cartographie des risques d'exposition à la corruption<br>
                                    4. Avoir des procédures d’évaluation de la situation de sa chaîne de valeur au regard des risques<br>
                                    5. Avoir des procédures de contrôles comptables internes ou externes<br>
                                    6. Avoir un dispositif de formation sur les risques de corruption et de trafic d'influence<br>
                                    7. Avoir un régime disciplinaire pour sanctionner les manquements au code de conduite<br>
                                    8. Avoir un dispositif de contrôle et d'évaluation interne des mesures mises en œuvre
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Checklist.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quelles sont les sanctions encourues ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Le respect des mesures et procédures peuvent faire l'objet d'un contrôle par l'Agence française anticorruption (AFA). Un rapport est établi et transmis à l'autorité mentionnée.
                                    <br><br>
                                    <b>En cas de manquement :</b> la commission des sanctions de l'AFA peut enjoindre la société d'adapter son dispositif et prononcer des sanctions pécuniaires pouvant aller jusqu'à 200 000€ pour les personnes physiques et 1 000 000€ pour les personnes morales
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Sanction.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-container">
        <div class="fr-grid-row fr-mb-6w">
            <div class="fr-col-12">
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-106">Textes de référence</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-106">
                        <a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000033562135" target="_blank" rel="noopener">Article 17 loi n° 2016-1691 du 9 décembre 2016 relative à la transparence, à la lutte contre la corruption et à la modernisation de la vie économique</a>
                        <p class="fr-text--sm">Définition</p>

                        I- Article 17 Loi n°2016-1691
                        <p class="fr-text--sm"> Les entreprises concernées </p>

                        1° et 3° II-Article 17 Loi n°2016-1691
                        <p class="fr-text--sm">Exemples de support du dispositif anti-corruption </p>

                        6° II- Article 17 Loi N°2016-1691
                        <p class="fr-text--sm">Destinataires des mesures / Exemple de mode de transmission du dispositif </p>

                        Alinéa 9 II- Article 17 Loi N°2016-1691
                        <p class="fr-text--sm">Engagement de la responsabilité de l'entreprise</p>

                        III- à V- Article 17 Loi N°2016-1691 / Article 5 Décret n° 2017-329 du 14 mars 2017 relatif à l'Agence française anticorruption
                        <p class="fr-text--sm">Contrôle de l'agence française anticorruption et pénalités financières </p>
                    </div>
                </section>
            </div>
        </div>
        <div class="fr-grid-row fr-mb-6w fr-grid-row--center">
            <a class="fr-btn fr-btn--secondary" href="https://www.agence-francaise-anticorruption.gouv.fr/fr/lafa-vous-conseille/vous-etes-acteur-economique" target="_blank" rel="noopener">
                En savoir plus sur le site ministériel
            </a>
        </div>
    </div>
    <!-- page fiche réglementation -->
{% endblock %}
