{% extends "base.html" %}
{% load static %}

{% block title %}DPEF - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-pt-2w ">
            <div class="fr-col-12">
                <a class="fr-link fr-icon-arrow-left-line fr-link--icon-left" href="{% url 'reglementations' %}">Retour à la liste des réglementations</a>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-pb-6w fr-mt-1v">
            <div class="fr-col-lg-2 fiche-img">
                <figure class="fr-content-media" role="group" aria-label="© Légende de l‘image">
                    <div class="fr-content-media__img">
                        <img class="fr-responsive-img fr-ratio-2x3" src="{% static 'img/durable-2x3.png' %}" alt="" />
                    </div>
                </figure>
            </div>
            <div class="fr-col-lg-10 fr-my-5w">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h2 class="fr-mb-1v">Déclaration de performance extra-financière</h2>
                        <p class="fr-text--xs">Dernière mise à jour le 24/11/2023</p>
                        <p>
                            La déclaration de performance extra-financière consiste pour une entreprise à communiquer des informations relatives aux questions d'environnement, sociales et de personnel, de respect des droits de l'homme et de lutte contre la corruption.
                            <br><br>
                            Cette obligation est issue de la Non Financial Reporting Directive (dite NFRD). Selon la Commission européenne, "la communication d'informations non financières est en effet essentielle pour mener à bien la transition vers une économie mondiale durable, en associant la rentabilité à long terme à la justice sociale et à la protection de l'environnement"<a href="#note" title="Amène à une note de bas de page référençant la citation">[1]</a>.
                            <br><br>
                            A compter de 2024, la déclaration de performance extra-financière va prendre en nouveau visage pour devenir le rapport de durabilité conformément à la Corporate Sustainability Reporting Directive (dite CSRD). Pour plus d'informations sur le sujet, consulter <a href="{% url 'reglementations:fiche_csrd' %}">notre fiche relative au rapport de durabilité</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row background-tag-durabilite fr-py-6w fiche-tuiles fr-mb-6w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    A quelle fréquence dois-je mettre à jour ce dispositif ?
                                </h3>
                                <p class="fr-tile__detail">
                                    La périodicité de la DPEF est celle du rapport de gestion : tous les ans, à la fin de l’exercice comptable et à communiquer aux associés 15 jours avant l’Assemblée Générale.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Quand.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile  fr-tile--no-border">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quel est l'objectif poursuivi par l'obligation ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Communiquer sur les implications sociales, environnementales, sociétales des activités de l'entreprise ainsi que sur son mode de gouvernance afin de "contribuer à l'évaluation, au suivi et à la gestion des performances des entreprises et de leurs incidences sur la société"<a href="#note" title="Amène à une note de bas de page référençant la citation">[1]</a>.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Objectif.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Qui sont les destinataires / bénéficiaires du dispositif ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Les destinataires de la DPEF sont identiques à ceux du rapport de gestion :
                                    <br>
                                    - Les différentes parties prenantes internes et externes de l'entreprise (salariés, actionnaires, fournisseurs, clients...)
                                    <br>
                                    - Greffe du tribunal de commerce
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Destinataires.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quelles entreprises sont concernées ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Toute société anonyme, société en commandite par actions ou société européenne cotée, réalisant, à la date de clôture de l'exercice :
                                    <br>
                                    - un bilan total de 20 millions d'euros ; ou<br>
                                    - un chiffre d'affaires net de 40 millions d'euros ; et<br>
                                    - un effectif moyen de salariés permanents employés au cours de l'exercice de 500<br>
                                    <br>
                                    Toute société anonyme, société en commandite par actions ou société européenne non cotée réalisant, à la date de clôture de l'exercice :
                                    <br>
                                    - un bilan total de 100 millions d'euros ; ou<br>
                                    - un chiffre d'affaires net de 100 millions d'euros ; et<br>
                                    - un effectif moyen de salariés permanents employés au cours de l'exercice de 500<br>
                                    <br>
                                    Remarque : Les sociétés commerciales contrôlant exclusivement ou de manière conjointe une ou plusieurs autres entreprises sont soumises à l'obligation de publication d'une DPEF dès lors que le total de leur bilan ou leur chiffre d'affaires et leur nombre de salariés compris dans le périmètre de consolidation excèdent les mêmes seuils.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Entreprise.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Que dois-je faire pour me mettre en conformité ?
                                </h3>

                                <p class="fr-tile__detail">
                                    Conformément au principe "appliquer ou expliquer", la DPEF doit présenter une description des principaux risques liés à l'activité de la société, une description des politiques appliquées par la société incluant les procédures de diligence raisonnable, ainsi que les résultats de ces politiques, incluant des indicateurs clés de performance. <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042959816/" target="_blank" rel="noopener">L'article R225-105 du code de commerce</a> précise les différents indicateurs attendus sur les volets social, environnemental et sociétal y compris pour les sociétés cotées. Elle doit être insérée au sein du rapport de gestion et doit faire l'objet d'une publication librement accessible sur le site internet de la société, dans un délai de huit mois à compter de la clôture de l'exercice pendant une durée de 5 ans.
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Checklist.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-lg-4 fr-col-12">
                    <div class="fr-tile ">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    Quelles sont les sanctions encourues ?
                                </h3>
                                <p class="fr-tile__detail">
                                    Les informations figurant dans la déclaration fait l'objet d'une vérification par un organisme tiers indépendant.
                                    <br><br>
                                    <b>En cas de manquement à son intégration au sein du rapport de gestion :</b> toute personne intéressée peut demander au président du tribunal statuant en référé d'enjoindre, le cas échéant sous astreinte, au conseil d'administration ou au directoire, selon le cas, de communiquer les informations prévues au sein de la déclaration.

                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram fr-pt-3w">
                                <img class="fr-responsive-img fr-ratio-1x1" src="{% static 'img/Sanction.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-container">
        <div class="fr-grid-row fr-mb-6w">
            <div class="fr-col-12">
                <a id="note" href="https://eur-lex.europa.eu/legal-content/FR/TXT/PDF/?uri=CELEX:32014L0095" target="_blank" rel="noopener">[1] Directive 2014/95/UE du Parlement Européen et du conseil du 22 octobre 2014</a><br><br>
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button id="" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-106">Textes de référence</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-106">

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037556825/2023-11-03/" target="_blank" rel="noopener">I- et II- Article L225-102-1 Code de commerce</a> [SA]<br>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042340113/" target="_blank" rel="noopener">Article L226-1 Code de commerce</a> [SCA]<br>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000006228757" target="_blank" rel="noopener">Article L229-8 Code de commerce</a> [SE]
                        <p class="fr-text--sm">Les entreprises concernées.</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000035431525/2023-11-03/" target="_blank" rel="noopener">Article R225-104 Code de commerce</a> [SA]<br>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042922313/2022-07-29" target="_blank" rel="noopener">Article R22-10-29 Code de commerce</a> [SA Cotées]
                        <p class="fr-text--sm">Calcul des seuils.</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037556825/2023-11-03/" target="_blank" rel="noopener">I-Article L225-102-1 Code de commerce</a>
                        <p class="fr-text--sm">Support de la DPEF.</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037556825/2023-11-03/" target="_blank" rel="noopener">II- Article L225-102-1 Code de commerce</a><br>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000030927205" target="_blank" rel="noopener">Article L233-16 Code de commerce</a>
                        <p class="fr-text--sm">DPEF consolidée.</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037556825/2023-11-03/" target="_blank" rel="noopener">III- Article L225-102-1 Code de commerce</a><br>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042959816/2021-11-25" target="_blank" rel="noopener">I- et II- A- Article R225-105 Code de commerce</a>
                        <p class="fr-text--sm">Contenu de la DPEF.</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042338920/2022-10-05" target="_blank" rel="noopener">Article L22-10-36 Code de commerce</a><br>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042959816/2021-11-25" target="_blank" rel="noopener">II- B- Article R225-105 Code de commerce</a>
                        <p class="fr-text--sm">Informations supplémentaires pour les sociétés cotées</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000047933578/2023-08-05" target="_blank" rel="noopener">9 - Article 1823-29 Code de commerce</a><br>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000035255487/" target="_blank" rel="noopener">Alinéa 4 Article L823-10 Code de commerce</a>
                        <p class="fr-text--sm">Contrôle du commissaire aux comptes.</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037556825/2023-11-03/" target="_blank" rel="noopener">V- Article L225-102-1 Code de commerce</a><br>
                        <a href="https://www.legifrance.gouv.fr/codes/section_lc/LEGITEXT000005634379/LEGISCTA000006161468/#LEGISCTA000006161468" target="_blank" rel="noopener">Article R225-105-2 Code de commerce</a>
                        <p class="fr-text--sm">Contrôle d'un organisme tiers indépendant</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037556825/2023-11-03/" target="_blank" rel="noopener">III- Alinéa 4 Article L225-102-1</a><br>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000035431545" target="_blank" rel="noopener">III-Article R225-105-1 Code de commerce</a>
                        <p class="fr-text--sm">Publicité de la DPEF.</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042339790" target="_blank" rel="noopener">Article L225-100 Code de commerce</a><br>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000035181800/2022-06-13" target="_blank" rel="noopener">Article L223-26 Code de commerce</a>
                        <p class="fr-text--sm">Fréquence de la présentation de la DPEF [Réunion annuelle de l'assemblée générale].</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000006260409/2023-10-20/" target="_blank" rel="noopener">Article R223-18 Code de commerce</a>
                        <p class="fr-text--sm">Délai de quinze jours précédant l'assemblée pour tenir le rapport à disposition des associés.</p>

                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037556825/2023-11-03/" target="_blank" rel="noopener">VI- Alinéa 2 Article L225-102-1 Code de commerce</a> [SA]<br>
                        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042338920/2022-10-05" target="_blank" rel="noopener">Alinéa 3 Article L22-10-36 Code de commerce</a> [SA Cotées]
                        <p class="fr-text--sm">Injonction de publication sous astreinte [absence DPEF au sein du rapport de gestion]</p>
                    </div>
                </section>
            </div>
        </div>
        <div class="fr-grid-row fr-mb-6w fr-grid-row--center">
            <a class="fr-btn fr-btn--secondary" href="https://www.ecologie.gouv.fr/rapportage-extra-financier-des-entreprises" target="_blank" rel="noopener">
                En savoir plus sur le site ministériel
            </a>
        </div>
    </div>
    <!-- page fiche réglementation -->
{% endblock %}
