<dialog aria-labelledby="modal-detach-{{ entreprise.siren }}-title" id="modal-detach-{{ entreprise.siren }}" class="fr-modal" role="dialog" >
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" aria-controls="modal-detach-{{ entreprise.siren }}">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="modal-detach-{{ entreprise.siren }}-title" class="fr-modal__title">
                            <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                            Quitter cette entreprise
                        </h1>
                        <p>Êtes-vous sûr de vouloir retirer votre compte de l'entreprise {{ entreprise.denomination }} ?</p>
                        <p>L'entreprise et ses données éventuelles ne seront pas supprimées mais votre compte utilisateur n'y sera plus rattaché.</p>
                    </div>
                    <div class="fr-modal__footer">
                        <form action="{% url 'entreprises:entreprises' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="siren" value="{{ entreprise.siren }}">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="submit" name="action" value="detach" class="fr-btn fr-btn--icon-left fr-icon-close-circle-line">Quitter cette entreprise</button>
                                </li>
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary" aria-controls="modal-detach-{{ entreprise.siren }}">Annuler</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
