{% load static %}
<fieldset class="fr-fieldset" aria-label="SIREN de l'entreprise">
    <div class="fr-fieldset__element">
        <div class="fr-input-group">
            <label class="fr-label" for="id_recherche">Saisissez le nom ou le numéro SIREN de l'entreprise
                <span class="fr-hint-text">Par exemple : "Fromagerie Sanzot Angers" ou "130025265"</span>
            </label>
            <div class="fr-search-bar" role="search">
                <input type="search" name="recherche" class="fr-input" id="id_recherche"
                       hx-get="{% url 'entreprises:recherche_entreprise' %}"
                       hx-vals='{"htmx_fragment_view_name": "{{ htmx_fragment_view_name }}"}'
                       hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
                       hx-target="#htmx-resultats-recherche-entreprise"
                       hx-indicator=".htmx-indicator"
                       value="{{ form.siren.value|default:'' }}">
                <img src="{% static 'img/spinner.svg' %}" width="40" alt="Spinner d'attente" class="htmx-indicator">
            </div>
            <div id="htmx-resultats-recherche-entreprise">
                {% include "fragments/resultats_recherche_entreprise.html" %}
            </div>
        </div>
    </div>
</fieldset>
