{% extends "base.html" %}

{% block title %}Membres de l'entreprise - Portail RSE{% endblock %}

{% block content %}

    <div class="fr-container fr-my-4w">
        <h2>Membres {% if entreprise.denomination %}liés à {{ entreprise.denomination }}{% endif %}</h2>

        <div class="fr-alert fr-alert--info">
            <h3 class="fr-alert__title">Modification des droits</h3>
            <ul>
                <li>La modification des droits n'est possible que par les utilisateurs propriétaires</li>
                <li>Une modification des droits est effective à l'ouverture d'une nouvelle session de l'utilisateur concerné</li>
                <li>Pour l'entreprise <strong>{{ entreprise }}</strong>, vous avez l'habilitation : {{ habilitation.role }}</li>
            </ul>
        </div>


        <div class="fr-my-4w">
            <h3>Propriétaires</h3>
            {% if habilitations.proprietaire %}
                <div class="fr-table--sm fr-table fr-table" id="table-sm-component">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table id="table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Prénom</th>
                                            <th scope="col">E-mail</th>
                                            <th scope="col">Droits</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in habilitations.proprietaire %}
                                            <tr>
                                                <td>{{ user.nom }}</td>
                                                <td>{{ user.prenom }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>XXX</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                Aucun propriétaire
            {% endif %}
        </div>

{% comment %}
        <div class="fr-my-4w">
            <h3>Éditeurs</h3>
            {% if habilitations.editeur %}
                <div class="fr-table--sm fr-table fr-table" id="table-sm-component">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table id="table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Prénom</th>
                                            <th scope="col">E-mail</th>
                                            <th scope="col">Droits</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in habilitations.editeur %}
                                            <tr>
                                                <td>{{ user.nom }}</td>
                                                <td>{{ user.prenom }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>XXX</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                Aucun éditeur
            {% endif %}
        </div>

        <div class="fr-my-4w">
            <h3>Lecteurs</h3>
            {% if habilitations.lecteur %}
                <div class="fr-table--sm fr-table fr-table" id="table-sm-component">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table id="table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Prénom</th>
                                            <th scope="col">E-mail</th>
                                            <th scope="col">Droits</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in habilitations.lecteur %}
                                            <tr>
                                                <td>{{ user.nom }}</td>
                                                <td>{{ user.prenom }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>XXX</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                Aucun éditeur
            {% endif %}
        </div>
{% endcomment %}

        <h3>Invitations</h3>
        {% if invitations %}
            <div class="fr-table--sm fr-table fr-table" id="table-sm-component">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Date d'invitation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invitation in invitations %}
                                        <tr>
                                            <td>{{ invitation.email }}</td>
                                            <td>{{ invitation.created_at }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            Aucune invitation
        {% endif %}



        <h3>Inviter un nouveau membre</h3>
        La personne recevra un e-mail l'invitant à vous rejoindre pour gérer {{ entreprise.denomination }} ensemble.

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="fr-btn fr-mt-2w">Inviter</button>
        </form>
    </div>
    </div>
{% endblock %}
