{% extends "base.html" %}

{% block title %}Membres de l'entreprise - Portail RSE{% endblock %}

{% block content %}

    <div class="fr-container fr-my-4w">

        <h2>Membres de l'entreprise {% if entreprise.denomination %}{{ entreprise.denomination }}{% endif %}</h3>
        {% if habilitations %}
            <div class="fr-table--sm fr-table fr-table" id="table-sm-component">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Rôle</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for h in habilitations %}
                                        <tr>
                                            {% with user=h.user %}
                                                <td>{{ user.nom }}</td>
                                                <td>{{ user.prenom }}</td>
                                                <td>{{ user.email }}</td>
                                                <td><span class="fr-badge fr-badge--info fr-badge--no-icon">{{ h.get_role_display }}</span></td>
                                                <td>
                                                    {% if user != habilitation.user %}
                                                        {% if habilitation.role == "proprietaire" %}
                                                            <button class="fr-btn fr-icon-delete-line fr-btn--icon-left fr-btn--primary" aria-controls="modaleRetirer-{{ h.pk }}" data-fr-opened="false">Retirer</button>
                                                            <button class="fr-ml-1w fr-btn fr-icon-pencil-line fr-btn--icon-left fr-btn--secondary" aria-controls="modaleModifier-{{ h.pk }}" data-fr-opened="false">Modifier</button>
                                                            {% with habilitation=h %}
                                                                {% include "snippets/modale_retirer_habilitation.html" %}
                                                                {% include "snippets/modale_modifier_habilitation.html" %}
                                                            {% endwith %}
                                                        {% else %}
                                                            <span class="fr-icon-lock-line"></span>
                                                        {% endif %}
                                                    {% else %}
                                                        <span class="fr-icon-account-circle-line"></span> Votre compte
                                                    {% endif %}
                                                </td>
                                            {% endwith %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            Aucun propriétaire
        {% endif %}

        {% if invitations %}
            <h3>Invités</h3>
            <div class="fr-table--sm fr-table fr-table" id="table-sm-component">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Rôle</th>
                                        <th scope="col">Expiration de l'invitation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invitation in invitations %}
                                        <tr>
                                            <td>{{ invitation.email }}</td>
                                            <td>{{ invitation.get_role_display }}</td>
                                            <td>{{ invitation.date_expiration|date:"d F Y" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if habilitation.role == "proprietaire" %}
            <h3>Inviter un nouveau membre</h3>
            <p>
                La personne recevra un e-mail d'invitation pour créer son compte et rejoindre l'entreprise {{ entreprise.denomination }}.
                Si elle possède déjà un compte utilisateur sur le Portail RSE, elle sera directement ajoutée dans les membres de l'entreprise.
            </p>
            <p>
                Vous devez également sélectionner quel sera le rôle du nouveau membre de l'entreprise.
            </p>
            <form method="post">
                {% csrf_token %}
                {% include 'snippets/field.html' with field=form.email %}
		{# utilisation stricte du DSFR #}
                <div class="fr-select-group">
                    <label class="fr-label" for="select-role">Rôle de l'utilisateur invité</label>
                    {% if form.role.errors %}
                        <div class="fr-messages-group" id="select-role-messages" aria-live="polite">
                            <p class="fr-error-text">{{ form.role.errors.as_text }}</p>
                        </div>
                    {% endif %}
                    <select class="fr-select" aria-describedby="select-role-messages" id="select-role" name="role">
                        <option value="" selected disabled>Sélectionnez un rôle</option>
                        <option value="proprietaire">Propriétaire</option>
                        <option value="editeur">Éditeur</option>
                    </select>
                    <div class="fr-messages-group" id="select-1-messages" aria-live="polite">
                    </div>
                </div>
                <button type="submit" class="fr-btn fr-btn--primary">Inviter</button>
            </form>
        {% endif %}

    </div>
{% endblock %}
