<div class="fr-input-group{% if field.errors %} fr-input-group--error {% endif %}">
    <label class="fr-label" for="{{ field.id_for_label }}">{{ field.label }}
        <span class="fr-hint-text">{{ field.help_text }}</span>
    </label>
    {% load filters %}
    {% with widget_type=field|widget_type %}
    <div class="fr-col-12 {% if widget_type == 'NumberInput' %}fr-col-sm-2{% endif %} fr-mx-2w">
    {% endwith %}
    {{ field }}
    </div>
    {% if field.errors %}
    <p id="text-input-error-desc-error" class="fr-error-text">
        {% for error in field.errors %}
            {{ error|escape }}
        {% endfor %}
    </p>
    {% endif %}
</div>
