{% load static %}
<div class="fr-col-lg-6">
    <div class="reglementation-card fr-card fr-enlarge-link fr-card--horizontal fr-card--horizontal-tier {{ reglementation.tag }}">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    <a href="{{ reglementation.more_info_url }}">{{ reglementation.title }}</a>
                </h3>
                <p class="fr-card__desc">{{ reglementation.summary }}</p>
                <div class="fr-card__start">
                    <ul class="fr-badge-group">
                        {% if reglementation.tag  == "tag-social" %}
                            <li>
                                <p class="fr-badge fr-badge--purple-glycine {{ reglementation.tag }}">Social</p>
                            </li>
                        {% elif reglementation.tag == "tag-environnement" %}
                            <li>
                                <p class="fr-badge fr-badge--success fr-badge--no-icon {{ reglementation.tag }}">Environnement</p>
                            </li>
                        {% elif reglementation.tag == "tag-gouvernance" %}
                            <li>
                                <p class="fr-badge fr-badge--info fr-badge--no-icon {{ reglementation.tag }}">Gouvernance</p>
                            </li>
                        {% elif reglementation.tag == "tag-durabilite" %}
                            <li>
                                <p class="fr-badge fr-badge--new fr-badge--no-icon {{ reglementation.tag }}">Durabilité</p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="fr-card__header">
            <div class="fr-card__img">
                {% if reglementation.tag  == "tag-social" %}
                    <img class="fr-responsive-img" src="{% static 'img/social-2x3.png' %}" alt="" />
                {% elif reglementation.tag == "tag-environnement" %}
                    <img class="fr-responsive-img" src="{% static 'img/environnement-2x3.png' %}" alt="" />
                {% elif reglementation.tag == "tag-gouvernance" %}
                    <img class="fr-responsive-img" src="{% static 'img/gouvernance-2x3.png' %}" alt="" />
                {% elif reglementation.tag == "tag-durabilite" %}
                    <img class="fr-responsive-img" src="{% static 'img/durable-2x3.png' %}" alt="" />
                {% endif %}
            </div>
        </div>
    </div>
</div>
