{% extends "base.html" %}

{% block content %}
    <div class="fr-container">
        <div class="fr-my-7w fr-mt-md-12w fr-mb-md-10w fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-grid-row--center">
            <div class="fr-py-0 fr-col-12 fr-col-md-6">
                <h1>Requête incorrecte</h1>
                <p class="fr-text--lead fr-mb-3w">
                    {{ message }}
                </p>
                <ul class="fr-btns-group fr-btns-group--inline-md">
                    <li>
                        <a class="fr-btn" href="/">
                            Page d'accueil
                        </a>
                    </li>
                    <li>
                        <a class="fr-btn fr-btn--secondary" href="{% url 'contact' %}">
                            Contactez-nous
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
