<!doctype html>
<html lang="fr" data-fr-scheme="system">
    {% load static %}
    {% load django_vite %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'dsfr/dsfr/dsfr.min.css' %}">
        <link rel="stylesheet" href="{% static 'dsfr/utility/icons/icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/dsfr-theme-tac.css' %}">

        <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
        <link rel="apple-touch-icon" href="{% static 'dsfr/favicon/apple-touch-icon.png' %}"><!-- 180×180 -->
        <link rel="icon" href="{% static 'dsfr/favicon/favicon.svg' %}" type="image/svg+xml">
        <link rel="shortcut icon" href="{% static 'dsfr/favicon/favicon.ico' %}" type="image/x-icon"><!-- 32×32 -->
        <link rel="manifest" href="{% static 'dsfr/favicon/manifest.webmanifest' %}" crossorigin="use-credentials">
        <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">

        <title>{% block title %}Portail RSE{% endblock %}</title>

        {% vite_hmr_client %}
        {% vite_asset 'src/main.js' %}

        <script type="text/javascript" src="{% static 'js/htmx.min.js' %}" nonce="{{ request.csp_nonce }}" defer></script>
    </head>
    <body>
        {% block header %}
            <header role="banner" class="fr-header">
                {% include "snippets/entete_page.html" %}
            </header>
        {% endblock %}

        <main>
            {% block bandeau %}{% endblock %}

            {% if messages %}
                <div class="fr-container fr-mt-4w">
                    {% for message in messages %}
                        <div class="fr-alert fr-alert--{{ message.tags }}">
                            <p>{{ message|safe }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            <footer class="fr-footer" role="contentinfo" id="footer">
                <div class="fr-container">
                    <div class="fr-footer__body">
                        <div class="fr-footer__brand fr-enlarge-link">
                            <a href="{{ sites_faciles_base_url }}" title="Retour à l’accueil du site - Portail RSE">
                                <p class="fr-logo">
                                    République
                                    <br>Française
                                </p>
                            </a>
                        </div>
                        <div class="fr-footer__content">
                            <ul class="fr-footer__content-list">
                                <li class="fr-footer__content-item">
                                    <a class="fr-footer__content-link" target="_blank" href="https://www.info.gouv.fr">info.gouv.fr</a>
                                </li>
                                <li class="fr-footer__content-item">
                                    <a class="fr-footer__content-link" target="_blank" href="https://service-public.fr">service-public.fr</a>
                                </li>
                                <li class="fr-footer__content-item">
                                    <a class="fr-footer__content-link" target="_blank" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
                                </li>
                                <li class="fr-footer__content-item">
                                    <a class="fr-footer__content-link" target="_blank" href="https://data.gouv.fr">data.gouv.fr</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fr-footer__bottom">
                        <ul class="fr-footer__bottom-list">
                            <li class="fr-footer__bottom-item">
                                <a class="fr-footer__bottom-link" href="{% url 'stats' %}">Statistiques</a>
                            </li>
                            <li class="fr-footer__bottom-item">
                                <a class="fr-footer__bottom-link" href="{{ sites_faciles_base_url }}/conditions-generales-d-utilisation/">CGU</a>
                            </li>
                            <li class="fr-footer__bottom-item">
                                <a class="fr-footer__bottom-link" href="{{ sites_faciles_base_url }}/mentions-legales/">Mentions légales</a>
                            </li>
                            <li class="fr-footer__bottom-item">
                                <a class="fr-footer__bottom-link" href="{{ sites_faciles_base_url }}/politique-de-confidentialite/">Politique de confidentialité</a>
                            </li>
                            <li class="fr-footer__bottom-item">
                                <button id="tarteaucitronManager" class="fr-footer__bottom-link" aria-controls="tarteaucitron" data-fr-opened="false" data-fr-js-modal-button="true">Gestion des cookies</button>
                            </li>
                        </ul>
                        <div class="fr-footer__bottom-copy">
                            <p>Sauf mention contraire, tous les contenus de ce site sont sous licence Affero GPL.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        <!-- Script en version es6 module et nomodule pour les navigateurs ne le supportant pas -->
        <script type="module" src="{% static 'dsfr/dsfr/dsfr.module.js' %}"></script>
        <script type="text/javascript" nomodule src="{% static 'dsfr/dsfr/dsfr.nomodule.min.js' %}"></script>
        <script
            src="https://browser.sentry-cdn.com/8.28.0/bundle.tracing.min.js"
            integrity="sha384-GVaBBYGuaNuY8QXk8YojAIgLouf6OZ9bSBQRZ69jdPLVgNCZr6yFpW5vU/yXHXRb"
            crossorigin="anonymous"
            nonce="{{ request.csp_nonce }}"
        ></script>
        <script nonce="{{ request.csp_nonce }}">
            Sentry.init({
                dsn: '{{ sentry_dsn }}',
                environment: '{{ sentry_env }}',
                tracesSampleRate: 0.1,
            });
        </script>
        {% if matomo_enabled %}
	<!-- Tarte au citron -->
            <script type="text/javascript" src="{% static 'js/tarteaucitron.js' %}" nonce="{{ request.csp_nonce }}"></script>
            <script nonce="{{ request.csp_nonce }}">
                tarteaucitron.init({
                    "useExternalCss": true,
                    "showIcon": false,
                    "removeCredit": true,
                    "moreInfoLink": false,
                    "mandatory": true,
                    "mandatoryCta": false,
                    "cookieDomain": "{{ cookie_domain }}",
                });
	    // Service Youtube
                (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
            </script>
            <script type="text/javascript" src="{% static 'js/tarteaucitron.matomo.service.js' %}" nonce="{{ request.csp_nonce }}"></script>
            <script nonce="{{ request.csp_nonce }}">
                tarteaucitron.user.matomoId = '16';
                tarteaucitron.user.matomoHost = 'https://stats.beta.gouv.fr/';
                (tarteaucitron.job = tarteaucitron.job || []).push('matomocloudbeta');
            </script>
        {% endif %}

    </body>
</html>
