<!doctype html>
<html lang="fr" data-fr-scheme="system">
    {% load static %}
    {% load django_vite %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'dsfr/dsfr/dsfr.min.css' %}">
        <link rel="stylesheet" href="{% static 'dsfr/utility/icons/icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
        <link rel="apple-touch-icon" href="{% static 'dsfr/favicon/apple-touch-icon.png' %}"><!-- 180×180 -->
        <link rel="icon" href="{% static 'dsfr/favicon/favicon.svg' %}" type="image/svg+xml">
        <link rel="shortcut icon" href="{% static 'dsfr/favicon/favicon.ico' %}" type="image/x-icon"><!-- 32×32 -->
        <link rel="manifest" href="{% static 'dsfr/favicon/manifest.webmanifest' %}" crossorigin="use-credentials">

        <title>{% block title %}Portail RSE{% endblock %}</title>

        {% vite_hmr_client %}
        {% vite_asset 'src/main.js' %}

        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(["setExcludedQueryParams", ["simulationId","_csrf"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://stats.beta.gouv.fr/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '16']);

                // Also send all of the tracking data to the old Matomo server
                // see https://matomo.org/faq/how-to/how-do-i-send-tracking-requests-to-two-or-more-matomo-servers/
                var oldTracker = 'https://stats.data.gouv.fr/matomo.php';
                var oldWebsiteId = '274';
                _paq.push(['addTracker', oldTracker, oldWebsiteId]);

                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
    </head>
    <body>
        {% block header %}
            <header role="banner" class="fr-header">
                <div class="fr-header__body">
                    <div class="fr-container">
                        <div class="fr-header__body-row">
                            <div class="fr-header__brand fr-enlarge-link">
                                <div class="fr-header__brand-top">
                                    <div class="fr-header__logo">
                                        <p class="fr-logo">
                                            République
                                            <br>Française
                                        </p>
                                    </div>
                                    <div class="fr-header__navbar">
                                        <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu">
                                            Menu
                                        </button>
                                    </div>
                                </div>
                                <div class="fr-header__service">
                                    <a href="/" title="Accueil - Portail RSE">
                                        <p class="fr-header__service-title">
                                            Portail RSE <span class="fr-badge fr-badge--sm fr-badge--green-emeraude">BETA</span>
                                        </p>
                                    </a>
                                    <p class="fr-header__service-tagline">Un chemin unique pour connaître et répondre à ses obligations RSE</p>
                                </div>
                            </div>
                            <div class="fr-header__tools">
                                <div class="fr-header__tools-links">
                                    <ul class="fr-btns-group">
                                        <li><a class="fr-btn fr-icon-mail-line" href="{% url 'contact' %}">Contactez-nous</a></li>
                                        {% if user.is_authenticated %}
                                            <li><a class="fr-btn fr-icon-building-line" href="{% url 'entreprises:entreprises' %}">{% if user.entreprise_set.count >= 2 %}Mes entreprises{% else %}Mon entreprise{% endif %}</a></li>
                                            <li class="fr-nav__item header-collapse">
                                                <button class="fr-btn fr-icon-account-circle-line" aria-expanded="false" aria-controls="menu-header">{{ user.prenom|title }} {{ user.nom|title|first }}.</button>
                                                <div class="fr-collapse fr-menu" id="menu-header">
                                                    <ul class="fr-menu__list">
                                                        <li><a class="fr-nav__link" href="{% url 'users:account' %}" target="_self"><span class="fr-icon-account-circle-fill fr-mr-1w" aria-hidden="true"></span> Mon compte</a></li>
                                                        <li><a class="fr-nav__link" href="{% url 'users:logout' %}" target="_self"><span class="fr-icon-lock-unlock-fill fr-mr-1w" aria-hidden="true"></span> Se déconnecter</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li><a class="fr-btn fr-icon-lock-line" href="{% url 'users:login' %}?next={{ request.path }}">Se connecter</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
                    <div class="fr-container">
                        <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                            Fermer
                        </button>
                        <div class="fr-header__menu-links">
                        </div>
                        <nav class="fr-nav" id="navigation-494" role="navigation" aria-label="Menu principal">
                            <ul class="fr-nav__list">
                                {% if user.is_authenticated %}
                                {% else %}
                                    <li class="fr-nav__item">
                                        {% url 'simulation' as url_page %}
                                        <a class="fr-nav__link" href="{{ url_page }}" target="_self"{% if request.path == url_page %} aria-current="page"{% endif %}>Simulation</a>
                                    </li>
                                {% endif %}
                                <li class="fr-nav__item">
                                    {% url 'reglementations' as url_page %}
                                    <a class="fr-nav__link" href="{{ url_page }}" target="_self"{% if request.path == url_page %} aria-current="page"{% endif %}>Réglementations RSE</a>
                                </li>
                                {% if user.is_authenticated %}
                                    {% if user.entreprise_set.count >= 2 %}
                                        <li class="fr-nav__item">
                                            {% url 'reglementations:tableau_de_bord' entreprise.siren as url_page %}
                                            <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-1" {% if request.path == url_page %} aria-current="page"{% endif %}></span>
                                            Tableau de bord
                                        </button>
                                        <div class="fr-collapse fr-menu" id="menu-1">
                                            <ul class="fr-menu__list">
                                                {% for entreprise in user.entreprises %}
                                                    {% url 'reglementations:tableau_de_bord' entreprise.siren as url_page %}
                                                    <li><a class="fr-nav__link" href="{{ url_page }}" target="_self"{% if request.path == url_page %} aria-current="page"{% endif %}>Tableau de Bord pour {{ entreprise.denomination }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        </li>
                                    {% else %}
                                        {% for entreprise in user.entreprises %}
                                            {% url 'reglementations:tableau_de_bord' entreprise.siren as url_page %}
                                            <li class="fr-nav__item"><a class="fr-nav__link" href="{{ url_page }}" target="_self"{% if request.path == url_page %} aria-current="page"{% endif %}>Tableau de bord</a></li>
                                        {% endfor %}
                                    {% endif %}
                                    <li class="fr-nav__item">
                                        {% url 'reglementations:csrd' as url_page %}
                                        <a class="fr-nav__link" href="{{ url_page }}" target="_self"{% if request.path == url_page %} aria-current="page"{% endif %}>Espace Rapport de Durabilité</a>
                                    </li>
                                {% else %}
                                    <li class="fr-nav__item"><a class="fr-nav__link" href="{% url 'users:login' %}?next={{ request.path }}" target="_self">Tableau de bord</a></li>
                                    <li class="fr-nav__item">
                                        {% url 'reglementations:csrd' as url_page %}
                                        <a class="fr-nav__link" href="{{ url_page }}" target="_self"{% if request.path == url_page %} aria-current="page"{% endif %}>Espace Rapport de Durabilité</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        {% endblock %}

        <main>
            {% if messages %}
                <div class="fr-container fr-mt-4w">
                    {% for message in messages %}
                        <div class="fr-alert fr-alert--{{ message.tags }}">
                            <p>{{ message|safe }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            <footer class="fr-footer fr-mt-12w" role="contentinfo" id="footer">
                <div class="fr-container">
                    <div class="fr-footer__body">
                        <div class="fr-footer__brand fr-enlarge-link">
                            <a href="/" title="Retour à l’accueil du site - Portail RSE">
                                <p class="fr-logo">
                                    République
                                    <br>Française
                                </p>
                            </a>
                        </div>
                        <div class="fr-footer__content">
                            <p>
                                Le Portail RSE aide les entreprises à satisfaire leurs obligations réglementaires en matière de performance extra-financière. <br>
                                Il est développé par la <a href="https://www.entreprises.gouv.fr/fr/la-direction-generale-des-entreprises-dge" target="_blank" rel="noopener">Direction Générale des Entreprises (DGE)</a> en lien avec BetaGouv et la Direction Interministérielle du Numérique (DINUM).
                            </p>
                            <ul class="fr-footer__content-list">
                                <li class="fr-footer__content-item">
                                    <a class="fr-footer__content-link" target="_blank" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
                                </li>
                                <li class="fr-footer__content-item">
                                    <a class="fr-footer__content-link" target="_blank" href="https://gouvernement.fr">gouvernement.fr</a>
                                </li>
                                <li class="fr-footer__content-item">
                                    <a class="fr-footer__content-link" target="_blank" href="https://service-public.fr">service-public.fr</a>
                                </li>
                                <li class="fr-footer__content-item">
                                    <a class="fr-footer__content-link" target="_blank" href="https://data.gouv.fr">data.gouv.fr</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fr-footer__bottom">
                        <ul class="fr-footer__bottom-list">
                            <li class="fr-footer__bottom-item">
                                <span class="fr-footer__bottom-link">Accessibilité : non conforme</span>
                            </li>
                            <li class="fr-footer__bottom-item">
                                <a class="fr-footer__bottom-link" href="{% url 'mentions_legales' %}">Mentions légales</a>
                            </li>
                            <li class="fr-footer__bottom-item">
                                <a class="fr-footer__bottom-link" href="{% url 'politique_confidentialite' %}">Politique de confidentialité</a>
                            </li>
                            <li class="fr-footer__bottom-item">
                                <a class="fr-footer__bottom-link" href="{% url 'cgu' %}">CGU</a>
                            </li>
                            <li class="fr-footer__bottom-item">
                                <a class="fr-footer__bottom-link" href="{% url 'stats' %}">Statistiques</a>
                            </li>
                        </ul>
                        <div class="fr-footer__bottom-copy">
                            <p>Sauf mention contraire, tous les contenus de ce site sont sous licence Affero GPL.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        <!-- Script en version es6 module et nomodule pour les navigateurs le ne supportant pas -->
        <script type="module" src="{% static 'dsfr/dsfr/dsfr.module.js' %}"></script>
        <script type="text/javascript" nomodule src="{% static 'dsfr/dsfr/dsfr.nomodule.min.js' %}"></script>
    </body>
</html>
