{% extends "reglementations/tableau_de_bord/base.html" %}

{% block actions %}
    {% if csrd %}
        <h4>Progression ({{ csrd.progression.pourcent }} %)</h4>

        <progress max="{{ csrd.progression.max }}" value="{{ csrd.progression.actuel }}" class="progression-csrd">70%</progress>

        <h4 class="fr-mt-5w">Actions à mener ({{ csrd.avancement_etapes | length }})</h4>
        {% for action in csrd.avancement_etapes %}
            <p>
                {% if action.validee %}
                    <a class="fr-tag fr-tag--green-emeraude" href="{{ action.lien }}">Fait</a>
                {% else %}
                    <a class="fr-tag fr-tag--yellow-moutarde" href="{{ action.lien }}">À faire</a>
                {% endif %}
                {{ action.etape.nom }}
                <a href="{{ action.lien }}" class="fr-link fr-icon-arrow-right-line fr-link--icon-right">Accéder à l'espace CSRD</a>
            </p>
        {% endfor %}
    {% else %} {# affichage par défaut car le rapport CSRD n'existe pas encore #}
        {% if status.primary_action %}
            <ul class="fr-btns-group fr-btns-group--md">
                <li>
                    <a class="fr-btn" href="{{ status.primary_action.url }}" {% if status.primary_action.external %}target="_blank" rel="noopener"{% endif %}>
                        {{ status.primary_action.title }}
                    </a>
                </li>
                {% for secondary_action in status.secondary_actions %}
                    <li>
                        <a class="fr-btn fr-btn--secondary" href="{{ secondary_action.url }}" {% if secondary_action.external %}target="_blank" rel="noopener"{% endif %}>
                            {{ secondary_action.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}

{% block en_savoir_plus %}
    <h3 class="fr-card__title">
        <a href="{{ reglementation.more_info_url }}">
            En savoir plus sur la CSRD
        </a>
    </h3>
    <p class="fr-card__desc">
        La Corporate Sustainability Reporting Directive (CSRD) est une directive européenne qui renforce les obligations de publication d'informations en matière de durabilité à l'égard des entreprises.
    </p>
{% endblock %}
