{% extends "base.html" %}

{% load progression_vsme %}

{% block title %}{{ titre }}{% endblock %}

{% block bandeau %}
    {% include "snippets/bandeau.html" %}
{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}

            <div class="fr-col">
                <h1>Mes indicateurs</h1>

                <div class="fr-grid-row fr-grid-row--gutters fr-pb-1w fr-mb-1w">
                    <div class="fr-col-12 fr-col-md-6">
                        <div class="fr-select-group">
                            <label class="fr-label" for="select-annee">
                                Année du rapport VSME
                            </label>
                            <select class="fr-select" id="select-annee" name="annee" onchange="window.location.href='{% url 'vsme:categories_vsme' entreprise.siren %}' + this.value + '/'">
                                {% for annee in annees_disponibles reversed %}
                                    <option value="{{ annee }}" {% if annee == rapport_vsme.annee %}selected{% endif %}>
                                        {{ annee }}{% if annee == annee_par_defaut %} (par défaut){% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-6" style="display: flex; align-items: flex-end; justify-content: flex-end;">
                        <a class="fr-btn fr-btn--icon-left fr-icon-download-line" href="{% url 'vsme:export_vsme' rapport_vsme.id %}">Télécharger les données (xlsx)</a>
                    </div>
                </div>

                <p>
                    Renseignez et suivez vos indicateurs environnementaux, sociaux et de gouvernance
                </p>

                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-md-6">
                        <div class="fr-tile fr-tile--sm fr-enlarge-link progression-vsme--general">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        <a href="{% url 'vsme:categorie_vsme' rapport_vsme.id 'informations-generales' %}" class="progression-vsme--title">Général</a>
                                    </h3>
                                    <p class="fr-tile__desc progression-vsme">
                                        <div class="progress-circle-wrapper">
                                            {% progression_categorie rapport_vsme 'informations-generales' as progression %}
                                            <div class="progress-circle progress-circle--general" data-value="{{ progression.pourcent }}">
                                                <div class="progress-masque">
                                                    <div class="progress-barre progress-barre--general"></div>
                                                    <div class="progress-sup50 progress-sup50--general"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <div class="fr-tile fr-tile--sm fr-enlarge-link progression-vsme--env">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        <a href="{% url 'vsme:categorie_vsme' rapport_vsme.id 'environnement' %}" class="progression-vsme--title">Environnement</a>
                                    </h3>
                                    <p class="fr-tile__desc progression-vsme">
                                        <div class="progress-circle-wrapper">
                                            {% progression_categorie rapport_vsme 'environnement' as progression %}
                                            <div class="progress-circle progress-circle--environnement" data-value="{{ progression.pourcent }}">
                                                <div class="progress-masque">
                                                    <div class="progress-barre progress-barre--environnement"></div>
                                                    <div class="progress-sup50 progress-sup50--environnement"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fr-col-12 fr-col-md-6">
                        <div class="fr-tile fr-tile--sm fr-enlarge-link progression-vsme--social">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        <a href="{% url 'vsme:categorie_vsme' rapport_vsme.id 'social' %}" class="progression-vsme--title">Social</a>
                                    </h3>
                                    <p class="fr-tile__desc progression-vsme">
                                        <div class="progress-circle-wrapper">
                                            {% progression_categorie rapport_vsme 'social' as progression %}
                                            <div class="progress-circle progress-circle--social" data-value="{{ progression.pourcent }}">
                                                <div class="progress-masque">
                                                    <div class="progress-barre progress-barre--social"></div>
                                                    <div class="progress-sup50 progress-sup50--social"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <div class="fr-tile fr-tile--sm fr-enlarge-link progression-vsme--gov">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        <a href="{% url 'vsme:categorie_vsme' rapport_vsme.id 'gouvernance' %}" class="progression-vsme--title">Gouvernance</a>
                                    </h3>
                                    <p class="fr-tile__desc progression-vsme">
                                        <div class="progress-circle-wrapper">
                                            {% progression_categorie rapport_vsme 'gouvernance' as progression %}
                                            <div class="progress-circle  progress-circle--gouvernance" data-value="{{ progression.pourcent }}">
                                                <div class="progress-masque">
                                                    <div class="progress-barre progress-barre--gouvernance"></div>
                                                    <div class="progress-sup50 progress-sup50--gouvernance"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
