{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block bandeau %}
    {% include "snippets/bandeau.html" %}
{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}
            <div class="fr-col">

                <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
                    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
                        Voir le fil d’Ariane
                    </button>
                    <div class="fr-collapse" id="breadcrumb-1">
                        <ol class="fr-breadcrumb__list">
                            <li>
                                <a class="fr-breadcrumb__link" href="{% url 'vsme:categories_vsme' entreprise.siren rapport_vsme.annee %}">Mes indicateurs</a>
                            </li>
                            <li>
                                <a class="fr-breadcrumb__link" aria-current="page">{{ categorie.value.label }}</a>
                            </li>
                        </ol>
                    </div>
                </nav>

                <h1>{{ categorie.value.label }}</h1>

                {% for exigence in exigences_de_publication %}
                    {% include "snippets/tuile_exigence_publication.html" with exigence=exigence rapport_vsme=rapport_vsme %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
