{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}

            <div class="fr-col">
                <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
                    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
                        Voir le fil d’Ariane
                    </button>
                    <div class="fr-collapse" id="breadcrumb-1">
                        <ol class="fr-breadcrumb__list">
                            <li>
                                <a class="fr-breadcrumb__link" href="{% url 'vsme:indicateurs_vsme' entreprise.siren rapport_vsme.annee %}">Mes indicateurs</a>
                            </li>
                            <li>
                                <a class="fr-breadcrumb__link" href="{% url 'vsme:categorie_vsme' rapport_vsme.id exigence_de_publication.categorie.value.id %}">{{ exigence_de_publication.categorie.value.label }}</a>
                            </li>
                            <li>
                                <a class="fr-breadcrumb__link" aria-current="page">{{ exigence_de_publication.code }} - {{ exigence_de_publication.nom }}</a>
                            </li>
                        </ol>
                    </div>
                </nav>

                <h3>{{ exigence_de_publication.code }} - {{ exigence_de_publication.nom }}</h3>

                <p><a href="{{ exigence_de_publication.url_infos }}" class="fr-link">En savoir plus sur les indicateurs demandés</a></p>
                <p>Exercice {{ rapport_vsme.annee }}</p>
                <div class="fr-table fr-table--sm">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Indicateur</th>
                                            <th>Statut</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for indicateur in indicateurs %}
                                            <tr>
                                                <td>{{ indicateur.titre }}</td>
                                                <td>
                                                    {% if not indicateur.est_actif %}
                                                        <p class="fr-badge fr-badge--brown-cafe-creme">NON APPLICABLE</p>
                                                    {% elif indicateur.est_complete %}
                                                        <p class="fr-badge fr-badge--success fr-badge--no-icon">COMPLÉTÉ</p>
                                                    {% else %}
                                                        <p class="fr-badge">À COMPLÉTER</p>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if indicateur.est_actif %}
                                                        <button aria-controls="htmx-modal-indicateur" data-fr-opened="false" type="button" class="fr-btn fr-icon-edit-line fr-btn--secondary"
                                                                title="Modifier"
                                                                hx-get="{% url 'vsme:indicateur_vsme' rapport_vsme.id indicateur.id %}"
                                                                hx-target="#htmx-modal-indicateur">
                                                            Modifier
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <dialog id="htmx-modal-indicateur" class="fr-modal fr-modal--top" aria-labelledby="htmx-modal-indicateur-title" data-fr-concealing-backdrop="true"></dialog>

            </div>
        </div>
    </div>
{% endblock %}
