{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}

            <div class="fr-col">
                <h3>Indicateurs VSME</h3>

                <ul>
                    {% for indicateur in indicateurs %}
                        <li>
                            {{ indicateur.title }}
                            {% if indicateur.est_complete %}
                                <p class="fr-badge fr-badge--success fr-badge--no-icon">COMPLÉTÉ</p>
                            {% else %}
                                <p class="fr-badge">À COMPLÉTER</p>
                            {% endif %}
                            <button aria-controls="htmx-modal-indicateur" data-fr-opened="false" type="button" class="fr-btn"
                                    hx-get="{% url 'vsme:indicateur_vsme' rapport_vsme.id indicateur.id %}"
                                    hx-target="#htmx-modal-indicateur">
                                Modifier
                            </button>
                        </li>
                    {% endfor %}
                </ul>

                <dialog id="htmx-modal-indicateur" class="fr-modal fr-modal--top" aria-labelledby="htmx-modal-indicateur-title" data-fr-concealing-backdrop="true"></dialog>

            </div>
        </div>
    </div>
{% endblock %}
