{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}

            <div class="fr-col">
                <h3>Remplir mes indicateurs VSME</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
