.fr-btns-group--md {
    --ul-type: none;
}



/* color themes */

.background-gov {
    background-color: var(--background-contrast-blue-ecume);
}
.background-social {
    background-color: var(--background-contrast-purple-glycine);
}

.background-social .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--purple-glycine-main-494);
}

.background-env {
    background-color: var(--background-contrast-green-emeraude);
}

.background-env .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--green-emeraude-main-632);
}

.background-dur {
    background-color: var(--background-contrast-yellow-moutarde);
}

.background-dur .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--yellow-moutarde-main-679);
}

/* colored bgs */

.background-y {
    background-color: var(--yellow-tournesol-975-75);
}

.background-g {
    background-color: var(--green-emeraude-975-75);
}

.background-light-grey {
    background-color: var(--grey-975-75);
}

/* homepage */
.background-blue {
    background-color: var(--background-alt-blue-france);
}

.background-env .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--green-emeraude-main-632);
}

/* colored bgs */

.background-y {
    background-color: var(--yellow-tournesol-975-75);
}

.background-g {
    background-color: var(--green-emeraude-975-75);
}

.background-light-grey {
    background-color: var(--grey-975-75);
}

/* homepage */
.background-blue {
    background-color: var(--background-alt-blue-france);
}

.logo-rse {
    max-width: 180px;
}

.rse-themes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rse-themes .rse-theme {
    max-width: 140px;
}

.rse-theme .fr-content-media {
    margin: 1rem 0;
}

.rse-themes p {
    text-align: center;
}

.fr-responsive-img {
    height: 100%;
    object-fit: contain;
}

.portail-header {
    background-image: url("../img/home.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* Simulation */

.simu-steps {
    background-color: var(--yellow-tournesol-925-125);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.simu-steps p {
    flex-grow: 1;
}

.simu-steps .fr-btn {
    justify-self:end;
    align-self: flex-end;
}

.simu-steps.step-check {
    background-color: var(--green-emeraude-950-100);
}

.simu-steps h6 {
    margin-bottom: 0;
}

.deprecated {
    opacity: .5;
    transition: all .2s;
}

.container-simulation .denomination {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight:700;
    padding-top: 2rem;
    margin-bottom: 0px;
    color: var(--background-flat-info);
}
.container-simulation .fr-fieldset__element {
    margin-bottom: 0px;
}

/* Réglementation Component */

.reglementation-card .fr-card__desc {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
}

.reglementation {
    width: 100%;
}

.reglementation--full {
    box-shadow: inset 0 -1px 0 0px var(--background-contrast-grey);
}

.reglementation-header {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
    grid-column: 1/3;
    grid-gap:1rem;
}

.reglementation-title {
    font-size: 1.375rem;
    line-height: 1.75rem;
    max-width: 960px;
    margin-bottom: 0;
}

.reglementation_desc {
    font-size: .875rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    order: 3;
}

.reglementation--content {
    grid-column: 1/4;
}

.reglementation_badge {
    min-width: 135px;
    max-width: 135px;
}

.reglementation_badge .fr-badge {
    margin: .25rem .5rem.25rem .5rem;
}

.reglementation .fr-btns-group, .reglementation-grid .fr-btns-group {
/*    flex-flow: column;
    align-items: flex-end; */
    grid-column: 1/4;
}

.reglementation--full:last-child {
    box-shadow: inset 0 0 0 0px var(--background-contrast-grey);
}

.reglementation_detail {
    align-items: flex-start;
    color: var(--text-default-info);
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    background-color: var(--background-contrast-info);
    border-radius: .25rem;
    grid-column: 1/3;
    align-items: center;
    width: fit-content;
}

.reglementation_detail[class*=" fr-fi-"]::before, .reglementation_detail[class*=" fr-icon-"]::before, .reglementation_detail[class^="fr-fi-"]::before, .reglementation_detail[class^="fr-icon-"]::before {
    --icon-size: 1rem;
    margin-right: .5rem;
  }

.reglementation-grid {
    display: grid;
    grid-template-columns: 135px auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.reglementation--grey {
    color: var(--text-default-grey);
}

.reglementation--grey .reglementation_detail {
    color: var(--text-default-grey);
    background-color: var(--background-contrast-grey);
}



/* fiches réglementation */

.fiche-tuiles .fr-tile .fr-responsive-img {
    height: 80px;
    object-fit: contain;
}

.fiche-tuiles .fr-tile__body {
    justify-content: start;
}

.fiche-tuiles .fr-tile ol li, .fiche-tuiles .fr-tile__detail, .fiche-tuiles .fr-tile ul li {
    text-align: left;
}



/* media queries */

@media screen and (max-width: 992px) {
    .reglementation-grid {
        grid-gap: 0rem;
    }
    .reglementation-header {
        grid-column: 1/4;
    }
    .reglementation .fr-btns-group, .reglementation-grid .fr-btns-group {
        justify-content:flex-start;
        grid-row: 3/4;
    }
    .rse-themes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    .fiche-img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .portail-header {
        background-image: none;
        background-color: var(--background-contrast-blue-ecume);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}


@media screen and (max-width: 576px) {
    .reglementation-header {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }
    .reglementation--content {
        grid-column: auto;
        grid-row: 4/5;
    }
    .reglementation_badge {
        min-width: 135px;
        grid-row: 1/2;
    }
    .reglementation_detail {
        grid-row: 3/4;
    }
    .reglementation-title {
        grid-row: 2/3;
    }
    .reglementation_badge .fr-badge {
        margin: 0 0 1rem 0;
    }
    .rse-themes {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }

    .rse-themes p {
        text-align: left;
        margin-bottom: .5rem;
    }

    .rse-themes .fr-content-media {
        display: none;
    }
    .rse-themes .rse-theme {
        max-width: none;
    }
}

