{% if form.non_field_errors %}
    <div class="fr-alert fr-alert--error fr-mb-5w">
        <h3 class="fr-alert__title">Erreur</h3>
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {% include 'snippets/field.html' with field=form.username %}
    {% include 'snippets/field.html' with field=form.password additional_classes="fr-mb-1w" %}
    <div>
        Mot de passe oublié ? <a href="{% url 'users:password_reset'%}" class="fr-link">Réinitialisez votre mot
            de passe</a>
    </div>

    <div class="fr-mt-4w">
        <button type="submit" class="fr-btn">Se connecter</button>
    </div>

    <div class="background-light-grey fr-py-4w fr-my-4w" style="text-align: center;">
        Pas encore de compte ? <a href="{% url 'users:creation'%}" class="fr-link">Créez votre compte</a><br>
    </div>
</form>
