<div class="fr-notice fr-notice--info">
    <div class="fr-container">
        <div class="fr-notice__body">
            <p>
                <span class="fr-notice__title">L'espace « Mes indicateurs » est en cours de construction.</span>
                <span class="fr-notice__desc">Les indicateurs de la norme volontaire VSME sont ajoutés au fur et à mesure. Inscrivez-vous à notre infolettre thématique gratuite pour être alerté(e) des nouveautés.</span>
                <a href="https://5027ac4b.sibforms.com/serve/MUIFALhr4PVaI8peeGiFCxs3dcQpLXLfFmdDkyK3-EeasVQqMFTbe616YkKuiaXjgk2izPvjJWXcHHKF2lluX73Ij_mx3XDYnY96rgFGbJNzUEqtNHGnwDIctOafHEAznvInr2s40JkFXHU1UnQlnc48KgGR9GCOT5fqgF5Pkd3Z_8vie9-9xEyhjOm5rRWmnRcj7H0QY9OgVjE-" target="_blank" rel="noopener external" class="fr-notice__link">S'inscrire</a>
            </p>
        </div>
    </div>
</div>
