<div class="fr-grid-row fr-mb-1w">
    <div class="fr-col">
        <div class="fr-tile fr-enlarge-link fr-tile--horizontal progression-vsme--{{ categorie }}">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                        <a href="{{ url }}" class="progression-vsme--title">{{ titre}}</a>
                    </h3>
                    <p class="fr-tile__desc desc-exigence-publication">
                        Complétion : 0 %
                        <progress max="100" value="0" class="progression-exigence-publication">0 %</progress>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
