{% load progression_vsme %}

{% if exigence.url_infos %}
    <div class="fr-grid-row fr-mb-1w">
        <div class="fr-col">
            <div class="fr-tile fr-enlarge-link fr-tile--horizontal progression-vsme--{% if exigence.categorie.value.id == 'informations-generales' %}general{% elif exigence.categorie.value.id == 'environnement' %}env{% elif exigence.categorie.value.id == 'social' %}social{% else %}gov{% endif %}">
                <div class="fr-tile__body">
                    <div class="fr-tile__content">
                        <h3 class="fr-tile__title">
                            {% if exigence.remplissable %}
                                {% url 'vsme:exigence_de_publication_vsme' rapport_vsme.id exigence.code as url_page %}
                                <a href="{{ url_page }}" class="progression-vsme--title">{{ exigence.code }} – {{ exigence.nom }}</a>
                            {% else %}
                                <a href="{{ exigence.url_infos }}" class="progression-vsme--title">{{ exigence.code }} – {{ exigence.nom }}</a>
                            {% endif %}
                        </h3>

                        {% if exigence.remplissable and exigence.est_applicable %}
                            <p class="fr-tile__desc desc-exigence-publication">
                                {% progression_exigence rapport_vsme exigence as progression %}
                                Complétion : {{ progression.pourcent }} %
                                <progress max="100" value="{{ progression.pourcent }}" class="progression-exigence-publication">{{ progression.pourcent }} %</progress>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
