{% extends "base.html" %}
{% load static %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
  {% include "snippets/entete.html" %}

  <div class="fr-container fr-mb-8w">
    <div class="fr-grid-row fr-pb-6w">
      {% include "snippets/menu.html" %}
      <div class="fr-col">
        <h2>Module complet</h2>
        <div class="fr-callout">
          <p class="fr-callout__text">
            Le <b>Module complet</b> s’adresse aux PME qui doivent répondre à des <b>demandes ESG avancées</b> émanant d’investisseurs, de banques, ou de grands clients.<br> Il complète le module de base avec des <b>données enrichies</b> et des <b>exigences sectorielles ou réglementaires spécifiques</b> (comme celles de la SFDR ou du Pilier 3 bancaire).
          </p>
          <p class="fr-callout__text">
            Ce module est particulièrement utile pour les entreprises déjà engagées dans une démarche RSE structurée ou soumises à des questionnaires ESG complexes.
          </p>
        </div>

	{# section 2 #}
        <div class="fr-mt-5w">
          <h2>Que faire ?</h2>
          <ul class="rse-list">
            <li><b>Assurez-vous d’avoir complété le module de base</b>, qui est un prérequis obligatoire ;<br></li>
            <li><b>Identifiez les points de données supplémentaires à compléter</b> en fonction des demandes de vos partenaires (clients, banques, investisseurs…) :
              <br>
              <a href={% static "/docs/vsme/VSME-Digital-Template-1.1.1.xlsx" %} class="fr-link fr-link--download">Template VSME</a>
            </li>
            <li><b>Documentez vos objectifs</b> de réduction des émissions de GES, vos initiatives en faveur des droits humains, ou encore vos politiques d’achats responsables ;<br></li>
            <li><b>Préparez-vous à justifier certaines données chiffrées ou engagements</b>, avec des pièces justificatives, objectifs de suivi ou liens vers des politiques internes ;<br></li>
            <li><b>Utilisez les fonctions avancées du modèle numérique VSME</b> (menus déroulants, calculs automatiques, convertisseur carburant…) pour gagner en précision</li>
          </ul>
        </div>

        <div class="fr-mt-5w">
          <h2>Liste des exigences de publication par module</h2>
          <div class="fr-grid-row fr-grid-row--gutters esrs-organizer">

            <div class="fr-col-12">
              <div class="esrs-organizer--container">
                <div class="esrs-organizer--header">
                  <h4 class="esrs-organizer--title esrs-organizer--general">Informations générales</h4>
                </div>
                <div class="esrs-organizer--content">
                  <div class="esrs-organizer--esrs">
                    <div class="esrs-organizer--card">
                      <div class="esrs-organizer--card-title">
                        <b>C1 – Stratégie : modèle économique et initiatives liées à la durabilité</b>
                      </div>
                    </div>
                  </div>
                  <div class="esrs-organizer--esrs">
                    <div class="esrs-organizer--card">
                      <div class="esrs-organizer--card-title">
                        <b>C2 – Description des pratiques, des politiques et des initiatives futures pour une transition vers une économie plus durable</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="fr-col-lg-4 fr-col-12">
              <div class="esrs-organizer--container esrs-organizer--no-badge esrs-organizer--env">
                <div class="esrs-organizer--header">
                  <h4 class="esrs-organizer--title">Métriques environnementales</h4>
                </div>
                <div class="esrs-organizer--content">
                  <div class="esrs-organizer--esrs">
                    <div class="esrs-organizer--card">
                      <div class="esrs-organizer--card-title">
                        <b>C3 – Cibles de réduction des émissions de GES et transition climatique</b>
                      </div>
                    </div>
                  </div>
                  <div class="esrs-organizer--esrs">
                    <div class="esrs-organizer--card">
                      <div class="esrs-organizer--card-title">
                        <b>C4 – Risques climatiques</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="fr-col-lg-4 fr-col-12">
              <div class="esrs-organizer--container esrs-organizer--no-badge esrs-organizer--social">
                <div class="esrs-organizer--header">
                  <h4 class="esrs-organizer--title">Métriques sociales</h4>
                </div>
                <div class="esrs-organizer--content">
                  <div class="esrs-organizer--esrs">
                    <div class="esrs-organizer--card">
                      <div class="esrs-organizer--card-title">
                        <b>C5 – Caractéristiques supplémentaires (générales) des effectifs</b>
                      </div>
                    </div>
                  </div>
                  <div class="esrs-organizer--esrs">
                    <div class="esrs-organizer--card">
                      <div class="esrs-organizer--card-title">
                        <b>C6 – Informations complémentaires sur les effectifs de l'entreprise – Politiques et procédures en matière de droits de l’homme</b>
                      </div>
                    </div>
                  </div>
                  <div class="esrs-organizer--esrs">
                    <div class="esrs-organizer--card">
                      <div class="esrs-organizer--card-title">
                        <b>C7 – Incidents graves en matière de droits de l’homme</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="fr-col-lg-4 fr-col-12">
              <div class="esrs-organizer--container esrs-organizer--no-badge esrs-organizer--gov">
                <div class="esrs-organizer--header">
                  <h4 class="esrs-organizer--title">Métriques de gouvernance</h4>
                </div>
                <div class="esrs-organizer--content">
                  <div class="esrs-organizer--esrs">
                    <div class="esrs-organizer--card">
                      <div class="esrs-organizer--card-title">
                        <b>C8 – Recettes de certains secteurs et exclusion des indices de référence de l'UE</b>
                      </div>
                    </div>
                  </div>
                  <div class="esrs-organizer--esrs">
                    <div class="esrs-organizer--card">
                      <div class="esrs-organizer--card-title">
                        <b>C9 – Ratio femmes/hommes au sein de l'organe de gouvernance</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
