{% extends "base.html" %}

{% block title %}Matérialité des enjeux{% endblock %}

{% block content %}
    <div id="csrd_header">
        {% include "snippets/csrd_header.html" %}
    </div>

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row fr-pb-6w">
            {% include "snippets/gestion_csrd_menu.html" %}

            <div class="fr-col">
                <h2>Phase 1 - Analyser la double matérialité</h2>
                <h3>Étape 3 - {{ etape.nom }}</h3>

                <p>
                    Après avoir finalisé la liste de vos enjeux ESG, vous devez évaluer et hiérarchiser l’importance relative des impacts matériels, risques et opportunités identifiés.
                    L’évaluation est réalisée du point de vue de la matérialité d’impact et de la matérialité financière.
                </p>
                <div class="fr-grid-row fr-grid-row--right fr-pb-4w">
                    <a class="fr-link fr-icon-lightbulb-fill fr-link--icon-left" href="{{ sites_faciles_base_url }}/realiser-le-rapport-de-durabilite/analyser-la-double-materialite/etape-3-selectionner-les-enjeux-esg-materiels/">En savoir plus : Étape 3 - Sélectionner les enjeux ESG matériels </a>
                </div>

                <h4>Sous-étape 3 : Synthétiser les évaluations</h4>

                <h6>Que faire ?</h6>
                <ul class="csrd-list csrd-list--bold">
                    <li>Reprenez la liste de vos enjeux ESG après les avoir évalués. Indiquez s’ils sont matériels ou non matériels. </li>
                </ul>

                <div id="nb-enjeux-non-analyses">
                <!-- OOB -->
                </div>

                <div class="fr-grid-row fr-grid-row--right">
                    <div id="download-enjeux-materiels">
				    <!-- OOB -->
                    </div>
                </div>

            </div>

        </div>
		<!-- Onglet etape sélection des enjeux -->
        <div class="fr-tabs">
            <ul class="fr-tabs__list fr-tabs__list--justify" role="tablist" aria-label="onglet-etape-2">
                <li role="presentation">
                    <button id="bouton-onglet-selection-enjeux-materiels" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="onglet-selection-enjeux-materiels" hx-get="{% url 'reglementations:rafraichissement_enjeux_materiels' csrd.pk %}" hx-target="#esg_container" hx-trigger="click from:.fr-btn--close, click from:#bouton-onglet-selection-enjeux-materiels, load">Sélectionner les enjeux ESG matériels</button>
                </li>
                <li role="presentation">
                    <button id="tabpanel-liste-enjeux-materiels" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="onglet-liste-enjeux-materiels" hx-get="{% url 'reglementations:liste_enjeux_materiels' csrd.pk %}" hx-target="#onglet-liste-enjeux-materiels">Ma liste d'enjeux matériels</button>
                </li>
            </ul>
            <div id="onglet-selection-enjeux-materiels" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="onglet-selection-enjeux-materiels" tabindex="0">
                <div class="fr-container fr-pb-6w" id="esg_container"></div>
            </div>
            <div id="onglet-liste-enjeux-materiels" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-liste-enjeux-materiels" tabindex="0">
                <h4>Enjeux sélectionnés</h4>
            </div>
        </div>
    </div>

    <p>
        {% include "snippets/csrd_submit.html" with prochaine_etape="collection-donnees-entreprise" %}
    </p>

    <!-- page gestion CSRD -->
{% endblock %}
