{% extends "base.html" %}

{% block title %}{{ etape.nom }}{% endblock %}

{% block content %}
    <div id="csrd_header">
        {% include "snippets/csrd_header.html" %}
    </div>

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row fr-pb-6w">
            {% include "snippets/gestion_csrd_menu.html" %}

            <div class="fr-col">
                <h2>Phase 2 - Collecter les données de son entreprise</h2>
                <h3>Étape 2 - {{ etape.nom }}</h3>

                <p>
                    L'analyse d'écart consiste à comparer les pratiques et les informations actuellement disponibles dans une organisation avec les attentes de divulgation spécifiques définies par les ESRS.
                    Cette étape vous permet d’identifier les données déjà disponibles au sein de votre entreprise.
                </p>
                <div class="fr-grid-row fr-grid-row--right fr-pb-4w">
                    <a class="fr-link fr-icon-lightbulb-fill fr-link--icon-left" href="{{ sites_faciles_base_url }}/realiser-le-rapport-de-durabilite/collecter-les-donnees-de-son-entreprise/etape-2-realiser-une-analyse-decart/" target="_blank" rel="noopener noreferrer">En savoir plus : Étape 2 - Réaliser une analyse d'écart</a>
                </div>

                <h6>Que faire ?</h6>
                <ul class="csrd-list csrd-list--bold">
                    <li>Téléversez vos documents publics susceptibles de contenir des informations relatives aux ESRS.</li>
                    <li>Après analyse de l’IA, téléchargez les données classifiées par ESRS pour vous aider à rédiger votre rapport de durabilité.</li>
                </ul>
            </div>
        </div>

        <div>
            <form enctype="multipart/form-data" action="{% url 'reglementations:ajout_document' csrd.id %}" method="post">
                {% csrf_token %}
                {% include 'snippets/field.html' with field=form.fichier %}
                <button type="submit" class="fr-btn fr-btn--icon-left fr-icon-upload-2-line">Envoyer</button>
            </form>
        </div>

        <div class="fr-alert fr-alert--warning">
            <h3 class="fr-alert__title">Veillez à ne pas ajouter de données personnelles.</h3>
            <p>Pour plus d'informations, veuillez consulter nos Conditions Générales d'Utilisation</p>
        </div>
        <div class="fr-table" id="table-md-component">
            <div class="fr-table__wrapper">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        <table id="table-md">
                            <caption>
                                Mes fichiers
                            </caption>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Nom du fichier
                                    </th>
                                    <th scope="col">
                                        Date d'ajout
                                    </th>
                                    <th scope="col">
                                        Statut
                                    </th>
                                    <th scope="col">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in documents.all %}
                                    <tr id="table-md-row-key-1" data-row-key="1">
                                        <td>
                                            {{ document.fichier.url }}
                                        </td>
                                        <td>
                                            {{ document.created_at }}
                                        </td>
                                        <td>
                                            Lorem [...] elit ut.
                                        </td>
                                        <td>
                                            Lorem [...] elit ut.
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>
        {% include "snippets/csrd_submit.html" %}
    </p>
{% endblock %}
