{% extends "base.html" %}

{% block title %}Introduction{% endblock %}

{% block content %}
    <div id="csrd_header">
        {% include "snippets/csrd_header.html" %}
    </div>

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row">
            {% include "snippets/csrd_menu.html" %}

            <div class="fr-col">
                <h2>Introduction</h2>
                <p>
                    Bienvenue dans votre espace de pilotage pour vous aider à la rédaction de votre rapport de durabilité.
                    <br>
                    Cet espace met à votre disposition des outils pour avancer étape par étape dans :
                    <ol>
                        <li>L’analyse de double matérialité</li>
                        <li>La collecte des données</li>
                        <li>La rédaction du rapport</li>
                    </ol>
                </p>
                <p>
                    Avant de démarrer le parcours, nous vous invitons à consulter le guide CSRD détaillant ces trois phases.
                    <a class="fr-link fr-icon-lightbulb-fill fr-link--icon-left" href="{{ sites_faciles_base_url }}/realiser-le-rapport-de-durabilite/" target='_blank' rel="noopener noreferrer">Comment réaliser son rapport de durabilité de A à Z ?</a>
                </p>
                <p>
                    {% include "snippets/csrd_submit.html" %}
                </p>
            </div>
        </div>
    </div>
    <!-- page gestion CSRD -->
{% endblock %}
