{% extends "base.html" %}

{% block title %}Enregistrement du rapport de durabilité{% endblock %}

{% block content %}
    <div id="csrd_header">
        {% include "snippets/csrd_header.html" %}
    </div>

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row fr-pb-6w">
            {% include "snippets/csrd_menu.html" %}

            <div class="fr-col">
                <h2>Phase 3 - {{ etape.nom }}</h2>

                <div class="fr-callout">
                    <p class="fr-callout__text">
                        Une fois la collecte de données terminée, il vous reste à rédiger et mettre en forme votre rapport, le faire certifier par un organisme tiers indépendant et le publier.
                    </p>
                    <div class="fr-grid-row fr-grid-row--right fr-pt-3w">
                        <a class="fr-link fr-icon-lightbulb-fill fr-link--icon-left" href="{{ sites_faciles_base_url }}/realiser-le-rapport-de-durabilite/rediger-son-rapport-de-durabilite/" target="_blank" rel="noopener noreferrer">En savoir plus : Phase 3 – Rédiger son rapport de durabilité</a>
                    </div>
                </div>

                <h3>Étape 3 - Publier son rapport</h3>

                <p>
                    La phase 2 "collecte des données" vous a permis de compléter vos indicateurs de durabilité. Après les avoir mis en forme et certifiés par un commissaire aux comptes ou un organisme tiers indépendant, vous devez publier votre rapport de durabilité sur votre site internet.
                </p>
                <div class="fr-grid-row fr-grid-row--right fr-pb-4w">
                    <a class="fr-link fr-icon-lightbulb-fill fr-link--icon-left" href="{{ sites_faciles_base_url }}/realiser-le-rapport-de-durabilite/rediger-son-rapport-de-durabilite/etape-3-publier-son-rapport/" target="_blank" rel="noopener noreferrer">En savoir plus : Étape 3 – Publier son rapport</a>
                </div>

                <h6>Que faire ?</h6>
                <ul class="csrd-list csrd-list--bold">
                    <li>
                        Après avoir publié votre rapport de durabilité sur votre site internet, insérez le lien URL pour mettre à jour le statut de votre rapport de durabilité sur votre tableau de bord.
                    </li>
                </ul>

                <div class="fr-container">
                    <div hx-target="this">
                        {% include "fragments/lien_rapport.html" %}
                    </div>
                </div>
            </div>

        </div>

{% endblock %}
