{% extends "base.html" %}

{% block title %}Introduction{% endblock %}

{% block content %}

    {% include "snippets/csrd_header.html" %}

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row">
            {% include "snippets/gestion_csrd_menu.html" %}

            <div class="fr-col">
                <h2>Introduction</h2>
                <p>
                    Bienvenue dans votre espace de pilotage pour vous aider à la rédaction de votre rapport de durabilité.
                    <br>
                    Cet espace met à votre disposition des outils pour avancer étape par étape dans :
                    <ol>
                        <li>L’analyse de double matérialité</li>
                        <li>La collecte des données</li>
                        <li>La rédaction du rapport</li>
                    </ol>
                    Avant de démarrer le parcours, nous vous invitons à consulter le guide CSRD détaillant ces trois phases.
                    <a href="{% url 'reglementations:csrd' entreprise.siren %}"  class="fr-link" target='_blank'>Comment réaliser son rapport de durabilité de A à Z ?</a>
                    <br>
                    Cet espace sera enrichi progressivement.
                </p>
                <p>
                    {% include "snippets/csrd_submit.html" with prochaine_etape=2 %}
                </p>
            </div>
        </div>
    </div>
    <!-- page gestion CSRD -->
{% endblock %}
