{% extends "base.html" %}

{% block title %}{{ etape.nom }}{% endblock %}

{% block content %}
    <div id="csrd_header">
        {% include "snippets/csrd_header.html" %}
    </div>

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row fr-pb-6w">
            {% include "snippets/gestion_csrd_menu.html" %}

            <div class="fr-col">
                <h2>Phase 2 - Collecter les données de son entreprise</h2>

                <div class="fr-callout">
                    <p class="fr-callout__text">
                        La phase 1 "analyse de double matérialité" vous a permis de déterminer vos enjeux de durabilité matériels.
                        Cette phase 2 vous permet de déterminer les indicateurs pertinents sur lesquels vous allez reporter, puis collecter les données exigées.
                    </p>
                    <div class="fr-grid-row fr-grid-row--right fr-pt-3w">
                        <a class="fr-link fr-icon-lightbulb-fill fr-link--icon-left" href="{{ sites_faciles_base_url }}/realiser-le-rapport-de-durabilite/collecter-les-donnees-de-son-entreprise/" target="_blank" rel="noopener noreferrer">En savoir plus : Phase 2 – Collecter les données de son entreprise</a>
                    </div>
                </div>

                <h3>Étape 1 - {{ etape.nom }}</h2>

                <p>
                    En vous appuyant sur la liste de vos enjeux ESG prioritaires définis lors de l’analyse de double matérialité, sélectionnez les points de données que vous devez reporter après avoir lu leur définition et appliqué le processus de décision.
                </p>
                <p>
                    La matérialité des informations s’appréhende en fonction des critères suivants : (i) l’importance de l’information élémentaire pour décrire l’enjeu ou (ii) son utilité pour répondre aux besoins des utilisateurs.
                </p>
                <div class="fr-grid-row fr-grid-row--right fr-pb-4w">
                    <a class="fr-link fr-icon-lightbulb-fill fr-link--icon-left" href="{{ sites_faciles_base_url }}/realiser-le-rapport-de-durabilite/collecter-les-donnees-de-son-entreprise/etape-1-analyser-la-materialite-des-informations-elementaires/" target="_blank" rel="noopener noreferrer">En savoir plus : Étape 1 - Analyser la matérialité des informations élémentaires</a>
                </div>

                <h6>Que faire ?</h6>
                <ul class="csrd-list csrd-list--bold">
                    <li>Téléchargez les exigences de publications des ESRS de vos enjeux ESG prioritaires, puis sélectionnez les points de données à reporter.
                        <div>
                            <a class="fr-link fr-link--download" download
                               href="{% url 'reglementations:datapoints_xlsx' csrd.entreprise.siren %}">Exigences de publication matérielles</a>
                        </div>
                    </li>
                    <li>Complétez, si pertinent, votre analyse avec les exigences de publication des autres ESRS.
                        <div>
                            <a class="fr-link fr-link--download" download
                               href="{% url 'reglementations:datapoints_xlsx' csrd.entreprise.siren %}?materiel=false">Exigences de publication non-matérielles</a>
                        </div>
                    </li>
                </ul>

                <p>
                    Pour vous aidez, vous pouvez consulter le logigramme permettant de déterminer les informations à inclure au titre des ESRS.
                </p>

                <div class="fr-accordions-group fr-mb-4w">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-114">Consulter le logigramme</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-114">
                            <img class="fr-responsive-img" src="https://sites-faciles.s3.fr-par.scw.cloud/sites-faciles/images/processus-decision-point-de-donnee.original.svg" alt="logigramme">
                        </div>
                    </section>
                </div>
            </div>

        </div>

        <p>
            {% include "snippets/csrd_submit.html" with prochaine_etape="analyse-ecart" %}
        </p>
{% endblock %}
