{% extends "base.html" %}

{% block title %}Enregistrement du rapport de durabilité{% endblock %}

{% block content %}
    <div id="csrd_header">
        {% include "snippets/csrd_header.html" %}
    </div>

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row fr-pb-6w">
            {% include "snippets/gestion_csrd_menu.html" %}

            <div class="fr-col">
                <h2>{{ etape.nom }}</h2>

                <h3>Publier son rapport</h3>

                <p>
                    La phase 2 "collecte des données" vous a permis de compléter vos indicateurs de durabilité. Après les avoir mis en forme et certifiés par un commissaire aux comptes ou un organisme tiers indépendant, vous devez publier votre rapport de durabilité sur votre site internet.
                </p>

                <div class="fr-container fr-pb-4w">
                    <div class="fr-grid-row fr-grid-row--middle">
                        <div class="fr-col-8">
                            <h6>Que faire ?</h6>
                            <ul class="csrd-list csrd-list--bold">
                                <li>
                                    Après avoir publié votre rapport de durabilité sur votre site internet, insérez le lien URL pour mettre à jour le statut de votre rapport de durabilité sur votre tableau de bord.
                                </li>
                            </ul>
                        </div>
                        <div class="fr-col-4 col-right">
                            <span id="telechargement-xlsx">
                            </span>
                        </div>
                    </div>
                </div>

                <p>
                    <a href="{{ sites_faciles_base_url }}/realiser-le-rapport-de-durabilite/rediger-son-rapport-de-durabilite/" target="_blank">Découvrir comment rédiger son rapport de durabilité</a>
                </p>
                <hr>

                <div class="fr-container">
                    <div hx-target="this">
                        {% include "fragments/lien_rapport.html" %}
                    </div>
                </div>

            </div>

        </div>

{% endblock %}
