{% extends "base.html" %}

{% block title %}Sélection des enjeux{% endblock %}

{% block content %}

    {% include "snippets/csrd_header.html" %}

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row">
            {% include "snippets/gestion_csrd_menu.html" with active_item=2 %}

            <div class="fr-col">
                <h2>Identification de la liste des enjeux ESG potentiels</h2>
                <h3>Consulter la liste des enjeux de durabilité issue de l'ESRS 1 AR 16</h3>

                <div class="fr-container fr-pb-6w">
                    <div class="fr-grid-row fr-grid-row--middle">
                        <div class="fr-col-8">
                            <h6>Quoi faire ?</h6>
                            <ul class="csrd-list csrd-list--bold">
                                <li>Identifiez les enjeux de durabilité issus des ESRS thématiques, au regard desquels votre entreprise a (ou pourrait avoir) des impacts sur l’environnement et la société ou qui ont ou pourraient avoir des effets financiers sur la position financière, la performance financière et les flux de trésorerie de votre entreprise.</li>
                            </ul>
                        </div>
                        <div class="fr-col-4 col-right">
                            <span id="telechargement-xlsx">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fr-tabs">
                <ul class="fr-tabs__list" role="tablist" aria-label="onglet-etape-2">
                    <li role="presentation">
                        <button id="bouton-onglet-ajout-enjeux" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="onglet-ajout-enjeux" hx-get="{% url 'reglementations:rafraichissement_esg' csrd.pk %}" hx-target="#esg_container" hx-trigger="click from:.fr-btn--close, click from:#bouton-onglet-ajout-enjeux, load">Ajouter des enjeux</button>
                    </li>
                    <li role="presentation">
                        <a class="fr-tabs__tab fr-tabs__tab--icon-left" target="_blank" href="{% url 'reglementations:csrd_sous_etape' entreprise.siren 1 2 2 %}">S'inspirer de standards internationaux</a>
                    </li>
                    <li role="presentation">
                        <button id="tabpanel-406" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="onglet-liste-enjeux" hx-get="{% url 'reglementations:liste_enjeux_selectionnes' csrd.pk %}" hx-target="#onglet-liste-enjeux">Ma liste d'enjeux à analyser</button>
                    </li>
                </ul>
                <div id="onglet-ajout-enjeux" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="onglet-ajout-enjeux" tabindex="0">
                    <div class="fr-container fr-pb-6w" id="esg_container"></div>
                </div>
                <div id="onglet-liste-enjeux" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-406" tabindex="0">
                    <h4>Enjeux sélectionnés</h4>
                </div>
            </div>

            <p>
                {% include "snippets/csrd_submit.html" with prochaine_etape=3 %}
            </p>

            {% include "snippets/modal_ESRS/ESRS_2.html" %}
            {% include "snippets/modal_ESRS/ESRS_E1.html" %}
            {% include "snippets/modal_ESRS/ESRS_E2.html" %}
            {% include "snippets/modal_ESRS/ESRS_E3.html" %}
            {% include "snippets/modal_ESRS/ESRS_E4.html" %}
            {% include "snippets/modal_ESRS/ESRS_E5.html" %}
            {% include "snippets/modal_ESRS/ESRS_S1.html" %}
            {% include "snippets/modal_ESRS/ESRS_S2.html" %}
            {% include "snippets/modal_ESRS/ESRS_S3.html" %}
            {% include "snippets/modal_ESRS/ESRS_S4.html" %}
            {% include "snippets/modal_ESRS/ESRS_G1.html" %}


        </div>
    </div>
    <!-- page gestion CSRD -->
{% endblock %}
