{% extends "base.html" %}

{% block title %}Collection des données de l'entreprise{% endblock %}

{% block content %}

    {% include "snippets/csrd_header.html" %}

    <div class="fr-container fr-mb-8w">
        <div class="fr-grid-row fr-pb-6w">
            {% include "snippets/gestion_csrd_menu.html" %}

            <div class="fr-col">
                <h2>{{ etape.nom }}</h2>
                <p>
                    Étape en préparation : vous pourrez bientôt télécharger vos données matérielles et non-matérielles.
                </p>
                <p>
                    <a href="{{ sites_faciles_base_url }}/realiser-le-rapport-de-durabilite/collecter-les-donnees-de-son-entreprise/" target="_blank">En savoir plus sur les démarches de collecte des données</a>
                </p>

                {% if nb_enjeux_non_analyses %}
                    <div class="fr-alert fr-alert--info fr-mb-2w">
                        <p class="fr-alert__description">Il vous reste {{ nb_enjeux_non_analyses }} enjeu{{ nb_enjeux_non_analyses|pluralize:"x"}} à analyser.</p>
                    </div>
                {% endif %}

            </div>

        </div>

        <p>
            {% include "snippets/csrd_submit.html" with prochaine_etape="redaction-rapport-durabilite" %}
        </p>
{% endblock %}
