{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="fr-container fr-my-4w">
        <div class="fr-grid-row">
            {% include "snippets/tableau_de_bord_menu.html" %}
            <div class="fr-col">

                <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
                  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
                    Voir le fil d’Ariane
                  </button>
                  <div class="fr-collapse" id="breadcrumb-1">
                    <ol class="fr-breadcrumb__list">
                      <li>
                        <a class="fr-breadcrumb__link" href="{% url 'reglementations:rapport' entreprise.siren %}">Mon rapport de durabilité</a>
                      </li>
                      <li>
                        <a class="fr-breadcrumb__link" aria-current="page">Cartographie IA</a>
                      </li>
                    </ol>
                  </div>
                </nav>

                <h1>Cartographiez vos données de durabilité avec l'IA</h1>
                <p>
                    L'IA scanne vos rapports et documents internes pour repérer les phrases et données liées à la durabilité.
                    Elle les extrait automatiquement et les organise selon les thématiques environnementales, sociales et de gouvernance, vous permettant d'identifier rapidement ce que vous avez déjà et ce qu'il vous manque.
                </p>
                <h6>Comment faire ?</h6>
                <ul class="csrd-list csrd-list--bold">
                    <li>Téléversez vos documents publics susceptibles de contenir des informations ESG (rapports annuels, documents de durabilité, politiques internes)</li>
                    <li>Après analyse de l'IA, téléchargez vos données classées par thématique de durabilité pour faciliter la préparation de votre reporting</li>
                </ul>
            </div>
        </div>

        {% include "snippets/onglets_analyses.html"%}

    </div>
{% endblock %}
