{% extends "base.html" %}

{% block title %}Mon compte - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container fr-my-8w">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12">
                <h1>Mon compte</h1>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--center fr-mt-2w">
            <div class="fr-col-12">
                {% include 'users/fragments/account_form.html' with account_form=account_form %}

                {% if proconnect %}
                    <h2 class="fr-h6 fr-mt-4w">Mot de passe</h2>
                    <p>Vous vous êtes connecté via <strong>Proconnect</strong>.</p>
                    <p>Pour effectuer un changement de mot de passe, ou modifier votre adresse e-mail (<strong>{{ user.email }}</strong>), vous devez vous connecter sur l'espace de gestion ProConnect.</p>
                {% else %}
                    <form action="{% url 'users:account' %}" method="post" class="fr-mt-4w">
                        {% csrf_token %}
                        <h2 class="fr-h6">Mot de passe</h2>
                        <div id="svelte-password-validation" data-password1-field-name="password1" data-password2-field-name="password2">
                            <fieldset class="fr-fieldset fr-mt-3w" aria-label="Modification du mot de passe">
                                <div class="fr-fieldset__element">
                                    {% include 'snippets/field.html' with field=password_form.password1 %}
                                </div>
                                <div class="fr-fieldset__element">
                                    {% include 'snippets/field.html' with field=password_form.password2 %}
                                </div>
                            </fieldset>
                        </div>
                        <button type="submit" class="fr-btn fr-icon-pencil-line fr-btn--icon-left" name="action" value="update-password">Enregistrer mon mot de passe</button>
                    </form>
                {% endif %}
            </div>
        </div>
<!-- page mon compte -->
{% endblock %}
