{% extends "base.html" %}

{% block content %}
<div class="fr-container fr-my-8w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12">
            <h1>Mon compte</h1>
        </div>
    </div>
    <div class="fr-grid-row fr-grid-row--center fr-mt-2w">
        <div class="fr-col-12">
            <form action="{% url 'account' %}" method="post">
                <p>Sauf mention contraire “(optionnel)” dans le label, tous les champs sont obligatoires.</p>
                {% csrf_token %}
                <h2 class="fr-h6">Informations personnelles</h2>
                <fieldset class="fr-fieldset" aria-label="Modification des informations personnelles">
                    <div class="fr-fieldset__element">
                    {% include 'snippets/field.html' with field=form.prenom %}
                    </div>
                    <div class="fr-fieldset__element">
                    {% include 'snippets/field.html' with field=form.nom %}
                    </div>
                    <div class="fr-fieldset__element">
                    {% include 'snippets/field.html' with field=form.email %}
                    </div>
                    <div class="fr-fieldset__element">
                    {% include 'snippets/field.html' with field=form.reception_actualites %}
                    </div>
                </fieldset>
                <button type="submit" class="fr-btn" value="update-account">Modifier mon compte</button>
            </form>
            <form action="{% url 'account' %}" method="post" class="fr-mt-4w">
                {% csrf_token %}
                <h2 class="fr-h6">Mot de passe</h2>
                <fieldset class="fr-fieldset fr-mt-3w" aria-label="Modification du mot de passe">
                    <div class="fr-fieldset__element">
                    {% include 'snippets/field.html' with field=password_form.password1 %}
                    </div>
                    <div class="fr-fieldset__element">
                    {% include 'snippets/field.html' with field=password_form.password2 %}
                    </div>
                </fieldset>
                <button type="submit" class="fr-btn" name="action" value="update-password">Modifier mon mot de passe</button>
            </form>
        </div>
    </div>
<!-- page mon compte -->
{% endblock %}
