{% extends "base.html" %}
{% load static %}

{% block title %}S'inscrire - Portail RSE{% endblock %}

{% block content %}

    <div class="fr-container fr-my-12w">
        <div class="fr-grid-row fr-grid-row--top">
            <div class="fr-col-lg-7 fr-col-12">
                <h1>Création de compte sur Portail RSE</h1>
                <p>Sauf mention contraire “(optionnel)” dans le label, tous les champs sont obligatoires.</p>
                <form action="{% url 'users:creation' %}" method="post">
                    {% csrf_token %}
                    {% include 'snippets/field.html' with field=form.email %}
                    {% include 'snippets/field.html' with field=form.password1 %}
                    {% include 'snippets/field.html' with field=form.password2 %}
                    {% include 'snippets/field.html' with field=form.prenom %}
                    {% include 'snippets/field.html' with field=form.nom %}
                    <div id="svelte-search-entreprise" data-siren="{{ form.siren.value|default:'' }}">
                        {% include 'snippets/siren_field.html' with field=form.siren %}
                    </div>
                    <div id="svelte-denomination-entreprise" data-denomination="{{ form.denomination.value|default:'' }}"></div>
                    {% include 'snippets/field.html' with field=form.fonctions %}
                    <div class="fr-form-group">
                        <fieldset class="fr-fieldset">
                            <div class="fr-fieldset__content">
                                {% include 'snippets/field.html' with field=form.acceptation_cgu %}
                                {% include 'snippets/field.html' with field=form.reception_actualites %}
                            </div>
                        </fieldset>
                    </div>
                    <button type="submit" class="fr-btn fr-mt-2w">Créer mon compte</button>
                </form>
                <p class="fr-my-4w">
                    Le Ministère de l’Économie, des Finances et de la Souveraineté industrielle et numérique (DGE - Sous-direction du développement des entreprises),
                    traite vos données personnelles dans le cadre d’une mission d’intérêt public.
                </p>
                <p>
                    Portail RSE est une plateforme qui vise à aider les entreprises à identifier les obligations extra-financières issues du droit national et communautaire auxuelles elles sont soumises ;
                    et à leur permettre de disposer d’un outil unique de transmission, de déclaration et de publication, permettant de se conformer aux obligations extra-financières auxquelles elles sont assujetties.
                </p>
                <p>
                    Pour exercer vos droits d’accès, de rectification, d’opposition et de limitation, ou pour toute question relative au traitement de vos données à caractère personnel dans le cadre de ce dispositif,
                    vous pouvez contacter l’équipe du Portail RSE par voie électronique à <a href="mailto:contact@portail-rse.beta.gouv.fr">contact@portail-rse.beta.gouv.fr</a> ;
                    ou par courrier postal, à l’adresse suivante :
                    Ministère de l’Économie, des Finances et de la Souveraineté industrielle et numérique – DGE – SDDE - 61, boulevard Vincent Auriol, 75703 PARIS CEDEX 13.
                </p>
                <p>
                    Pour plus d'informations concernant le traitement de vos données à caractère personnel, veuillez consulter notre <a href="{% url 'politique_confidentialite' %}">politique de confidentialité</a>.
                </p>
            </div>
            <div class="fr-col-lg-5 fr-col-12">
                <img class="fr-responsive-img" src="{% static 'img/dashboard.png' %}" alt="" />
            </div>
        </div>
    </div>
<!-- page creation compte -->
{% endblock %}
