{% extends "base.html" %}

{% block content %}

<div class="fr-container fr-my-12w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
            <h1>Création de compte sur Projet Impact</h1>
            <p>Sauf mention contraire “(optionnel)” dans le label, tous les champs sont obligatoires.</p>
            <form action="{% url 'creation' %}" method="post">
                {% csrf_token %}
                {% include 'snippets/field.html' with field=form.email %}
                {% include 'snippets/field.html' with field=form.password1 %}
                {% include 'snippets/field.html' with field=form.password2 %}
                {% include 'snippets/field.html' with field=form.prenom %}
                {% include 'snippets/field.html' with field=form.nom %}
                {% include 'snippets/field.html' with field=form.siren %}
                {% include 'snippets/field.html' with field=form.fonctions %}
                {% include 'snippets/field.html' with field=form.acceptation_cgu %}
                {% include 'snippets/field.html' with field=form.reception_actualites %}
                <button type="submit" class="fr-btn fr-mt-2w">Créer mon compte</button>
            </form>
            <p class="fr-my-4w">
                En utilisant le présent formulaire, vous pouvez être amené à transmettre des données à caractère personnel,
                notamment par les informations pouvant nous être transmises via l’identifiant SIREN que vous pourriez
                renseigner.
                <br>
                Ces informations sont nécessaires à l’exercice de la mission d’intérêt public que le service Impact met en œuvre.
                Dans le cadre du traitement de vos données à caractère personnel, vous trouverez l’identité du responsable
                de traitement, ses finalités et les modalités d’exercice de vos droits sur la page
                <a href="{% url 'politique_confidentialite' %}">Politique de confidentialité</a>.
            </p>
        </div>
    </div>
</div>
<!-- page creation compte -->
{% endblock %}
