{% extends "base.html" %}
{% load static %}

{% block title %}Se connecter - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container fr-my-12w">
        <div class="fr-grid-row fr-grid-row--middle">
            <div class="fr-col-lg-6 fr-col-12">
                <h1>Bienvenue sur le Portail RSE !</h1>
                <div class="fr-mb-3w">
                    Connectez-vous pour piloter et suivre vos réglementations.
                </div>

                {% if oidc_enabled %}
                    {% include "includes/login_proconnect.html" %}
                {% else %}
                    {% include "includes/login_email_password.html" %}
                {% endif %}

            </div>
            <div class="fr-col-lg-6 fr-col-12">
                <img class="fr-responsive-img" src="{% static 'img/dashboard.png' %}" alt="" />
            </div>
        </div>
    </div>

{% endblock %}
