{% extends "public/base.html" %}

{% block content %}

<div class="fr-container fr-my-16w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-8">
            <p>Vous avez oublié votre mot de passe ? Réinitialisez-le depuis le formulaire suivant. Un email contenant un lien vous sera envoyé.</p>
            <form action="{% url 'password_reset' %}" method="post">
                {% csrf_token %}
                {% include 'snippets/input_field.html' with field=form.email %}
                <button type="submit" class="fr-btn">Réinitialiser mon mot de passe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
