{% extends "base.html" %}

{% block content %}

<div class="fr-container fr-my-16w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-8">
            <h1>Mot de passe oublié</h1>
            <p>Après envoi de ce formulaire, si l'adresse email que vous indiquez est associée à un compte existant, vous recevrez un email contenant un lien qui vous permettra de réinitialiser votre mot de passe.</p>
            <form action="{% url 'users:password_reset' %}" method="post">
                {% csrf_token %}
                {% include 'snippets/field.html' with field=form.email %}
                <button type="submit" class="fr-btn">Envoyer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
