{% extends "base.html" %}

{% block title %}Réinitialiser le mot de passe - Portail RSE{% endblock %}

{% block content %}

    <div class="fr-container fr-my-16w">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-8">
                <h1>Réinitialisation du mot de passe</h1>
                {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        <div id="svelte-password-validation" data-password1-field-name="new_password1" data-password2-field-name="new_password2">
                            {% include 'snippets/field.html' with field=form.new_password1 %}
                            {% include 'snippets/field.html' with field=form.new_password2 %}
                        </div>
                        <button type="submit" class="fr-btn">Réinitialiser mon mot de passe</button>
                    </form>
                {% else %}
                    <p>Ce lien de réinitialisation n'est plus valide ou a déjà été utilisé.<br>
                        <a href="{% url 'users:password_reset'%}">Recommencez la réinitialisation</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
