{% extends "public/base.html" %}

{% block content %}

<div class="fr-container fr-my-16w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-8">
            <form method="post">
                {% csrf_token %}
                {% include 'snippets/input_field.html' with field=form.new_password1 %}
                {% include 'snippets/input_field.html' with field=form.new_password2 %}
                <button type="submit" class="fr-btn">Réinitialiser mon mot de passe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
