{% load static %}
{% if erreur_recherche_entreprise %}
    <p class="fr-error-text">{{ erreur_recherche_entreprise }}</p>
{% elif recherche|length >= 3 %}
    {% if entreprises %}
        <div class="fr-label fr-mt-2w">Sélectionnez votre entreprise ou précisez votre recherche</div>
        <p class="fr-info-text fr-mb-1w">
            {% if nombre_resultats == 1 %}
                1 entreprise trouvée
            {% elif nombre_resultats <= 5 %}
                {{ entreprises|length }} entreprises trouvées
            {% else %}
                {{ entreprises|length }} résultats affichés sur {{ nombre_resultats }} trouvés
            {% endif %}
        </p>
        {% for entreprise in entreprises %}
            {% firstof htmx_fragment_view_name "entreprises:preremplissage_siren" as view_name %}
            <div class="fr-tile fr-tile--sm fr-tile--no-icon fr-tile--horizontal fr-enlarge-link fr-mb-1w clickable"
                 hx-get="{% url view_name %}"
                 hx-vals='{"siren": "{{ entreprise.siren }}", "denomination": "{{ entreprise.denomination }}"}'
                 hx-trigger="click"
                 hx-target="#htmx-preremplissage-target"
                 hx-swap="outerHTML"
                 hx-indicator=".htmx-indicator">
                <div class="fr-tile__body">
                    <div class="fr-tile__content">
                        <p class="fr-badge fr-badge--sm">{{ entreprise.siren }}</p>
                        <p class= "fr-text--bold">{{ entreprise.denomination }}</p>
                        <p>
                            <span class="fr-icon-briefcase-line fr-icon--sm fr-mr-2v" aria-hidden="true"></span>
                            {{ entreprise.activite }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="fr-error-text">Aucun résultat trouvé</p>
    {% endif %}
    <p class="fr-mt-1w">
        <a class="fr-link" target="_blank" rel="noopener noreferrer" href="https://annuaire-entreprises.data.gouv.fr/">
            Vous ne trouvez pas votre entreprise ? Trouvez votre SIREN sur l'Annuaire des entreprises
        </a>
    </p>
    {% if entreprises and entreprises|length > 2 %}
        <img src="{% static 'img/spinner.svg' %}" width="40" alt="Spinner d'attente" class="htmx-indicator">
    {% endif %}
{% elif form.siren.value %}
    {{ form.siren.as_hidden }}
    {% if form.denomination.value %}
        <div class="denomination fr-mt-1w">
            <span class="denomination-label">{{ form.denomination.value }}</span>
        </div>
    {% endif %}
{% endif %}
