{% load static %}
{% if erreur %}
    <p class="fr-error-text">{{ erreur }}</p>
{% elif recherche %}
    {% if entreprises %}
        <h4>Sélectionnez votre entreprise ou précisez votre recherche</h4>
        {% for entreprise in entreprises %}
            <div class="fr-tile fr-tile--sm fr-tile--no-icon fr-tile--horizontal fr-enlarge-link fr-mb-1w"
                 hx-get="{% url 'preremplissage_formulaire_simulation' entreprise.siren %}"
                 hx-trigger="click"
                 hx-target="#htmx-simulation-form"
                 hx-swap="outerHTML"
                 hx-indicator=".htmx-indicator">
                <div class="fr-tile__body">
                    <div class="fr-tile__content">
                        <p class="fr-badge fr-badge--sm">{{ entreprise.siren }}</p>
                        <p class= "fr-text--bold">{{ entreprise.denomination }}</p>
                        <p>
                            <span class="fr-icon-briefcase-line fr-icon--sm fr-mr-2v" aria-hidden="true"></span>
                            {{ entreprise.activite }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="fr-error-text">Aucun résultat trouvé</p>
    {% endif %}
    <p>
        <a class="fr-link" target="_blank" rel="noopener noreferrer" href="https://annuaire-entreprises.data.gouv.fr/">
            Vous ne trouvez pas votre entreprise ? Trouvez votre SIREN sur l'Annuaire des entreprises
        </a>
    </p>
    <img src="{% static 'img/spinner.svg' %}" width="40" alt="Spinner d'attente" class="htmx-indicator">
{% endif %}
