.fr-btns-group--md {
    --ul-type: none;
}


/* barre de progression pour l'étape de la csrd */
// https://stackoverflow.com/questions/21476748/how-to-change-the-color-of-html5-progress-bar
.progression-csrd {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
}

/* IE10 */
.progression-csrd {
    color: var(--background-contrast-yellow-moutarde);
}

/* Firefox */
.progression-csrd::-moz-progress-bar {
    background: var(--background-contrast-yellow-moutarde);
}
.progression-csrd[value="5"]::-moz-progress-bar {
    background-color: var(--background-contrast-green-emeraude);
}

/* Chrome */
/* The filled part */
.progression-csrd::-webkit-progress-value {
    background: var(--background-contrast-yellow-moutarde);
}
.progression-csrd[value="5"]::-webkit-progress-value {
    background-color: var(--background-contrast-green-emeraude);
}
/* The empty part */
.progression-csrd::-webkit-progress-bar {
    background: gray;
}



/* htmx */
/* https://htmx.org/docs/#indicators */
.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}

/* color themes */

:root {
    --background-dark-blue: var(--blue-ecume-inverted);
    --blue-ecume-inverted: #171d2f;
    --btn-text-inverted: #000091;
    --btn-inverted: var(--blue-france-sun-113-625-inverted);
    --btn-inverted-hover: var(--blue-france-sun-113-625-hover-inverted);
    --btn-inverted-active: var(--blue-france-sun-113-625-active-inverted);
    --blue-france-sun-113-625-inverted: #8585f6;
    --blue-france-sun-113-625-hover-inverted: #b1b1f9;
    --blue-france-sun-113-625-active-inverted: #c6c6fb;
}

:root[data-fr-theme=dark] {
    --blue-ecume-inverted: #f4f6fe;
    --blue-france-sun-113-625-inverted: #000091;
    --blue-france-sun-113-625-hover-inverted: #1212ff;
    --blue-france-sun-113-625-active-inverted: #2323ff;
    --btn-text-inverted: #fff;
}


/* imitation graphique de zone cliquable */
.clickable {
    cursor: pointer;
}


/* Texte d'erreur, sans l'icône d'erreur à gauche */
.text-error-color-no-decoration {
        color: var(--text-default-error);
}

/* custom nav */

.header-collapse {
    position: relative;
}

#menu-header {
    right: .5em;
    .fr-menu__list {
    width: auto;
    white-space: nowrap;
    }
}

/* background coloré */

.background-light-grey {
    background-color: var(--grey-975-75);
}
.background-blue {
    background-color: var(--background-alt-blue-france);
}
.background-green {
    background-color:var(--background-alt-green-bourgeon);
}

/* texte coloré */

.text-blue {
    color: var(--text-title-blue-france)
}

/* utilisé dans la création, simulation, etc. */

.fr-responsive-img {
    height: 100%;
    object-fit: contain;
}


/* Dénomination de l'entreprise trouvée par une recherche SIREN */

.denomination .denomination-label{
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight:700;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .25rem;
    color: var(--background-flat-info);
    background-color: var(--background-contrast-blue-ecume);
}

/* Sélection des enjeux */

.selection-enjeu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.selection-enjeu_label {
  grid-column: 1 / 3;
  grid-row: 1;
}
.selection-enjeu_actions {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
}
.selection-enjeu_description {
  grid-column: 1 / 4;
  grid-row: 2;
}
.selection-enjeu_ajout {
  grid-row: 3;
}


/* Résultat de simulation */
/* Bloc couleurs inversées */
.fr-container--inverted {
    border-radius: 1em;
    background: var(--blue-ecume-inverted);
    color:var(--text-inverted-blue-france);
    h3 {
        color:var(--text-inverted-blue-france);
    }
    .fr-btn {
        background-color: var(--btn-inverted);
        color:var(--btn-text-inverted);
        &:hover {
            background-color: var(--btn-inverted-hover);
        }
        &:active {
            background-color: var(--btn-inverted-active);
        }
    }
}

/* cartes réglementations */
@media (min-width: 48em) {
    .fr-card--horizontal-tier.fr-card.fr-card--simulation .fr-card__header {
      flex: 0 0 25%;
      width: 25%;
    }
  }

.fr-card.fr-card--simulation {
    border-radius: 1em;
    overflow: hidden;
    .fr-card__content {
        padding:1rem;
        padding-left: 0rem;
    }
    .fr-card__header {
        padding:1em;
        overflow: hidden;
        border-radius: 1em;
        display:flex;
        justify-content: center;
        align-items: center;
        .fr-card__img {
            overflow: hidden;
            border-radius: 1em;
            aspect-ratio: 1;
            height: fit-content;
            max-height: 180px;
        }
    }
}

/* espace CSRD */

.fr-accordion__btn {
    span {
        margin-right: .5rem;
    }
}

.csrd-list {
    padding: 0px;
    width: 100%;
    &.csrd-list--bold {
        font-weight: bold;
    }
    li {
        list-style: none;
        padding-left: 2rem;
        position: relative;
        margin-bottom: 1rem;
        a {
            color: var(--text-active-blue-france);
        }
        &::before {
            position: absolute;
            background-image: url("../dsfr/artwork/pictograms/system/success.svg");
            background-position: center;
            background-size: contain;
            width: 20px;
            height: 20px;
            left:0px;
            content:" ";
            display: inline-block;
        }
    }
}

.csrd-action {
    position: sticky;
    z-index:40;
    bottom: 0px;
    width: 100%;
    background-color: var(--background-default-grey);
}

/* ESRS */

.esrs-organizer--container {
    border-radius: .25rem;
    padding: .5rem 1rem;
    padding-bottom: 1rem;
    background-color: var(--background-alt-grey);
}

.esrs-organizer--container {
    &.esrs-organizer--no-badge {
        .esrs-organizer--card-title {
            grid-column-gap: .5rem;
            align-items: center;
            b {
                display: block;
                grid-column: 1/2;
                grid-row: 1;
            }
        }
    }
}

.esrs-organizer--gov {
    background-color: var(--background-contrast-info);
    .esrs-organizer--title {
        color: var(--text-default-info);
    }
    .esrs-organizer--title::before {
        background: center no-repeat url("../img/espace_csrd/picto-gov.png");
    }
}

.esrs-organizer--env {
    background-color: var(--background-contrast-green-emeraude);
    .esrs-organizer--title {
        color: var(--text-label-green-emeraude);
    }
    .esrs-organizer--title::before {
        background: center no-repeat url("../img/espace_csrd/picto-env.png");
    }
}

.esrs-organizer--social {
    background-color: var(--background-contrast-purple-glycine);
    .esrs-organizer--title {
        color: var(--text-label-purple-glycine);
    }
    .esrs-organizer--title::before {
        background: center no-repeat url("../img/espace_csrd/picto-social.png");
    }
}

.esrs-organizer--title {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom:  .5rem;
    color: var(--text-mention-grey);
    display: inline-flex;
}

.esrs-organizer--title:not(.esrs-organizer--general):before {
    content:" ";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: .5rem;
}

.esrs-organizer--content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.esrs-organizer--card {
    background-color: var(--background-default-grey);
    border-radius: .25rem;
    padding: .5rem 1rem;
    text-decoration: none;
    background-image: none;
    text-align: left;
    font-size: 1rem;
    width: 100%;
}

.esrs-organizer--card:hover {
    background-color: var(--background-default-grey-hover);
    background-image: none;
}

.esrs-organizer--card-title {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    .fr-badge {
        grid-column: 1/2;
        grid-row: 1/2;
        height: min-content;
    }
    b {
        display: block;
        grid-column: 1/2;
        grid-row: 2;
    }
    .fr-btn {
        grid-column: 2/3;
        grid-row: 1;
        margin-top: 0px !important;
    }
}

/* pseudo tableau dans les cartes esrs-organizer */
/* utilisé à la place des fr-col car provoque un affichage des blocs E,S et G
   les uns en dessous des autres
*/
.esrs-organizer--table {
  display:table;
  width: 100%;
}

.esrs-organizer--table-cell {
  display:table-cell;
}


/* modal des ESRS */

.fr-modal--esrs {
    border-radius:.5rem;
    .fr-container--fluid {
        li {
            margin: .5rem 0px;
        }
        .fr-text--sm {
            margin: 0px 0px;
        }
        h6 {
            margin-bottom: 0px;
            margin-top: 1rem;
        }
    }
    .fr-tag {
        padding:4px 6px !important;
        color: var(--purple-glycine-main-494);
        background-color: var(--background-alt-grey) !important;
        font-weight: 500;
    }
    h4 {
        color: var(--text-default-info);
    }
    .fr-tabs {
        box-shadow: none;
        border:none;
    }
    .fr-tabs::before {
        box-shadow: none;
    }
    .fr-tabs__panel {
        padding:0px;
        padding-top: 1rem;
        ul li {
            padding-bottom: 1rem;
        }
        a {
            color: var(--text-active-blue-france);
            text-decoration: underline;
        }
    }
    .fr-tabs__list {
        margin: auto;
        padding: 0px;
        min-height: auto;
        border-bottom: 1px solid var(--border-default-grey);
        .fr-tabs__tab {
            margin:0px;
            background-image: none;
            background-color: var(--background-alt-grey);
            font-weight: 400;
            font-size: .825em;
            border-bottom: 2px solid var(--background-alt-grey);
        }
        .fr-tabs__tab[aria-selected="true"]:not(:disabled) {
            border-bottom: 2px solid var(--background-action-high-blue-france);
        }
    }
    .esrs-incidences {
        width: 100%;
        li {
            list-style: none;
            display: flex;
            width: 100%;
        }
        .fr-icon--sm, .fr-icon {
            color: var(--background-action-high-blue-france);
            margin-right: .5rem;
        }
        .theme {
            display: block;
            flex-grow: 1;
        }
    }
    
}

.fr-icon--blue {
    color:var(--text-active-blue-france);
}

/* dashboard */

.dashboard-sidemenu {
    .fr-badge {
        padding: 0.5rem;
        width: 100%;
        justify-content: center;
    }
    .fr-btn {
        width: 100%;
        justify-content: center;
    }
    a:not([href]) {
        color: var(--text-disabled-grey)
    }
}

.dashboard {
    .fr-card__img {
        padding: .5rem;
    }
}

.dashboard-category {
    border-radius: .5rem;
    padding:.5rem 1rem;
    padding-bottom: 1rem;
    h2 {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom:  .5rem;
    }
}

.dashboard-list {
    background-color: var(--background-default-grey);
    border-radius: .5rem;
    padding:.5rem 1rem;
    padding-bottom: 0rem;
    h6 {
        font-size: 1.2em;
    }
}

.dashboard--a-actualiser {
    background-color: var(--background-contrast-error);
    h2 {
        color: var(--text-default-error);
    }
}

.dashboard--en-cours {
    background-color: var(--background-contrast-warning);
    h2 {
        color: var(--text-default-warning);
    }
}

.dashboard--a-jour {
    background-color: var(--background-contrast-green-emeraude);
    h2 {
        color: var(--text-label-green-emeraude);
    }
}

/* VSME */
.desc-exigence-publication {
  width: 100%;
}

.progression-exigence-publication {
  width: 0;
  min-width: 100%;
}

.progression-vsme--avancement {
    font-size: 1.5rem;
}

.progression-vsme--general {
    background-color: var(--background-contrast-yellow-moutarde);
    .progression-vsme--title {
        color: var(--text-label-yellow-moutarde);
    }
}

.progression-vsme--gov {
    background-color: var(--background-contrast-info);
    .progression-vsme--title {
        color: var(--text-default-info);
    }
}

.progression-vsme--env {
    background-color: var(--background-contrast-green-emeraude);
    .progression-vsme--title {
        color: var(--text-label-green-emeraude);
    }
}

.progression-vsme--social {
    background-color: var(--background-contrast-purple-glycine);
    .progression-vsme--title {
        color: var(--text-label-purple-glycine);
    }
}

.progression-vsme--title {
    text-transform: uppercase;
    color: var(--text-mention-grey);
    text-align: center;
}

/* Indicateurs */

.indicateur-tableau {
    caption {
        text-align: left;
    }
}

.indicateur-cellule {
    vertical-align: top;
    text-align: center;
}

.indicateur-cellule--geolocalisation {
    display: flex;
}

/* fr-col aligné à droite */
.col-right {
    text-align: right;
}


/* media queries */
@media screen and (min-width: 992px) {
#account-mobile { 
    display: none;
}
}

@media screen and (max-width: 768px) {
    .fr-card.fr-card--simulation .fr-card__content {
        padding:1rem;
        padding-left: 1rem;
    }
}


// communs

.rse-list {
    padding: 0px;
    width: 100%;
    &.csrd-list--bold {
        font-weight: bold;
    }
    li {
        list-style: none;
        padding-left: 2rem;
        position: relative;
        margin-bottom: 1rem;
        a {
            color: var(--text-active-blue-france);
        }
        &::before {
            position: absolute;
            background-image: url("../dsfr/artwork/pictograms/system/success.svg");
            background-position: center;
            background-size: contain;
            width: 20px;
            height: 20px;
            left:0px;
            content:" ";
            display: inline-block;
        }
    }
}
