$BACKGROUND_GENERAL: var(--background-contrast-yellow-moutarde);
$TEXT_GENERAL: var(--text-label-yellow-moutarde);
$BACKGROUND_ENVIRONNEMENT: var(--background-contrast-green-emeraude);
$TEXT_ENVIRONNEMENT: var(--text-label-green-emeraude);
$BACKGROUND_SOCIAL: var(--background-contrast-purple-glycine);
$TEXT_SOCIAL: var(--text-label-purple-glycine);
$BACKGROUND_GOUVERNANCE: var(--background-contrast-info);
$TEXT_GOUVERNANCE: var(--text-default-info);