/* progression en forme de cercle */
/* basé sur https://nosmoking.developpez.com/demos/css/gauge_circulaire.html
  - simplifié car inutile de gérer les décimales
  - modifié pour s'adapter aux couleurs du portail
*/

@use "constantes";


.progress-circle-wrapper {
    order: 3;
}
.progress-circle {
    position: relative;             /* pour servir de référent */
    box-sizing: border-box;         /* prise en compte bordure dans la dimension */
    font-size: 6em;                 /* pour définir les dimensions */
    width: 1em;                     /* fixe la largeur */
    height: 1em;                    /* fixe la hauteur */
    border-radius: 50%;             /* rendu aspect circulaire */
    border: .15em solid rgb(220, 220, 220);       /* couleur de fond de l'anneau */
    font-size: 7em;

}

.progress-masque {
    position: absolute;
    width: 1em;                     /* 100% de la largeur */
    height: 1em;                    /* 100% de la hauteur */
    left: -.15em;                   /* décalage de la largeur bordure de la gauge */
    top: -.15em;                    /* décalage de la largeur bordure de la gauge */
    clip: rect(0, 1em, 1em, .5em);  /* par défaut seule la partie droite est visible */
}

.progress-circle[data-value^='5']:not([data-value='5']) .progress-masque,
.progress-circle[data-value^='6']:not([data-value='6']) .progress-masque,
.progress-circle[data-value^='7']:not([data-value='7']) .progress-masque,
.progress-circle[data-value^='8']:not([data-value='8']) .progress-masque,
.progress-circle[data-value^='9']:not([data-value='9']) .progress-masque,
.progress-circle[data-value^='100'] .progress-masque {
    clip: rect(auto, auto, auto, auto);
}

.progress-barre,
.progress-sup50 {
    position: absolute;
    box-sizing: border-box;         /* prise en compte bordure dans la dimension */
    border-width: .15em;            /* largeur bordure de la gauge */
    border-style: solid;
    border-radius: 50%;             /* rendu aspect circulaire */
    width: 1em;                     /* largeur à 100% */
    height: 1em;                    /* hauteur à 100% */
    clip: rect(0, .5em, 1em, 0);    /* on ne garde que la partie gauche */
}

.progress-barre--general,
.progress-sup50--general {
        border-color: constantes.$TEXT_GENERAL;
}

.progress-barre--environnement,
.progress-sup50--environnement {
        border-color: constantes.$TEXT_ENVIRONNEMENT;
}

.progress-barre--social,
.progress-sup50--social {
        border-color: constantes.$TEXT_SOCIAL;
}

.progress-barre--gouvernance,
.progress-sup50--gouvernance {
        border-color: constantes.$TEXT_GOUVERNANCE;
}


.progress-circle[data-value="0"]   .progress-barre {transform: rotate(0.00deg)}
.progress-circle[data-value="1"]   .progress-barre {transform: rotate(3.60deg)}
.progress-circle[data-value="2"]   .progress-barre {transform: rotate(7.20deg)}
.progress-circle[data-value="3"]   .progress-barre {transform: rotate(10.80deg)}
.progress-circle[data-value="4"]   .progress-barre {transform: rotate(14.40deg)}
.progress-circle[data-value="5"]   .progress-barre {transform: rotate(18.00deg)}
.progress-circle[data-value="6"]   .progress-barre {transform: rotate(21.60deg)}
.progress-circle[data-value="7"]   .progress-barre {transform: rotate(25.20deg)}
.progress-circle[data-value="8"]   .progress-barre {transform: rotate(28.80deg)}
.progress-circle[data-value="9"]   .progress-barre {transform: rotate(32.40deg)}
.progress-circle[data-value="10"]   .progress-barre {transform: rotate(36.00deg)}
.progress-circle[data-value="11"]  .progress-barre {transform: rotate(39.60deg)}
.progress-circle[data-value="12"]  .progress-barre {transform: rotate(43.20deg)}
.progress-circle[data-value="13"]  .progress-barre {transform: rotate(46.80deg)}
.progress-circle[data-value="14"]  .progress-barre {transform: rotate(50.40deg)}
.progress-circle[data-value="15"]  .progress-barre {transform: rotate(54.00deg)}
.progress-circle[data-value="16"]  .progress-barre {transform: rotate(57.60deg)}
.progress-circle[data-value="17"]  .progress-barre {transform: rotate(61.20deg)}
.progress-circle[data-value="18"]  .progress-barre {transform: rotate(64.80deg)}
.progress-circle[data-value="19"]  .progress-barre {transform: rotate(68.40deg)}
.progress-circle[data-value="20"]  .progress-barre {transform: rotate(72.00deg)}
.progress-circle[data-value="21"]  .progress-barre {transform: rotate(75.60deg)}
.progress-circle[data-value="22"]  .progress-barre {transform: rotate(79.20deg)}
.progress-circle[data-value="23"]  .progress-barre {transform: rotate(82.80deg)}
.progress-circle[data-value="24"]  .progress-barre {transform: rotate(86.76deg)}
.progress-circle[data-value="25"]  .progress-barre {transform: rotate(90.00deg)}
.progress-circle[data-value="26"]  .progress-barre {transform: rotate(93.60deg)}
.progress-circle[data-value="27"]  .progress-barre {transform: rotate(97.20deg)}
.progress-circle[data-value="28"]  .progress-barre {transform: rotate(100.80deg)}
.progress-circle[data-value="29"]  .progress-barre {transform: rotate(104.40deg)}
.progress-circle[data-value="30"]  .progress-barre {transform: rotate(108.00deg)}
.progress-circle[data-value="31"]  .progress-barre {transform: rotate(111.60deg)}
.progress-circle[data-value="32"]  .progress-barre {transform: rotate(115.20deg)}
.progress-circle[data-value="33"]  .progress-barre {transform: rotate(118.80deg)}
.progress-circle[data-value="34"]  .progress-barre {transform: rotate(122.40deg)}
.progress-circle[data-value="35"]  .progress-barre {transform: rotate(126.00deg)}
.progress-circle[data-value="36"]  .progress-barre {transform: rotate(129.60deg)}
.progress-circle[data-value="37"]  .progress-barre {transform: rotate(133.20deg)}
.progress-circle[data-value="38"]  .progress-barre {transform: rotate(136.80deg)}
.progress-circle[data-value="39"]  .progress-barre {transform: rotate(140.40deg)}
.progress-circle[data-value="40"]  .progress-barre {transform: rotate(144.00deg)}
.progress-circle[data-value="41"]  .progress-barre {transform: rotate(147.60deg)}
.progress-circle[data-value="42"]  .progress-barre {transform: rotate(151.20deg)}
.progress-circle[data-value="43"]  .progress-barre {transform: rotate(154.80deg)}
.progress-circle[data-value="44"]  .progress-barre {transform: rotate(158.40deg)}
.progress-circle[data-value="45"]  .progress-barre {transform: rotate(162.00deg)}
.progress-circle[data-value="46"]  .progress-barre {transform: rotate(165.60deg)}
.progress-circle[data-value="47"]  .progress-barre {transform: rotate(169.20deg)}
.progress-circle[data-value="48"]  .progress-barre {transform: rotate(172.80deg)}
.progress-circle[data-value="49"]  .progress-barre {transform: rotate(176.40deg)}
.progress-circle[data-value="50"]  .progress-barre {transform: rotate(180.00deg)}
.progress-circle[data-value="51"]  .progress-barre {transform: rotate(183.60deg)}
.progress-circle[data-value="52"]  .progress-barre {transform: rotate(187.20deg)}
.progress-circle[data-value="53"]  .progress-barre {transform: rotate(190.80deg)}
.progress-circle[data-value="54"]  .progress-barre {transform: rotate(194.40deg)}
.progress-circle[data-value="55"]  .progress-barre {transform: rotate(198.00deg)}
.progress-circle[data-value="56"]  .progress-barre {transform: rotate(201.60deg)}
.progress-circle[data-value="57"]  .progress-barre {transform: rotate(205.20deg)}
.progress-circle[data-value="58"]  .progress-barre {transform: rotate(208.80deg)}
.progress-circle[data-value="59"]  .progress-barre {transform: rotate(212.40deg)}
.progress-circle[data-value="60"]  .progress-barre {transform: rotate(216.00deg)}
.progress-circle[data-value="61"]  .progress-barre {transform: rotate(219.60deg)}
.progress-circle[data-value="62"]  .progress-barre {transform: rotate(223.20deg)}
.progress-circle[data-value="63"]  .progress-barre {transform: rotate(226.80deg)}
.progress-circle[data-value="64"]  .progress-barre {transform: rotate(230.40deg)}
.progress-circle[data-value="65"]  .progress-barre {transform: rotate(234.00deg)}
.progress-circle[data-value="66"]  .progress-barre {transform: rotate(237.60deg)}
.progress-circle[data-value="67"]  .progress-barre {transform: rotate(241.20deg)}
.progress-circle[data-value="68"]  .progress-barre {transform: rotate(244.80deg)}
.progress-circle[data-value="69"]  .progress-barre {transform: rotate(248.40deg)}
.progress-circle[data-value="70"]  .progress-barre {transform: rotate(252.00deg)}
.progress-circle[data-value="71"]  .progress-barre {transform: rotate(255.60deg)}
.progress-circle[data-value="72"]  .progress-barre {transform: rotate(259.20deg)}
.progress-circle[data-value="73"]  .progress-barre {transform: rotate(262.80deg)}
.progress-circle[data-value="74"]  .progress-barre {transform: rotate(266.40deg)}
.progress-circle[data-value="75"]  .progress-barre {transform: rotate(270.00deg)}
.progress-circle[data-value="76"]  .progress-barre {transform: rotate(273.60deg)}
.progress-circle[data-value="77"]  .progress-barre {transform: rotate(277.20deg)}
.progress-circle[data-value="78"]  .progress-barre {transform: rotate(280.80deg)}
.progress-circle[data-value="79"]  .progress-barre {transform: rotate(284.40deg)}
.progress-circle[data-value="80"]  .progress-barre {transform: rotate(288.00deg)}
.progress-circle[data-value="81"]  .progress-barre {transform: rotate(291.60deg)}
.progress-circle[data-value="82"]  .progress-barre {transform: rotate(295.20deg)}
.progress-circle[data-value="83"]  .progress-barre {transform: rotate(298.80deg)}
.progress-circle[data-value="84"]  .progress-barre {transform: rotate(302.40deg)}
.progress-circle[data-value="85"]  .progress-barre {transform: rotate(306.00deg)}
.progress-circle[data-value="86"]  .progress-barre {transform: rotate(309.60deg)}
.progress-circle[data-value="87"]  .progress-barre {transform: rotate(313.20deg)}
.progress-circle[data-value="88"]  .progress-barre {transform: rotate(316.80deg)}
.progress-circle[data-value="89"]  .progress-barre {transform: rotate(320.40deg)}
.progress-circle[data-value="90"]  .progress-barre {transform: rotate(324.00deg)}
.progress-circle[data-value="91"]  .progress-barre {transform: rotate(327.60deg)}
.progress-circle[data-value="92"]  .progress-barre {transform: rotate(331.20deg)}
.progress-circle[data-value="93"]  .progress-barre {transform: rotate(334.80deg)}
.progress-circle[data-value="94"]  .progress-barre {transform: rotate(338.40deg)}
.progress-circle[data-value="95"]  .progress-barre {transform: rotate(342.00deg)}
.progress-circle[data-value="96"]  .progress-barre {transform: rotate(345.60deg)}
.progress-circle[data-value="97"]  .progress-barre {transform: rotate(349.20deg)}
.progress-circle[data-value="98"]  .progress-barre {transform: rotate(352.80deg)}
.progress-circle[data-value="99"]  .progress-barre {transform: rotate(356.40deg)}
.progress-circle[data-value="100"]  .progress-barre {transform: rotate(360.00deg)}

.progress-sup50 {
    display: none;
    clip: rect(0, 1em, 1em, .5em);
}

.progress-circle[data-value^='5']:not([data-value='5']):not([data-value^='5.']) .progress-sup50,
.progress-circle[data-value^='6']:not([data-value='6']):not([data-value^='6.']) .progress-sup50,
.progress-circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress-sup50,
.progress-circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress-sup50,
.progress-circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress-sup50,
.progress-circle[data-value^='100'] .progress-sup50 {
    display:block;
}


.progress-circle:after {
    content: attr(data-value) " %";  /* récup. valeur de progression */
    font-size: 0.15em;              /* taille de la font en % du parent */
    height: 100%;                   /* centrage dans le parent */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
   /* &--general {
        @extend .progress-circle;
        color: var(--text-label-yellow-moutarde);
    }*/

    /*-- pour effet shadow intérieur --*/
    border-radius: 50%;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5) inset;
}


.progress-circle--general:after {
        color: constantes.$TEXT_GENERAL;
}

.progress-circle--environnement:after {
        color: constantes.$TEXT_ENVIRONNEMENT;
}

.progress-circle--social:after {
        color: constantes.$TEXT_SOCIAL;
}

.progress-circle--gouvernance:after {
        color: constantes.$TEXT_GOUVERNANCE;
}