.fr-btns-group--md {
    --ul-type: none;
}

/* color themes */

.background-tag-gouvernance {
    background-color: var(--background-contrast-blue-ecume);
}
.background-tag-social {
    background-color: var(--background-contrast-purple-glycine);
    .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--purple-glycine-main-494);
    }
}
.background-tag-environnement {
    background-color: var(--background-contrast-green-emeraude);
    .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--green-emeraude-main-632);
    }
}
.background-tag-durabilite {
    background-color: var(--background-contrast-yellow-moutarde);
    .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--yellow-moutarde-main-679);
    }
}

/* custom nav */

.header-collapse {
    position: relative;
}

#menu-header {
    right: .5em;
    .fr-menu__list {
    width: auto;
    white-space: nowrap;
    }
}

/* colored bgs */

.background-y {
    background-color: var(--yellow-tournesol-975-75);
}
.background-g {
    background-color: var(--green-emeraude-975-75);
}
.background-light-grey {
    background-color: var(--grey-975-75);
}
.background-blue {
    background-color: var(--background-alt-blue-france);
}

/* homepage */

.logo-rse {
    max-width: 180px;
}

.rse-themes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
        text-align: center;
    }
    .rse-theme {
    max-width: 140px;
        .fr-content-media {
        margin: 1rem 0;
        }
    }
}

.fr-responsive-img {
    height: 100%;
    object-fit: contain;
}

.portail-header {
    background-image: url("../img/home.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* Simulation */

.simu-steps {
    background-color: var(--yellow-tournesol-925-125);
    height: 100%;
    display: flex;
    flex-direction: column;
    p {
        flex-grow: 1;
    }
    .fr-btn {
        justify-self:end;
        align-self: flex-end;
    }
    &.step-check {
        background-color: var(--green-emeraude-950-100);
    }
    h6 {
        margin-bottom: 0;
    }
}

.deprecated {
    opacity: .5;
    transition: all .2s;
}

.container-simulation .denomination {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight:700;
    padding-top: 2rem;
    margin-bottom: 0px;
    color: var(--background-flat-info);
}

/* Réglementation Component Fiches reflementations */

.reglementation-card .fr-card__desc {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
}

.reglementation {
    width: 100%;
        .fr-btns-group, .reglementation-grid .fr-btns-group {
    /*    flex-flow: column;
        align-items: flex-end; */
        grid-column: 1/4;
    }
}

.reglementation--full {
    box-shadow: inset 0 -1px 0 0px var(--background-contrast-grey);
}

.reglementation-header {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
    grid-column: 1/3;
    grid-gap:1rem;
}

.reglementation-title {
    font-size: 1.375rem;
    line-height: 1.75rem;
    max-width: 960px;
    margin-bottom: 0;
}

.reglementation_desc {
    font-size: .875rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    order: 3;
}

.reglementation--content {
    grid-column: 1/4;
}

.reglementation_badge {
    min-width: 135px;
    max-width: 135px;
    .fr-badge {
        margin: .25rem .5rem.25rem .5rem;
    }
}

.reglementation--full:last-child {
    box-shadow: inset 0 0 0 0px var(--background-contrast-grey);
}

.reglementation_detail {
    align-items: flex-start;
    color: var(--text-default-info);
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    background-color: var(--background-contrast-info);
    border-radius: .25rem;
    grid-column: 1/3;
    align-items: center;
    width: fit-content;
}

.reglementation_detail[class*=" fr-fi-"]::before, .reglementation_detail[class*=" fr-icon-"]::before, .reglementation_detail[class^="fr-fi-"]::before, .reglementation_detail[class^="fr-icon-"]::before {
    --icon-size: 1rem;
    margin-right: .5rem;
  }

.reglementation-grid {
    display: grid;
    grid-template-columns: 135px auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
    .fr-btns-group {
        grid-column: 1/4;
    }
}

.reglementation--grey {
    color: var(--text-default-grey);
    .reglementation_detail {
        color: var(--text-default-grey);
        background-color: var(--background-contrast-grey);
    }
}

/* fiches réglementation */
.fiche-tuiles {
    .fr-tile__body {
        justify-content: start;
    }
    .fr-tile ol li,.fr-tile__detail, .fr-tile ul li {
        text-align: left;
        display: block;
    }
}

/* espace CSRD */
.rse-organizer {
    .fr-icon-information-fill {
        cursor: pointer;
    }
    ul {
        margin: 0px;
        list-style-type: none;
        font-weight: bold;
        li ul {
            background-color: var(--background-alt-grey);
            font-weight: normal;
        }
    }
    p {
        margin: 0px;
    }
}

.rse-organizer--container {
    border-radius: .25rem;
    padding: .5rem 1rem;
    padding-bottom: 1rem;
}

.rse-organizer--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rse-organizer--title {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom:  .5rem;
}

.rse-organizer--content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

button.rse-organizer--card,.rse-organizer--card {
    background-color: var(--background-default-grey);
    border-radius: .25rem;
    padding: .5rem 1rem;
    text-decoration: none;
    background-image: none;
    text-align: left;
    font-size: 1rem;
}

button.rse-organizer--card:hover, .rse-organizer--card:hover {
    background-color: var(--background-default-grey-hover);
    background-image: none;
}

.rse-organizer--card-disabled.rse-organizer--card:hover {
    background-color: var(--background-default-grey);
    cursor: auto;
}

.rse-organizer--gov {
    background-color: var(--background-contrast-info);
    .rse-organizer--title {
        color: var(--text-default-info);
    }
}

.rse-organizer--env {
    background-color: var(--background-contrast-green-emeraude);
    .rse-organizer--title {
        color: var(--text-label-green-emeraude);
    }
}

.rse-organizer--social {
    background-color: var(--background-contrast-purple-glycine);
    .rse-organizer--title {
        color: var(--text-label-purple-glycine);
    }
}

/* media queries */

@media screen and (max-width: 992px) {
    .reglementation-grid {
        grid-gap: 0rem;
    }
    .reglementation-header {
        grid-column: 1/4;
    }
    .reglementation .fr-btns-group, .reglementation-grid .fr-btns-group {
        justify-content:flex-start;
        grid-row: 3/4;
    }
    .rse-themes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    .fiche-img {
        display: none;
    }
    #menu-header-mobile.fr-collapse {
        --collapse-max-height: auto;
        --collapse: 0px;
        --collapser: auto;
        max-height: auto;
        max-height: auto;
        overflow: auto;
        transition: visibility .3s;
        visibility: visible;
    }
}

@media screen and (max-width: 768px) {
    .portail-header {
        background-image: none;
        background-color: var(--background-contrast-blue-ecume);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 576px) {
    .reglementation-header {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }
    .reglementation--content {
        grid-column: auto;
        grid-row: 4/5;
    }
    .reglementation_badge {
        min-width: 135px;
        grid-row: 1/2;
    }
    .reglementation_detail {
        grid-row: 3/4;
    }
    .reglementation-title {
        grid-row: 2/3;
    }
    .reglementation_badge .fr-badge {
        margin: 0 0 1rem 0;
    }
    .rse-themes {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5rem;
        p {
            text-align: left;
            margin-bottom: .5rem;
        }
        .fr-content-media {
            display: none;
        }
        .rse-theme {
            max-width: none;
        }
    }
}

