.fr-btns-group--md {
    --ul-type: none;
}

/* color themes */

:root {
    --background-dark-blue: var(--blue-ecume-inverted);
    --blue-ecume-inverted: #171d2f;
    --btn-text-inverted: #000091;
    --btn-inverted: var(--blue-france-sun-113-625-inverted);
    --btn-inverted-hover: var(--blue-france-sun-113-625-hover-inverted);
    --btn-inverted-active: var(--blue-france-sun-113-625-active-inverted);
    --blue-france-sun-113-625-inverted: #8585f6;
    --blue-france-sun-113-625-hover-inverted: #b1b1f9;
    --blue-france-sun-113-625-active-inverted: #c6c6fb;
    /* container size */
    --csrd-width: 800px;
}

:root[data-fr-theme=dark] {
    --blue-ecume-inverted: #f4f6fe;
    --blue-france-sun-113-625-inverted: #000091;
    --blue-france-sun-113-625-hover-inverted: #1212ff;
    --blue-france-sun-113-625-active-inverted: #2323ff;
    --btn-text-inverted: #fff;
}


.background-tag-gouvernance {
    background-color: var(--background-contrast-blue-ecume);
}
.background-tag-social {
    background-color: var(--background-contrast-purple-glycine);
    .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--purple-glycine-main-494);
    }
}
.background-tag-environnement {
    background-color: var(--background-contrast-green-emeraude);
    .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--green-emeraude-main-632);
    }
}
.background-tag-durabilite {
    background-color: var(--background-contrast-yellow-moutarde);
    .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--yellow-moutarde-main-679);
    }
}

/* Texte d'erreur, sans l'icône d'erreur à gauche */
.text-error-color-no-decoration {
        color: var(--text-default-error);
}

/* force les blocs (un <form> par exemple) en inline */
.inline {
    display: inline;
}


/* custom nav */

.header-collapse {
    position: relative;
}

#menu-header {
    right: .5em;
    .fr-menu__list {
    width: auto;
    white-space: nowrap;
    }
}

/* Overriding header classes & css so we can display buttons in tool links */

.fr-header__tools-links .fr-btn.fr-btn--tool-links, .fr-header__menu-links .fr-btn.fr-btn--tool-links {
    --text-spacing: 0;
    --title-spacing: 0;
    --underline-img: none;
    --hover-tint: var(--hover);
    --idle: transparent;
    --hover: var(--background-action-high-blue-france-hover);
    --active: var(--background-action-high-blue-france-active);
    align-items: center;
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
    display: inline-flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 2.5rem;
    padding: .5rem 1rem;
    width: -moz-fit-content;
    width: fit-content;
}

/* Overriding dsfr content media class & css so we can display links in media captions */

.fr-content-media__caption {
    display: inline-block;
}

/* colored bgs */

.background-light-grey {
    background-color: var(--grey-975-75);
}
.background-blue {
    background-color: var(--background-alt-blue-france);
}

/* l'imitation graphique de lien nécessite l'utilisation de la classe fr-link */
.mimic-link {
    cursor: pointer;
    text-decoration: none;
    background-image: var(--underline-img),var(--underline-img);
    background-position: var(--underline-x) 100%,var(--underline-x) calc(100% - var(--underline-thickness));
    background-repeat: no-repeat,no-repeat;
    background-size: var(--underline-hover-width) calc(var(--underline-thickness)*2),var(--underline-idle-width) var(--underline-thickness);
    transition: background-size 0s;
}
.mimic-link:active, .mimic-link:hover {
    --underline-hover-width: var(--underline-max-width);
}

/* homepage */

.logo-rse {
    max-width: 180px;
}

.rse-themes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
        text-align: center;
    }
    .rse-theme {
    max-width: 140px;
        .fr-content-media {
        margin: 1rem 0;
        }
    }
}
.fr-content-media [class^="fr-responsive-img"] {
    aspect-ratio: auto;
}
.fr-responsive-img {
    height: 100%;
    object-fit: contain;
}

.portail-header {
    background-image: url("../img/home.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.texte-important {
    color: var(--text-default-info);
}


/* Dénomination de l'entreprise trouvée par une recherche SIREN */

.denomination {
    margin-bottom: 1rem;
}

.denomination .denomination-label{
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight:700;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .25rem;
    color: var(--background-flat-info);
    background-color: var(--background-contrast-blue-ecume);
}

/* Réglementation Component Fiches réglementaires */

.reglementation-card .fr-card__desc {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
}

/* Réglementation Component Dashboard */

.reglementation--full {
    box-shadow: inset 0 -1px 0 0px var(--background-contrast-grey);
}

.reglementation-header {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
    grid-column: 1/3;
    grid-gap:1rem;
}

.reglementation-title {
    max-width: 960px;
    margin-bottom: 0;
    font-size: 1.175rem;
}

.reglementation_desc {
    font-size: .875rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    order: 3;
}

.reglementation--content {
    grid-column: 1/4;
}

.fr-badge {
    &.europe {
        background-color: var(--background-alt-blue-ecume);
        color: var(--text-action-high-blue-cumulus);
    }
}

.reglementation--full:last-child {
    box-shadow: inset 0 0 0 0px var(--background-contrast-grey);
}

.reglementation_detail {
    align-items: flex-start;
    color: var(--text-default-info);
    background-color: var(--background-contrast-info);
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    grid-column: 1/3;
    align-items: center;
    width: fit-content;
}

.reglementation_detail[class*=" fr-fi-"]::before, .reglementation_detail[class*=" fr-icon-"]::before, .reglementation_detail[class^="fr-fi-"]::before, .reglementation_detail[class^="fr-icon-"]::before {
    --icon-size: 1rem;
    margin-right: .5rem;
  }

.reglementation-grid {
    display: grid;
    grid-template-columns: 135px auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
    .fr-btns-group {
        grid-column: 1/4;
    }
}

.reglementation--grey {
    color: var(--text-default-grey);
    .reglementation_detail {
        color: var(--text-default-grey);
        background-color: var(--background-contrast-grey);
    }
}

/* Sélection des enjeux */

.selection-enjeu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.selection-enjeu_label {
  grid-column: 1 / 3;
  grid-row: 1;
}
.selection-enjeu_actions {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
}
.selection-enjeu_description {
  grid-column: 1 / 4;
  grid-row: 2;
}
.selection-enjeu_ajout {
  grid-row: 3;
}


/* Résultat de simulation */
/* Bloc couleurs inversées */
.fr-container--inverted {
    border-radius: 1em;
    background: var(--blue-ecume-inverted);
    color:var(--text-inverted-blue-france);
    h3 {
        color:var(--text-inverted-blue-france);
    }
    .fr-btn {
        background-color: var(--btn-inverted);
        color:var(--btn-text-inverted);
        &:hover {
            background-color: var(--btn-inverted-hover);
        }
        &:active {
            background-color: var(--btn-inverted-active);
        }
    }
}

/* cartes réglementations */
@media (min-width: 48em) {
    .fr-card--horizontal-tier.fr-card.fr-card--simulation .fr-card__header {
      flex: 0 0 25%;
      width: 25%;
    }
  }

.fr-card.fr-card--simulation {
    border-radius: 1em;
    overflow: hidden;
    .fr-card__content {
        padding:1rem;
        padding-left: 0rem;
    }
    .fr-card__header {
        padding:1em;
        overflow: hidden;
        border-radius: 1em;
        display:flex;
        justify-content: center;
        align-items: center;
        .fr-card__img {
            overflow: hidden;
            border-radius: 1em;
            aspect-ratio: 1;
            height: fit-content;
            max-height: 180px;
        }
    }
}

/* fiches réglementation */
.fiche-tuiles {
    .fr-tile__body {
        justify-content: start;
    }
    .fr-tile ol li,.fr-tile__detail, .fr-tile ul li {
        text-align: left;
        display: block;
    }
    .fr-tile__detail {
        font-size: 1rem;
    }
}

/* espace CSRD */

.csrd-etape__title {
    font-size: 1.5rem;
    color: var(--text-active-blue-france);
    font-weight: 700;
    padding: .25rem 0px;
}

.csrd--width {
    max-width: var(--csrd-width);
}

.csrd-header {
    margin-top: -2rem;
    h1 {
        color: var(--text-active-blue-france);
        font-size: 2rem;
        line-height: 1.2em;
    }
}

.fr-accordion__btn {
    span {
        margin-right: .5rem;
    }
}

/* sticky menu */
#csrd-menu {
    position: sticky;
    top:2rem;
    margin-top:2rem;
    margin-left: 2rem;
    left:2rem;
    background: var(--background-default-grey);
    z-index: 80;
}
.fr-sidemenu--sticky-full-height {
    max-width: 388px;
    position: fixed;
    background-color: var(--background-default-grey);
    z-index: 999;
}
@media screen and (max-width: 766px) {
    .fr-sidemenu--sticky-full-height {
        max-width: 100%;
        position: fixed;
        background-color: var(--background-default-grey);
        z-index: 999;
        top:0px;
        left: 0px;
        right: 0px;
        bottom:0px;
    }
}
.sidemenu-csrd {
    &.fr-sidemenu {
        padding-right: 0px;
        .sidemenu-border-top {
            border-top: 1px solid var(--border-default-grey);
        }
        .fr-sidemenu__btn {
            border-bottom: 1px solid var(--border-default-grey);
        }
        .fr-sidemenu__inner {
            padding: 0px 1rem;
        }
        .fr-sidemenu__title {
            color: var(--text-default-info);
            font-size: 1.5rem;
            padding:.75rem 1rem;
            margin:0px;
        }
        .fr-sidemenu__link--disabled {
            color: var(--dark-text-disabled-grey, #666); 
        }
    }
}

/* ESRS */

.esrs-organizer--container {
    border-radius: .25rem;
    padding: .5rem 1rem;
    padding-bottom: 1rem;
    background-color: var(--background-alt-grey);
}

.esrs-organizer--container {
    &.esrs-organizer--no-badge {
        .esrs-organizer--card-title {
            grid-column-gap: .5rem;
            align-items: center;
            b {
                display: block;
                grid-column: 1/2;
                grid-row: 1;
            }
        }
    }
}

.esrs-organizer--gov {
    background-color: var(--background-contrast-info);
    .esrs-organizer--title {
        color: var(--text-default-info);
    }
    .esrs-organizer--title::before {
        background: center no-repeat url("../img/espace_csrd/picto-gov.png");
    }
}

.esrs-organizer--env {
    background-color: var(--background-contrast-green-emeraude);
    .esrs-organizer--title {
        color: var(--text-label-green-emeraude);
    }
    .esrs-organizer--title::before {
        background: center no-repeat url("../img/espace_csrd/picto-env.png");
    }
}

.esrs-organizer--social {
    background-color: var(--background-contrast-purple-glycine);
    .esrs-organizer--title {
        color: var(--text-label-purple-glycine);
    }
    .esrs-organizer--title::before {
        background: center no-repeat url("../img/espace_csrd/picto-social.png");
    }
}

.esrs-organizer--title {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom:  .5rem;
    color: var(--text-mention-grey);
    display: inline-flex;
}

.esrs-organizer--title:not(.esrs-organizer--general):before {
    content:" ";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: .5rem;
}

.esrs-organizer--content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.esrs-organizer--card {
    background-color: var(--background-default-grey);
    border-radius: .25rem;
    padding: .5rem 1rem;
    text-decoration: none;
    background-image: none;
    text-align: left;
    font-size: 1rem;
    width: 100%;
}

.esrs-organizer--card:hover {
    background-color: var(--background-default-grey-hover);
    background-image: none;
}

.esrs-organizer--card-title {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    .fr-badge {
        grid-column: 1/2;
        grid-row: 1/2;
        height: min-content;
    }
    b {
        display: block;
        grid-column: 1/2;
        grid-row: 2;
    }
    .fr-btn {
        grid-column: 2/3;
        grid-row: 1;
        margin-top: 0px !important;
    }
}

/* pseudo tableau dans les cartes esrs-organizer */
/* utilisé à la place des fr-col car provoque un affichage des blocs E,S et G
   les uns en dessous des autres
*/
.esrs-organizer--table {
  display:table;
  width: 100%;
}

.esrs-organizer--table-cell {
  display:table-cell;
}


/* modal des ESRS */

.fr-modal--esrs {
    border-radius:.5rem;
    .fr-container--fluid {
        li {
            margin: .5rem 0px;
        }
        .fr-text--sm {
            margin: 0px 0px;
        }
        h6 {
            margin-bottom: 0px;
            margin-top: 1rem;
        }
    }
    .fr-tag {
        padding:4px 6px !important;
        color: var(--purple-glycine-main-494);
        background-color: var(--background-alt-grey) !important;
        font-weight: 500;
    }
    h4 {
        color: var(--text-default-info);
    }
    .fr-tabs {
        box-shadow: none;
        border:none;
    }
    .fr-tabs::before {
        box-shadow: none;
    }
    .fr-tabs__panel {
        padding:0px;
        padding-top: 1rem;
        ul li {
            padding-bottom: 1rem;
        }
        a {
            color: var(--text-active-blue-france);
            text-decoration: underline;
        }
    }
    .fr-tabs__list {
        margin: auto;
        padding: 0px;
        min-height: auto;
        border-bottom: 1px solid var(--border-default-grey);
        .fr-tabs__tab {
            margin:0px;
            background-image: none;
            background-color: var(--background-alt-grey);
            font-weight: 400;
            font-size: .825em;
            border-bottom: 2px solid var(--background-alt-grey);
        }
        .fr-tabs__tab[aria-selected="true"]:not(:disabled) {
            border-bottom: 2px solid var(--background-action-high-blue-france);
        }
    }
    .esrs-incidences {
        width: 100%;
        li {
            list-style: none;
            display: flex;
            width: 100%;
        }
        .fr-icon--sm, .fr-icon {
            color: var(--background-action-high-blue-france);
            margin-right: .5rem;
        }
        .theme {
            display: block;
            flex-grow: 1;
        }
    }
    
}

.csrd-standards {
    .fr-card__img {
        background-color: var(--background-alt-blue-france);
        padding: 1rem;
        img {
            object-fit: contain;
        }
    }
}

/* Table des matières */

.csrd-disclaimer {
    border-top: 1px solid var(--border-default-grey);
    color: var(--dark-text-disabled-grey, #666); 
    a, em {
        color: var(--dark-text-disabled-grey, #666);
        font-weight: 300;
    }
}

.csrd-title--with-icon {
    position:relative;
    vertical-align: text-top;
    &::before {
        display: inline-block;
        content:" ";
        width: 2.5rem;
        height: 2.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: .5rem;
    }
    &.csrd-requis::before {
        background-image: url("../img/Checklist.png");
    }
    &.csrd-objectif::before {
        background-image: url("../img/Objectif.png");
    }
}

.csrd-list {
    padding: 0px;
    width: 100%;
    &.csrd-list--bold {
        font-weight: bold;
    }
    li {
        list-style: none;
        padding-left: 2rem;
        position: relative;
        margin-bottom: 1rem;
        a {
            color: var(--text-active-blue-france);
        }
        &::before {
            position: absolute;
            background-image: url("../dsfr/artwork/pictograms/system/success.svg");
            background-position: center;
            background-size: contain;
            width: 20px;
            height: 20px;
            left:0px;
            content:" ";
            display: inline-block;
        }
    }
}

.csrd-tiles {
    .fr-tile--disabled {
        .fr-tile__title, .fr-tile__detail {
            color: var(--text-mention-grey);
        }
    }
}

.csrd-phases {
    a:hover {
        text-decoration: underline;
    }
    ul {
        padding: 0px;
    }
    ul li {
        list-style: none;
        position: relative;
        .fr-icon-arrow-right-line {
            color: var(--background-action-high-blue-france);
            position:absolute;
            right:2rem;
            top:0px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        ul {
            padding:0px;
            margin:0px;
            li {
                padding:1rem;
                padding-left: 5.5rem ;
                margin:0px;
                background-color: var(--background-default-grey);
                font-weight: bold;
                position:relative;
                line-height: 2rem;
                &::before {
                    position: absolute;
                    left:1.75rem;
                    width: 2rem;
                    height: 2rem;
                    border:2px solid var(--text-default-grey);
                    border-radius: 100%;
                    text-align: center;
                    line-height: 1.75rem;
                }
                &.step-1::before {
                    content:"1";
                }
                &.step-2::before {
                    content:"2"
                }
                &.step-3::before {
                    content:"3";
                }
                &.locked::before {
                    content:" ";
                    background-image: url("../img/locked.svg");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    border: none;
                }
            }
        }
    }
    .fr-badge {
        display: block;
    }
    .csrd-phase--title {
        background-color: var(--background-alt-blue-france);
        font-weight: bold;
        padding:1rem 1.5rem;
        padding-left: 5.5rem;
        position: relative;
        span {
            font-size: .875em;
            font-weight: normal;
            display: block;
            color: var(--text-mention-grey);
            line-height: 31px;
            text-decoration: none !important;
        }
        &::before {
            content:" ";
            width: 3.5rem;
            height: 3.5rem;
            display: inline-block;
            position: absolute;
            left:1rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .csrd-phase-1 .csrd-phase--title::before {
        background-image: url("../img/espace_csrd/icon-phase-1.png");
    }
    .csrd-phase-2 .csrd-phase--title::before {
        background-image: url("../img/espace_csrd/icon-phase-2.png");
    }
    .csrd-phase-3 .csrd-phase--title::before {
        background-image: url("../img/espace_csrd/icon-phase-3.png");
    }
}

.fr-icon--blue {
    color:var(--text-active-blue-france);
}

/* phase */

.csrd-action {
    position: sticky;
    z-index:40;
    bottom: 0px;
    width: 100%;
    background-color: var(--background-default-grey);
}

/* dashboard */

.dashboard-category {
    border-radius: .5rem;
    padding:.5rem 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    h4 {
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: 700;
        line-height: 1.5rem;
        margin-bottom:  .5rem;
    }
    .reglementation_detail {
        color: var(--text-default-grey);
        background-color: var(--background-default-grey);
    }
}

.dashboard-list {
    background-color: var(--background-default-grey);
    border-radius: .5rem;
    padding:.5rem 1rem;
    padding-bottom: 0rem;
    h6 {
        font-size: 1.2em;
    }
}

.dashboard--a-actualiser {
    background-color: var(--background-contrast-error);
    h4 {
        color: var(--text-default-error);
    }
}

.dashboard--en-cours {
    background-color: var(--background-contrast-warning);
    h4 {
        color: var(--text-default-warning);
    }
}

.dashboard--a-jour {
    background-color: var(--background-contrast-green-emeraude);
    h4 {
        color: var(--text-label-green-emeraude);
    }
}

.dashboard--soumis {
    background-color: var(--background-contrast-info);
    h4 {
        color: var(--text-default-info);
    }
}

.dashboard--non-soumis {
    background-color: var(--background-alt-grey);
    h4 {
        color: var(--text-label-grey);
    }
}

.dashboard {
    .reglementation-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 0rem;
    }
    .fr-btn {
        margin-bottom: .5rem;
    }
    .fr-text--sm {
        color: var(--text-mention-grey);
    }
    .reglementation-grid {
        .fr-btns-group {
            flex-flow: wrap;
            align-items: flex-start;
            grid-column: 2/3;
            grid-row: 1/2;
            text-align: right;
            justify-content: end;
            margin-left: 1rem;
        }
        .reglementation-header {
            grid-column: 1/2;
            grid-row:1/2;
            display: flex;
            flex-direction: column;
            grid-gap:0px;
        }
    }
}

.dashboard-category-header {
    display: flex;
    flex-direction: column;
    button {
        color: var(--text-default-info);
        &:hover {
            color: var(--text-default-info-hover);
            background-color: rgba(0,0,0,0);
        }
    }
}


/* fr-col aligné à droite */
.col-right {
    text-align: right;
}


/* media queries */
@media screen and (min-width: 992px) {
#account-mobile { 
    display: none;
}
}

@media screen and (max-width: 992px) {
    .reglementation-grid {
        grid-gap: 0rem;
    }
    .reglementation-header {
        grid-column: 1/4;
    }
    .reglementation .fr-btns-group, .reglementation-grid .fr-btns-group {
        justify-content:flex-start;
        grid-row: 3/4;
    }
    .rse-themes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    .fiche-img {
        display: none;
    }
    
    .dashboard {
        .reglementation-grid {
            display: flex;
            flex-direction: column;
        }
        .reglementation-header {
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
        }
        .reglementation-grid .fr-btns-group {
            padding-top: 1em;
            flex-flow: column;
            align-items: start;
            text-align: left;
            justify-content: start;
        }
    }
}

@media screen and (max-width: 768px) {
    .portail-header {
        background-image: none;
        background-color: var(--background-contrast-blue-ecume);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .fr-card.fr-card--simulation .fr-card__content {
        padding:1rem;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .reglementation-header {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }
    .reglementation--content {
        grid-column: auto;
        grid-row: 4/5;
    }
    .reglementation_detail {
        grid-row: 3/4;
    }
    .reglementation-title {
        grid-row: 2/3;
    }
    .rse-themes {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5rem;
        p {
            text-align: left;
            margin-bottom: .5rem;
        }
        .fr-content-media {
            display: none;
        }
        .rse-theme {
            max-width: none;
        }
    }
}

