.fr-btns-group--md {
    --ul-type: none;
}

/* color themes */

:root {
    --background-dark-blue: var(--blue-ecume-inverted);
    --blue-ecume-inverted: #171d2f;
    --btn-text-inverted: #000091;
    --btn-inverted: var(--blue-france-sun-113-625-inverted);
    --btn-inverted-hover: var(--blue-france-sun-113-625-hover-inverted);
    --btn-inverted-active: var(--blue-france-sun-113-625-active-inverted);
    --blue-france-sun-113-625-inverted: #8585f6;
    --blue-france-sun-113-625-hover-inverted: #b1b1f9;
    --blue-france-sun-113-625-active-inverted: #c6c6fb;
}

:root[data-fr-theme=dark] {
    --blue-ecume-inverted: #f4f6fe;
    --blue-france-sun-113-625-inverted: #000091;
    --blue-france-sun-113-625-hover-inverted: #1212ff;
    --blue-france-sun-113-625-active-inverted: #2323ff;
    --btn-text-inverted: #fff;
}


.background-tag-gouvernance {
    background-color: var(--background-contrast-blue-ecume);
}
.background-tag-social {
    background-color: var(--background-contrast-purple-glycine);
    .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--purple-glycine-main-494);
    }
}
.background-tag-environnement {
    background-color: var(--background-contrast-green-emeraude);
    .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--green-emeraude-main-632);
    }
}
.background-tag-durabilite {
    background-color: var(--background-contrast-yellow-moutarde);
    .fr-tile {
    box-shadow: inset 0 0 0 0px var(--border-default-grey),inset 0 -.25rem 0 0 var(--yellow-moutarde-main-679);
    }
}

/* custom nav */

.header-collapse {
    position: relative;
}

#menu-header {
    right: .5em;
    .fr-menu__list {
    width: auto;
    white-space: nowrap;
    }
}

/* Overriding header classes & css so we can display buttons in tool links */

.fr-header__tools-links .fr-btn.fr-btn--tool-links, .fr-header__menu-links .fr-btn.fr-btn--tool-links {
    --text-spacing: 0;
    --title-spacing: 0;
    --underline-img: none;
    --hover-tint: var(--hover);
    --idle: transparent;
    --hover: var(--background-action-high-blue-france-hover);
    --active: var(--background-action-high-blue-france-active);
    align-items: center;
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
    display: inline-flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 2.5rem;
    padding: .5rem 1rem;
    width: -moz-fit-content;
    width: fit-content;
}

/* colored bgs */

.background-light-grey {
    background-color: var(--grey-975-75);
}
.background-blue {
    background-color: var(--background-alt-blue-france);
}

/* homepage */

.logo-rse {
    max-width: 180px;
}

.rse-themes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
        text-align: center;
    }
    .rse-theme {
    max-width: 140px;
        .fr-content-media {
        margin: 1rem 0;
        }
    }
}

.fr-responsive-img {
    height: 100%;
    object-fit: contain;
}

.portail-header {
    background-image: url("../img/home.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.texte-important {
    color: var(--text-default-info);
}


/* Dénomination de l'entreprise trouvée par une recherche SIREN */

.denomination {
    margin-bottom: 1rem;
}

.denomination .denomination-label{
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight:700;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .25rem;
    color: var(--background-flat-info);
    background-color: var(--background-contrast-blue-ecume);
}

/* Réglementation Component Fiches réglementaires */

.reglementation-card .fr-card__desc {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
}

/* Réglementation Component Dashboard */

.reglementation--full {
    box-shadow: inset 0 -1px 0 0px var(--background-contrast-grey);
}

.reglementation-header {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
    grid-column: 1/3;
    grid-gap:1rem;
}

.reglementation-title {
    max-width: 960px;
    margin-bottom: 0;
    font-size: 1.175rem;
}

.reglementation_desc {
    font-size: .875rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    order: 3;
}

.reglementation--content {
    grid-column: 1/4;
}

.fr-badge {
    &.europe {
        background-color: var(--background-alt-blue-ecume);
        color: var(--text-action-high-blue-cumulus);
    }
}

.reglementation--full:last-child {
    box-shadow: inset 0 0 0 0px var(--background-contrast-grey);
}

.reglementation_detail {
    align-items: flex-start;
    /*
    color: var(--text-default-info);
    background-color: var(--background-contrast-info);
    border-radius: .25rem;
    */
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    grid-column: 1/3;
    align-items: center;
    width: fit-content;
}

.reglementation_detail[class*=" fr-fi-"]::before, .reglementation_detail[class*=" fr-icon-"]::before, .reglementation_detail[class^="fr-fi-"]::before, .reglementation_detail[class^="fr-icon-"]::before {
    --icon-size: 1rem;
    margin-right: .5rem;
  }

.reglementation-grid {
    display: grid;
    grid-template-columns: 135px auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
    .fr-btns-group {
        grid-column: 1/4;
    }
}

.reglementation--grey {
    color: var(--text-default-grey);
    .reglementation_detail {
        color: var(--text-default-grey);
        background-color: var(--background-contrast-grey);
    }
}

/* Résultat de simulation */
/* Bloc couleurs inversées */
.fr-container--inverted {
    border-radius: 1em;
    background: var(--blue-ecume-inverted);
    color:var(--text-inverted-blue-france);
    h3 {
        color:var(--text-inverted-blue-france);
    }
    .fr-btn {
        background-color: var(--btn-inverted);
        color:var(--btn-text-inverted);
        &:hover {
            background-color: var(--btn-inverted-hover);
        }
        &:active {
            background-color: var(--btn-inverted-active);
        }
    }
}

/* cartes réglementations */
@media (min-width: 48em) {
    .fr-card--horizontal-tier.fr-card.fr-card--simulation .fr-card__header {
      flex: 0 0 25%;
      width: 25%;
    }
  }

.fr-card.fr-card--simulation {
    border-radius: 1em;
    overflow: hidden;
    .fr-card__content {
        padding:1rem;
        padding-left: 0rem;
    }
    .fr-card__header {
        padding:1em;
        overflow: hidden;
        border-radius: 1em;
        display:flex;
        justify-content: center;
        align-items: center;
        .fr-card__img {
            overflow: hidden;
            border-radius: 1em;
            aspect-ratio: 1;
            height: fit-content;
            max-height: 180px;
        }
    }
}

/* fiches réglementation */
.fiche-tuiles {
    .fr-tile__body {
        justify-content: start;
    }
    .fr-tile ol li,.fr-tile__detail, .fr-tile ul li {
        text-align: left;
        display: block;
    }
    .fr-tile__detail {
        font-size: 1rem;
    }
}

/* espace CSRD */

.rse-organizer-titre {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
}

.rse-organizer {
    .fr-icon-information-fill {
        cursor: pointer;
    }
    ul {
        margin: 0px;
        list-style-type: none;
        font-weight: bold;
        li ul {
            background-color: var(--background-alt-grey);
            font-weight: normal;
        }
    }
    p {
        margin: 0px;
    }
    .rse-organizer--esrs {
        display: flex;
        gap:.5rem;
        .fr-btn--sm {
            min-width: 32px;
            margin-top: .5rem;
        }
    }
}

.rse-organizer--container {
    border-radius: .25rem;
    padding: .5rem 1rem;
    padding-bottom: 1rem;
}

.rse-organizer--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rse-organizer--title {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom:  .5rem;
}

.rse-organizer--content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

button.rse-organizer--card,.rse-organizer--card {
    background-color: var(--background-default-grey);
    border-radius: .25rem;
    padding: .5rem 1rem;
    text-decoration: none;
    background-image: none;
    text-align: left;
    font-size: 1rem;
    width: 100%;
}

button.rse-organizer--card:hover, .rse-organizer--card:hover {
    background-color: var(--background-default-grey-hover);
    background-image: none;
}

.rse-organizer--card-disabled.rse-organizer--card:hover {
    background-color: var(--background-default-grey);
    cursor: auto;
}

.rse-organizer--gov {
    background-color: var(--background-contrast-info);
    .rse-organizer--title {
        color: var(--text-default-info);
    }
}

.rse-organizer--env {
    background-color: var(--background-contrast-green-emeraude);
    .rse-organizer--title {
        color: var(--text-label-green-emeraude);
    }
}

.rse-organizer--social {
    background-color: var(--background-contrast-purple-glycine);
    .rse-organizer--title {
        color: var(--text-label-purple-glycine);
    }
}

/* dashboard */

.dashboard-category {
    border-radius: .5rem;
    padding:.5rem 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    h4 {
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: 700;
        line-height: 1.5rem;
        margin-bottom:  .5rem;
    }
    .reglementation_detail {
        color: var(--text-default-grey);
        background-color: var(--background-default-grey);
    }
}

.dashboard-list {
    background-color: var(--background-default-grey);
    border-radius: .5rem;
    padding:.5rem 1rem;
    padding-bottom: 0rem;
    h6 {
        font-size: 1.2em;
    }
}

.dashboard--a-actualiser {
    background-color: var(--background-contrast-error);
    h4 {
        color: var(--text-default-error);
    }
}

.dashboard--en-cours {
    background-color: var(--background-contrast-warning);
    h4 {
        color: var(--text-default-warning);
    }
}

.dashboard--a-jour {
    background-color: var(--background-contrast-green-emeraude);
    h4 {
        color: var(--text-label-green-emeraude);
    }
}

.dashboard--soumis {
    background-color: var(--background-contrast-info);
    h4 {
        color: var(--text-default-info);
    }
}

.dashboard--non-soumis {
    background-color: var(--background-alt-grey);
    h4 {
        color: var(--text-label-grey);
    }
}

.dashboard {
    .reglementation-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 0rem;
    }
    .fr-btn {
        margin-bottom: .5rem;
    }
    .fr-text--sm {
        color: var(--text-mention-grey);
    }
    .reglementation-grid {
        .fr-btns-group {
            flex-flow: wrap;
            align-items: flex-start;
            grid-column: 2/3;
            grid-row: 1/2;
            text-align: right;
            justify-content: end;
            margin-left: 1rem;
        }
        .reglementation-header {
            grid-column: 1/2;
            grid-row:1/2;
            display: flex;
            flex-direction: column;
            grid-gap:0px;
        }
    }
}

.dashboard-category-header {
    display: flex;
    flex-direction: column;
    button {
        color: var(--text-default-info);
        &:hover {
            color: var(--text-default-info-hover);
            background-color: rgba(0,0,0,0);
        }
    }
}

/* media queries */

@media screen and (max-width: 992px) {
    .reglementation-grid {
        grid-gap: 0rem;
    }
    .reglementation-header {
        grid-column: 1/4;
    }
    .reglementation .fr-btns-group, .reglementation-grid .fr-btns-group {
        justify-content:flex-start;
        grid-row: 3/4;
    }
    .rse-themes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    .fiche-img {
        display: none;
    }
    #menu-header-mobile.fr-collapse {
        --collapse-max-height: auto;
        --collapse: 0px;
        --collapser: auto;
        max-height: auto;
        max-height: auto;
        overflow: auto;
        transition: visibility .3s;
        visibility: visible;
    }
    .dashboard {
        .reglementation-grid {
            display: flex;
            flex-direction: column;
        }
        .reglementation-header {
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
        }
        .reglementation-grid .fr-btns-group {
            padding-top: 1em;
            flex-flow: column;
            align-items: start;
            text-align: left;
            justify-content: start;
        }
    }
}

@media screen and (max-width: 768px) {
    .portail-header {
        background-image: none;
        background-color: var(--background-contrast-blue-ecume);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .fr-card.fr-card--simulation .fr-card__content {
        padding:1rem;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .reglementation-header {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }
    .reglementation--content {
        grid-column: auto;
        grid-row: 4/5;
    }
    .reglementation_detail {
        grid-row: 3/4;
    }
    .reglementation-title {
        grid-row: 2/3;
    }
    .rse-themes {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5rem;
        p {
            text-align: left;
            margin-bottom: .5rem;
        }
        .fr-content-media {
            display: none;
        }
        .rse-theme {
            max-width: none;
        }
    }
}

