{% extends "public/base.html" %}

{% block content %}
<div class="fr-container fr-my-16w">
    <div class="fr-grid-row">
        <div class="fr-col">
            <h1>BDESE</h1>

            <form action="{% url 'bdese' siren %}" method="post">
                {% csrf_token %}
                <h2>1° Investissements</h2>
                <h3>A Investissement social</h3>
                <h4>a) Evolution des effectifs par type de contrat, par âge, par ancienneté</h4>
                <h5>Effectif</h5>
                {% include 'snippets/category_field.html' with field=form.effectif_total %}
{% comment %}
                {% include 'snippets/input_field.html' with field=form.effectif_permanent %}
                {% include 'snippets/input_field.html' with field=form.effectif_cdd %}
                {% include 'snippets/input_field.html' with field=form.effectif_mensuel_moyen %}
                {% include 'snippets/input_field.html' with field=form.effectif_sexe_homme %}
                {% include 'snippets/input_field.html' with field=form.effectif_sexe_femme %}
                {% include 'snippets/input_field.html' with field=form.effectif_moins_25_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_25_35_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_35_45_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_45_55_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_plus_55_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_anciennete_moins_10_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_anciennete_10_20_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_anciennete_20_30_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_anciennete_plus_30_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_nationalite_francaise %}
                {% include 'snippets/input_field.html' with field=form.effectif_nationalite_etrangere %}
                {% include 'snippets/input_field.html' with field=form.effectif_cadres %}
                {% include 'snippets/input_field.html' with field=form.effectif_techniciens %}
                {% include 'snippets/input_field.html' with field=form.effectif_agents_de_maitrise %}
                {% include 'snippets/input_field.html' with field=form.effectif_employes_qualifies %}
                {% include 'snippets/input_field.html' with field=form.effectif_employes_non_qualifies %}
                {% include 'snippets/input_field.html' with field=form.effectif_ouvriers_qualifies %}
                {% include 'snippets/input_field.html' with field=form.effectif_ouvriers_non_qualifies %}
                <h5>Travailleurs extérieurs</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_travailleurs_exterieurs %}
                {% include 'snippets/input_field.html' with field=form.nombre_stagiaires %}
                {% include 'snippets/input_field.html' with field=form.nombre_moyen_mensuel_salaries_temporaires %}
                {% include 'snippets/input_field.html' with field=form.duree_moyenne_contrat_de_travail_temporaire %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_de_l_entreprise_detaches %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_detaches_accueillis %}
                <h4>Evolution des emplois, notamment, par catégorie professionnelle</h4>
                <h5>Embauches</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_embauches_cdi %}
                {% include 'snippets/input_field.html' with field=form.nombre_embauches_cdd %}
                {% include 'snippets/input_field.html' with field=form.nombre_embauches_saisonniers %}
                {% include 'snippets/input_field.html' with field=form.nombre_embauches_jeunes %}
                <h5>Départs</h5>
                {% include 'snippets/input_field.html' with field=form.total_departs %}
                {% include 'snippets/input_field.html' with field=form.nombre_demissions %}
                {% include 'snippets/input_field.html' with field=form.nombre_licenciements_economiques %}
                {% include 'snippets/input_field.html' with field=form.nombre_licenciements_autres %}
                {% include 'snippets/input_field.html' with field=form.nombre_fin_cdd %}
                {% include 'snippets/input_field.html' with field=form.nombre_fin_periode_essai %}
                {% include 'snippets/input_field.html' with field=form.nombre_mutations %}
                {% include 'snippets/input_field.html' with field=form.nombre_departs_volontaires_retraite_preretraite %}
                {% include 'snippets/input_field.html' with field=form.nombre_deces %}
                <h5>Promotions</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_promotions %}
                <h5>Chômage</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_chomage_partiel %}
                {% include 'snippets/input_field.html' with field=form.nombre_heures_chomage_partiel_indemnisees %}
                {% include 'snippets/input_field.html' with field=form.nombre_heures_chomage_partiel_non_indemnisees %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_chomage_intemperies %}
                {% include 'snippets/input_field.html' with field=form.nombre_heures_chomage_intemperies_indemnisees %}
                {% include 'snippets/input_field.html' with field=form.nombre_heures_chomage_intemperies_non_indemnisees %}
                <h4>Evolution de l’emploi des personnes handicapées et mesures prises pour le développer</h4>
                {% include 'snippets/input_field.html' with field=form.nombre_travailleurs_handicapés %}
                {% include 'snippets/input_field.html' with field=form.nombre_travailleurs_handicapes_accidents_du_travail %}
                <h4>Evolution du nombre de stagiaires</h4>
                <h4>Formation professionnelle : investissements en formation, publics concernés</h4>
                <h5>Formation professionnelle continue</h5>
                {% include 'snippets/input_field.html' with field=form.pourcentage_masse_salariale_formation_continue %}
                {% include 'snippets/input_field.html' with field=form.montant_formation_interne %}
                {% include 'snippets/input_field.html' with field=form.montant_formation_conventions %}
                {% include 'snippets/input_field.html' with field=form.montant_formation_organismes_recouvrement %}
                {% include 'snippets/input_field.html' with field=form.montant_formation_organismes_agrees %}
                {% include 'snippets/input_field.html' with field=form.montant_formation_autres %}

                <h5>Congés formation</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_conge_formation_remunere %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_conge_formation_non_remunere %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_conge_formation_refuse %}
                <h5>Apprentissage</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_contrats_apprentissage %}
                <h4>Conditions de travail</h4>
                <h5>Accidents du travail et de trajet</h5>
                {% include 'snippets/input_field.html' with field=form.taux_frequence_accidents_travail %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_travail_par_heure_travaillee %}
                {% include 'snippets/input_field.html' with field=form.taux_gravite_accidents_travail %}
                {% include 'snippets/input_field.html' with field=form.nombre_journees_perdues_par_heure_travaillee %}
                {% include 'snippets/input_field.html' with field=form.nombre_incapacites_permanentes_français %}
                {% include 'snippets/input_field.html' with field=form.nombre_incapacites_permanentes_etrangers %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_travail_mortels %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_trajet_mortels %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_trajet_avec_arret_travail %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_salaries_temporaires_ou_prestataires %}
                {% include 'snippets/input_field.html' with field=form.taux_cotisation_securite_sociale_accidents_travail %}
                {% include 'snippets/input_field.html' with field=form.montant_cotisation_securite_sociale_accidents_travail %}
                <h5>Répartition des accidents par éléments matériels</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_existence_risques_graves %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_chutes_dénivellation %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_machines %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_circulation_manutention_stockage %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_objets_en_mouvement %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_autres %}
                <h5>Maladies professionnelles</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_maladies_professionnelles %}
                {% include 'snippets/input_field.html' with field=form.denomination_maladies_professionnelles %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_affections_pathologiques %}
                {% include 'snippets/input_field.html' with field=form.caracterisation_affections_pathologiques %}
                {% include 'snippets/input_field.html' with field=form.nombre_declaration_procedes_travail_dangereux %}
                <h5>Dépenses en matière de sécurité</h5>
                {% include 'snippets/input_field.html' with field=form.effectif_forme_securite %}
                {% include 'snippets/input_field.html' with field=form.montant_depenses_formation_securite %}
                {% include 'snippets/input_field.html' with field=form.taux_realisation_programme_securite %}
                {% include 'snippets/input_field.html' with field=form.nombre_plans_specifiques_securite %}
                <h5>Durée et aménagement du temps de travail</h5>
                {% include 'snippets/input_field.html' with field=form.horaire_hebdomadaire_moyen_ouvriers_employes %}
                {% include 'snippets/input_field.html' with field=form.somme_heures_travaillees_ouvriers_employes %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_repos_compensateur_code_travail %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_repos_compensateur_regime_conventionne %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_horaires_individualises %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temps_partiel_20_30_heures %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temps_partiel_autres %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_2_jours_repos_hebdomadaire_consecutifs %}
                {% include 'snippets/input_field.html' with field=form.nombre_moyen_jours_conges_annuels %}
                {% include 'snippets/input_field.html' with field=form.nombre_jours_feries_payes %}
                {% include 'snippets/input_field.html' with field=form.conditions_restrictives_jours_feries_payes %}
                <h5>Absentéisme</h5>
                {% include 'snippets/select_field.html' with field=form.unite_absenteisme %}
                {% include 'snippets/input_field.html' with field=form.nombre_unites_absence %}
                {% include 'snippets/input_field.html' with field=form.nombre_unites_theoriques_travaillees %}
                {% include 'snippets/input_field.html' with field=form.nombre_unites_absence_maladie %}
                {% include 'snippets/input_field.html' with field=form.nombre_unites_absence_duree_1 %}
                {% include 'snippets/input_field.html' with field=form.nombre_unites_absence_duree_2 %}
                {% include 'snippets/input_field.html' with field=form.nombre_unites_absence_accidents %}
                {% include 'snippets/input_field.html' with field=form.nombre_unites_absence_maternite %}
                {% include 'snippets/input_field.html' with field=form.nombre_unites_absence_conges_autorises %}
                {% include 'snippets/input_field.html' with field=form.nombre_unites_absence_autres %}
                <h5>Organisation et contenu du travail</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_personnes_horaires_alternant_ou_nuit %}
                {% include 'snippets/input_field.html' with field=form.nombre_personnes_horaires_alternant_ou_nuit_50_ans %}
                {% include 'snippets/input_field.html' with field=form.nombre_hommes_taches_repetitives %}
                {% include 'snippets/input_field.html' with field=form.nombre_femmes_taches_repetitives %}
                <h5>Conditions physiques de travail</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_personnes_exposees_bruit %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_exposes_temperatures %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_exposes_temperatures_extremes %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_exposes_intemperies %}
                {% include 'snippets/input_field.html' with field=form.nombre_produits_toxiques %}
                <h5>Transformation de l’organisation du travail</h5>
                {% include 'snippets/input_field.html' with field=form.experiences_transformation_organisation_travail %}
                <h5>Dépenses d’amélioration de conditions de travail</h5>
                {% include 'snippets/input_field.html' with field=form.montant_depenses_amelioration_conditions_travail %}
                {% include 'snippets/input_field.html' with field=form.taux_realisation_programme_amelioration_conditions_travail %}
                <h5>Médecine du travail</h5>
                <p>Renseignements tirés du rapport du directeur du service de prévention et de santé au travail interentreprises.</p>
                {% include 'snippets/input_field.html' with field=form.nombre_visites_medicales_suivi_droit_commun %}
                {% include 'snippets/input_field.html' with field=form.nombre_visites_medicales_suivi_individuel %}
                {% include 'snippets/input_field.html' with field=form.nombre_examens_medicaux_suivi_droit_commun %}
                {% include 'snippets/input_field.html' with field=form.nombre_examens_medicaux_suivi_individuel %}
                {% include 'snippets/input_field.html' with field=form.nombre_examens_complementaires_sous_surveillance %}
                {% include 'snippets/input_field.html' with field=form.nombre_examens_complementaires_autres %}
                {% include 'snippets/input_field.html' with field=form.pourcentage_temps_medecin_du_travail_analyse %}
                {% include 'snippets/input_field.html' with field=form.pourcentage_temps_medecin_du_travail_intervention %}
                <h5>Travailleurs inaptes</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_inaptes %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_reclasses %}
                <h3>Investissement matériel et immatériel</h3>
                {% include 'snippets/input_field.html' with field=form.evolution_amortissement %}
                {% include 'snippets/input_field.html' with field=form.montant_depenses_recherche_developpement %}
                {% include 'snippets/input_field.html' with field=form.evolution_productivite %}


                <h2>2° Egalité professionnelle entre les femmes et les hommes au sein de l'entreprise</h2>
                <h3>I. Indicateurs sur la situation comparée des femmes et des hommes dans l'entreprise</h3>
                <h4>A-Conditions générales d'emploi</h4>
                <h5>a) Effectifs : Données chiffrées par sexe</h5>

                {% include 'snippets/input_field.html' with field=form.nombre_categorie_professionelle_1_en_CDI %}
                {% include 'snippets/input_field.html' with field=form.nombre_categorie_professionelle_1_en_CDD %}
                {% include 'snippets/input_field.html' with field=form.nombre_categorie_professionelle_2_en_CDI %}
                {% include 'snippets/input_field.html' with field=form.nombre_categorie_professionelle_2_en_CDD %}

                <h5>b) Durée et organisation du travail: Données chiffrées par sexe</h5>
                {% include 'snippets/input_field.html' with field=form.effectif_temps_complet_homme %}
                {% include 'snippets/input_field.html' with field=form.effectif_temps_complet_femme %}
                {% include 'snippets/input_field.html' with field=form.effectif_temps_partiel_20_30_heures_homme %}
                {% include 'snippets/input_field.html' with field=form.effectif_temps_partiel_20_30_heures_femme %}
                {% include 'snippets/input_field.html' with field=form.effectif_temps_partiel_autre_homme %}
                {% include 'snippets/input_field.html' with field=form.effectif_temps_partiel_autre_femme %}
                {% include 'snippets/input_field.html' with field=form.effectif_travail_poste_homme %}
                {% include 'snippets/input_field.html' with field=form.effectif_travail_poste_femme %}
                {% include 'snippets/input_field.html' with field=form.effectif_travail_nuit_homme %}
                {% include 'snippets/input_field.html' with field=form.effectif_travail_nuit_femme %}
                {% include 'snippets/input_field.html' with field=form.effectif_horaires_variables_homme %}
                {% include 'snippets/input_field.html' with field=form.effectif_horaires_variables_femme %}
                {% include 'snippets/input_field.html' with field=form.effectif_travail_atypique_homme %}
                {% include 'snippets/input_field.html' with field=form.effectif_travail_atypique_femme %}

                <h5>c) Données sur les congés</h5>
                {% include 'snippets/input_field.html' with field=form.conges_homme_categorie_professionelle_1 %}
                {% include 'snippets/input_field.html' with field=form.conges_homme_categorie_professionelle_2 %}
                {% include 'snippets/input_field.html' with field=form.conges_femme_categorie_professionelle_1 %}
                {% include 'snippets/input_field.html' with field=form.conges_femme_categorie_professionelle_2 %}

                {% include 'snippets/input_field.html' with field=form.effectif_homme_conges_compte_epargne_temps %}
                {% include 'snippets/input_field.html' with field=form.effectif_homme_conges_parental %}
                {% include 'snippets/input_field.html' with field=form.effectif_homme_conges_sabbatique %}
                {% include 'snippets/input_field.html' with field=form.effectif_femme_conges_compte_epargne_temps %}
                {% include 'snippets/input_field.html' with field=form.effectif_femme_conges_parental %}
                {% include 'snippets/input_field.html' with field=form.effectif_femme_congés_sabbatique %}

                <h5>d) Données sur les embauches et les départs</h5>
                {% include 'snippets/input_field.html' with field=form.embauches_homme_ouvrier_CDI %}
                {% include 'snippets/input_field.html' with field=form.embauches_homme_ouvrier_CDD %}
                {% include 'snippets/input_field.html' with field=form.embauches_homme_employe_CDI %}
                {% include 'snippets/input_field.html' with field=form.embauches_homme_employe_CDD %}
                {% include 'snippets/input_field.html' with field=form.embauches_femme_ouvrier_CDI %}
                {% include 'snippets/input_field.html' with field=form.embauches_femme_ouvrier_CDD %}
                {% include 'snippets/input_field.html' with field=form.embauches_femme_employe_CDI %}
                {% include 'snippets/input_field.html' with field=form.embauches_femme_employe_CDD %}
                {% include 'snippets/input_field.html' with field=form.departs_homme_ouvrier_retraite %}
                {% include 'snippets/input_field.html' with field=form.departs_homme_ouvrier_demission %}
                {% include 'snippets/input_field.html' with field=form.departs_homme_ouvrier_fin_CDD %}
                {% include 'snippets/input_field.html' with field=form.departs_homme_ouvrier_licenciement %}
                {% include 'snippets/input_field.html' with field=form.departs_homme_employe_retraite %}
                {% include 'snippets/input_field.html' with field=form.departs_homme_employe_demission %}
                {% include 'snippets/input_field.html' with field=form.departs_homme_employe_fin_CDD %}
                {% include 'snippets/input_field.html' with field=form.departs_homme_employe_licenciement %}
                {% include 'snippets/input_field.html' with field=form.departs_femme_ouvrier_retraite %}
                {% include 'snippets/input_field.html' with field=form.departs_femme_ouvrier_demission %}
                {% include 'snippets/input_field.html' with field=form.departs_femme_ouvrier_fin_CDD %}
                {% include 'snippets/input_field.html' with field=form.departs_femme_ouvrier_licenciement %}
                {% include 'snippets/input_field.html' with field=form.departs_femme_employe_retraite %}
                {% include 'snippets/input_field.html' with field=form.departs_femme_employe_demission %}
                {% include 'snippets/input_field.html' with field=form.departs_femme_employe_fin_CDD %}
                {% include 'snippets/input_field.html' with field=form.departs_femme_employe_licenciement %}

                <h5>e) Positionnement dans l'entreprise</h5>
                {% include 'snippets/input_field.html' with field=form.effectif_homme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.effectif_homme_employe %}
                {% include 'snippets/input_field.html' with field=form.effectif_femme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.effectif_femme_employe %}
                {% include 'snippets/input_field.html' with field=form.effectif_homme_niveau_1 %}
                {% include 'snippets/input_field.html' with field=form.effectif_homme_niveau_2 %}
                {% include 'snippets/input_field.html' with field=form.effectif_femme_niveau_1 %}
                {% include 'snippets/input_field.html' with field=form.effectif_femme_niveau_2 %}

                <h4>B - Rémunérations et déroulement de carrière</h4>
                <h5>a) Promotion</h5>
                {% include 'snippets/input_field.html' with field=form.nombre_homme_promotion_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.nombre_homme_promotion_employe %}
                {% include 'snippets/input_field.html' with field=form.nombre_femme_promotion_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.nombre_femme_promotion_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.duree_moyenne_entre_deux_promotions_homme %}
                {% include 'snippets/input_field.html' with field=form.duree_moyenne_entre_deux_promotions_femme %}

                <h5>b) Ancienneté</h5>
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_homme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_homme_employe %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_femme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_femme_employe %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_homme_niveau_1 %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_homme_niveau_2 %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_femme_niveau_1 %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_femme_niveau_2 %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_homme_dans_niveau_1 %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_homme_dans_niveau_2 %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_femme_dans_niveau_1 %}
                {% include 'snippets/input_field.html' with field=form.anciennete_moyenne_femme_dans_niveau_1 %}

                <h5>c) Age</h5>
                {% include 'snippets/input_field.html' with field=form.age_moyen_homme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.age_moyen_homme_employe %}
                {% include 'snippets/input_field.html' with field=form.age_moyen_femme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.age_moyen_femme_employe %}
                {% include 'snippets/input_field.html' with field=form.age_moyen_homme_niveau_1 %}
                {% include 'snippets/input_field.html' with field=form.age_moyen_homme_niveau_2 %}
                {% include 'snippets/input_field.html' with field=form.age_moyen_femme_niveau_1 %}
                {% include 'snippets/input_field.html' with field=form.age_moyen_femme_niveau_2 %}

                <h5>d) Rémunérations</h5>
                {% include 'snippets/input_field.html' with field=form.remuneration_moyenne_homme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.remuneration_moyenne_homme_employe %}
                {% include 'snippets/input_field.html' with field=form.remuneration_moyenne_femme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.remuneration_moyenne_femme_employe %}
                {% include 'snippets/input_field.html' with field=form.remuneration_moyenne_homme_niveau_1 %}
                {% include 'snippets/input_field.html' with field=form.remuneration_moyenne_homme_niveau_2 %}
                {% include 'snippets/input_field.html' with field=form.remuneration_moyenne_femme_niveau_1 %}
                {% include 'snippets/input_field.html' with field=form.remuneration_moyenne_femme_niveau_2 %}

                <h4>C - Formation</h4>
                {% include 'snippets/input_field.html' with field=form.nombre_moyen_heures_formation_homme_categorie_1 %}
                {% include 'snippets/input_field.html' with field=form.nombre_moyen_heures_formation_homme_categorie_2 %}
                {% include 'snippets/input_field.html' with field=form.nombre_moyen_heures_formation_femme_categorie_1 %}
                {% include 'snippets/input_field.html' with field=form.nombre_moyen_heures_formation_femme_categorie_2 %}
                {% include 'snippets/input_field.html' with field=form.action_adaptation_au_poste_homme_categorie_1 %}
                {% include 'snippets/input_field.html' with field=form.action_maintien_emploi_homme_categorie_1 %}
                {% include 'snippets/input_field.html' with field=form.action_developpement_competences_homme_categorie_1 %}
                {% include 'snippets/input_field.html' with field=form.action_adaptation_au_poste_homme_categorie_2 %}
                {% include 'snippets/input_field.html' with field=form.action_maintien_emploi_homme_categorie_2 %}
                {% include 'snippets/input_field.html' with field=form.action_developpement_competences_homme_categorie_2 %}
                {% include 'snippets/input_field.html' with field=form.action_adaptation_au_poste_femme_categorie_1 %}
                {% include 'snippets/input_field.html' with field=form.action_maintien_emploi_homme_categorie_1 %}
                {% include 'snippets/input_field.html' with field=form.action_developpement_competences_femme_categorie_1 %}
                {% include 'snippets/input_field.html' with field=form.action_adaptation_au_poste_femme_categorie_2 %}
                {% include 'snippets/input_field.html' with field=form.action_maintien_emploi_femme_categorie_2 %}
                {% include 'snippets/input_field.html' with field=form.action_developpement_competences_femme_categorie_2 %}

                <h4>D - Conditions de travail, santé et sécurité au travail</h4>
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_homme_risque_pro_1_non_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_homme_risque_pro_1_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_homme_risque_pro_1_penible_repetitif %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_homme_risque_pro_2_non_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_homme_risque_pro_2_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_homme_risque_pro_2_penible_repetitif %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_femme_risque_pro_1_non_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_femme_risque_pro_1_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_femme_risque_pro_1_penible_repetitif %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_femme_risque_pro_2_non_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_femme_risque_pro_2_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_1_femme_risque_pro_2_penible_repetitif %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_homme_risque_pro_1_non_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_homme_risque_pro_1_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_homme_risque_pro_1_penible_repetitif %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_homme_risque_pro_2_non_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_homme_risque_pro_2_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_homme_risque_pro_2_penible_repetitif %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_femme_risque_pro_1_non_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_femme_risque_pro_1_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_femme_risque_pro_1_penible_repetitif %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_femme_risque_pro_2_non_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_femme_risque_pro_2_penible %}
                {% include 'snippets/input_field.html' with field=form.poste_de_travail_2_femme_risque_pro_2_penible_repetitif %}
                {% include 'snippets/input_field.html' with field=form.accident_travail_homme %}
                {% include 'snippets/input_field.html' with field=form.accident_travail_femme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_travail_avec_arret_homme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_travail_avec_arret_femme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_trajet_avec_arret_homme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_trajet_avec_arret_femme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_riques_graves_homme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_riques_graves_femme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_chutes_denivellation_homme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_chutes_denivellation_femme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_machines_homme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_machines_femme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_circulation_manutention_stockage_homme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_circulation_manutention_stockage_femme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_autres_homme %}
                {% include 'snippets/input_field.html' with field=form.nombre_accidents_autres_femme %}
                {% include 'snippets/input_field.html' with field=form.nombre_maladie_1_homme %}
                {% include 'snippets/input_field.html' with field=form.nombre_maladie_1_femme %}
                {% include 'snippets/input_field.html' with field=form.nombre_maladie_2_homme %}
                {% include 'snippets/input_field.html' with field=form.nombre_maladie_2_femme %}
                {% include 'snippets/input_field.html' with field=form.nombre_journees_absence_accident_homme %}
                {% include 'snippets/input_field.html' with field=form.nombre_journees_absence_accident_femme %}
                {% include 'snippets/input_field.html' with field=form.maladies_hommes %}
                {% include 'snippets/input_field.html' with field=form.maladies_femmes %}
                {% include 'snippets/input_field.html' with field=form.nombre_arrets_travail_hommes %}
                {% include 'snippets/input_field.html' with field=form.nombre_arrets_travail_femmes %}
                {% include 'snippets/input_field.html' with field=form.nombre_journees_absence_hommes %}
                {% include 'snippets/input_field.html' with field=form.nombre_journees_absence_femmes %}


                <h3>II. Indicateurs relatifs à l'articulation entre l'activité professionnelle et l'exercice de la responsabilité familiale</h3>
                <h4>Congés</h4>

                {% include 'snippets/input_field.html' with field=form.complement_salaire_conge %}
                {% include 'snippets/input_field.html' with field=form.nombre_jours_conges_paternite_pris_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.nombre_jours_conges_paternite_pris_employe %}

                <h4>Organisation du temps de travail dans l'entreprise</h4>

                {% include 'snippets/radio_field.html' with field=form.existence_organisation_facilitant_vie_familiale_et_professionnelle %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temps_partiel_choisi_homme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temps_partiel_choisi_homme_employe %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temps_partiel_choisi_femme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temps_partiel_choisi_femme_employe %}

                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temps_partiel_choisi_ayant_repris_temps_plein_homme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temps_partiel_choisi_ayant_repris_temps_plein_homme_employe %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temps_partiel_choisi_ayant_repris_temps_plein_femme_ouvrier %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_temps_partiel_choisi_ayant_repris_temps_plein_femme_employe %}
                {% include 'snippets/radio_field.html' with field=form.participant_accueil_petite_enfance %}
                {% include 'snippets/radio_field.html' with field=form.evolution_depenses_credit_impot_famille %}

                <h3>III. Stratégie d'action</h3>
                {% include 'snippets/input_field.html' with field=form.mesures_prises_egalite %}
                {% include 'snippets/input_field.html' with field=form.objectifs_progression %}

                <h2>3° Fonds propres, endettement et impôts</h2>
                {% include 'snippets/input_field.html' with field=form.capitaux_propres %}
                {% include 'snippets/input_field.html' with field=form.emprunts_et_dettes_financieres %}
                {% include 'snippets/input_field.html' with field=form.impots_et_taxes %}

                <h2>4° Rémunération des salariés et dirigeants, dans l'ensemble de leurs éléments</h2>
                <h3>A-Evolution des rémunérations salariales</h3>
                <h4>a) Frais de personnel</h4>
                <p>Ils représentent l'ensemble des rémunérations et des cotisations sociales mises légalement ou conventionnellement à la charge de l'entreprise.</p>
                <h5>i Montant des rémunérations : Choix de deux indicateurs dans l'un des groupes suivants</h5>
                <p>On entend par rémunération la somme des salaires effectivement perçus pendant l'année par le salarié (au sens de la déclaration sociale nominative).</p>
                {% include 'snippets/input_field.html' with field=form.rapport_masse_salariale_effectif_mensuel %}
                {% include 'snippets/input_field.html' with field=form.remuneration_moyenne_decembre %}
                {% include 'snippets/input_field.html' with field=form.remuneration_mensuelle_moyenne %}
                <p>OU</p>
                {% include 'snippets/input_field.html' with field=form.part_primes_non_mensuelle %}
                {% include 'snippets/input_field.html' with field=form.remunerations_tranche_1 %}
                {% include 'snippets/input_field.html' with field=form.remunerations_tranche_2 %}
                {% include 'snippets/input_field.html' with field=form.remunerations_tranche_3 %}
                {% include 'snippets/input_field.html' with field=form.remunerations_tranche_4 %}
                {% include 'snippets/input_field.html' with field=form.remunerations_tranche_5 %}
                {% include 'snippets/input_field.html' with field=form.remunerations_tranche_6 %}

                <h5>ii Hiérarchie des rémunérations : Choix d'un des deux indicateurs</h5>
                {% include 'snippets/input_field.html' with field=form.rapport_moyenne_deciles %}
                <p>OU</p>
                {% include 'snippets/input_field.html' with field=form.rapport_moyenne_cadres_ouvriers %}
                {% include 'snippets/input_field.html' with field=form.montant_10_remunerations_les_plus_eleves %}

                <h5>iii Mode de calcul des rémunérations</h5>
                {% include 'snippets/input_field.html' with field=form.pourcentage_salaries_rendement_primes_individuelles %}
                {% include 'snippets/input_field.html' with field=form.pourcentage_salaries_rendement_primes_collectives %}
                {% include 'snippets/input_field.html' with field=form.pourcentage_ouvriers_employes_payes_au_mois %}

                <!-- iv et b) à déterminer -->

                <h3>B-Epargne salariale : intéressement, participation</h3>

{% endcomment %}

                <input type="submit" value="Enregistrer" class="fr-btn ">
            </form>
        </div>
    </div>
</div>
{% endblock %}
