{% extends "public/base.html" %}

{% block content %}
<div class="fr-container fr-my-16w">
    <div class="fr-grid-row">
        <div class="fr-col">
            <h1>BDESE</h1>

            <form action="{% url 'bdese' %}" method="post">
                {% csrf_token %}
                <h2>Investissements</h2>
                <h3>Investissement social</h3>
                {% include 'snippets/input_field.html' with field=form.effectif_total %}
                {% include 'snippets/input_field.html' with field=form.effectif_permanent %}
                {% include 'snippets/input_field.html' with field=form.effectif_cdd %}
                {% include 'snippets/input_field.html' with field=form.effectif_mensuel_moyen %}
                {% include 'snippets/input_field.html' with field=form.effectif_sexe_homme %}
                {% include 'snippets/input_field.html' with field=form.effectif_sexe_femme %}
                {% include 'snippets/input_field.html' with field=form.effectif_sexe_autre %}
                {% include 'snippets/input_field.html' with field=form.effectif_moins_25_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_25_35_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_35_45_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_45_55_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_plus_55_ans %}
                {% include 'snippets/input_field.html' with field=form.effectif_anciennete_faible %}
                {% include 'snippets/input_field.html' with field=form.effectif_anciennete_moyenne %}
                {% include 'snippets/input_field.html' with field=form.effectif_anciennete_forte %}
                {% include 'snippets/input_field.html' with field=form.effectif_nationalite_francaise %}
                {% include 'snippets/input_field.html' with field=form.effectif_nationalite_etrangere %}
                {% include 'snippets/input_field.html' with field=form.effectif_cadres %}
                {% include 'snippets/input_field.html' with field=form.effectif_techniciens %}
                {% include 'snippets/input_field.html' with field=form.effectif_agents_de_maitreise %}
                {% include 'snippets/input_field.html' with field=form.effectif_employes_qualifies %}
                {% include 'snippets/input_field.html' with field=form.effectif_employes_non_qualifies %}
                {% include 'snippets/input_field.html' with field=form.effectif_ouvriers_qualifies %}
                {% include 'snippets/input_field.html' with field=form.effectif_ouvriers_non_qualifies %}
                {% include 'snippets/input_field.html' with field=form.nombre_travailleurs_exterieurs %}
                {% include 'snippets/input_field.html' with field=form.nombre_stagiaires %}
                {% include 'snippets/input_field.html' with field=form.nombre_moyen_mensuel_salaries_temporaires %}
                {% include 'snippets/input_field.html' with field=form.duree_moyenne_contrat_de_travail_temporaire %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_de_l_entreprise_detaches %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_detaches_accueillis %}
                {% include 'snippets/input_field.html' with field=form.nombre_embauches_cdi %}
                {% include 'snippets/input_field.html' with field=form.nombre_embauches_cdd %}
                {% include 'snippets/input_field.html' with field=form.nombre_embauches_saisonniers %}
                {% include 'snippets/input_field.html' with field=form.nombre_embauches_jeunes %}
                {% include 'snippets/input_field.html' with field=form.total_departs %}
                {% include 'snippets/input_field.html' with field=form.nombre_demissions %}
                {% include 'snippets/input_field.html' with field=form.nombre_licenciements_economiques %}
                {% include 'snippets/input_field.html' with field=form.nombre_licenciements_autres %}
                {% include 'snippets/input_field.html' with field=form.nombre_fin_cdd %}
                {% include 'snippets/input_field.html' with field=form.nombre_fin_periode_essai %}
                {% include 'snippets/input_field.html' with field=form.nombre_mutations %}
                {% include 'snippets/input_field.html' with field=form.nombre_departs_volontaires_retraite_preretraite %}
                {% include 'snippets/input_field.html' with field=form.nombre_deces %}
                {% include 'snippets/input_field.html' with field=form.nombre_promotions %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_chomage_partiel %}
                {% include 'snippets/input_field.html' with field=form.nombre_heures_chomage_partiel_indemnisees %}
                {% include 'snippets/input_field.html' with field=form.nombre_heures_chomage_partiel_non_indemnisees %}
                {% include 'snippets/input_field.html' with field=form.nombre_salaries_chomage_intemperies %}
                {% include 'snippets/input_field.html' with field=form.nombre_heures_chomage_intemperies_indemnisees %}
                {% include 'snippets/input_field.html' with field=form.nombre_heures_chomage_intemperies_non_indemnisees %}
                {% include 'snippets/input_field.html' with field=form.nombre_travailleurs_handicapés %}
                {% include 'snippets/input_field.html' with field=form.nombre_travailleurs_handicapes_accidents_du_travail %}
                {% include 'snippets/input_field.html' with field=form.pourcentage_masse_salariale_formation_continue %}
                {% include 'snippets/input_field.html' with field=form.montant_formation_interne %}
                {% include 'snippets/input_field.html' with field=form.montant_formation_conventions %}
                {% include 'snippets/input_field.html' with field=form.montant_formation_organismes_recouvrement %}
                {% include 'snippets/input_field.html' with field=form.montant_formation_organismes_agrees %}
                {% include 'snippets/input_field.html' with field=form.montant_formation_autres %}
                <input type="submit" value="Enregistrer" class="fr-btn ">
            </form>
        </div>
    </div>
</div>
{% endblock %}
