{% extends "base.html" %}

{% block content %}
<div class="fr-container fr-my-4w">
    <h1>Conditions Générales d’Utilisation (CGU) de la plateforme impact.beta.gouv.fr</h1>
    <p>Les présentes conditions générales d’utilisation s’imposent à tout utilisateur de la plateforme en ligne : impact.beta.gouv.fr, (ci-après « site»).</p>
    <p>Est défini comme utilisateur (ci-après « utilisateur ») toute personne physique ayant créé et activé un compte d’accès au site.</p>
    <p>Ce site est à destination des entreprises. Les personnes utilisant le site et agissant comme utilisateur, sont réputées disposer des droits déclaratifs pour les informations de leur entreprise.</p>
    <p>Le projet impact est un prototype de service public. A ce titre, une adresse en .beta.gouv.fr est utilisée en lieu et place d’une adresse .gouv.fr.</p>
    <p>En activant son compte, l’utilisateur reconnaît avoir pris connaissance de la présente charte d’utilisation, l’avoir comprise, acceptée et s’y soumettre sans réserve ni restriction. La Direction Générale des Entreprises (DGE), Ministère de l’économie, des finances et de la souveraineté industrielle et numérique, se réserve le droit de modifier ou de mettre à jour les conditions générales d’utilisation sans préavis.</p>

    <h2>Article 1 – présentation et fonctionnalités</h2>
    <p>Le projet « Impact » est un produit numérique et un espace déclaratif volontaire en cours de construction ayant pour objectif d’aider les entreprises à satisfaire les réglementations nécessitant des données extra-financières.</p>
    <p>Cet outil est à destination exclusive des entreprises.</p>
    <p>
        Sur la base du volontariat, l’objectif du projet Impact.beta.gouv.fr est de répondre à plusieurs besoins rencontrés par les entreprises. A savoir :
        <ul>
            <li>Disposer dans un seul espace des réglementations extra-financières pour lesquelles les entreprises doivent se conformer ;</li>
            <li>Identifier un chemin pour satisfaire leurs obligations réglementaires extra-financières (publication, transmission ou déclaration) ;</li>
            <li>Avoir un espace déclaratif pour renseigner les informations demandées par la future directive CSRD (Corporate Sustainability Reporting Directive).</li>
        </ul>
    </p>
    <p>
        Progressivement, le site va s’enrichir. Actuellement, sur ce prototype, les entreprises trouveront :
        <ul>
            <li>Un formulaire pour les aider à renseigner la Base de Données Economique Sociale et Environnementale (BDESE) ;</li>
            <li>Une redirection vers le site Egapro : <a href="https://egapro.travail.gouv.fr/" target="_blank">https://egapro.travail.gouv.fr/</a></li>
        </ul>
    </p>
    <p>Impact.beta.gouv.fr poursuit l’objectif de simplifier le travail de déclaration des entreprises et de mettre en pratique le principe « Dites-le nous une fois », promu par la DGE. Ce qui signifie ne pas redemander à des entreprises des données déjà en possession de l’Etat.</p>
    <p>Dans ce contexte, impact.beta.gouv.fr aura vocation à être reliée à des bases de données et des API (Application Programming Interface) de l’Etat pour simplifier et réduire le travail déclaratif des entreprises volontaires.</p>
    <p>En croisant les réglementations ayant des indicateurs se chevauchant, le site impact.beta.gouv.fr cherche à réduire la charge de travail demandée à l’entreprise utilisatrice du service. Par exemple, il pourra réutiliser certaines données déjà déclarées sur Egapro (via API) pour proposer un pré-remplissage des champs dans le formulaire BDESE. </p>
    <p>Le fil rouge du projet est de proposer un espace déclaratif simplifié à destination des entreprises pour faciliter l’entrée en application de la directive CSRD.</p>

    <h2>Article 2 – modalités d’inscription et d’utilisation de la plateforme en ligne</h2>
    <p>Lors de l'inscription sur le site, l’utilisateur renseigne le SIREN de son entreprise, une adresse électronique valide et un mot de passe, qui a valeur d’identifiant. Sa civilité (nom et prénom), son poste dans l’entreprise pourront également faire partie des informations demandées. L'utilisateur doit conserver son identifiant (e-mail) et son mot de passe qui lui seront utiles pour tout accès à son compte personnel sur impact.beta.gouv.fr.</p>
    <p>Le mot de passe doit être choisi par l'utilisateur de façon à ce qu'il ne puisse pas être deviné par un tiers. L'utilisateur s'engage à en préserver la confidentialité. Toute action réalisée sur cette plateforme par l’usage de son compte est réputée réalisée par l’utilisateur lui-même. La DGE ne saurait être tenue pour responsable des dommages éventuellement causés par l'utilisation du mot de passe et de l’identifiant de l’utilisateur par une personne non autorisée.</p>
    <p>A la création du compte, l'utilisateur accepte de recevoir des courriels relatifs aux actualités du site Impact.beta.gouv.fr. Ces messages seront exclusivement à finalités administratives, et relèveront de la responsabilité de la Direction Générale des entreprises.</p>
    <p>La DGE se réserve le droit de résilier, sans préavis ni indemnité d'aucune sorte, tout compte d’impact.gouv.fr faisant l'objet d'une utilisation illicite ou frauduleuse ou contraire aux présentes CGU. </p>

    <h2>Article 3 – Fonctionnement de la plateforme</h2>
    <ol>
        <li>L’entreprise renseigne son numéro SIREN. Grâce à <a href="https://api.gouv.fr/les-api/api-recherche-entreprises" target="_blank">l’API recherche entreprise</a>, un fourchette d’effectif est proposé à l’entreprise.</li>
        <li>En fonction de son effectif salarié, l’entreprise identifie si elle susceptible d’être concernée par la réglementation égalité professionnelle et/ou la BDESE.</li>
        <li>Si l’entreprise souhaite remplir le formulaire BDESE, elle devra créer ou se connecter à son compte. La réglementation égalité professionnelle pourra être renseignée via une redirection vers le site Egapro.</li>
    </ol>
    <p>Attention, l’identification des réglementations par le site Impact.beta.gouv.fr ne dispense pas l’utilisateur de vérifier son assujettissement aux réglementations par d’autres moyens. Le site impact.beta.gouv.fr étant un prototype, la maturité de l’outil n’est pas suffisante pour présenter des garanties suffisantes. </p>
    <p>Par ailleurs, les documents pdf générés à l’aide du service Impact.beta.gouv.fr, n’engagent pas l’Etat, ni la Direction Générale des Entreprises (DGE), mais uniquement l’utilisateur ayant renseigné les données, qui n’ont fait l’objet d’aucune procédure de contrôle par l’administration.  </p>

    <h2>Article 4 – Données générales techniques</h2>
    <p>L'utilisation de la plateforme requiert une connexion et un navigateur internet. Le navigateur doit être configuré pour autoriser les cookies de session.</p>
    <p>Afin de garantir un bon fonctionnement de la plateforme, il est conseillé d'utiliser un navigateur à jour. </p>
    <p>Les liens hypertextes externes mis en place et les contenus des sites de tiers vers lesquels ils pointent ne sauraient engager la responsabilité de la DGE. Lorsque l'utilisateur accède aux sites concernés, il est soumis aux conditions générales d’utilisation spécifiques du site en question.</p>

    <h2>Article 5 – Modification et évolution de la plateforme</h2>
    <p>La DGE se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, la plateforme pour des raisons de maintenance ou pour tout autre motif jugé nécessaire. Chaque fois que cela sera possible, une page d’information sera affichée à l’utilisateur lui mentionnant cette indisponibilité. </p>
    <p>L’indisponibilité de la plateforme ne donne droit à aucune indemnité.</p>
    <p>Par ailleurs, les termes des présentes conditions générales d'utilisation peuvent être amendés à tout moment, sans préavis, en fonction des modifications apportées au Service, de l'évolution de la législation ou pour tout autre motif jugé nécessaire.</p>

    <h2>Article 6 – Traitement des données personnelles</h2>
    <p>La DGE s’engage à prendre toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies par l’usager.</p>
    <p>Conformément à la Loi n°78-17 du 6 janvier 1978 (modifiée) relative à l’informatique, aux fichiers, aux libertés, ainsi qu’aux dispositions du Règlement UE 2016/79 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel (RGPD), dont la présente plateforme respecte les dispositions, vous disposez d’un droit d’accès, de rectification et d’opposition.</p>
    <p>Toute demande relative aux données personnelles de l’usager s’effectue auprès du correspondant protection des données de la DGE, par courriel à l’adresse suivante : <a href="mailto:rgpd-refpod.dge@finances.gouv.fr" target="_blank">rgpd-refpod.dge@finances.gouv.fr</a></p>
    <p>Pour en savoir plus sur le traitement de vos données à caractère personnel et vos droits veuillez-vous référer à la page politique de confidentialité du site impact.beta.gouv.fr</p>

    <h2>Article 7 – Engagements et responsabilité</h2>
    <p>Impact.beta.gouv.fr, outil d’aide aux entreprises pour le renseignement des réglementations et données extra-financières est un prototype. L’utilisateur accepte d’être indulgent et accepte sans réserve cette limitation de fait. Les inexactitudes résultant du développement du prototype, tant d’un point vue technique ou que de fond ne pourront pas être reprochées à la DGE.</p>
    <p>Tout document généré avec l’aide du site Impact.beta.gouv.fr ne pourra engager l’Etat ou la Direction Générale des Entreprises (DGE), mais uniquement l’utilisateur ayant renseigné les données, qui n’ont fait l’objet d’aucune procédure de contrôle par l’administration.</p>
    <p>En vertu de l’article 121 de la loi informatiques et libertés du 6 janvier 1978 modifiée, la DGE s’engage à prendre toutes les précautions utiles pour préserver la sécurité des données collectées auprès de l'usager, et notamment empêcher qu'elles soient corrompues, endommagées ou que des tiers non autorisés y aient accès.</p>
    <p>Les données ou documents conservés par l'usager dans son espace de stockage relèvent de sa responsabilité exclusive. L'utilisation de l'espace de stockage n'exonère pas l'usager de la conservation de tout document ou donnée dont il aurait pu déposer une copie dans cet espace. L’utilisateur est encouragé à garder une copie de ses données dans un autre espace stockage, sur lesquels il a les droits.</p>
    <p>La responsabilité de la DGE ne saurait être recherchée en cas d'interruption de la plateforme, quelles que soient les conséquences qui pourraient en découler.</p>
    <p>Toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du Code Pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.</p>
</div>
<!-- page cgu -->
{% endblock %}
