{% extends "base.html" %}

{% block title %}Nous contacter - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container fr-my-8w">
        <h1>Contact</h1>
        <p>
            Une remarque, un avis à partager, ou une demande d’informations supplémentaires ?
            Nous vous invitons à compléter le formulaire ci-dessous.
        </p>


        <form class="fr-mt-6w" action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            {% include 'snippets/field.html' with field=form.email %}
            {% include 'snippets/field.html' with field=form.subject %}
            {% include 'snippets/field.html' with field=form.message %}
            {% include 'snippets/field.html' with field=form.sum %}
            <input type="submit" value="Envoyer le message" class="fr-btn">
        </form>
    </div>

<!-- page contact -->
{% endblock %}
