{% extends "base.html" %}

{% block content %}
<div class="fr-container fr-my-4w">
    <h1>Mentions légales</h1>
    <h2>Éditeur</h2>
    <p>Sous-Direction du Développement des Entreprises (SDDE à la Directeur Général des Entreprises (DGE) : <a href="https://www.entreprises.gouv.fr/fr" target="_blank">https://www.entreprises.gouv.fr/fr</a></p>
    <p>Avec le support de la Direction Interministériel du Numérique (DINum), dans  le cadre du programme en beta.gouv : <a href="https://beta.gouv.fr/" target="_blank">https://beta.gouv.fr/</a></p>

    <h2>Directeur de la publication</h2>
    <p>Thomas Courbe, Directeur général de la DGE</p>

    <h2>Conception et réalisation du site</h2>
    <p>Développement informatique :</p>
    <p>
        Yaal Coop<br>
        18 rue Gratiolet<br>
        33000 Bordeaux,<br>
        France
    </p>

    <h2>Hébergement</h2>
    <p>Plateforme en tant que service (Plateform as a Service) :</p>
    <p>
        Scalingo SAS,<br>
        3 place de Haguenau<br>
        67000 Strasbourg,<br>
        France
    </p>

    <p>Hébergement :</p>
    <p>
        1, rue Royale<br>
        319 Bureaux de la Colline<br>
        92210 Saint-Cloud<br>
        France
    </p>

    <h2>Traitement des données personnelles</h2>
    <p>
        En application de la loi Informatique et Libertés du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification, de modification et de suppression des données qui vous concernent. Vous pouvez exercer ce droit de plusieurs façons :
        <ul>
            <li>en contactant le correspondant protection des données de la DGE, par courriel à l’adresse suivante : <a href="mailto:rgpd-refpod.dge@finances.gouv.fr" target="_blank">rgpd-refpod.dge@finances.gouv.fr</a></li>
            <li>en envoyant un courrier à : Direction générale des Entreprises, Boulevard Vincent Auriol, Paris 75 013</li>
        </ul>
    </p>

    <h2>Conditions de réutilisation des contenus diffusés sur le portail</h2>
    <p>Si vous souhaitez réutiliser des contenus présents sur le portail, merci de bien vouloir nous prévenir en envoyant un mail à <a href="mailto:supportimpact.dge@finances.gouv.fr" target="_blank">supportimpact.dge@finances.gouv.fr</a></p>
    <p>
        A l'exception des marques, logos et des contenus grevés de droits de propriété intellectuelle de tiers ou contenant des données personnelles ou des données issues de bases de données protégées par un secret,
        les contenus du portail sont des informations publiques librement et gratuitement réutilisables dans le respect des Conditions générales de réutilisation des informations publiques,
        et notamment son article 3: « Conformément à l’article 12 de la Loi n° 78-753 du 17 juillet 1978, le réutilisateur s’engage à ne pas altérer les Informations publiques, à ne pas en dénaturer le sens et à indiquer leur source et la date de leur dernière mise à jour».
    </p>

    <h2>Information des Internautes sur le service de mesure d’audience</h2>
    <p>
        Afin de mieux vous servir, nous suivons la fréquentation à l’aide de la solution Matomo le nombre de pages vues, le nombre de visites, ainsi que l’activité des visiteurs sur le portail
        et leur fréquence de retour grâce à divers outils analytiques : <a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies-solutions-pour-les-outils-de-mesure-daudience" target="_blank">https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies-solutions-pour-les-outils-de-mesure-daudience</a>
    </p>
    <p>Ces mesures sont effectuées sur le portail impact.beta.gouv.fr et tous ses sites satellites.</p>
</div>

<!-- page mentions legales -->
{% endblock %}
