{% extends "base.html" %}

{% block content %}
<div class="fr-container fr-my-4w">
    <h1>Politique de confidentialité</h1>
    <p>Bienvenue sur impact.beta.gouv.fr (ci-après le «site»).</p>
    <p>Le responsable de traitement de vos données personnelles est la Direction Générale des Entreprises, Ministre de l'Économie, des Finances et de la Souveraineté industrielle et numérique (ci-après « nous »).</p>
    <pre>
    Adresse postale :
    Correspondant protection des données de la DGE
    61, boulevard Vincent Auriol
    75703 PARIS CEDEX 13
    E-mail : rgpd-refpod.dge@finances.gouv.fr 
    </pre>
    <p>Le Délégué à la protection des données des ministères économique et financier est joignable aux coordonnées suivantes :</p>
    <pre>
    Adresse postale :
    Délégation aux Systèmes d’Information 
    139, rue de Bercy 
    75572 PARIS CEDEX 1
    Adresse mail :le-delegue-a-la-protection-des-donnees-personnelles@finances.gouv.fr
    </pre>
    
    <p>Le site impact.beta.gouv.fr est un prototype de site internet à destination des entreprises. Il est développé avec le support de la Direction Interministérielle du Numérique (DINum)  dans le cadre du programme beta.gouv : https://beta.gouv.fr/</p>
    <p>Dans le cadre du prototype de site impact.beta.gouv.fr, vous nous transmettez des informations en vous inscrivant et en renseignant des données dans des formulaires. Nous nous engageons à ce que la collecte et le traitement de vos données soit effectué de manière licite, loyale et transparente, conformément au Règlement européen général sur la protection des données (« RGPD ») et à la Loi Informatique et Libertés de 1978 modifiée (« LIL »).</p>
    <p>Cette collecte d’information se limite au nécessaire, conformément au principe de minimisation des données. En cas de mise à jour, nous n’abaisserons pas le niveau de confidentialité de manière substantielle sans l’information préalable des personnes concernées.</p>
    <p>Évitez de vous mettre en danger en publiant des données relevant de votre vie privée ou sensible (opinion politiques et philosophiques, appartenance syndicale, information sur votre santé, orientation sexuelle, convictions religieuses…). Si vous décidez de publier de telles informations à votre initiative ou déduites via vos votes, contributions, arguments, commentaires et prises de position de quelque nature que ce soit profil, vous devez être vigilants. Nous vous rappelons que les traitements portant sur des données à caractère personnel rendues publiques par la personne concernée ne sont pas soumis à l'interdiction de principe au traitement de données sensibles par la loi (Art. 8, II, 4° de la loi Informatiques et Libertés de 1978) et le RGPD (Article 9.2.e du RGPD et article 6 LIL).</p>
    
    <h2>Données personnelles</h2>
    <h3>Traitement des données personnelles</h3>
    <p>La Direction générale des Entreprises (DGE) s’engage à ce que la collecte et le traitement de vos données, effectués à partir du site Impact.beta.gouv.fr et des sites satellites, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.</p>
    <p>Chaque formulaire limite la collecte des données personnelles au strict nécessaire (minimisation des données).</p>
    
    <h3>Finalités</h3>
    <p>Le site impact.beta.gouv.fr est vocation exclusive des entreprises.</p>
    <p>Sur la base du volontariat, l’objectif du projet Impact.beta.gouv.fr est de répondre à plusieurs besoins rencontrés par les entreprises. A savoir :</p>
    <ul>
        <li>
            Disposer dans un seul espace des réglementations extra-financières pour lesquelles les entreprises doivent se conformer ;
        </li>
        <li>
            Identifier un chemin pour satisfaire leurs obligations réglementaires extra-financières (publication, transmission ou déclaration) ;
        </li>
        <li>
            Avoir un espace déclaratif pour renseigner les informations demandées par la future directive CSRD (Corporate Sustainability Reporting Directive).
        </li>
    </ul>
    <p>Les données d'inscription confiées nous permettent d´assurer la gestion de votre compte sur le site, des procédures d'authentification, de mot de passe oublié, mais aussi de traiter vos éventuelles demandes.</p>
    <p>Attention, l’identification des réglementations par le site Impact.beta.gouv.fr ne dispense pas l’utilisateur de vérifier son assujettissement aux réglementations par d’autres moyens. Le site impact.beta.gouv.fr étant un prototype, la maturité de l’outil n’est pas suffisante pour présenter des garanties suffisantes.</p>
    <p>Par ailleurs, les documents pdf générés à l’aide du service Impact.beta.gouv.fr, n’engagent pas l’Etat, ni la Direction Générale des Entreprises (DGE), mais uniquement l’utilisateur ayant renseigné les données, qui n’ont fait l’objet d’aucune procédure de contrôle par l’administration.</p>
    
    <h3>Objet du traitement de données</h3>
    <p>Il permet :</p>
    <ul>
        <li>
            la préparation et la publication de contenus ;
        </li>
        <li>
            la mise en ligne des formulaires;
        </li>
        <li>
            l'administration technique en lien avec les prestataires (tierce maintenance applicative, hébergement, registraire de noms de domaine, autorité de certification) ;
        </li>
        <li>
            la gestion de la sécurité des sites (équipements et journaux de sécurité) ;
        </li>
        <li>
            la production de statistiques d’audience et d’utilisation des services en ligne proposés par la DGE.
        </li>
    </ul>

    <h2>Destinataires des données</h2>
    <h3>Catégories de destinataires</h3>
    <p>En fonction de leurs besoins respectifs, sont destinataires de tout ou partie des données :</p>
    <ol>
        <li>
            Les agents de la direction générale des entreprises ;
        </li>
        <li>
            Les agents de la direction interministérielle du numérique dûment habilitées, par les agents mentionnés au 1° ; 
        </li>
        <li>
            Les personnes et prestataires, dûment habilitées par les agents mentionnés au (1) et (2) ;
        </li>
        <li>
            les usagers des sites web administrés par la DGE
        </li>
        <li>
            les personnels responsables de la supervision de la sécurité des systèmes d’information de la DGE.
        </li>
    </ol>
    
    <h2>Quelles données personnelles collectons-nous sur le site ?</h2>
    <h3>Données d’inscription et informations requises pour participer.</h3>
    <p>Pour vous inscrire, nous vous demandons un numéro SIREN, e-mail et un mot de passe. Sa civilité (nom et prénom), son poste dans l’entreprise pourront également faire partie des informations demandées</p>

    <h3>Journaux de connexion</h3>
    <p>Des données d´utilisation (adresses IP, logs de connexion et d´utilisation) sont collectées automatiquement sur le site. Ces données sont indispensables pour qu’il puisse fonctionner correctement.</p>
    
    <h3>Connexion à des bases de données ou API</h3>
    <p>Pour aider les entreprises, le site Impact.beta.gouv.fr pourra être connecté à des API (Application Programming Interface) ou des bases de données de l’Etat. Pour recueillir la tranche d’effectif de l’entreprise via le numéro SIREN, le site impact.beta.gouv.fr est connecté à l’API recherche entreprise (https://api.gouv.fr/les-api/api-recherche-entreprises). Pour pré-remplir des indicateurs de réglementations, l’API du site public Egapro peut également être utilisé (https://egapro.travail.gouv.fr/).</p>
    
    <h3>Cookies</h3>
    <p>Pour le suivi de la fréquentation du site, nous utilisons la solution Matomo. La durée de conservation du cookie est de 13 mois. Plus d’informations disponibles par ces liens :</p>
    <ul>
        <li>
            https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies-solutions-pour-les-outils-de-mesure-daudience 
        </li>
        <li>
            https://beta.gouv.fr/suivi/
        </li>
    </ul>
    
    <h2>Pendant combien de temps vos données sont-elles conservées ?</h2>
    <p>Les données d’identification (adresse email, SIREN, nom, prénom, poste) sont conservées pendant toute la durée de l’inscription au site impact.beta.gouv.fr et jusqu’à ce que vous  demandiez la suppression de votre compte ou que le site ne soit plus en ligne.</p>
    <p>Nous avons également des obligations de conservation des données de connexion conformément au décret n°2011-219 du 25 février 2022 relatif à la conservation et à la communication des données permettant d’identifier toute personne ayant contribué à la création d’un contenu mis en ligne.</p>
    
    <h2>Base légale</h2> 
    <p>https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre2</p>
    <p>Article 6 du règlement européen 2016/679 (règlement général sur la protection des données - RGPD) relatif à l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investie la DGE en vertu du décret n° 2009-37 du 12 janvier 2009 modifié.</p>
    
    <h2>Quels sont vos droits ? Comment les exercer ?</h2>
    <p>Les demandes d’exercice de vos droits peuvent être adressées au responsable de traitement par voie postale (Correspondant protection des données de la DGE, Direction Générale des Entreprises, 61, boulevard Vincent Auriol, 75703 PARIS CEDEX 13) ou par voie électronique à rgpd-refpod.dge@finances.gouv.fr</p>
    <p>Si vous estimez après nous avoir contacté que vos droits sur vos données n´ont pas été respectés, vous pouvez adresser une réclamation (plainte) à la Commission Nationale de l’Informatique et des Libertés (CNIL).</p>
    <p>Voir le site de la CNIL pour plus d´informations sur vos droits :</p>
    <p>https://www.cnil.fr/</p>
    
    <h2>Nos engagements en matière de sous-traitance, communication et transferts de données</h2>
    <p>Vos données nominatives sont à usage interne et technique, elles sont strictement confidentielles et ne peuvent être divulguées à des tiers au projet, sauf en cas d’accord exprès ou si vous avez décidé de les rendre publiques.</p>
    <p>Le numéro SIREN est lui partagé avec des APIs et des bases de données pour aider l’utilisateur à renseigner ces informations sur Impact.beta.gouv.fr</p>
    <p>En cas de communication de vos données personnelles à un tiers, quelle que soit sa qualité, nous nous assurerons préalablement que ce dernier est tenu d’appliquer des conditions de confidentialité identiques aux nôtres.</p>
    <p>Nous nous engageons à respecter les dispositions du RGPD applicables aux transferts des données.</p>
    <p>Sur la base de nos obligations légales, vos données personnelles pourront être divulguées en application d'une loi, d’un règlement ou en vertu d’une décision d’une autorité réglementaire ou judiciaire compétente.</p>
    <p>Dans une logique d’ouverture en ligne des informations détenues par les acteurs publics et privés, vos contributions publiques pourront, après anonymisation, être consultées via l’API.</p>
    
    <h2>Indications en cas de violation de données</h2>
    <p>Nous nous engageons à mettre en œuvre toutes les mesures techniques et organisationnelles appropriées grâce à des moyens de sécurisation physiques et logistiques permettant de garantir un niveau de sécurité adapté au regard des risques d’accès accidentels, non autorisés ou illégaux, de divulgation, d’altération, de perte ou encore de destruction des données personnelles vous concernant.</p>
    <p>Dans l’éventualité où nous prendrions connaissance d’un accès illégal aux données personnelles ous concernant, stockées sur nos serveurs ou ceux de nos prestataires, ou d’un accès non autorisé ayant pour conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à :</p>
    <ul>
        <li>
            Examiner les causes de l’incident ;
        </li>
        <li>
            Prendre les mesures nécessaires dans la limite du raisonnable afin d’amoindrir les effets négatifs et préjudices pouvant résulter dudit incident.
        </li>
        <li>
            Si vous vous estimez léser dans vos droits, vous pouvez vous adresser directement à la CNIL.
        </li>
    </ul>
</div>
<!-- page politique de confidentialite -->
{% endblock %}
