{% extends "base.html" %}

{% block title %}Politique de confidentialité - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container fr-my-8w">
        <h1>Politique de confidentialité impact.beta.gouv.fr</h1>
        <p>Bienvenue sur impact.beta.gouv.fr (ci-après le « site »).</p>
        <p>Le site impact.beta.gouv.fr est un prototype de site internet à destination des entreprises. Il est développé avec le support de la Direction Interministérielle du Numérique (DINum) dans le cadre du programme beta.gouv : <a href="https://beta.gouv.fr/">https://beta.gouv.fr</a></p>

        <h2>Article 1 – définitions</h2>

        <p>Les définitions fournies à l’<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre1#Article4">article 4 du RGPD</a> sont applicables aux présentes.</p>

        <p>« <strong>Données à caractère personnel</strong> » ou « <strong>données personnelles</strong> » : toute information se rapportant à une personne physique identifiée ou identifiable. La personne physique peut être identifiée directement ou indirectement. </p>
        <p>« <strong>Personne concernée</strong> » : la personne concernée est la personne physique dont les données personnelles font l’objet du traitement. </p>
        <p>« <strong>Traitement</strong> » : toute opération ou tout ensemble d'opérations effectués ou non à l'aide de procédés automatisés et appliqués à des données ou des ensembles de données à caractère personnel (ex : collecte, enregistrement, conservation, extraction, utilisation, etc.).</p>
        <p>« <strong>Responsable de traitement</strong> » : personne physique ou morale, autorité publique, service ou autre organisme qui, seul ou conjointement avec d'autres, détermine les finalités et les moyens du traitement</p>

        <h2>Article 2 – Responsable de traitement</h2>

        <p>Le responsable de traitement de vos données personnelles est la sous-direction du développement des entreprises (SDDE), au sein de la Direction Générale des Entreprises, Ministère de l'Économie, des Finances et de la Souveraineté industrielle et numérique  (ci-après « <i>nous</i> »).</p>
        <p>
            <strong>Adresse postale :</strong><br>
            Direction Générale des Entreprises<br>
            Sous-direction du développement des entreprises<br>
            61, boulevard Vincent Auriol<br>
            75703 PARIS CEDEX 13
        </p>
        <p><strong>Adresse e-mail :</strong> <a href="mailto:supportimpact.dge@finances.gouv.fr?cc=rgpd-refpod.dge@finances.gouv.fr">supportimpact.dge@finances.gouv.fr</a></p>
        <p>En mettant en copie le correspondant protection des données de la DGE : rgpd-refpod.dge@finances.gouv.fr</p>

        <p>
            <strong>Adresse postale :</strong><br>
            Service du numérique<br>
            Délégué à la protection des données<br>
            139, rue de Bercy<br>
            75572 PARIS CEDEX 1
        </p>
        <p><strong>Adresse e-mail :</strong> <a href="le-delegue-a-la-protection-des-donnees-personnelles@finances.gouv.fr">le-delegue-a-la-protection-des-donnees-personnelles@finances.gouv.fr</a></p>

        <p>Dans le cadre du prototype de site impact.beta.gouv.fr, vous nous transmettez des informations en vous inscrivant et en renseignant des données dans des formulaires.</p>

        <p>Nous nous engageons à ce que le traitement de vos données à caractère personnel à partir du site soit effectué conformément à l’<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre2#Article5">article 5</a> du <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">Règlement européen général sur la protection des données</a> (« RGPD »). En cas de mise à jour, nous n’abaisserons pas le niveau de confidentialité de manière substantielle sans l’information préalable des personnes concernées.</p>
        <p>Par la présente, nous nous efforcerons de répondre en toute transparence aux questions suivantes : Quelles catégories de données personnelles traitons-nous ? Dans quels buts ? Sur quelles bases légales ? Quels sont vos droits ? Comment les exercer ? Pendant combien de temps les données sont-elles conservées ? Vous trouverez également nos engagements en cas de violation des données.</p>
        <p><strong>Rappel</strong> – Evitez toute publication de données sensibles vous concernant (révélant votre origine raciale ou ethnique, vos opinions politiques, convictions religieuses ou philosophiques,  orientation sexuelle, appartenance syndicale, votre état de santé ou votre vie sexuelle, etc.) ainsi que tout argument, commentaire et prise de position de quelque nature que ce soit, permettant de déduire de telles informations. En effet, au sens de l’article 9.2.e. du RGPD, les traitements portant sur des données sensibles rendues publiques par la personne concernée ne sont pas soumis à l'interdiction de principe du traitement de données sensibles.</p>

        <h2>Article 3 – Finalités du traitement des données</h2>

        <p>Le présent traitement a pour finalités :</p>
        <ul>
            <li>Aider les entreprises à identifier leurs obligations extra-financières issues du droit national et communautaire ;</li>
            <li>Permettre aux entreprises de disposer d’un outil de transmission, de déclaration et de publication, permettant de se conformer aux obligations extra-financières auxquelles elles sont assujetties ;</li>
            <li>Assurer la gestion des comptes sur le site, des procédures d’authentification, mot de passe oublié, et de traiter vos éventuelles demandes.</li>
        </ul>

        <h2>Article 4 – Base légale</h2>

        <p>Le présent traitement se fonde sur l’article 6. 1. e du Règlement européen 2016/679 (règlement général sur la protection des données - RGPD) relatif à l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investie la SDDE, au sens de l’article 17 de  l’arrêté du 18 décembre 2019 portant organisation de la Direction Générale des Entreprises.</p>

        <h2>Article 5 – Nécessité de la collecte</h2>

        <p>Lors de son utilisation du Site, l’Utilisateur peut être amené à communiquer certaines données à caractère personnel nécessaires à la fourniture des services proposés par impact.beta.gouv.fr. Si l’Utilisateur ne souhaite pas communiquer ces informations, ou s’oppose à leur utilisation par le Site, il se peut que celui-ci ne puisse pas accéder à certaines parties du site ou des Services et que le Site soit dans l’impossibilité de répondre à sa demande.</p>

        <h2>Article 6 – Données traitées</h2>

        <p>Les catégories de données à caractère personnel traitées sur la plateforme sont les suivantes :</p>
        <ul>
            <li>
                <strong>S’agissant des comptes <i>utilisateurs</i></strong><br>
                <ol>
                    <li>Données d’identification : Noms (d’usage, de naissance, marital), prénom(s), civilité ;</li>
                    <li>Coordonnées : Adresse courriel ;</li>
                    <li>Vie professionnelle : Fonction.</li>
                </ol>

            </li>
            <li>
                <strong>S’agissant des comptes <i>entreprises utilisatrices</i></strong><br>
                <ol>
                    <li>Le numéro SIREN permettant l’identification de l’entrepreneur individuel ;</li>
                    <li>Les données extra-financières susceptibles par recoupement d’informations de fournir l’identité d’une personne physique.</li>
                </ol>
            </li>
            <li>
                <strong>Journaux de connexion</strong><br>
                Des données d’utilisation (adresses IP, logs de connexion et d´utilisation) sont collectées automatiquement sur le site. Ces données sont indispensables pour qu’il puisse fonctionner correctement.
            </li>
            <li>
                <strong>Cookies</strong><br>
            </li>
        </ul>

        <p>Pour le suivi de la fréquentation du site, nous utilisons les solutions Matomo.</p>
        <p><strong>Info</strong> : Pour aider les entreprises, le site Impact.beta.gouv.fr pourra être connecté à des API (Application Programming Interface) ou des bases de données de l’Etat.</p>
        <p>Par exemple, pour recueillir la tranche d’effectif de l’entreprise via le numéro SIREN, le site impact.beta.gouv.fr est connecté à l’API recherche entreprise (<a href="https://api.gouv.fr/les-api/api-recherche-entreprises">https://api.gouv.fr/les-api/api-recherche-entreprises</a>). Pour pré-remplir des indicateurs de réglementations, l’API du site public Egapro peut également être utilisé (<a href="https://egapro.travail.gouv.fr/">https://egapro.travail.gouv.fr/</a>).</p>

        <h2>Article 7 – Durées de conservation des données</h2>

        <ul>
            <li>
                <strong>S’agissant des comptes entreprises utilisatrices</strong><br>
                <ol>
                    <li>Pour les comptes disposant d’au moins un utilisateur actif : Sans durée de temps ;</li>
                    <li>Pour les comptes n’ayant plus aucun utilisateur actif : dix-huit (18) mois à compter de l’inactivité du dernier utilisateur du compte.</li>
                </ol>

            </li>
            <li>
                <strong>S’agissant des comptes utilisateurs</strong><br>
                <ol>
                    <li>Pour les comptes inactifs : Six (6) mois à compter de l’inactivité de l’utilisateur ;</li>
                    <li>Pour les comptes faisant l’objet d’une demande de suppression par l’utilisateur ou l’entreprise utilisatrice : Trois (3) mois à compter de la demande de suppression du compte.</li>
                </ol>
                <strong>Un compte utilisateur est considéré comme actif, dès lors que l’utilisateur réalise au minimum en lien avec le traitement tous les dix-huit (18) mois.</strong>
            </li>
            <li>
                <strong>S’agissant des journaux de connexion</strong><br>
                Les données d’utilisation sont conservées pendant 12 mois.
            </li>
            <li>
                <strong>S’agissant des cookies</strong><br>
                Les cookies sont conservés pendant 13 mois. Plus d’informations disponibles par ces liens :<br>
                <ul>
                    <li><a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies-solutions-pour-les-outils-de-mesure-daudience">https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies-solutions-pour-les-outils-de-mesure-daudience</a></li>
                    <li><a href="https://beta.gouv.fr/suivi/">https://beta.gouv.fr/suivi/</a></li>
                </ul>
            </li>
        </ul>

        <h2>Article 8 – Destinataires des données</h2>


        <p>En fonction de leurs besoins respectifs, sont destinataires de tout ou partie des données :</p>
        <ol>
            <li>Les agents de la direction générale des entreprises ;</li>
            <li>Les agents de la direction interministérielle du numérique ;</li>
            <li>Tous prestataires dûment habilités par les services de l’Etat identifiés au 1) ;</li>
            <li>Tous prestataires dûment habilités par les services de l’Etat identifiés cumulativement au 1) et 2).</li>
        </ol>

        <h2>Article 9 – Quels sont vos droits ? Comment les exercer ?</h2>


        <p>Conformément à la Loi Informatique et Libertés du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification, d’opposition et de limitation, des données qui vous concernent.</p>

        <h3>Exercice de vos droits</h3>
        <p>Pour exercer ces droits ou pour toute question relative aux données personnelles et à leur traitement, adressez-vous au responsable de traitement :</p>
        <p>Par voie postale, à l’adresse suivante :</p>
        <p>
            Direction Générale des Entreprises<br>
            Sous-direction du développement des entreprises<br>
            61, boulevard Vincent Auriol<br>
            75703 PARIS CEDEX 13
        </p>
        <p>Par voie électronique, à l’adresse suivante : <a href="mailto:supportimpact.dge@finances.gouv.fr">supportimpact.dge@finances.gouv.fr</a></p>
        <p>En mettant en copie le correspondant protection des données de la DGE : rgpd-refpod.dge@finances.gouv.fr</p>

        <h3>Réclamation auprès de la CNIL</h3>


        <p>Si vous estimez après nous avoir contactés que les droits sur vos données n’ont pas été respectés, vous pouvez introduire une réclamation auprès de la CNIL.</p>
        <p><a href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles">Voir le site de la CNIL pour plus d’informations sur vos droits.</a></p>

        <h2>Article 10 – Indications en cas de violation de données</h2>

        <p>Nous nous engageons à mettre en œuvre toutes les mesures techniques et organisationnelles appropriées grâce à des moyens de sécurisation physiques et logistiques permettant de garantir un niveau de sécurité adapté au regard des risques d’accès accidentels, non autorisés ou illégaux, de divulgation, d’altération, de perte ou encore de destruction des données personnelles vous concernant.</p>
        <p>Dans l’éventualité où nous prendrions connaissance d’un accès illégal aux données personnelles vous concernant, stockées sur nos serveurs ou ceux de nos prestataires, ou d’un accès non autorisé ayant pour conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à :</p>
        <ul>
            <li>Vous notifier l'incident et en informer la CNIL dans les plus brefs délais, si cela est susceptible d'engendrer un risque élevé pour vos droits et libertés ;</li>
            <li>Examiner les causes de l’incident ;</li>
            <li>Prendre les mesures nécessaires dans la limite du raisonnable afin d’amoindrir les effets négatifs et préjudices pouvant résulter dudit incident.</li>
        </ul>
        <p>En aucun cas les engagements définis au point ci-dessus ne peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance de l'incident en question.</p>
    </div>
<!-- page politique de confidentialite -->
{% endblock %}
