{% extends "base.html" %}
{% load static %}

{% block title %}Simulation - Portail RSE{% endblock %}

{% block content %}
    <div class="background-blue">
        <div class="fr-container">
            <div class="fr-grid-row fr-py-4w">
                <div class="fr-col-12">
                    <a class="fr-link fr-icon-draft-fill fr-link--icon-left" href="{% url 'simulation' %}">Modifier ma simulation</a>
                </div>
            </div>
            <div class="fr-grid-row fr-grid-row--top fr-pb-8w">
                <div class="fr-col-lg-7 fr-col-12">
                    {% if reglementations_applicables %}
                        <h2>Réglementations applicables à votre entreprise</h2>
                        <div class="fr-container">
                            <div class="fr-grid-row fr-grid-row--gutters">
                                {% for reglementation in reglementations_applicables %}
                                    <div class="fr-col-12">
                                        <div class="fr-card fr-card--no-border fr-card--simulation fr-card--horizontal fr-card--horizontal-tier">
                                            <div class="fr-card__body">
                                                <div class="fr-card__content">
                                                    <h3 class="fr-card__title">
                                                        {{ reglementation.title }}
                                                    </h3>
                                                    <p class="fr-card__desc">{{ reglementation.summary }}</p>
                                                </div>
                                            </div>
                                            <div class="fr-card__header">
                                                <div class="fr-card__img">
                                                    {% if reglementation.tag  == "tag-social" %}
                                                        <img class="fr-responsive-img" src="{% static 'img/social-2x3.png' %}" alt="" />
                                                    {% elif reglementation.tag == "tag-environnement" %}
                                                        <img class="fr-responsive-img" src="{% static 'img/environnement-2x3.png' %}" alt="" />
                                                    {% elif reglementation.tag == "tag-gouvernance" %}
                                                        <img class="fr-responsive-img" src="{% static 'img/gouvernance-2x3.png' %}" alt="" />
                                                    {% elif reglementation.tag == "tag-durabilite" %}
                                                        <img class="fr-responsive-img" src="{% static 'img/durable-2x3.png' %}" alt="" />
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <h2>Aucune réglementation applicable à votre entreprise</h2>
                        <div class="fr-container">
                            <div class="fr-grid-row fr-grid-row--center">
                                <img class="fr-responsive-img" src="{% static 'img/piloter.png' %}" alt="" />
                                <a class="fr-link" href="{{ sites_faciles_base_url }}/fiches-reglementaires">Découvrir les fiches réglementaires</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="fr-col-lg-4 fr-col-offset-lg-1 fr-col-12">
                    <div class="fr-container fr-container--inverted fr-p-4w">
                        <img class="fr-responsive-img fr-p-4w" src="{% static 'img/dashboard.png' %}" alt="" />
                        {% if reglementations_applicables %}
                            <h3>En route vers le pilotage de vos réglementations</h3>
                            {% if not user.is_authenticated %}
                                <p>
                                    Nous avons besoin d'informations complémentaires pour vérifier vos réglementations applicables.<br>
                                    Connectez-vous pour compléter votre profil entreprise et piloter vos réglementations.
                                </p>
                            {% else %}
                                <p>Accédez à votre tableau de bord pour piloter vos réglementations.</p>
                            {% endif %}
                        {% else %}
                            <h3>Anticipez le pilotage de vos réglementations</h3>
                            {% if not user.is_authenticated %}
                                <p>
                                    Nous avons besoin d'informations complémentaires pour vérifier vos réglementations applicables.<br>
                                    Connectez-vous pour compléter votre profil entreprise et piloter vos potentielles futures réglementations.
                                </p>
                            {% else %}
                                <p>Accédez à votre tableau de bord pour piloter vos potentielles futures réglementations.</p>
                            {% endif %}
                        {% endif %}
                        <a class="fr-btn" href="{% url 'reglementations:reglementations' siren %}">Piloter mes réglementations</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page resultats simulation -->
{% endblock %}
