{% extends "base.html" %}

{% block title %}Simulation - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container container-simulation fr-mt-10w fr-mb-4w">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col">
                <h2>Simulation simplifiée</h2>
                <p>
                    Effectuez une simulation simplifiée pour connaître les réglementations à laquelle votre entreprise peut être soumise.
                    <br><a href="{% url 'users:creation' %}" target="_self">Inscrivez-vous</a> ou <a href="{% url 'users:login' %}" target="_self">connectez-vous</a> pour saisir vos critères complets.
                </p>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-pb-6w fr-pt-2w">
            <div class="fr-col-lg-4">
                <div class="simu-steps  fr-p-3w">
                    <h6 class="fr-pb-2w">
                        1. J’effectue ma simulation simplifiée
                    </h6>
                    <p class="fr-text--sm">
                        A l’aide de mon numéro SIREN, je renseigne ma tranche d’effectifs, mon CA et mon bilan pour connaitre rapidement mes obligations.
                    </p>
                    <p class="fr-text--sm">
                        <span class="fr-icon-info-fill" aria-hidden="true"></span> Cette étape ne vous permet pas de connaitre précisément les réglementations auxquelles votre entreprise est soumise
                    </p>
                </div>
            </div>
            <div class="fr-col-lg-4">
                <div class="simu-steps fr-p-3w">
                    <h6 class="fr-pb-2w">
                        2. Je m'inscris
                    </h6>
                    <p class="fr-text--sm">
                        Je me crée un compte pour accéder à l’espace de simulation personnalisé pour mon entreprise.
                    </p>
                </div>
            </div>
            <div class="fr-col-lg-4">
                <div class="simu-steps fr-p-3w">
                    <h6 class="fr-pb-2w">
                        3. J'accède à la simulation avancée
                    </h6>
                    <p class="fr-text--sm">
                        Après inscription, j’accède aux champs complémentaires pour avoir à la simulation avancée.
                    </p>
                </div>
            </div>
        </div>
                <!-- Separateur -->
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <hr class="">
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col background-light-grey fr-p-3w">
                <h5>Recherchez votre entreprise</h5>
                <form action="{% url 'simulation' %}#svelte-simulation-result" method="post" id="svelte-simulation-form">
                    {% csrf_token %}
                    <div id="svelte-search-entreprise" data-siren="{{ simulation_form.siren.value|default:'' }}" data-denomination="{{ simulation_form.denomination.value|default:'' }}">
                        {% include 'snippets/siren_field.html' with field=simulation_form.siren %}
                    </div>
                                    <!-- Separateur -->
                    <div class="fr-grid-row">
                        <div class="fr-col-12">
                            <hr class="">
                        </div>
                    </div>
                    <div id="svelte-simulation-fields" style="display: none">
                        <h5>Renseignez les informations de votre entreprise</h5>
                        <div class="fr-grid-row fr-grid-row--gutters fr-pb-4w">
                            <div class="fr-col-md-4 fr-col-12">
                                {% include 'snippets/field.html' with field=simulation_form.effectif %}
                            </div>
                            <div class="fr-col-md-4 fr-col-12">
                                {% include 'snippets/field.html' with field=simulation_form.tranche_chiffre_affaires %}
                            </div>
                            <div class="fr-col-md-4 fr-col-12">
                                {% include 'snippets/field.html' with field=simulation_form.tranche_bilan %}
                            </div>
                        </div>
                        <fieldset class="fr-fieldset">
                            <legend class="fr-fieldset__legend">
                                Groupe d'entreprises
                            </legend>
                            {% include 'snippets/fieldset_element.html' with field=simulation_form.appartient_groupe fieldset_id="svelte-appartient-groupe-field" %}
                            <div id="svelte-groupe-fields" class="fr-col-12 fr-mt-1w">
                                {% include 'snippets/fieldset_element.html' with field=simulation_form.comptes_consolides id="svelte-avec-comptes-consolides-field" %}
                                <div class="fr-grid-row">
                                    <div class="fr-col-lg-4 fr-col-12 fr-my-2w">
                                        {% include 'snippets/fieldset_element.html' with field=simulation_form.effectif_groupe %}
                                    </div>
                                    <div id="svelte-comptes-consolides-fields" class="fr-col-lg-8 fr-col-12">
                                        <div class="fr-grid-row">
                                            <div class="fr-col-lg-6 fr-col-12 fr-my-2w">
                                                {% include 'snippets/fieldset_element.html' with field=simulation_form.tranche_chiffre_affaires_consolide %}
                                            </div>
                                            <div class="fr-col-lg-6 fr-col-12 fr-my-2w">
                                                {% include 'snippets/fieldset_element.html' with field=simulation_form.tranche_bilan_consolide %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <input type="submit" value="Vérifier mes obligations" class="fr-btn">
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if reglementations %}
        <div class="fr-container">
            <hr>
        </div>
        <div class="fr-grid-row">
            <div class="fr-container fr-py-3w" id="svelte-simulation-result">
                <h2>Résultats de votre simulation</h2>
                {% for reglementation in reglementations %}
                    {% include "snippets/reglementation_card.html" with reglementation=reglementation.reglementation status=reglementation.status %}
                {% endfor %}
            </div>
        </div>
        <div class="fr-grid-row fr-pt-6w fr-pb-12w background-blue">
            <div class="fr-container">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h2>Faire le suivi de vos réglementations</h2>
                        <p>
                            Vous souhaitez aller plus loin ? <b>Inscrivez-vous pour affiner vos réglementations applicables.</b><br>
                            En vous inscrivant sur Portail RSE, vous pourrez procéder au suivi complet des réglementations qui vous concernent.
                        </p>
                        <a href="{% url 'users:creation'%}" class="fr-btn fr-btn--lg">
                            M’inscrire sur le Portail RSE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- page simulation -->
{% endblock %}
