{% extends "base.html" %}

{% block title %}Simulation étape 2/2 - Impact{% endblock %}

{% block content %}
    <div class="fr-container fr-my-10w">
        <div class="fr-grid-row fr-grid-row--center">

            <div class="fr-col">
                <h2>{{ denomination }}</h2>
                <p>
                    <span class="fr-tag">SIREN : {{ siren }}</span>
                    <a href="{% url 'simulation' %}">Ce n'est pas mon entreprise</a>
                </p>

                {{ svelte_form_data|json_script:"svelte-form-data" }}
                <div id="svelte-simulation-form" data-csrf-token="{{ csrfToken }}"></div>
            </div>
        </div>
    </div>

    <div class="fr-container fr-my-4w">
        {% for reglementation in reglementations %}
            {% include "snippets/reglementation_card.html" with reglementation=reglementation %}
        {% endfor %}
    </div>

    <!-- page simulation étape 2 -->
{% endblock %}
