{% extends "base.html" %}

{% block title %}Simulation étape 2/2 - Impact{% endblock %}

{% block content %}
    <div class="fr-container fr-my-10w">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col">
                <h2>{{ denomination }}</h2>
                <p>
                    <span class="fr-tag">SIREN : {{ siren }}</span>
                    <a href="{% url 'simulation' %}">Ce n'est pas mon entreprise</a>
                </p>

                <form class="fr-mt-6w" action="{% url 'reglementations:reglementations' %}" method="get">
                    {% csrf_token %}
                    {{ entreprise_form.siren.as_hidden }}
                    {{ entreprise_form.denomination.as_hidden }}
                    {% include 'snippets/field.html' with field=caracteristiques_form.effectif %}
                    {% include 'snippets/field.html' with field=caracteristiques_form.effectif_outre_mer %}
                    {% include 'snippets/field.html' with field=caracteristiques_form.tranche_chiffre_affaires %}
                    {% include 'snippets/field.html' with field=caracteristiques_form.tranche_bilan %}
                    {% include 'snippets/field.html' with field=caracteristiques_form.bdese_accord %}
                    {% include 'snippets/field.html' with field=caracteristiques_form.systeme_management_energie %}
                    <input type="submit" value="Vérifier mes obligations" class="fr-btn">
                </form>
            </div>
        </div>
    </div>
<!-- page simulation étape 2 -->
{% endblock %}
