{% extends "base.html" %}
{% load static %}

{% block title %}Simulation - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container fr-my-12w">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-lg-8">
                <div class="fr-container container-simulation">
                    <div class="fr-grid-row fr-grid-row--center">
                        <div class="fr-col">
                            <h2>Vérifiez vos obligations</h2>
                            <p>
                                Effectuez une simulation simplifiée pour connaître les réglementations applicables à votre entreprise.<br>
                                {% if not user.is_authenticated %}
                                    <a href="{% url 'users:login' %}" target="_self" class="fr-link">Inscrivez-vous ou connectez-vous</a> pour saisir vos critères complets.
                                {% endif %}
                            </p>

                            {% include "fragments/simulation_form.html" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
                <img  class="fr-responsive-img fr-p-4w" src="{% static 'img/simulation.png' %}" alt="">
            </div>
        </div>
    </div>

    <script nonce="{{ request.csp_nonce }}">
        // Script permettant d'afficher ou cacher certains champs du formulaire de simulation
        // qui ne concernent que les groupes d'entreprise
        const appartientGroupeId = "id_appartient_groupe" // defini par django
        const groupeFieldsId = "js-groupe-fields"
        const etablitComptesConsolidesId = "id_comptes_consolides" // defini par django
        const comptesConsolidesFieldsId = "js-comptes-consolides-fields"

        let appartientGroupeField
        let groupeFields
        let etablitComptesConsolidesField
        let comptesConsolidesFields

        const displayGroupeFields = () => {
            groupeFields.style.display = appartientGroupeField.checked ? "block" : "none"
        }

        const displayComptesConsolidesFields = () => {
            comptesConsolidesFields.style.display = etablitComptesConsolidesField.checked ? "block" : "none"
        }

        const makeDynamicFields = () => {
            appartientGroupeField.addEventListener("click", displayGroupeFields)
            etablitComptesConsolidesField.addEventListener("click", displayComptesConsolidesFields)
            displayGroupeFields()
            displayComptesConsolidesFields()
        }

        document.addEventListener("htmx:load", () => {
            // Le formulaire est remplacé dans le DOM par une requête htmx
            // Il faut donc récupérer les nouveaux éléments du formulaire mis à jour et les rendre dynamiques
            appartientGroupeField = document.getElementById(appartientGroupeId)
            groupeFields = document.getElementById(groupeFieldsId)
            etablitComptesConsolidesField = document.getElementById(etablitComptesConsolidesId)
            comptesConsolidesFields = document.getElementById(comptesConsolidesFieldsId)
            if (appartientGroupeField && etablitComptesConsolidesField) {
                makeDynamicFields()
            }
        })
    </script>
    <!-- page simulation -->
{% endblock %}
