{% extends "base.html" %}

{% block title %}Simulation - Impact{% endblock %}

{% block content %}
    <div class="fr-container fr-my-10w">
        <div class="fr-grid-row fr-grid-row--center">

            <div class="fr-col">
                <h2>Simulation</h2>

                {{ svelte_form_data|json_script:"svelte-form-data" }}
                <div id="svelte-simulation-form"></div>
            </div>
        </div>
    </div>

    <div class="fr-container fr-my-4w">
        {% for reglementation in reglementations %}
            {% include "snippets/reglementation_card.html" with reglementation=reglementation %}
        {% endfor %}
    </div>

    <!-- page simulation -->
{% endblock %}
