{% extends "public/base.html" %}

{% block content %}
<div class="fr-container fr-my-16w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col">
            <h1>{{ raison_sociale }}</h1>

            <form action="{% url 'eligibilite' %}" method="get">
                {% csrf_token %}
                {{ form.raison_sociale.as_hidden }}
                {% include 'snippets/select_field.html' with field=form.effectif %}
                {% include 'snippets/radio_field.html' with field=form.accord %}
                <input type="submit" value="Vérifier mon éligibilité" class="fr-btn ">
                <a href="/" class="fr-btn fr-btn--secondary">Mon entreprise n'est pas {{ raison_sociale }}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
