{% extends "base.html" %}

{% block title %}Statistiques - Portail RSE{% endblock %}

{% block content %}
    <div class="fr-container fr-my-8w">
        <h1>Statistiques d'usage</h1>
        <script src="https://stats.portail-rse.beta.gouv.fr/app/iframeResizer.js" nonce="{{ request.csp_nonce }}"></script>
        <iframe
            id="metabaseIframe"
            src="https://stats.portail-rse.beta.gouv.fr/public/dashboard/f6ef598f-5852-4bcb-9576-582d9fdc5eaa#titled=false&bordered=false"
            title="Dashboard Metabase"
            style="width: 1px; min-width: 100%"
            allowtransparency
        ></iframe>
    </div>
    <script nonce="{{ request.csp_nonce }}">
        <!-- No `unsafe-inline` CSP by getting the event handler out of the iframe element -->
        document.getElementById('metabaseIframe').onload = iFrameResize({}, '#metabaseIframe');
    </script>
<!-- page stats -->
{% endblock %}
