name: test

on:
  push:
    branches:
      - main
      - recette
      - github-actions
  pull_request:
    branches:
      - main

jobs:
  test:

    runs-on: ubuntu-latest

    env:
      SECRET_KEY: fake-secret-key
      DATABASE_URL: sqlite:///db.sqlite3
      METABASE_DATABASE_URL: sqlite:///metabase.sqlite3
      API_SIRENE_KEY: ${{ secrets.API_SIRENE_KEY }}

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16.x
    - name: Install front dependencies
      run: npm ci
    - name: Build front
      run: npm run build
    - name: Set up python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
        cache: 'pipenv'
    - name: Install pipenv
      run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python
    - name: Install dependencies
      run: pipenv install -d
    - name: Run tests
      run: pipenv run pytest -m "not network"
